.check-nearby-store-modal{
	.no-padding;
	.nearby-store-dialog{
		widows: auto;
		overflow: hidden;
		@media(min-width:992px){
			width: @gutter * 40;
		}
		@media(min-width:768px) and (max-width:991px){
			width: @gutter * 28;
		}
    	@media(max-width:767px){
    		.no-margin;
		}
		.modal-content{
			border: none;
			.modal-header{
				.close{
					font-size: 3rem;
					font-style: normal;
					font-weight: normal;
					opacity: 1;
				}
				.modal-title{
					font-size: 2.2rem;
					font-weight: bold;
				}
			}
			.nearby-modal-body{
				padding: 0;
				.stores-content-loading{
					display: none;
					width: 100%;
					height: 100%;
					position: absolute;
					display: none;
					z-index: 99;
					text-align: center;
					top: 0;
					left: 0;
					opacity: 0.5;
					background: rgba(255,255,255,0.7);
					.loading-image{
						width: 150px;
						margin: 100px auto;
					}
				}
				.nearby-store-locator-column{
					height: 540px;
					margin: 0;
					@media (max-width:767px) {
						height: auto;
					}
					.check-nearby-stores{
						padding: 0;
						border-right: 1px solid @mercury;
						height: 100%;
						z-index: 2;
						background: @main-background;
						@media (min-width: 768px) {
							.drop-shadow(4px, 0px, 3px, -2px, 0.2);
						}
					}
					//store map
					.nearby-store-map{
						height: 100%;
						padding: 0;
						@media (max-width:767px) {
							display: none;
						}
						.store-info-window{
							width:265px;
							.info-container{
								margin-bottom:@gutter - 13;
								.flex-display();
								.flex-direction(row-reverse);
								.info-content{
									margin-right:@gutter - 13;
									.flex(1);
									.store-title{
										.agenda-bold;
										margin-bottom:@gutter / 5 - 2;
										margin-top:0;
										font-size:1.4rem;
									}
									.store-address-details{
										.agenda;
										margin: 0;
										font-size: 1.38rem;
										.addr-street, .addr-loc, .addr-tele{
											display:block;
										}
									}
									.store-status{
										margin:0;
										font-size: 1.35rem;
										span{
											&:first-child{
												margin-right:@gutter/5;
											}
										}
										.material-icons{
											color: @storeOpenStatus;
											vertical-align: middle;
											margin-right:@gutter/5;
										}
									}
								}
								.link{
									.material-icons{
										font-size:3rem;
									}
								}
							}
							.home-store{
								.agenda-bold;
								.material-icons{
									color:@torchRed;
									margin-right:@gutter / 5 - 1;
								}
							}
							.make-store{
								.btn-red();
								.btn-large();
							}
						}
						.google-map{
							height: 100%;
							.mapboxgl-ctrl-bottom-left{
								z-index: 0;
							}
							.mapboxgl-popup-content{
								box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
								border-radius: 10px;
							}
							.mapboxgl-canvas-container{
								.mapboxgl-marker{
									cursor: pointer;
								}
							}
						}
					}
		
					// Store Filters
					.store-locator-filters{ 
						position: fixed;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: @main-background;
						z-index: 99;
						display: none; 	
						
						@media (min-width: 768px){
							position: absolute;
							display:block;
							z-index: 1;
							top: 0;
							left: -79%;
							right: auto;
							bottom: auto;
							width: 50%;
							max-width: 535px;
							height: 100%;
							padding:@gutter + 15 0 0;
							.drop-shadow(4px ,0px, 3px, -2px, 0.2);
							.transition(all 0.3s ease-in-out)
							
						}
						
						@media (max-width: 767px){
							padding:@gutter - 10 0 0 0;
						}
						.filter-close {
							display: none;
							position: absolute;
							top: @gutter - 17;
							right: @gutter - 10;
							font-size: 3rem;
							&:hover{
								color:@primary-color;
							}
							@media (min-width: 768px) {
								display: block;
								height:34px;
							}
						}
						.filters-heading {
							padding: 0 @gutter - 10 @gutter - 10;
							border-bottom: 1px solid @mercury;
							overflow:hidden;
							.btn-done {
								float: right;
								.btn-red();
								  .btn-medium();
							}
							@media (min-width: 992px) {
								height: @gutter + 5;
								padding: 0 @gutter;
								.btn-done {
									padding: @gutter/5 + 2 @gutter - 5 @gutter/5;
									margin-right: @gutter;
									font-size: 1.4rem;
								}
							}
							@media (min-width:768px){
								.btn-done {
									padding: @gutter/5 + 2 @gutter - 5 @gutter/5;
									margin-right: 0;
									font-size: 1.4rem;
								}
							}
							@media (max-width: 767px) {
								line-height: @gutter + 15;
							}
							.filters-section-title {
								.agenda-bold;
								font-size: 1.7rem;
								margin: 0 @gutter - 15 0 0;
								display: inline-block;
								text-transform:uppercase;
								@media (min-width:768px) and (max-width:991px){
									width: 100%;
									padding-bottom:@gutter / 5;
								}
							}
						}
						.store-loc-filter-content{
							overflow: auto;
							max-height:91%;
							
							@media(min-width:768px){
								max-height:456px;
							}
							@media(min-width:992px){
								max-height:470px;
							}
							.store-loc-filter-proximity{
								padding: @gutter - 10;
								border-bottom: 1px solid @border-light;
								@media(min-width: 992px) {
									padding: @gutter - 10 @gutter;
								}
								@media(min-width: 768px) and (max-width:991px){
									padding: @gutter - 10 @gutter - 5;
								}
								.distance-filter{
									float: left;
									.located-within{
										font-size:1.6rem;
										margin: 0 0 @gutter - 15;
										line-height: 1.2;
									}
									.form-group{
										display:inline-block;
										line-height: 1.75;
										margin: 0;
										
										+ .form-group {
											margin-left: @gutter - 15;
										}
										
										.radio{
											margin:0;
											vertical-align: top;
											@media (min-width: 992px) {
												margin-right: @gutter / 5 - 2;
											}
										}
									}
									.custom-radio-label{
										font-size:1.6rem;
										cursor: pointer;
										vertical-align: middle;
										margin: 0 0 0 @gutter / 5 + 3;
										font-weight:normal;
										@media (min-width: 768px) and (max-width: 991px) {
											margin-right: 0;
										}
									}
								}
								.store-filter-status{
									width:@gutter * 6;
									padding: @gutter - 13  @gutter + 5 @gutter - 13 @gutter - 13;
									margin: @gutter - 15 0 0 auto; 
									background: rgba(125, 167, 217, 0.1);
									@media (max-width:992px){
										float:left;
										clear:both;
									}
									.custom-checkbox-label{
										font-weight: normal;
									}
								}
								&:before{
									content: " ";
									display:table;
								}
								&:after{
									content: " ";
									display:table;
									clear:both;
								}
							}
						}
						.store-type-container{
							padding: @gutter - 5 @gutter - 10 @gutter - 10;
							border-bottom:1px solid @border-light;
							.store-type-filters{
								.flex-display();
								.flex-wrap(wrap);
								 overflow:hidden;
								 margin-bottom:@gutter - 15;
								 padding-top: 10px;
								.form-element{
									@media (min-width: 768px){
										width: 50%;							
									}	
									.custom-checkbox-label{
										margin:0;
										padding: 0 0 0 @gutter/5 + 3;
										display: table-cell;
										line-height: 1.1;
										font-weight: normal;
									}
									.checkbox{
										display: table-cell;
									}
								}
								
							}
							.filters-section-title{
								.agenda-bold;
								font-size: 1.7rem;
								margin: 0 @gutter - 15 0 0;
								display: inline-block;
								text-transform:uppercase;
		
								@media(max-width:767px){
									&:before{
										content:"\E15B";
										.material-icons;
										font-weight:normal;
										font-size:2.4rem;
										vertical-align: text-bottom;
										margin-right:@gutter - 15;
									}
								}
								&.collapsed{
									&:before{
										content:"\E145";
									}
								}
		
							}
							@media(min-width:992px){
								padding: @gutter - 5 @gutter @gutter - 10;
							}
							@media(min-width:768px) and (max-width:991px){
								padding: @gutter - 5 @gutter - 5 @gutter - 10;
							}
						}
						.services-filter-container{
							padding: @gutter - 5 @gutter - 10 @gutter - 10;
							
							.store-services-filters{
								.flex-display();
								.flex-wrap(wrap);
								overflow:hidden;
								.form-element{
									width: 100%;
									margin: @gutter/5 * 2 0;
									@media (min-width: 768px){
										width: 50%;							
									}		
									.custom-checkbox-label{
										margin:0;
										padding: 0 0 0 @gutter/5 + 3;
										display: table-cell;
										line-height: 1.1;
										font-weight: normal;
									}
									.checkbox{
										display: table-cell;
									}
								}
							}
							.filters-section-title{
								.agenda-bold;
								text-transform: uppercase;
								@media(max-width:767px){
									&:before{
										content:"\E15B";
										.material-icons;
										font-weight:normal;
										font-size:2.4rem;
										vertical-align: text-bottom;
										margin-right:@gutter - 15;
									}
								}
								&.collapsed{
									&:before{
										content:"\E145";
									}
								}
							}
							@media(min-width:992px){
								padding: @gutter - 5 @gutter @gutter - 10;
							}
							@media(min-width:768px) and (max-width:991px){
								padding: @gutter - 5 @gutter - 5 @gutter - 10;
							}
						}
					}
					.store-locator-filters-open {
						display:block;
						 @media(min-width:768px){
							 left:41.6%;
						}
					}
				}
				//store map for mobileview
				.store-locator-search-mobile {
					width: 100%;
					.flex-display();
					background: @light-grey;
					border-top: 1px solid @storeResultBorder;
					border-bottom: 1px solid @storeResultBorder;
					margin-bottom: @gutter + 5;
					.near-your-store{
						padding: @gutter - 10;
						.flex(1);
						
						.stores-result{
							margin:0;
							font-size: 1.6rem;
						}
						.store-result-msg{
							strong{
								.agenda-bold;
							}	
						}
					}
					
					.near-stores-view{
						padding: @gutter - 10;
						.flex(1);
						text-align:right;
						
						.link{
							display: inline-block;
							
							.selected-view{
								font-size: 1.6rem;
								display: inline-block;
								vertical-align: middle;
							}
							.material-icons{
								font-size:2.4rem;
								text-align: center;
								margin-right: @gutter - 15;
								width: 24px;
								display: inline-block;
								vertical-align: middle;
							}
						}
						.link:last-child {
							display: none;
						}
					}
					
					@media(min-width:768px){
						display:none;
					}
				}
				.store-loc-mobile-toggled {
					.near-stores-view {
						.link:first-child{
							display: none;
						}
						.link:last-child{
							display: block;
						}
					}
				}
			}
		}
		&.store-loc-map-toggle {
			@media(max-width:767px){	
				.nearby-store-map{
					display: block !important;
					width: 100% !important;
					height: 260px !important;
					background: @black;
					border-bottom: 1px solid @mercury;
				}
			.nearby-store-results{
					display: none;
					z-index: 0;
				}
			}
		}
		.mapboxgl-popup-close-button{
			font-size: 2rem;
		}
	}
}

&.french-content{
	.check-nearby-store-modal {
		.nearby-store-dialog {
			.modal-content{
				.nearby-modal-body{
					.nearby-store-locator-column {
						.store-locator-filters {
							.filters-heading{
								@media(min-width:992px){
									height: @gutter * 2 - 10;
									padding: 0 @gutter/5 * 3;
								}
								.clear-filters{
									@media (min-width:768px) and (max-width:991px) {
										padding-left: @gutter/5 * 2;
									}
								}
								.filters-section-title{
									margin: 0 @gutter/5 0 0;
									padding-left: @gutter/5 * 2;
								} 
							}
							.store-loc-filter-content {
								.store-loc-filter-proximity{ 
									.distance-filter {
										@media(min-width:992px){
											.form-group {
												margin-left: @gutter/5;
												.radio{
													margin-right: 0;
												}
												.custom-radio-label{
													margin: 0;
												}
											}
										}
									}
									.store-filter-status{
										width:@gutter * 9 + 5;
										padding:@gutter/2 - 0.5 @gutter/2 - 2.5;
										@media(min-width:992px){
											width:@gutter * 8;
											.flex-display(flex);
											align-items:center;
										}
									}
									.custom-checkbox-label{
										padding-left: @gutter/5;
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}        
.store-change-confirmation{
	.modal-header{
		border:none;
		padding-bottom: 0;
		.close{
			color:@primary-color;
				font-size: 3rem;
				font-style: normal;
				font-weight: normal;
				opacity: 1;
		}
	}
	.modal-body{
		.change-confirmation-title{
			.agenda-bold;
			font-size: 2rem;
			margin-top:0;
		}
		.change-confirmation-text{
			margin:0;
		}
	}
	.modal-footer{
		border:none;
		padding:@gutter;
		text-align: center;
		.action-container{
			.link{
				margin-right: @gutter;
			}
			.continue-store-change-btn{
				.btn();
				.btn-red();
				.btn-medium();
				border-radius: 22px;
			}

			@media(max-width:524px){
				display:flex;
				flex-direction: column-reverse;
				.link{
					margin-top:@gutter - 10;
					margin-right:0;
				}
			}
		}
	}
}