.nearby-stores-search{
    padding: 0px @gutter/5 * 3 @gutter/5 * 3;
    border-bottom: 1px solid @mercury;
    .nearby-stores-search-title{
        margin: 0 0 10px;
        .filter-link{
            .agenda-bold;
            font-size: 1.7rem;
            float: right;
            margin: @gutter/5 * 3 0 @gutter/5 * 2;
            .material-icons{
                font-size: 1.8rem;
                color: @mineShaft;
                font-weight: bold;
                vertical-align: middle;
            }
        }
        .nearby-search-title{
            .agenda-bold;
            font-size: 1.7rem;
            margin: @gutter/5 * 3 0 0;
            display: inline-block;
            @media (min-width:768px){
                font-size: 2.2rem;
            }
        }
    }
    .nearby-stores-search-form{
        margin: 0;
        .find-button{
            .find-store{
                .btn();
                .btn-medium();
                .btn-red();
				.new-btn-primary();
				text-transform: none;
                padding: @gutter/5 + 1 @gutter - 5 @gutter/5;
                @media (min-width:768px) and (max-width:991px){
                    padding: @gutter/5 + 1 @gutter/5 + 4 @gutter/5;
                }
				&:after{
					content: "\e5cc";
					.material-icons;
					font-weight: 700;
					font-size: 2.4rem;
					vertical-align: middle;
				}
            }
        }
        .city-form-group{
            margin-bottom: 0;
            .city-list{
                display: none;
                position: absolute;
                background-color: @white;
                z-index: 9999;
                padding: 0;
                margin: 0;
                list-style: none;
                border: 1px solid @formInputBorder;
                width: 100%;
                .selected
                {
                background: #e1e1e1;
                }
                .selected a
                {
                color: @black;
                }
                li{
                    border-bottom: 1px solid @formInputBorder;
                    padding: @gutter/5 + 3 @gutter/5 * 2;
                    a{
                        display: block;
                    }
                }
            }
        }
        .store-search-error-msg{
            color: @errorText;
        }
    }
    .nearstore-locator-search-details{
        width: 100%;
        overflow: hidden;
        margin-top: @gutter/5 * 2;
        .near-your-store{
            width: 70%;
            float: left;
            height: 40px;
        }
        .near-stores-filter{
            width: 30%;
            float: left;
            .filter-link{
                .agenda-bold;
                float: right;
                .right-arrow-icon{
                    font-size: 1.8rem;
                    color: @mineShaft;
                    font-weight: bold;
                    vertical-align: middle;
                }
            }
        }
    }
    .select-stock-group{
        margin-top: @gutter/5;
        margin-bottom: @gutter/5;
        @media (min-width:768px) and (max-width:991px) {
            margin-bottom: 0;
        }
        @media (max-width:767px) {
            margin-top: @gutter/5 * 2 + 2;
        }
        .checkbox-label-inside{
            width: @gutter;
            height: @gutter;
        }
        .custom-checkbox-label{
            //padding-left: @gutter/5;
            margin: 0 0 0 4px;
            line-height: 1.1;
            font-weight: normal;
            @media (min-width:768px) and (max-width:991px) {
                font-size: 1.4rem
            }
        }
    }
    .pricebyloc-text{
        @media (min-width:768px) and (max-width:991px) {
            font-size: 1.4rem
        }
    }
}

.nearby-store-results{
    max-height: 265px;
    padding: 0;
    overflow: auto;
    .nearby-store-locator-result{
        .flex-display();
        border-bottom: 1px solid @mercury;
        overflow: hidden;
        padding: @gutter/5 * 3;
        &:last-child{
            border-bottom: none;
            padding-bottom: @gutter;
        }
        .nearby-store-locator-details{
            .flex(1);
            padding: 0;
            .home-store{
                .agenda-bold;
                font-size: 1.6rem;
				margin:0 0 @gutter/5 + 3 0;
                &:before {
					content: "";
					display: inline-block;
					width:24px;
					height:24px;
					margin-right: @gutter / 5;
					background-image: url("{{themeSettings.sirvResourceImageUrl}}/my-store.svg");
					background-repeat: no-repeat;
					background-size: contain;
					vertical-align:middle;
				}
            }
            .store-details-card{
                .store-name{
                    .agenda-bold;
                    margin: 0;
                }
                .store-address-details{
                    margin: 0;
                    .addr-street, .addr-loc, .addr-tele{
                        display: block;
                        color: @primary-color;
                    }
                }
            }
            .make-my-store{
                .btn();
				.btn-medium();
				.new-btn-secondary();
                padding:@gutter - 13 @gutter - 10 @gutter - 15;
                margin-top: @gutter - 9;
            }
        }
        .nearby-store-status{
            padding-right: 0;
            text-align: right;
            .flex(1);
            position: relative;
            .in-stock{
                .agenda-bold;
                .in-store-availabity{
                    display: block;
                }
                .get-it-by{
                    display: block;
                    color: @torchRed;
                }
            }
            .in-store-availabity{
                display: block;
                font-family: "Agenda_bold",sans-serif;
                font-style: normal;
                font-weight: normal;
                .get-it-by{
                    display: block;
                    color: @torchRed;
                }
            }
            .store-locator-result-status{
                margin-top:@gutter - 15;
                @media (max-width:767px) {
                    margin: 12.5px 0;
                }
                span {
                    display: block;
                    .material-icons{
                        color: @storeOpenStatus;
                        vertical-align: middle;
                    }
                }
            }
            .store-details-link{
                margin-bottom: 10px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .store-open-hours{
                padding-bottom: @gutter - 5;
            }
        }
    }
    .store-selected{
        .nearby-store-status{
            .store-details-link{
                margin-top: auto;
                margin-bottom: 0;
                /* @media (max-width:767px) {
                    margin-top: @gutter/5;
                } */
            }
        } 
    }
    .is-highlighted {
        background: rgba(125, 167, 217, 0.12);
    }
}

&.french-content{
    .nearby-stores-search{
        .nearby-stores-search-form{
            .find-button{
                .find-store{
                    @media (min-width:768px) and (max-width:991px) {
                        padding: @gutter/5 + 3 @gutter/5 @gutter/5 + 1;
                        font-size: 1.4rem;
                    }
                    @media (max-width:362px) {
                        padding: @gutter/5 * 2 @gutter/5 * 2 + 2 @gutter/5;
                    }
                }
            }
        }
        .select-stock-group{
            .custom-checkbox-label{
                @media(min-width: 768px) and (max-width:991px){
                    width: 85%;
                }
                @media(min-width: 992px){
                    width: 90%;
                }
                @media(max-width: 460px){
                    width: 85%;
                }
            }
            .checkbox{
                @media(min-width: 768px) and (max-width:991px){
                    vertical-align: top;
                }
                @media(min-width: 992px){
                    vertical-align: top;
                }
                @media(max-width: 460px){
                    vertical-align: top;
                }
            }
        }
    }
    .nearby-store-results{
        max-height: 255px;
        .nearby-store-locator-result{
            .nearby-store-status {
               .in-stock{
                   .get-it-by{
                       span{
                           display: block;
                       }
                   }
               } 
            }
            .nearby-store-locator-details{
                .make-my-store{
                    margin-top: @gutter + 5;
                    @media(max-width: 768px){
                       margin-top: @gutter * 2 + 10;
                    }
                }
            }
        }
        .store-selected{
            .nearby-store-locator-details {
                .store-details-card{
                    .store-name{
                        margin-bottom: @gutter - 15;
                    }
                    .store-address-details{
                        margin-bottom: @gutter - 10;
                    }
                } 
            }       
        }
    }   
}