.compare-section {
	.compare-checkbox {
		opacity: 0;
		margin: 0px !important;
		visibility: unset !important;
		z-index: 10000;
		height: 16px;
		width: 16px;
	}
	.checkbox-label-inside {
		&:after {
			font-size: 1.6rem !important;
    		line-height: 16px !important;
		}
	}
	.compare-checkbox:checked+.checkbox-label-inside {
	    border: none;
	}
	.compare-checkbox:checked+.checkbox-label-inside:after {
		background-color: @torchRed;
		color: @white;
		border-radius: 3px;
	}
}
.checkbox-lebel-outside.disabled {
	opacity: 0.3;
	pointer-events: none;
}
#compare-product-container{
	margin: 0;
	position: fixed;
	left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
	.compare-products-preview{
		height: 86px;
	    background-color: @white;
		color: @primary-color;
		display: inline;
		text-align: center;
		.compareitems-title {
		    margin-top: 0px;
    		padding-right: 15px;
    		display: inline-block;
    		height: 127px;
    		vertical-align: middle;
		}
		.compareitems-error {
			display: inline-block;
    		height: 100px;
    		vertical-align: middle;
			color: @torchRed;
		}
		.compareitems-items {
			text-align: center;
			padding-top: 0px;
			display: inline-block;
			.mz-compareitem {
			    position: relative;
			    display: inline-block;
			    height: 52px;
			    width: 50px;
			    border: 1px solid @formInputBorder;
			    margin: 18px 10px;
			    overflow: visible;
			    vertical-align: top;
			    padding: 0;
				border-radius: 4px;
				.compare-item-container {
					line-height: 1;
				    height: 50px;
				    background-color: @white;
				    overflow: hidden;
				    border-radius: 4px;
					.closeButton {
						position: absolute;
					    margin-left: 80%;
					    margin-top: -9.5%;
					    border-radius: 30px;
    					padding: 0;
					    background-color: @white;
					    border: none;
					    display: block;
					    border: 1px solid @formInputBorder;
					    line-height: 1px;
					    i, svg {
					    	font-size: 1.6rem;
					    	color: @torchRed;
					    	padding: 0;
    						font-weight: 600;
					    }
					}
				}
			}
		}
		.compareitems-btn {
			margin-top: 0;
		    padding-left: 20px;
		    max-width: 100%;
		    display: inline-block;
		    height: 115px;
    		vertical-align: middle;
			.compareitems-button-container {
				width: 100%;
				.compare-all-button {
					.agenda-bold;
				    width: 100%;
				    padding: 6px 25px;
					background-color: @white;
					color: @torchRed;
					border: 2px solid @torchRed;
					border-radius: 10em;
				}
				.compare-all-button:hover:after {
				    width: 100%;
				    background: @torchRed;
				}
				.compare-all-button:after {
				    content: '';
				    display: block;
				    height: 2px;
				    width: 0;
				    background: transparent;
				    transition: width .5s ease;
				}
			}
		}
		.product-compare-remove-all {
			position: absolute;
			right: 0;
			background-color: @white;
			margin-top: 10px;
			padding: 3px 10px;
			color: @primary-color;
			font-size: 2.4rem;
			border: 0;
		}
	}
}

#compare-product-modal {
	padding: 24px 15px !important;
	.modal-dialog {
	    width: auto;
   		margin: 0px;
	}
	.modal-content{
		.modal-header{
			padding: 5px;
			box-shadow: 0px 0 10px rgba(0,0,0,0.1);
			.container {
				width: 100%;
    			padding: 0;
				.row {
					margin: 0;
				}
    			.topMenu {
					position: -webkit-sticky;
					position: sticky;
	    			top: 0;
					background-color: @white;
				    border: 0;
				    padding: 5px 0;
				    z-index: 100;
				    .top-menu-table {
				    	margin-bottom: 0;
				    	.modal-close {
							.material-icons;
							font-size: 3rem;
						    position: absolute;
					        top: @gutter - 10;
							right: @gutter - 15;
					        width: @gutter + 11;
							height: @gutter + 11;
				    		text-decoration: none;
							text-align: center;
							color: @primary-color;
						    z-index: 1;
							&:before {
								content:"\E14C"
							}
							@media only screen and (min-width: 768px) and (max-width: 1365px) {
							    top: 1px;
    							right: 5px;
							}
						}
				    	#store-branding {
						    float: left;
						    width: 45px;
						    height: 35px;
						    margin: 15px;
						    background-position: center center;
						    background-repeat: no-repeat;
						    background-size: contain;
						    text-indent: -99999px;
						}
						.modal-tablet-title {
							display:none;
						}
						@media (min-width: 1366px) {
							.modal-title {
								font-size: 2.2rem;
								.agenda-bold;
								line-height: 3;						    	
							}
						}
						@media only screen and (min-width: 768px) and (max-width: 1365px) {
							.modal-title {
								display:none;
							}
							.modal-tablet-title {
								font-size: 1.8rem;
							   	line-height: 2.5;
							   	.agenda-bold;
							   	display:block;
							}
						}
						.hide-title {
							@media only screen and (min-width: 768px) and (max-width: 1365px) {
						    	display: none;
						    } 
						}
						.top-menu-element {
							max-width: 200px;
	    					padding: 0;
	    					border: 0;
	    					vertical-align: middle;
	    					max-width: 250px;
    						width: 14%;
    						height: 58px;
    						.print-icon {
								.printcompare-feature {
									position: absolute;
								    right: 5%;
								    top: 32%;
								    height: 20px;
								    width: 20px;
								    color: @torchRed;
						            @media only screen and (min-width: 768px) and (max-width: 1365px) {
								    	right: 2%;
								    	top: 60%;
								    } 
						            i, svg {
						            	font-size: 2.4rem;
									    width: 24px;
									    text-align: center;
									    margin: 0 10px 0 0;
									    float: left; 
						            }
								}

							}
							.remove-button {
								.agenda-bold;
							    right: 0;
								background-color: @white;
								margin-top: 10px;
								padding: 3px 3px;
								color: @primary-color;
								font-size: 1.6rem;
								border: 0;
								position: relative;
							    top: -15px;
								i.material-icons {
								    font-size: 2.4rem;
								    font-weight: bold;
								    color: @torchRed;
								}
							}
						}
						.img-section {
						    text-align: center;
						    a:hover {
    							color: @white;
						    }
						}
				    }
				}
    		}
		}
		
		.modal-body{
			.container {
				@media (min-width: 768px) {
					width: 100%;
    				padding: 0;
				}
			}
			overflow:hidden;
		 	padding: @gutter - 10 @gutter - 15 0 @gutter - 15;
			min-height: 200px;
			max-height: 78vh;
    		overflow-y: auto; 
			@media only screen (height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape){
				max-height: 78vh;
			}
    		@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
                max-height: 1000px;
            }
    		@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
            	max-height: 830px;
            }
    		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    			max-height: 585px;
			}
			.inline-ratings-category-page{
				height:30px;
				@media (min-width: 768px) {
					.bv_main_container {
						.bv_averageRating_component_container {
							padding-left: 0px!important;
						}
					}
				} 
			}
			@media (min-width: 768px) {
			    padding: 0;
			}
			
			.table-borderless td,
				.table-borderless th {
				    border: 0;
			}
			.table-borderless td:not(:first-child) {
			  border-left: solid 1px #e5e5e5;
			}
			.table-borderless td:not(:last-child) {
				border-right: solid 1px #e5e5e5;
			}
			.table-body-element.img-section.current-product {
				padding: 0 !important;
			}
			td.table-body-element.current-product:nth-child(2) {
			  	.current-product-banner {
				    display: block !important;
				    background-color: @productImageBorder;
				    width: 100%;
				    text-align: center;
				    font-size: 1.8rem;
					margin-top: 0;
				    h4 {
                        color: @mineShaft;
                        padding: 4px;
                    }
				}
			}
			td.table-body-element.current-product:nth-child(3), td.table-body-element.current-product:nth-child(4), td.table-body-element.current-product:nth-child(5) {
				img {
					margin-top: 45px;
				}
			}
			.compare-product-table {
				table-layout: fixed;
				margin-bottom: 0;
				.attributes {
					margin-bottom: 0px;
    				border: 1px solid @silver;
				}
				.product-name-section, .product-price-section {
					text-align: center;
					.product-name {
						.agenda-bold;
						font-size: 1.8rem;
					}
				}
				.remove-product {
					text-align: center;
					max-width: 200px;
				}
				.remove-button {
					.agenda-bold;
				    right: 0;
					background-color: @white;
					margin-top: 10px;
					padding: 3px 10px;
					color: @primary-color;
					font-size: 1.6rem;
					border: 0;
					i.material-icons {
					    font-size: 2.4rem;
					    font-weight: bold;
					    color: @torchRed;
					}
					span.remove-text {
					    height: 35px;
					    vertical-align: middle;
					    display: inline-block;
					    padding-left: 3px;
					}
				}
				.table-body-element {
					max-width: 200px;
					padding: 15px;
					font-weight: bold;
				    .prod-name {
					    display: block;
					    display: -webkit-box;
					    max-width: 100%;
					    margin: 0 auto;
					    line-height: 1;
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    font-weight: bold;
					    height: 54px;
					}
				}
				.product-name-section {
				    font-size: 2.6rem;
				    padding: 15px 5px !important;
				}
				.img-section { 
					text-align: center !important;
					.mz-product-image {
					    display: block;
					    height: auto;
					    max-width: 230px;
					    margin: auto;
					}
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	            	.table-body-element.img-section {
	            		img.mz-product-image {
						    width: 100%;
						    height: auto;
						}
					}
	            }
				.property-heading {
					.agenda-bold;
					text-align: right !important;
					padding-right: 25px;
				    margin: 0px;
				    background: #e6e6e6;
				    width: 100%;
				    max-width: 100%;
				    overflow-wrap: break-word;
				}
				.price-wrap {
					.mz-price {
						.agenda-bold;
						font-size: 2.5rem;
					}
				}
			}
			.view-product {
				position: -webkit-sticky;
				position: sticky;
    			bottom: 0;
				background-color: @white;
			    border: 1px solid @formInputBorder;
			    padding: 10px;
			    @media (min-width: 1366px) {
			    	margin: 0 -89px;
			    } 
			    @media (min-width: 768px) {
	            	margin: 0;
	            }
			    .view-product-table {
					table-layout: fixed;
					margin-bottom: 0;
					max-width: 1140px;
    				margin: 0 auto;
    				@media (min-width: 768px) {
		            	max-width: 100%;
		            }
				    .view-product-row {
				    	.view-product-column {
				    		text-align: center;
				    		border: none;
				    		.product-link {
				    			padding: 6px 10px 4px;
							    box-sizing: border-box;
							    border: 2px solid @torchRed;
							    border-radius: 22px;
							    color: @torchRed;
							    font-family: Agenda,sans-serif;
							    font-size: 1.6rem;
							    font-weight: 600;
							    letter-spacing: 0;
							    line-height: 18px;
							    text-align: center;
							    text-decoration: none;
							    display: inline-block;
							    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
					            	padding: 10px 10px 6px;
					            	font-size: 1.4rem;
					            }
				    		}
				    		.product-link:hover:after {
							    width: 100%;
							    background: @torchRed;
							}
							.product-link:after {
							    content: '';
							    display: block;
							    height: 2px;
							    width: 0;
							    background: transparent;
							    transition: width .5s ease;
							}
				    	} 
				    }
				}
			}
			.content-loading {
				height: 92px;
			    width: 92px;
			    margin-left: auto;
			    margin-right: auto;
				position: static;
			}
		}
	}
	
}
.french-content{
	#compare-product-modal {
		.modal-content{
			.modal-header{
				.container {
	    			.topMenu {
					    .top-menu-table {
							.modal-title {
								font-size: 1.8rem;
							}
						}
					}
				}
			}
		}
	}
}
.print-store-info {
	display:none;
}
@media print {
	* {
		color: @primary-color !important;
	}
	body {
		overflow: auto;
		height: 100%;
	}
	.top-header {
	    display: none;
	}
	.header-container-wrapper {
		display: none;
	}
	.mz-sitenav {
		display: none;
	}
	.header-notifications {
		display: none;
	}
	.mz-breadcrumbs {
		display:none;
	}
	#mz-drop-zone-alert-banner {
		display:none;
	}
	#category-page-container {
		display:none;
	}
	.container {
		.recently-viewed {
			display:none;
		}
	}
	#compare-product-modal {
		color: @primary-color !important;
		background-color: @white;
        position: relative;
		.modal-header {
			.topMenu {
				margin-left: 15px;
				position: relative !important;
				.modal-close {
					display:none;
				}
				.modal-close:before {
					display:none;
				}
				.print-icon {
					display:none;
				}
				.mz-storebranding {
					display:none;
				}
				.modal-title {
					display:none;
				}
				.img-section {
					display:none;
				}
				.print-store-info {
					display:block;
					.print-branding {
					    width: 35px;
					    height: 35px;
					    margin-right: 15px;
					    background-position: center center;
					    background-repeat: no-repeat;
					    background-size: contain;
					    text-indent: -99999px;
					}
					.print-title {
						font-size: 2.2rem;
						color: @primary-color !important;
						.agenda-bold;
						display: inline-block;
					}
					.storeName {
					    font-family: 'Agenda_bold';
					    font-size: 1.6rem;
					    color: @torchRed !important;
					    margin-top: 10px;
						.fa.fa-map-marker:before {
						    color: @torchRed !important;
						    margin-right: 10px;
						}
					}
				}
			}
		}
		.modal-body {
			display: block;
		    max-height: 100% !important; 
		    table.compare-product-table {
				.table-body-element.img-section.current-product {
					padding: 0 !important;
				}
		    	td.table-body-element.current-product:nth-child(2) {
				  	.current-product-banner {
					    display: block !important;
					    background-color: @productImageBorder !important;
					    width: 100%;
					    text-align: center;
					    font-size: 1.8rem;
					    margin-top: 0;
					    h4 {
	                        color: @mineShaft;
	                        padding: 4px;
	                    }
					}
				}
				td.table-body-element.current-product:nth-child(3), td.table-body-element.current-product:nth-child(4), td.table-body-element.current-product:nth-child(5) {
					img {
						margin-top: 45px;
					}
				}
			    .table-body-element {
			    	padding: 15px 5px !important;
			    }
			    .product-name-section {
			    	font-size: 2.2rem !important;
			    	.prod-name {
			    		height: 46px !important;
			    	}
			    }
			    .removebtn {
			    	display: none;
			    }
			}
			.bv_main_container {
				.bv_numReviews_component_container {
					padding-left: 0px !important;
				}
			}
			.product-link {	
    			font-size: 1.4rem !important;
			}
			.view-product {
				display: none; 
			}
		}
		
	}
}