.limited-quantity-container {
    &.modal {
      text-align: center;
    }
    &.modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      margin: auto;
      width: 400px;
      @media only screen 
      and (max-device-width: 640px), 
      only screen and (max-device-width: 667px), 
      only screen and (max-width: 480px){ 
        width: 365px;
      }
      @media only screen 
      and (device-width : 375px) 
      and (device-height : 812px) 
      and (-webkit-device-pixel-ratio : 3) { 
        width: 365px;
      }
      .modal-content {
        border-radius: 0;
        box-shadow: none;
        border: none;
        .modal-header {
          border-bottom: none;
          .close {
            font-size: 18px;
            opacity: 1;
          }
        }
        .modal-body {
          text-align: center;
          padding : 0px 25px 42px 25px;
          .shopping-links {
            .view-cart-block {
              padding-top: 18px;
              .view-cart-link {
                text-decoration: none;
                background-color: @torchRed;
                border: 1px solid @torchRed;
                color: white;
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 1;
                text-transform: uppercase;
                text-align: center;
                border-radius: 22px;
                padding: 12px 15px 10px;
                width: 50%;
                display: block;
                padding-left: 0;
                padding-right: 0;
                display: inline-block;
                &:hover {
                  background-color: @redButtonHoverBg;
                  text-decoration: none;
                  border-color: @redButtonHoverBg;
                }
              }
            }
            .continue-shopping-block {
              padding-top: 15px;
              .continue-shopping-link {
                text-decoration: none;
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 1;
                text-transform: uppercase;
                text-align: center;
                border-radius: 22px;
                padding: 12px 15px 10px;
                width: 50%;
                display: block;
                background-color: transparent;
                border: 1px solid @torchRed;
                color: @torchRed;
                padding-left: 0;
                padding-right: 0;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  