﻿.mz-productdetail {
   
    .mz-productdetail-qty {
        width: 60px;
        vertical-align: middle;
        display: inline-block;
        margin:0 @gutter - 10;
        text-align:center;
    }

    .mz-price {
        .agenda-bold;
        font-size:2.6rem;
        line-height:1;
        @media(min-width:768px){
	    	font-size:3.4rem;
	    }
        .selling-unit{
            font-size: 1.8rem;
            margin-left: @gutter/5 - 10;
            @media(max-width:767px){
                font-size: 1.4rem;
            }
        }
    }

    .mz-price-msrp {
        display: block;
        font-size: @fontSizeSmall;
        color: lighten(@textColor, 15%);
        .mz-price {
            font-size: @fontSizeSmall;
        }
    }

    .mz-productdetail-notpurchasable {
        font-size: @fontSizeSmall;
        margin: @gutter / 5 0;
        color: @storeClosedStatus;
    }

    .mz-productdetail-conversion {
        .clearfix();
    }

    .mz-productdetail-conversion-controls,
    .mz-productdetail-conversion-buttons {
        display: inline-block;
        vertical-align: middle;
    }

        .mz-productdetail-conversion-buttons .mz-button {
            display: block;
            margin: 0 0 @gutter/2;
        }

    .mz-productbundle-measurements-product {
        clear: both;
    }

    .mz-productbundle-measurements-productname {
        .agenda-bold;
    }
    
    .mz-productdetail-price{
	    
	    .is-saleprice{
	    	.agenda-bold;
	    	font-size:2.6rem;
	    	color:@torchRed;
	    	margin-right: @gutter - 5;
	    	line-height:1;
	    	
	    	@media(min-width:768px){
	    		font-size:3.4rem;
		}
		.selling-unit{
			color:@torchRed;
		}
	    }
	    
	    .saved-price{
	    	margin: @gutter - 15 0 0;
	    }
	    .aeroplan-miles {
		    padding-left: @gutter * 2;
		    min-height: @gutter - 2;
		    margin:@gutter 0 0;
		    font-size: 1.4rem; 
			background-image: url("{{ themeSettings.sirvResourceImageUrl }}/footer-logosR2.png");
		    background-repeat: no-repeat;
			background-position: 0 center;
			background-size:130px 177px;
			float: left;
            width: 150px; 
			margin-left: -5px;

			.link_txt{
				display: block;
				width: 360px;
				margin-left: 78px;
				font-size: 1.3rem;
				@media (min-width: 768px) and (max-width: 812px){ 
					font-size: 1.1rem;
				}
			}
	    	
	    }
	    
	    .environmental-handling-fee{
	    	margin: @gutter - 10 0 @gutter - 10;
	    }
	    .ehf-value {
	    	.agenda-bold;
	    }
	    .is-crossedout{
	    	font-size: 1.6rem;
    		color: @primary-color;
	    }
	}
	
	.horizontal-line{
		border-width: 0;
    	border-bottom: 1px solid @horizontalLine;
    	margin:  @gutter + 10 @gutter - 40;
    		
		@media (min-width:768px){
			margin: @gutter + 10 0 @gutter - 5;
		}
		
	}
	
	.mz-productdetails-quantity{
		margin: 0 0 @gutter;
		float: left;
    	width: 100%;
	    @media (max-width:767px) {
			border-bottom: 1px solid @horizontalLine;
			padding-bottom: @gutter - 5;
			margin: 0;
		}
	    .productdetail-conversion-controls{
			@media (min-width:768px) and (max-width:991px) {
				width: 90%;
			}
			@media (max-width:460px) {
				width: 100%;
			}
	    	.mz-qty-label{
	    		vertical-align: middle;
   				margin: 0 @gutter - 15 0 0;
   				font-weight:normal;
   				cursor: default;
	    	}
	    	
	    	.quantity-input{
	    		display: inline-block;
	    		
	    		.quantity-input-button{
	    			display: inline-block;
    				vertical-align: middle;
    			
    				&:hover{
    					text-decoration:none;
    				}
 					
	    		}
	    		.is-disabled{
	    			color:@iconDisabled;
	    			pointer-events: none;
	    		}
	    		.qty-increment, .qty-decrement{
	    			font-size: 2.6rem;
	    			vertical-align: middle;
	    		}
	    	} 
		}

    }

	.mz-productdetail-buttons{
		width: 100%;
		.flex-display(flex);
		margin-bottom: 0;
		padding-bottom: @gutter - 5;
		&.productdetail-btn{
			border-bottom:none;
			padding-bottom: @gutter - 10;
		}
        .mz-productdetail-btns-container{
			display: inline-flex;
			width: 50%;
    		@media(max-width:767px){
				width: 44%;
			}
    		&:first-child{
    			padding-right:@gutter/5;
    		}
    		&:last-child{
    			padding-left:@gutter/5;
    		}
            &.hf-nopadding{
                padding:0;    
            }
    		.product-addtocart{
				.btn-red();
				.btn-large();
				.new-btn-primary();
				@media(max-width:767px){
					padding: 12px 15px;
				}
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
					padding: 12px 10px;
				}
    		}
    		.product-savetolist{
				.btn-large();
				.new-btn-secondary();
				 padding-left: 0;
    			 padding-right: 0;
    			&:before{
    				content: "\E242";
    				.material-icons;
    				font-size: 2.2rem;
				    line-height: 0;
				    margin-right: @gutter - 19;
				    vertical-align: middle;
    			}
    			&:disabled{
    				&:before{
    					content: "\E86C";
    				}
    			}
    		}
		}
		.full-width-btn{
			@media(max-width:767px){
				width: 88%;
			}
		}
		&.mz-productdetail-buttons-mob{
			@media (max-width:767px) {
				position: fixed;
				bottom: 0;
				z-index: 9;
				background: @white;
				left: 0;
				padding: @gutter/5 * 4;
			}
		}
	}
	.orderVolumeMsg {
		border-bottom: 1px solid @horizontalLine;
		padding-bottom: @gutter - 5;
		text-align: justify;
		.agenda;
	}
    .hide-add-to-cart-btn{
    	width:50%;
    	.mz-productdetail-btns-container{
    		.fullwidth;
    		&:last-child{
    			.no-padding;
    		}
    	}
   	} 
	.mz-productdetails-shipping{
	    margin: 0 0 @gutter + 10;
	    
	    .product-available{
            color:@primary-color;
	    	.agenda-bold;
	    	font-size:1.6rem;
	    	margin:0;
            &:before{
                display:none;
            }
	    }
	    .product-not-available{
            color:@primary-color;
            .agenda-bold;
            font-size:1.6rem;
	    	margin:0;
            &:before{
                display:none;
            }
	    }
        .product-availability{
            margin:0;
        }
	}
    .prefer-store-block{
        .store-address{
            .address-card{
                .link{
                    display:block;
                    margin-top:@gutter/5;
                }
            }
        }
        .instore-availability{
            color:@link-red;
        }
    }
    .disclaimer{
		float: left;
		width: 100%;
		padding-bottom: @gutter - 10;
		.disclaimer-msg{
            margin-top: 0;
            margin-bottom:0;
        }
	}
	.product-header-section{
		overflow: hidden;
		border-bottom: 1px solid @horizontalLine;
		margin-bottom: @gutter - 10;
		.remotestorelevel{
			font-family: "Agenda_bold",sans-serif; 
    		font-size: 24px;
    		margin-top: -14px;
    		margin-bottom: 8px;
    		text-transform: capitalize;
    		@media (max-width:992px)
			{
				margin-top:0px;
			}
		}
		.remotcontactlevel
		{
			font-family: "Agenda_bold",sans-serif;  
    		font-size: 18px; 
    		margin-bottom: 10px;
    		margin-top: -5px;
		}
	}
	.boh-info{
		border-bottom: 1px solid @horizontalLine;
		margin-bottom: @gutter - 10;
		float: left;
    	width: 100%;
		.boh-icon{
			padding-left: 70px;
			position: relative;
			margin-bottom: @gutter - 10;
			.icon{
				height: 40px;
				position: absolute;
				top: 0;
				left: 0;
			}
			.boh-msg{
				font-weight: bold;
				margin: 0;
				line-height: 40px;
				@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
				    margin-left: 12px;
				}
				@media (max-width:320px) {
					font-size: 2rem;
				}
				.available-stock{
					display: inline-block;
				}
				.info-icon{
					position: relative;
					top: @gutter/5;
					width: 25px;
					height: 25px;
					display: inline-block;
					background-image: url("{{ themeSettings.sirvResourceImageUrl }}/Web-Icons-on-one-file.png");
					background-position: -70px -68px;
					background-size: 100px;
					background-repeat: no-repeat;
					color:@torchRed;
					margin-left: @gutter/5 * 2;
					cursor: pointer;
					@media (max-width:320px) {
						width: 22px;
						height: 24px;
					}
				} 
				.store-disclaimer{
					margin-bottom: 0;
				}
				.pricing-offer{
					margin-top: 0;
				}
			}
			.call-store-availability{
				width:85%;
				@media (min-width:768px) and (max-width:1024px) {
					width: 70%;
				}
				@media (max-width:767px){
					width: 80%;
					font-size: 2.1rem;
					line-height: 1.3;
					margin-left: @gutter / 5 + 3;
				}
				@media (min-width:320px) and (max-width:359px){
					width: 75%;
				}
			}
			p{
				margin-top: 0;
			}
			.remote-prefered-store{
			font-family: "Agenda_bold",sans-serif;
		    font-size: 18px;
			} 
		}
		.boh-store-details{
			margin-bottom: @gutter - 5;
		}
		.check-nearby{
			cursor: pointer;
			.agenda-bold;
		}
		.product-available{
			margin-bottom: @gutter - 5;
		}
	}
	.shipping-info{
		border-bottom: 1px solid @horizontalLine;
		margin-bottom: @gutter - 10;
		float: left;
    	width: 100%;
		.shipping-icon{
			height: 40px;
			margin-bottom: @gutter - 15;
			.icon{
				float: left;
    			height: 100%;
			}
			.shipping-msg{
				font-weight: bold;
				margin: 0;
				line-height: 40px;
				float: left;
				margin-left: @gutter - 10;
				@media (max-width:320px) {
					font-size: 2rem;
				}
				.info-icon{
					color:@torchRed;
					margin-left: @gutter - 5;
					@media (max-width:320px) {
						width: 22px;
						height: 22px;
					}
				}  
			}
		}
		.free-shipping-msg{
			.agenda-bold;
		}
		.shipping-store-details{
			margin-bottom: @gutter - 5;
			.pickup-date{
				display: inline-block;
			}
		}
		.orderVolumeMsgAddToCart {
		    text-align: justify;
		    .agenda;
		}
		.change-store{
			.agenda-bold;
		}
		.product-available{
			margin-top: 0;
		}
	}
	.scrollShippingInfo{ 
		position: fixed;
		z-index: 1201;
		left: 39%;
		top: 11px;
		width:410px;
		border: none; 
		@media (min-width:768px) and (max-width:1024px) {
			left: 44%;	
			width: 363px;
		}
		p{
			margin: 0px 0px 0px 10px !important;
			font-size: 1.6rem;
		}
		.free-shipping-msg{
			span{
				font-family: initial;
			}
		}
		.shipping-msg {
			width:77% !important;
		}
	}
	.temprory-outofstock{
		float: left;
		width: 100%;
		padding: @gutter - 15 0 @gutter;
		.temp-out-label{
			background-color: @mercury-light;
			padding: @gutter/5 * 2;
			display: block;
			font-family: @font-family-agenda;
			font-weight: bold;
			.block{
				color: @secondary-color;
				vertical-align: text-top;
				padding-right: @gutter/5;
				font-weight: bold;
			}
			.show-oos{
				display: block;
				padding-left: 27px;
			}
		}
	}
	.oos-products {
		display:block;
		margin-bottom: 15px;
		@media (max-width: 767px) {
			float: left;
			width: 100%;
		}
		#mz-drop-zone-certona-oos-products {
			@media (max-width: 767px) {
				padding-top: 15px;
			}
			.mz-cms-content {
				@media (max-width: 767px) {
    				overflow: visible;
    			}
    		}
		}
		.certona-container {
			@media (min-width: 767px) {
				margin-top: -20px !important;
			}
			.slick-slider {
				.slick-list {
					@media (max-width: 767px) {
						margin-left: 8px;
						margin-right: 0;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:landscape) {
						margin-right: 60px;
    					margin-left: 42px;
					}
					@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5)  {
						margin-right: 50px;
    					margin-left: 42px;
    				}
					@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
					    margin-right: 20px;
    					margin-left: 35px;
    				}
    				@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
						margin-right: 34px;
    					margin-left: 42px;
					}
				}
				.slick-track {
					.slick-slide {
						width: 206px;	
						@media only screen  and (min-width : 1440px) {
							width: 138px;
						}		            
						@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
							width: 139px;
						}
						@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
			            	width: 182px;
			            }
			            @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    						width: 185px;
						}
						@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
	 					    width: 206px;
	 					}
						@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
							width: 145px;
						}
						@media (max-width: 767px) {
							width: 252px;
						}
						.mz-productlisting-info {
							.product-details {
								padding-bottom: 0px;
							}
							.bv_main_container {
								.bv_averageRating_component_container, .bv_numReviews_component_container {
									padding-left: 0px!important;
								}
							}
						}
					}
					.slick-slide.mz-productlisting {
						.current-product-banner {
		                    display: none;
		                }
						.mz-productlisting-image {
							@media (max-width: 767px) {
								width: 230px;
							}
						}
					}
				}
				.slick-prev, .slick-next {	
					margin-top: -78px;
					@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
						margin-top: -70px;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
						margin-top: -82px; 
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
		            	margin-top: -70px;
		            }
		            @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
						margin-top: -82px;
					}
				}
			}
		}
		.oos-close-button {
			padding: 1px 0px 0 8px;
		    margin-top: 5px;
		    font-size: 2rem;
		    font-style: normal;
		    font-weight: normal;
		    opacity: 1;
		    position: inherit;
		    z-index: 1;
		    @media (max-width: 767px) {
		    	margin-top: 0;
		    }
		}
	}
	.close {display:inline;}
	.show-oos {
		color: @link-red;
		font-weight: bold;
	}
	.hide-oos-products {
		display:inline !important;
	}
	.hide-oos-products .close {display:none;}
	.boh-no-store-info{
		border-bottom: 1px solid @horizontalLine;
		margin-bottom: @gutter - 10;
		overflow: hidden;
		.select-store-header{
			font-weight: bold;
			margin-top: 0;
			margin-bottom: 15px;
		}
		.new-btn-primary{
			width: 236px;
			margin-bottom: 20px;
			padding: 11px 22px;
		}
	}
	.product-location-availability{
		width: 100%;
		  @media(max-width:767px) {
			float: left;
			  &:last-child{
				  border-bottom: none;
			  }
		  }
		.icons{
			border-bottom: 1px solid @horizontalLine;
			padding: 15px 0;
			.icon{
				width: 53px;
				height: 41px;
				float: left;
				&.deliveryicon{
					width: 66px;
				}
				&.fa-dolly-flatbed{
					font-size: 35px;
					color: #e4002b;
				}
			}
			.information-container{
				padding-left: 76px;
				.icon-title{
					margin:0;
					font-weight: bold;
					font-size: 2.5rem;
					line-height: 1.5;
					@media(min-width:768px) and (max-width:1024px){
						font-size: 24px;
					}
					@media (max-width:350px) {
						font-size: 20px;
					}

                }
				p{
					margin: 0px;
				}
				.icon-text{
					.available{
						color: #05810b;
						font-family: @font-family-agenda;
						font-style: normal;
						font-weight: @font-bold;
					}
					.unavailable{
						color: #856405;
						font-family: @font-family-agenda;
						font-style: normal;
						font-weight: @font-bold;
					}
				}
				.change-shipping-location{
					font-family: @font-family-agenda;
					color:#444;
					font-weight: bold;
					display: inline-block;
					@media(min-width:1025px) {
						padding-right: 10px;
					}
					i{
						vertical-align: middle;
						color: @color-primary-red;
					}
				}
				.ship-container{
					position: relative;
				}
				.update-shipping-postal-code{
					.header-section{
						.close{
							position: absolute;
							right: 12px;
							top: 8px;
							font-weight:normal;
							opacity:1;
							&:hover{
								color:@mineShaft;
							}
						}
						h3{
							text-align: center;
							margin: 21px 44px 10px;
							border-bottom: 1px solid #cbcbcb;
							padding-bottom: 10px;
							font-weight: bold;
						}
					}
					.body-section{
						text-align: center;
						padding: 10px 0 0 0;
						h4{
							font-weight: bold;
							margin-top: 0;
							margin-bottom: 20px;
							i{
								margin-right: 7px;
								font-size: 20px;
							}
						}
						.input-section{
							margin-bottom: 20px;
							.postal-code-input{
								text-align: center;
								border-radius: 20px;
								border: 2px solid #cbcbcb;
								background: white;
								color: black;
								height: 44px;
								width: 170px;
								font-weight: normal;
								text-transform: uppercase;
								
								@media (max-width: 768px) {
									float: left;
									margin-left: 35px;
									margin-right: 15px;
								}
								@media (max-width: 540px) {
									margin-left: 35px;
									margin-right: 15px;

								}
								@media (min-width: 1024px) {
									margin-left: 19px;
									margin-right: 0px;
								}
								@media (max-width: 350px)  {
									width: 110px;
									float: left;
									margin-left: 27px;
								}
								
							}
							.update-button{
								margin-left: 10px;
								padding: 11px 22px;
								&.is-loading{
									background-image: url(../resources/images/button-loading.gif);
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: 50px;
									color: transparent;
									cursor: no-drop;
									text-indent: -9999px;
									pointer-events: none;
									width: 105px;
								}
							}
							.error-message{
								display: block;
								text-align: center;
								color: #e4002b;
								margin-top: 5px;
							}
						}
						.estimated-shipping{
							display: block;
							font-size: 18px;
						}
						.shipping-not-avail{
							padding: 0 27px 25px;
							display: block;
							text-align: left;
						}
					}
					.content-loading{
						position: absolute;
						z-index: 99;
						text-align: center;
						top: 0;
						left: 0;
						right: 0;
						vertical-align: middle;
						bottom: 5px;
						opacity: 0.8;
						background: rgba(255, 255, 255, 0.7);
						img{
							margin: auto;
							width: 100px;
							margin-top: 20%;
						}
					}
					.footer-section{
						margin-bottom: 20px;
						.shipping-disclaimer{
							font-weight: 600;
							text-align: left;
							margin: 20px;
							font-size: 14px;
							i, svg{
								color: #e4002b;
								font-size: 18px;
							}
							.faq-link{
								color: #e4002b
							}
							&.normal{
								font-weight: normal;
								font-size: 12px;
							}
						}
					}
					&.french-site {
						.body-section {
							.input-section {
								.postal-code-input {
									@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
										width: 145px;
									}
									@media (max-width: 385px){
										width: 172px;
									}
								}

								.update-button {
									@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
										margin-left: 3px;
									}
									@media (max-width: 385px){
										display: block;
										margin: 10px auto auto;
										padding: 11px 33px;
									}
								}
							}
						}
					}
				}
				.arrow_box {
					border: 1px solid #cbcbcb;
					background-color: #fff;
					position: absolute;
					left: -74px;
					z-index: 8;
					border-radius: 10px;
					bottom: 30px;
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
					&.french-site{
						@media (max-width: 336px){
							bottom: 52px;
							&.change-shipping-postal{
								bottom: 30px;
							}
						}
					}

				}
				.arrow_box:after, .arrow_box:before {
					top: 100%;
					left: 280px;
					border: solid transparent;
					content: "";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.french-site:after, .french-site:before {
					left: 340px;
					@media (max-width: 336px){
						left: 200px;
					}
				}
				.change-shipping-postal:after, .change-shipping-postal:before{
					left: 300px;
				}
				.french-site{
					&.change-shipping-location:after, &.change-shipping-location:before{
						left: 314px;
						@media (max-width: 336px){
							left: 200px;
						}
					}
				}

				.arrow_box:after {
					border-color: rgba(213,212,211,0);
					border-top-color: white;
					border-width: 12px;
					margin-left: -56px;
				}
				.arrow_box:before {
					border-color: rgba(198,214,245,0);
					border-top-color: #cbcbcb;
					border-width: 14px;
					margin-left: -58px;
				}
			}
			.fa-home{
				font-size: 34px;
				color: @torchRed;
				float: left;
			}
			&.ship-to-home{
				@media(max-width:767px) {
					border-bottom: none;
				}
			}
		}
		&.no-store, &.supplier-direct-item{
			.icons{
				display: table;
				border-bottom: none;
				.icon{
					display: table-cell;
					&.storeicon{
						width: 66px;
					}
				}
				.information-container{
					display: table-cell;
					vertical-align: middle;
					padding-left: 15px;
					.icon-title{
						line-height: unset;
						font-size: 1.8rem;
					}
					&.non-ecom-item{
						padding-left: 0px;
						.non-ecom-header{
							text-transform: capitalize;
							font-weight: bold;
							margin-top: 10px;
							&.supplier-h{
								margin-top: 0px;
							}
						}
						.non-ecom-sub-header{
							margin-bottom: 10px;
							font-weight: 600;
							font-size: 1.8rem;
						}
						.store-info-section{
							.store-info{
								margin-bottom: 10px;
								display: table;
								.fa-ban{
									color:@color-primary-red;
								}
								i, p{
									display: table-cell;
								}
								p, a{
									padding-left: 10px;
								}
								a{
									text-decoration: underline;
								}
								.phone-number{
									text-decoration: none;
									&:hover{
										text-decoration: underline;
									}
								}
							}
							.store-info-nonecom{
								margin-bottom: 10px;
								display: table; 
								i, p{
									display: table-cell;
								}
								p, a{
									padding-left: 0px;
								}
								a{
									text-decoration: underline;
								}
								.phone-number{
									text-decoration: none;
									&:hover{
										text-decoration: underline;
									}
								}
							}
							.supplier-Direct-Item-Link{
                                display: block;
								color:#444;
								font-weight: bold;
                                @media(min-width:1025px) {
                                  padding-right: 10px;
                                }
								i{
									vertical-align: middle;
									color: @color-primary-red;
								}
							}

						}
						.store-details-section{
							display: table;
							i{
								display: table-cell;
								font-size: 18px;
								padding-top: 4px;
							}
							span{
								display: block;
							}
							span:first-child{
								font-weight: bold;
								font-family: @font-family-agenda;
							}
							.store-address-section{
								display: table-cell;
								padding-left: 10px;
								vertical-align: top;
								.store-address{
									display: table-cell;
									border: none;
									.no-padding;
									.no-margin;
									.address-card{
										.no-padding;
										.no-margin;
										width: unset;
										&:first-child{
											font-weight: normal;
											font-family: @font-family-agenda;
										}
										.store-address-details{
											.store-street{
												font-weight: normal;
											}
										}
									}
								}
								.get-direction-link{
									color: @color-primary-red;
									padding-top: @gutter - 20px;
									display: block;
									font-weight: 600;
									.fa-arrow-right{
										font-size: @gutter - 11px;
										vertical-align: middle;
										display: inline-block;
										margin-left:@gutter/5 - 2;
									}
									i, svg {
										font-size: 18px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.quantity-alert-message-container{ 
		padding-left: 116px;
		font-size: 16.5px;
		position: relative;
		top: 9px;
	}
	.online-only-red{
		color:@torchRed;
	}
}

.storeicon{
	width: 58px;
	background-image: url("{{ themeSettings.sirvResourceImageUrl }}/Web-Icons-on-one-file.png");
    background-size: 150px;
    background-position: 61px -418px;
}
.deliveryicon{
	width: 67px;
	background-image: url("{{ themeSettings.sirvResourceImageUrl }}/Web-Icons-on-one-file.png");
    background-size: 159px;
    background-position: -5px -445px;
}
.mz-productdetail-measurements .mz-propertylist,
.mz-productdetail-properties .mz-propertylist,
.mz-productdetail-bundleitems .mz-propertylist {
    float: left;
    max-width: 400px;
}

.french-content{
	.mz-productdetail .marketing-proposition .icon-title{
		&.freereturn-title{
			@media (min-width:1025px) {
				width: 75%;
				line-height: 25px;
			}
		}
		&.freeShipping-title {
    			@media(min-width:1025px){
				width: 70%;
				line-height: @gutter;
				}
    		}
	}
	.mz-productdetail{
		.shipping-info{
			.shipping-icon{
				.shipping-msg{
					line-height: 30px;
					width:85%;
					@media (min-width:768px) and (max-width:1024px) {
						width: 75%;
					}
					@media (max-width:767px){
						width: 75%;
						font-size: 2.1rem;
						line-height: 40px;
						margin-left: @gutter / 5 + 3;
					}
					@media (max-width:320px){
						width: 74%;
						line-height: 30px;
						margin-left: @gutter / 5 + 3;
					}
				}
			}
		}
		.mz-productdetails-quantity {
			.productdetail-conversion-controls {
				width: 100%;
			}
		}
		.quantity-alert-message-container {
			padding-left: 162px;
		}
	}
	.modal-dialog{
		.productdetails-container{
			.mz-productdetail{
				.shipping-info{
					.shipping-icon{
						.shipping-msg{
							line-height: 30px;
							width:80%;
							@media (min-width:768px) and (max-width:1024px) {
								width: 75%;
							}
						}
					}
				}
			}
		}
	}
	@media print {
		.boh-info{
			width: 100%;
		}
	}	
}