.product-modal-container{

	.no-padding;
	.modal-dialog{
		width:auto;
		margin:@gutter + 5;
		@media(min-width:992px){
			margin: @gutter + 5 auto;
	    	width: @gutter * 32;
    	}
    	@media(max-width:767px){
    		.no-margin;
    	}
		.modal-content{
			.no-border;
			.modal-header{
				.no-border;
				padding:@gutter + 5 @gutter + 5 @gutter - 15 @gutter + 5;
				@media(max-width:767px){
					padding:@gutter/2 + 2.5 @gutter/2 + 2.5 @gutter + 5;
				}
				.modal-title{
					.agenda-bold;
					font-size:2.4rem;
				}
				.close{
					font-size:3rem;
					font-style:normal;
					font-weight:normal;
					opacity:1;
					&:hover{
						color:@mineShaft;
					}
				}
			}
			.modal-body{
				overflow:hidden;
				padding:0 @gutter + 5 @gutter + 5;
				@media(max-width:767px){
					padding:0 @gutter/2 + 2.5  @gutter/2 + 2.5;
				}
				.row{
					@media (max-width: 767px){
						margin-left: 0;
						margin-right: 0;
					}
				}
				.modal-title{
					.agenda-bold;
				}
				.product-thumb-container{
					@media(min-width:768px){
						border-right: 1px solid lightgray;
					}
					@media(max-width:767px){
						margin-bottom: @gutter + 5;
					}
					.product-title{
						.modal-title;
						margin: @gutter - 15 0 @gutter - 10 0;
					}
					.product-thumbnail{
						display: block;
						width: 190px;
						img{
							width:100%;
						}
					}
					@media(max-width:767px){
						.no-padding;
					}
				}
				.product-content{
					margin-top: @gutter - 10 ;
					.product-price{
						.mz-price{
							font-size:1.7rem;
							.agenda-bold;
						}
					}
				}
				.modal-right-container{
					color:@mineShaft;
					font-size:1.6rem;
					.agenda;
					line-height:1.3;
    				float: right;
					@media(max-width:767px){
						background:none;
						.no-padding;
						width: 100%;
					}
					.modal-cart-total{
						margin: 10px 0 15px 0;
						font-size:1.8rem;
						.agenda-bold;
						overflow:hidden;
					}
					.fr-modal-cart-total{
						font-size: 1.6rem;
					}
					.store-details{
						float: left;
						width: 100%;
						margin-bottom: 50px;
						.store-name, .store-locality{
							display: block;
						}
						.store-address-details{
							margin: 0;
						}
					}
					.button-container{
						width: 100%;
						float: left;
						text-align: right;
						@media(max-width:767px){
							text-align: center;
						}
						.new-btn-primary{
							display: inline-block;
							margin-bottom: 10px;
							color: white;
							padding: 10px 50px;
							&:hover{
								background-color: @redButtonHoverBg;
								text-decoration: none;
								border-color: @redButtonHoverBg;
							}
							&.french{
								padding: 10px 40px;
							}
						}
						.continue-shopping{
							display: inline-block;
							.fullwidth;
							font-weight: @font-semibold;
							font-family: @font-family-agenda;
							font-size: @fontSizeLarge + 2px;
							&:hover{
								color: #3f3f3f;
							}
							.material-icons{
								font-size: 2.5rem;
								vertical-align: middle;
								color: #e4002b;
								font-weight: bold;
							}
						}
					}
					.shopping-links{
						margin:0;
						.fullwidth;
						.text-center;
						.view-cart-block{
							margin:0 0 @gutter/2 - 2.5;
							display:flex;
							.view-cart-link{
								.btn-red();
								.new-btn-primary();
								.agenda-bold;
								padding:@gutter/2 - 0.5 @gutter/5 * 7 @gutter/2 - 2.5;
								margin:0 auto;
							}
						}
						.continue-shopping-link{
							color:@torchRed;
						}
					}
				}
				.certona-innerHTML-container {
					.content-loading {
						height: 92px;
					    width: 92px;
					    margin-left: auto;
					    margin-right: auto;
					}
					#mz-drop-zone-certona-product-slider-widget{
						.certona-products-container{
							.slick-slider{
								@media (max-width: 767px) and (orientation:portrait) {
									.slick-list{
										margin-left: 0px;
										margin-right: 0px;
									}
									.slick-slide{
										width: 254px;
									}
									.mz-productlisting-image{
										width: 225px;
									}
								}
							}
						}
					}
				}
				.store-pickup {
    				padding: 0px;
    				background:@light-grey;
    				margin-top: 10px;
					.pickup-store-container{
						padding: 10px;
						.pickup-store-title{
							.agenda-bold;
							margin:0 0 @gutter/2 - 2.5;
						}
						.contact-store{
							display:none;
						}
						.store-address{
							.address-change{
								.link{
									display:block;
								}
							}
						}
						.instore-availability{
							display:none;
						}

					}
					@media(max-width:767px){
						display: table-cell;
						background: none;
					}
				}
			}
			
			.product-category-summary-container{
				margin-top:@gutter * 2 - 10;
				border-top:1px solid @mercury;
				padding:@gutter/5 * 7 0;
				.fullwidth;
				overflow:hidden;
				float:left;
				.category-summary-title{
					margin-bottom:0 0 @gutter/2 + 2.5;
					font-size:2.2rem;
					.agenda-bold;
				}
				.product-category-summary-product{
					.flex-display(flex);
					.product-tile{
						padding: 0 @gutter/2 + 2.5;
						margin-bottom:@gutter * 2;
						.product-tile-image{
							display: block;
						    position: relative;
						    margin: 0 0 @gutter/2 + 2.5;
						    img{
						    	.fullwidth;
						    	display:block;
						    }
						}
						.product-tile-content{
							.product-tile-title{
								margin-bottom:@gutter/5  + 3;
								.agenda;
								font-size:1.6rem;
							}
							.product-tile-price{
								font-size:1.7rem;
								.agenda-bold;
							}
						}
					}
				}
			}
			
			
			
		}
	}
}
.is-loading {   
	input {
        .opacity(.6);    
	 }   
	 .view-cart-link {    	
		 background-image: url(../resources/images/button-loading.gif);	    
		 background-position: 50% 50%;	    
		 background-repeat: no-repeat;	    
		 background-size: 50px;	    
		 color: transparent;	    
		 cursor: no-drop;	    
		 text-indent: -9999px;
		 pointer-events: none;   
	 }
}