.mz-productimages {
  @media only screen and (min-width: 1366px) {
    width: 100%;
  }
  .play-video {
    position: relative;
    font-size: 2.6rem;
    color: @white;
    pointer-events: none;
  }
  .no-image {
    width: 100%;
  }
  // .mz-productimages-main {
  //     display: block;
  // 	margin: 0 0 @gutter - 5;
  //     height: 450px;
  //      &.without-thumbnails {
  //      	@media only screen and (min-width: 1366px) {
  //     		 height: 581px;
  // 		}
  //       }
  //       @media only screen and (min-width: 1366px) {
  //     		 height: 700px;
  // 		}
  // 		&.withExclusiveTag {
  // 			@media only screen and (min-width: 1366px) {
  //     		 height: 580px;
  // 		 }
  // 		}
  // 		&.withoutExclusiveTag {
  // 			@media only screen and (min-width: 1366px) {
  //     		 height: 600px;
  // 		 }
  // 		}
  // 	.flag-container{
  // 		background-color: #9B26B6;
  //        	padding: 0 @gutter - 10;
  //        	width:119px;
  //        	@media only screen and (min-width: 1366px) {
  // 	 		margin: auto 125px;
  //        	}
  //       	.flag-badge{
  //        		.flag-badge-content{
  //            		.badge-title{
  //                		color:@white;
  //                    	@media (max-width: 767px) {
  //            				font-size: 1.4rem;
  //                    	}
  //                	}
  //            	}
  //        	}
  //        	@media(max-width:767px){
  //        		padding: 0 10px;
  // 	   	}
  //   	}
  //    	.smv-selectors-box.smv-h {
  // 		@media only screen and (min-width : 1200px) {
  // 			width: 430px;
  // 		}
  //    		@media only screen and (min-width : 1366px) {
  // 			margin: 0 auto;
  // 		}
  //    	}
  // }
  .slick-slider {
    .slick-prev,
    .slick-next {
      height: @gutter;
      width: @gutter;
      background: @torchRed;
      color: @white;
      top: 50%;
      .border-radius(15px);
      @media (max-width: 767px) {
        top: 50%;
      }
    }
    .slick-prev:before,
    .slick-next:before {
      .material-icons;
      font-size: 2.5rem;
      color: @white;
      opacity: 1;
    }
    .slick-prev {
      left: 0;
      &:before {
        content: "\E314";
        &[dir="rtl"] {
          content: "\E314";
        }
      }
    }
    .slick-next {
      right: 0;
      &:before {
        content: "\E315";
        &[dir="rtl"] {
          content: "\E315";
        }
      }
    }
    .slick-disabled {
      background: @iconDisabled;
    }
    .slick-list {
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        padding-left: 20px;
      }
      .slick-track {
        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
          margin-left: 15px;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
          margin-left: 0px;
        }
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          margin-left: 10px;
        }
      }
    }
    .slick-slide {
      width: 105px;
      /* Desktops and Laptops */
      @media only screen and (min-width: 1224px) {
        width: 115px;
      }

      /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
      @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
        width: 90px;
      }

      @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
        width: 99px;
      }

      /* Apple iPhone X Media Queries */
      @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        width: 90px;
      }

      /* Apple iPhone 8 Media Queries */
      @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
        width: 90px;
      }

      /* Apple iPhone 8 Plus Media Queries */
      @media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
        width: 101px;
      }

      /* Portrait and landscape iPad Air and iPad Air 2 Media Queries */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 101px;
      }

      /* Portrait and landscape iPad Pro Media Queries */
      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 108px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
.smv-fullscreen-box {
  .flag-container {
    display: none;
  }
}
 .smv-thumbnails .smv-item.smv-active .smv-selector  {
	border-color: @torchRed;
}
.smv-thumbnails .smv-selector[data-type="spin"]:before {
  background: url("https://homehardware.sirv.com/resources/images/icon-360.png")
    no-repeat center;
}

.smv-thumbnails .smv-selector[data-type="video"]::before,
.smv-thumbnails .smv-selector[data-type="youtube"]::before {
  background-color: white;
  background-image: none;
  background-size: auto 85%;
}

.smv-thumbnails .smv-selector[data-type="video"]::before,
.smv-thumbnails .smv-selector[data-type="vimeo"]::before,
.smv-thumbnails .smv-selector[data-type="youtube"]::before {
  background-image: url("https://homehardware.sirv.com/resources/images/video_Icon.jpg");
}
