.prod-info-new-layout{
    .fixedHeader{
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        z-index: 100;
        width: 100%;
        left:0;
        position: fixed;
        margin-top: -15px;
        top: 0;
        @media(max-width: 767px){
            display: none;
        }
    }
    .navbar-new-pdp{
        .active{
            border-bottom: 3px solid @torchRed;
            .agenda-bold;
        }
        border-top: 1px solid #e6e6e6
    }
    #main-content-container{
        .item{
            @media (min-width: 768px) and (max-width: 828px){
                border-bottom: 1px solid @horizontalLine;
            }
            .item-content{
                @media (max-width: 828px) {
                    visibility: visible !important;
                    height: 100% !important;
                }
                .description-container {
                    .infonguides {
                        padding: 0;
                        .infoguide-title {
                            font-size: 2.2rem;
                            .agenda-bold;
                            margin: 0 0 15px;
                            text-transform: uppercase;
                        }
                        ul {
                            padding: 0 0 0 20px;
                        }
                        .infoguide-item {
                            a {
                                color:@torchRed;
                            }
                        }
                    }
                }
                #mobileSpecification{
                    padding-bottom: 10px;
                }
            }
        }  
        .mobileVisible{
            display: none;
        }
        .mobileVisible{
            @media (max-width: 828px) {
               display: block !important;
               @media (min-width: 768px) and (max-width: 828px){
                    padding-top: 13px;
                }
            }
         }
        overflow-x: hidden;
        .plusMinusMobile{
            float: right;
        }
        #specification{
            #mobileSpecification{
                width:97%;
                @media (max-width: 768px){
                    display: block;
                }
                .attributes{
                    width: 50%;
                    margin-bottom:0px;
                    border:1px solid @silver;
                    @media (min-width: 768px) and (max-width: 1024px){
                        min-height: 72px;
                    }
                    @media (max-width: 767px){
                        width: 100%;
                        min-height: 68px;
                    }
                    @media (max-width: 767px) and (orientation: landscape){
                        min-height: 72px;
                        width: 50%;
                        float: left;
                    }
                    @media (min-width: 768px) and (max-width: 828px){
                        min-height: 68px;
                    }
                    .attribute-title {
                        margin:0px;
                        background:#e6e6e6;
                        padding: 13px;
                        font-family: "Agenda_bold",sans-serif;
                        display: block;
                        float: left;
                        @media (min-width: 768px) and (max-width: 1024px){
                            min-height: 72px;
                            padding: 19px 0px 7px 13px;
                        }
                        @media (max-width: 768px){
                            min-height: 72px;
                        }
                        @media (min-width: 768px) and (max-width: 828px){
                            min-height: 72px;
                        }
                    }
                    .attribute-value {
                        margin:0px;
                        @media (min-width: 768px) and (max-width: 1024px){
                            padding: 19px 0px 7px 13px;
                        }
                        padding:10px;
                        display: block;
                        float: left;
                        @media (max-width: 768px){
                            width: 43%;
                        }
                    }
                }
            }
        }
        .product-tab-header{
            padding: 10px 0px 0px 10px;
            margin-top: 6px;
            text-transform: capitalize;
            border-bottom: 1px solid @silver;
        }
        .header-margin{
            margin-bottom: 36px;
        }
        #morelikethis{
            .certona-container {
                .slick-track {
                    .slick-slide {
                        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
                            width: 229px;
                        }
                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
                            width: 233px; 
                        }
                        @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
                            width: 173px;
                        }
                        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
                        and(-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
                            width: 265px;
                        }
                    }
                }
                .slick-arrow{
                    margin-top:-80px;
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
                        margin-top:-86px;
                    }
                }
                .slick-next{
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
                        right: 3px;
                    }
                    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
                    and(-webkit-min-device-pixel-ratio: 2){
                        right: 58px;
                    }
                }
            }
        }
        .prod-description-container{
            margin-left: 2%;
            .section-title{
                font-size: 4rem;
            }
            .DescriptionAndDetailsContainer{
                width:1120px;
                margin: 0 auto; 
                margin-bottom: 40px;
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
                    width:auto;
                }
                .productdetails-specification{
                    ul{
                        column-count: 1; 
                        -webkit-column-count: 1;   
                        margin-bottom: @gutter - 5;
                    }
                }
                .infonguides {
                    padding: 0 15px;
                    .infoguide-title {
                        font-size: 2.2rem;
                        .agenda-bold;
                        margin: 0 0 15px;
                        text-transform: uppercase;
                    }
                    ul {
                        padding: 0 0 0 20px;
                    }
                    .infoguide-item {
                        a {
                            color:@torchRed;
                        }
                    }
                }
            }
        }
        #compareproducts {
            margin-bottom: 20px;
            .certona-container {
                .slick-track {
                    .mz-productlisting.current-product:first-child {
                        border: 2px solid @productImageBorder;
                        .current-product-banner {
                            display: block !important;
                            margin-left: -16px;
                            bottom: 0;
                            background-color: @productImageBorder;
                            border: 2px solid @productImageBorder;
                            width: 114%;
                            text-align: center;
                            font-size: 1.8rem;
                            z-index: 1;
                            margin-top: 6px;
                            margin-bottom: -2px;
                            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
                                width: 116%;
                            }
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
                                width: 122%;
                            }
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
                                width: 116%;
                            }
                            h4 {
                                color: @mineShaft;
                                margin-top: 6px;
                                margin-bottom: 6px;
                            }
                        }
                    }
                    .mz-productlisting {
                        .compare-section {
                            display: inline-block !important;
                        }
                        .compare-label {
                            display: inline-block !important;
                            padding-left: 6px;
                        }
                    }
                }
                #compare-product-pdp-container {
                    .compareitems-btn {
                        margin: 30px 30px 0px 30px;
                        padding-left: 20px;
                        max-width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        .compareitems-button-container {
                            width: 100%;
                            .compare-all-button {
                                .agenda-bold;
                                width: 100%;
                                padding: 6px 25px;
                                background-color: @white;
                                color: @torchRed;
                                border: 2px solid @torchRed;
                                border-radius: 10em;
                            }
                            .compare-all-button:hover:after {
                                width: 100%;
                                background: #e4002b;
                            }
                            .compare-all-button:after {
                                content: '';
                                display: block;
                                height: 2px;
                                width: 0;
                                background: transparent;
                                transition: width .5s ease;
                            }
                        }
                    }
                }
            }
        }
        #frequentlyBought,#recentlyViewed{ 
            .mz-cms-row{
                max-width: 1325px;
                .certona-container {
                    @media only screen and (max-device-width: 767px){
                        margin-left: -25px;
                        margin-right: -10px;
                    }
                    .certona-title{
                        display: none;
                    }
                    .certona-products-container{
                        width: 100%;
                        max-width: 1140px;
                        margin: 0 auto;
                        .slick-slider{
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
                                margin-left: 0px;
                            }
                        }
                        .slick-list{
                            @media only screen and (max-device-width: 767px){
                                margin-left: 0px !important; 
                                margin-right: 15px;
                            }
                            .slick-track {
                                .slick-slide {
                                    width: 262px;
                                    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
                                        width: 217px;
                                    }
                                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
                                        width: 220px; 
                                    }   
                                    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
                                        width: 164px;
                                    }
                                    @media only screen and (max-device-width: 767px){
                                        width: 242px !important;  
                                    }
                                    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
                                    and(-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
                                        width: 263px;
                                    }
                                }
                            }
                        }
                    }
                }  
            }
        }
        #mobileOverview{
            .productdetails-specification ul{
                @media only screen and (max-device-width: 768px){
                    column-count: 1;
                    margin-bottom: @gutter - 5;
                }
            }
        }
    }
    .navbar-new-pdp{
        z-index: 1;
        background: white;
        @media (min-width: 768px) and (max-width: 991px){
            margin-top: -2px;
        }
        .prod-info-tab{
            border-bottom: none !important;
            .custom-tab{
                @media only screen and (min-width : 768px) and (max-width : 1024px){
                    font-size: 1.6rem !important;
                }
                li{
                    width:25% !important;
                    a{
                        height: 55px;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
            }
        }
        #newPdpMainNavbar{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .pdp-main-container{
        background:white;
        .goToTop {
            position: fixed;
            top: 0;
            height: 70px;
            z-index: 1;
            display: block !important;
        }
        #pdpHeader { 
            height: 106px;
            width: 100%;
            display: none;
            margin-top: 14px;
            position: relative;
            background-color: white;
            // border-bottom: 1px solid #e6e6e6;
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
                height: 120px;
            }
        }
        .product-details-header{
            .header-midsection{
                .header-image{
                    padding: 10px;
                    margin: 6px auto;
                    float: left;
                    height: 85px;
                    width: 85px;
                    margin-left: 10%;
                    @media(max-width : 1024px)  { 
                        margin-left: 25px;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
                        margin-left: 25px;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
                        margin-left: 0px;
                    }
                }
                .product-header-section{
                    .product-header-details{
                        .product-brand{
                            font-size: 16px;
                            margin-bottom: 4px;
                            a{
                                border-bottom: 1px solid transparent;
                                color: @mineShaft;
                                padding-bottom: 2px;
                                color: @torchRed;
                                font-family: "Agenda_bold",sans-serif;
                            }
                            span{
                                cursor: pointer;
                                font-family: "Agenda",sans-serif !important;
                                color: @linkVisitedColor !important;
                                text-transform: capitalize;
                            }
                            .furnitureBrand{
                                text-decoration: none;
                            }
                        }
                        .productdetails-title{
                            .clearanceTagImg{
                                .agenda-bold();
                                color: black;
                                padding: 5px 10px;
                                background-color:@signUpBtnBg;
                                font-size: 1.7rem;
                                line-height: 1;
                                border-radius: 0;
                                display: inline-block;
                                vertical-align: middle;
                                @media (min-width: 768px) and (max-width: 991px){
                                    font-size: 1.3rem;
                                    line-height: 1.3;
                                }
                            } 
                            font-weight: bold;
                            margin-top: 0px;
                            width: 70%;
                            margin-bottom: 4px;
                            font-size: 2.4rem !important;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @media (min-width: 768px) and (max-width: 1024px){
                                width: unset;
                            }
                            .product-badge{
                                top:0 !important;
                            }
                        }
                        ul.productdetails-detail{
                            padding-left: 0px;
                            margin-top: 0px;
                            color: @storeClosedStatus;
                            font-size: 80%;
                            font-weight: 400;
                            li{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .shippingSection{
                margin: 14px 0px 0px 0px;
                @media(max-width : 1281px){
                    display: none;
                }
                .shipping-info{
                    .shipping-icon{
                        height: 40px;
                        text-align: center;
                        display: inline-block;
                        .icon{
                            float: left;
                            height: 100%;
                        }
                        .storeicon{
                            display: none;
                        }
                        .shipping-msg{
                            font-weight: bold;
                            margin: 0;
                            line-height: 40px;
                            float: left;
                            margin-top: 6px;
                            margin-left: 15px;
                            @media (max-width: 1242px){
                                margin-left: 5px;  
                            }
                        }
                        .free-shipping-msgs{
                            display: none;
                        }
                    }
                    .free-shipping-msgs{
                        margin: 0px;
                        font-size: 1.6rem;
                    }
                    &.storeAllowsSTH{
                        .shipping-icon{
                            .icon{
                                float: none;
                                display: inline-block;
                            }
                            .storeicon{
                                display: inline-block;
                            }
                            .shipping-msg{
                                display: none;
                            }
                            .free-shipping-msgs{
                                display: block;
                            }
                        }
                        .free-shipping-msgs{
                            display: none;
                        }
                    }
                }
            }
            .header-right-section{
                position:relative;
                height:100%;
                @media(min-width: 1024px){
                    float: right;
                }
                @media(max-width: 992px){
                    text-align: center;
                }
                .english_icon{
                    background:url("{{ themeSettings.sirvResourceImageUrl }}/english_top_icon.jpg");
                }
                .french_icon{
                    background:url("{{ themeSettings.sirvResourceImageUrl }}/french_top_icon.jpg");
                }
                #scrollToTopBtn{
                    position: absolute;
                    left: 77%;
                    width: 55px;
                    height: 58px;
                    text-indent: -999em;
                    font-size: 0;
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
                        top: -6px;
                        left: 76%;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
                        top: -6px;
                        left: 80%;
                    }
                    @media(max-width : 1232px){
                        left: 80%; 
                    }
                    &:after{
                        display: block;
                        clear: both;
                        content: " ";
                        font-size: 0;
                        height: 0;
                    }
                }
                .mz-price-new-pdp{
                    .agenda-bold();
                    display: inline-block;
                    font-size: 3rem;
                    position: absolute;
                    top: 49%;
                    margin-left: 10px;
                    transform: translateY(-50%);
                    @media(min-width : 1367px) {
                        top:50%;
                    }
                    @media only screen 
                    and (min-device-width: 768px) 
                    and (max-device-width: 1024px) 
                    and (-webkit-min-device-pixel-ratio: 2){
                        top:30%; 
                    }
                    @media only screen 
                    and (min-device-width: 768px) 
                    and (max-device-width: 1024px) 
                    and (-webkit-min-device-pixel-ratio: 2) 
                    and (orientation: portrait){
                        margin-left: 35px;
                    }
                    @media only screen 
                    and (min-device-width: 1024px) 
                    and (max-device-width: 1366px) 
                    and (-webkit-min-device-pixel-ratio: 2){
                        margin-left: 10px;
                        top:49%; 
                    }
                    @media(max-width: 992px){
                        display: block;
                        top: inherit;
                        transform: inherit;
                        position: relative;
                    }
                }
                #add-to-cart-new-pdp{
                    background-color: @torchRed;
                    border: 1px solid @torchRed;
                    color: white;
                    font-family: "Agenda_bold", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 1;
                    text-align: center;
                    border-radius: 22px;
                    padding: 12px 15px 10px;
                    width: 38%;
                    display: inline-block;
                    position: relative;
                    top: 30%;
                    padding-left: 0;
                    padding-right: 0;
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait) {
                        width: 41%;
                        margin-left: 9%;
                    }
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:landscape) {
                        width: 46%;
                    }
                    @media(max-width: 992px){
                        margin-top: 4%;
                    }
                    .new-btn-primary();
                }
                #add-to-cart-new-pdp:hover{
                    background-color: #9f001c;
                    text-decoration: none;
                    border-color: #9f001c;
                }
                #add-to-wishList-new-pdp{
                    border: 2px solid @color-primary-red;
                    font-family: "Agenda_bold",sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 1;
                    text-transform: uppercase;
                    text-align: center;
                    border-radius: 22px;
                    padding: 12px 15px 10px;
                    width: 60%;
                    display: block;
                    background-color: @white;
                    border: 1px solid @torchRed;
                    color: @torchRed;
                    padding-left: 0;
                    padding-right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    @media only screen 
                    and (min-device-width: 768px) 
                    and (max-device-width: 1024px) 
                    and (-webkit-min-device-pixel-ratio: 2){
                        top: 30%;   
                    }
                    @media only screen 
                    and (min-device-width: 1024px) 
                    and (max-device-width: 1366px) 
                    and (-webkit-min-device-pixel-ratio: 2){
                        top: 50%; 
                    }
                    &:before{
                        content: "\E242";
                        .material-icons;
                        font-size: 2.2rem;
                        line-height: 0;
                        margin-right: @gutter - 19;
                        vertical-align: middle;
                    }
                    &:disabled{
                        &:before{
                            content: "\E86C";
                        }
                    }
                    @media only screen and (min-width : 768px) and (max-width : 1024px){
                        width: 54%;
                        margin-left: 68px;
                    }
                }
            }
            .productdetails-detail li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}
.home-furniture-content{
    .pdp-main-container{
        .product-details-header{
            .header-midsection{
                .header-image{
                    @media only screen and (min-width : 1260px) and (max-width : 1366px){
                        margin-left: 6%;
                    }
                }
            }
        }
    }
}
@media print {
    * {
        color: @primary-color !important;
    }
    body {
        overflow: auto;
        height: 100%;
    }
    .top-header {
        display: none;
    }
    .header-container-wrapper {
        display: none;
    }
    .mz-sitenav {
        display: none;
    }
    .header-notifications {
        display: none;
    }
    .mz-breadcrumbs {
        display:none;
    }
    #mz-drop-zone-alert-banner {
        display:none;
    }
    #category-page-container {
        display:none;
    }
    .mz-product .mz-l-container{
        display:block;
    }

    .mz-category .container {
        .recently-viewed {
            display:none;
        }
    }
    #compare-product-modal {
        color: @primary-color !important;
        background-color: @white;
        position: relative;
        .modal-header {
            .row {
                margin: 0;
            }
            .topMenu {
                margin-left: 15px;
                position: relative !important;
                .modal-close {
                    display:none;
                }
                .modal-close:before {
                    display:none;
                }
                .print-icon {
                    display:none;
                }
                .mz-storebranding {
                    display:none;
                }
                .modal-title {
                    display:none;
                }
                .img-section {
                    display:none;
                }
                .print-store-info {
                    display:block;
                    .print-branding {
                        width: 35px;
                        height: 35px;
                        margin-right: 15px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        text-indent: -99999px;
                    }
                    .print-title {
                        font-size: 2.2rem;
                        color: @primary-color !important;
                        .agenda-bold;
                        display: inline-block;
                    }
                    .storeName {
                        font-family: 'Agenda_bold';
                        font-size: 1.6rem;
                        color: @torchRed !important;
                        margin-top: 10px;
                        .fa.fa-map-marker:before {
                            color: @torchRed !important;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .modal-body {
            display: block;
            max-height: 100% !important;
            table.compare-product-table {
                .table-body-element {
                    padding: 15px 5px !important;
                }
                .product-name-section {
                    font-size: 2.2rem !important;
                    .prod-name {
                        height: 46px !important;
                    }
                }
                .removebtn {
                    display: none;
                }
            }
            .bv_main_container {
                .bv_numReviews_component_container {
                    padding-left: 0px !important;
                }
            }
            .product-link {
                font-size: 1.4rem !important;
            }
            .view-product {
                display: none;
            }
        }

    }
}
&.french-content{
    .prod-description-container{
        .mainTitle{
            text-transform: none;
        }
        .product-tab-header{
            text-transform: none !important;
        }
    }
}