.mz-productlisting {
    width: calc(50% - 30px);
    padding: @gutter - 10;
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display:flex;
    
	@media (min-width: 767px) {
	    width: 33.3333333333%;
	    display: block;
      	padding-bottom: 0;
      	// padding-bottom: @gutter + 15;
    	position: relative;
	}
	
	@media (max-width: 767px) {
	    width: 100%;
	}

	@media (max-width: 767px){
		min-height: 170px;
	}
	@media (max-width: 767px) and (orientation: landscape){
		min-height: 200px;
	}
	.current-product-banner {
        display: none;
    }
	.compare-section {
		width: 16px;
    	height: 16px;
		.checkbox-label-inside{
			width: 16px;
    		height: 16px;
    		min-height: 16px;
    		border-radius: 2px;
		}
		@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
	    	display: none;
	    }
	}
	.compare-label {
		font-weight: normal;
		@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
	    	display: none;
	    }
	}
	.mz-productlisting-image {
		position: relative;
	    display: block;
	    width: 285px;
	    margin: 0 @gutter 0 0;
		overflow: hidden;
		img.mz-product-articleImage {
	        @media (min-width: 1200px) {
	            height:188px !important;
	        }
	        
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
			    width:215px !important; 
				height: 155px !important;
			}
			@media only screen 
				    and (device-width : 414px) 
				    and (device-height : 896px) 
				    and (-webkit-device-pixel-ratio : 2) and (orientation: landscape) { height: 97px !important; }
			@media (max-width: 767px){
				height: 74px !important;
			}
			@media (max-width: 767px) and (orientation: landscape){
				height: 97px !important;
			}
		}
		.plp-no-border {
			img {
				border: 0 !important;
			}
		}
		@media (min-width: 768px) {
		    width: 100%;
    		margin: 0 0 15px;
		}
		
		&:hover {
			.quickview {
				opacity: 1;
			}
		}
		
		.image-wrap {
		    display: block;
    		position: relative;
    		
    		.badge {
   			    .agenda-bold;
			    color: @white;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    padding: @gutter - 20 @gutter - 15;
			    background: @torchRed;
			    font-size: 1.6rem;
			    border-radius: 0;
				z-index: 1;
    		}
			
			.clearanceTagImg{
				.agenda-bold();
				color: black;
				position: absolute;
				bottom: 0;
				left: 0;
				line-height: 1;
				padding: 5px 10px;
				background-color:@clearance;
				font-size: 1.4rem;
				border-radius: 0;
				z-index: 1;
				@media (min-width: 768px) and (max-width: 991px){
                    font-size: 1.3rem;
                    line-height: 1.3;
				}
				@media (max-width: 767px){
					padding: 6px;
				    font-size: 1.4rem;
				}
				@media (max-width: 767px) and (orientation: landscape){
					font-size: 1.3rem;
				}
			}
			.showSaleTag{
				@media (max-width: 767px){
					bottom: 1px;
					width: 100%;
					z-index: 1;
				}
			}
    		img {
   			    display: block;
   				width: 100%;
   				height:auto;
				border: 1px solid #ccc;
   			}
   		}
   		
   		.product-options {
			.option-box {
				display: inline-block;
				vertical-align: middle;
			    font-size: 0;
			    width: 14px;
			    height: 14px;
		        border: 1px solid @formInputBorder;
		        background-repeat: no-repeat;
			    background-position: center center;
			    background-size: cover;
				@media (min-width: 768px) {
				    width: 22px;
				    height: 22px;
				}
			}
			.option-text {
			    margin-top: @gutter - 21;
				margin-bottom: @gutter - 22;
				display: inline-block;
				vertical-align: middle;
			    font-size: 1.6rem;
			}
		}
		
		.quickview {
		    display: block;
		    position: absolute;
		    top: 1px;
		    left: 1px;
		    right: 1px;
		    opacity: 0;
		    z-index: 1;
		    text-align: center;
		    padding: 5px;
		    background: rgba(255, 255, 255, 0.6);
		    -webkit-transition: all 0.2s ease-in-out;
		    transition: all 0.2s ease-in-out;
		    
		    @media (max-width: 1024px) {
			    display: none;
			}
		    
		    .quickview-button {
	    	 	.btn();
    	     	.btn-small();
    	     	background: transparent;
			    border: 1px solid @link-red;
				color: @link-red;
				.agenda-bold;
			    &:hover{
			    	text-decoration:none;
			    }
		    }
		}
	}
	
	.mz-productlisting-info {
	    width: 100%;
	    margin-bottom: @gutter/5 * 3;
        @media (min-width: 768px) {
       	    width: auto;
        }
        .mz-productlisting-title {
            font-weight: normal;
		    margin: 0 0 @gutter / 5 + 3;
		    color:@primary-color;
		    line-height:@gutter - 7.4;
		    &:hover,visited{
		    	color:@primary-color;
		    }
		    &.add-ellipsis {
		    	display: block;
				display: -webkit-box;
				-webkit-line-clamp: 2;
			   -webkit-box-orient: vertical;
			   overflow: hidden;
			   text-overflow: ellipsis;
			   height: @gutter + 9;
		    }
	    }
	    .product-code{
	    	font-size:1.6rem;
	    	margin:0 0 @gutter/5;
	    	display: inline-block;
	    }
	    .mz-price{
	    	.agenda-bold;
	    	font-size:1.7rem;
	    	margin-right: @gutter - 22;
	    	.selling-unit{
	    		font-size:1.2rem;
	    		margin-left: @gutter/5 - 8;
	    	}
	    }
	    .bv-cv2-cleanslate .bv-core-container-5 .bv-inline-rating-container .bv-rating-stars-on{
			color:@torchRed !important;
		}
		
		.inline-ratings-category-page{
			height:30px;
			.bv_main_container{
			  	position:absolute !important;
			}	
		}
		
	    .brand-name {
	    	.agenda-bold;
   			margin: 0 0 @gutter/5 + 3;
   			line-height:1;
   			display: inline-block;
   			&.add-ellipsis {
		    	display: block;
				display: -webkit-box;
				-webkit-line-clamp: 1;
			   -webkit-box-orient: vertical;
			   overflow: hidden;
			   text-overflow: ellipsis;
			   height: @gutter - 8;
		    }
	    }
	    
	    .products-points {
	    	display: none;
	    }
	    .product-details {
			margin-bottom: @gutter/5;
	    	.product-options {
	       	    display: none;
	    	}
		    .product-status{
		    	font-size:1.6rem;
		    	margin-top:@gutter - 15;
		    	margin-bottom:0;
		    	color:@productStatus;
		    }
		    .price-wrap{
		    	.mz-pricestack{
		    		margin:0;
		    		@media (min-width: 1366px) {
				    	width: 170px;
				    } 
				    @media (min-width: 768px) {
		            	width: 155px;
		            }
		    	}
		    	.saved-price{
	    			margin:0 0 @gutter - 15;
	    			.promo-amount{
	    				.agenda-bold;
	    			}
	    		}
	    		.product-not-available{
	    			.agenda-bold;
	    			margin:0;
	    			font-size:1.5rem;
	    			margin : @gutter/5 0 0 0;
	    		}
		    }
		}
    }
	
	.mz-productlisting-shortdesc {
        margin: @gutter/4 @gutter/2 @gutter/4 0;
    }
    .mz-productlisting-productcode {
        font-size: @fontSizeSmall;
    }
	.no-image {
		width: 100%;	
	}
    .mz-productlisting-imageplaceholder {
        display: block;
        height: @productListingThumbSize;
        width: @productListingThumbSize;
        background: @slider-arrow-background;
        line-height: @productListingThumbSize;
        text-align: center;
        color: @sgilightgray;
        > * {
            vertical-align: middle;
        }

        > .mz-productlisting-imageplaceholdertext {
            vertical-align: top;
        }
    }

    &.mz-productlisting-forlocation {
        .mz-productlisting-image, .mz-productlisting-info {
            float: left;
            margin: @gutter/2;
        }
    }
    
    .quickview {
	    text-align: center;
	    bottom: 0;
    	position: absolute;
    	width: ~'calc(100% - 30px)';
    	
	    @media (max-width: 1024px) {
		    display: none;
		}
	    
	    .quickview-button {
    	 	.btn();
			padding: @gutter - 13 @gutter/5 * 3 @gutter/5 * 2;
			display: inline-block;
   	     	background: transparent;
	        width: 100%;
		    color: @link-red;
			.agenda-bold;
			@media (min-width:992px) {
				padding: @gutter - 13 @gutter - 12 @gutter - 13;
			}
		    &:hover{
		    	text-decoration:none;
		    }
	    }
	    
	    
	}
	.smv-slides-box {
		&:hover{
			.smv-arrow-control{
				&.smv-arrow-control-next {
					.smv-arrow {
						background-color:#C4C4C4 !important;
						border-radius: 9px 0px 0px 9px;
						.smv-icon {
							background-color:#fff;
						}
					}
				}
				&.smv-arrow-control-prev {
					.smv-arrow {
						background-color:#C4C4C4 !important;
						border-radius: 0px 9px 9px 0px;
						.smv-icon {
							background-color:#fff;
						}
					}
				}
			}
		}
	}
	.smv-h .smv-arrow-control-next {
		right: -17px;
	}
	.smv-h .smv-arrow .smv-icon {
		mask-image: url(data:image/64;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAXElEQVRIiWNgGAWjAAoYoZhmhk9kYGCYQStLHBgYGP4xMDD8h1pEE0vSkSyhmU9GqCVMtHABJYCmQTR0DacoozEToeYhAwODIAMDw0UGBoZcqEVUBzQt7EbBEAcA9pke7TZh8K8AAAAASUVORK5CYII=);
		-webkit-mask-image: url(data:image/64;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAXElEQVRIiWNgGAWjAAoYoZhmhk9kYGCYQStLHBgYGP4xMDD8h1pEE0vSkSyhmU9GqCVMtHABJYCmQTR0DacoozEToeYhAwODIAMDw0UGBoZcqEVUBzQt7EbBEAcA9pke7TZh8K8AAAAASUVORK5CYII=);
	}
	.smv-arrow-control .smv-arrow { 
		width: 30px;
	}
	.smv-h .smv-arrow-control-prev {
		left: -17px;
	}
	  .smv-arrow-control .smv-arrow {
		height: 40px;
	}
	.smv-bullets.smv-h .smv-selectors {
		min-height:auto !important;
		align-items: baseline;
	}
	.smv-slides-box {
		margin: 15px 0px;
	}
	.smv.smv-selectors-bottom {
		border: 1px solid #ccc;
	}
	.smv-bullets.smv-h .smv-selectors .smv-item:first-child:last-child {
		visibility: hidden;
	}
	.smv-bullets.smv-h .smv-selectors .smv-item:first-child:last-child {
		visibility: hidden;
	}
	.smv-bullets.smv-h .smv-selectors .smv-item .smv-selector{
		width: 6px;
		height: 6px;
		@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
			width: 5px;
			height: 5px;
		}
		@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
			width: 5px;
			height: 5px;
		}
		@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
			width: 5px;
			height: 5px;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 3) {
			width: 5px;
			height: 5px;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 4) {
			width: 5px;
			height: 5px;
		}
		@media only screen and (min-width: 412px) and (max-width: 767px) {
			width: 5px;
			height: 5px;
		}
		@media only screen and (min-device-width: 393px) and (max-device-width: 830px) { 
			width: 5px;
			height: 5px;
			}
		@media only screen and (min-device-width: 393px) and (max-device-width: 830px) { 
			width: 5px;
			height: 5px;
			}
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
			width: 5px;
			height: 5px;
		}
	}
	
	
}
@media (min-width:768px) {
	.mz-productlist-tiled{
		.line-separator {
			border: 0;
			height: 1px;
			margin: 1em 0 1em 1em;
			border-top: 1px solid @formInputBorder;
			width: ~'calc(100% - 30px)';
		}
	}

	.mz-productlist-tiled.list{
		padding-right: 15px;
		padding-left: 15px;
		.line-separator {
			display: none;
		}
		.mz-productlisting{
			border-bottom: 1px solid @formInputBorder;
			padding:30px 0 30px 0;
			.current-product-banner {
                display: none;
            }
		}
		& +.mz-pagenumbers{
			border: none;
			padding-top: 0;
		}
	}

	.mz-pagenumbers{
		border-top: 1px solid @formInputBorder;	
		padding-top: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.mz-productlisting{
		border-bottom: 1px solid @formInputBorder;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.mz-productlist {
	#mz-drop-zone-expert-advice-bropzone {
		&.isdropped {
			width: 33.333333333%;
		
			@media (max-width: 767px) {
				width: 100%;
			}
			
			.mz-cms-row, 
			.mz-cms-col-12-12,
			.mz-cms-block,
			.mz-cms-content {
			    height: 100%;
			}
			
			.mz-cms-content {
				padding: 0;
				width: 100%;
			}
		}
	}
	&.list {
	
		#mz-drop-zone-expert-advice-bropzone {
			width: 100%;
		}
		
		.mz-productlisting {
		    width: 100%;
		    .current-product-banner {
                display: none;
            }
		    .mz-productlisting-image {
		    	@media (min-width: 768px) {
		    		position: relative;
				    display: block;
				    min-width: 130px;
				    width: 30%;
				    margin: 0 30px 0 0;
				    overflow: hidden;
				    float: left;
		    	}
		    }
			    
			.mz-productlisting-info {
			
				@media (min-width: 768px) {
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
			width: auto;
				}
				
				.product-details {
					display: -webkit-box;     
				    display: -moz-box;         
				    display: -ms-flexbox;     
				    display: -webkit-flex;     
				    display:flex;
				    
				    .price-wrap,
				    .points-wrap {
				    
					    @media (min-width: 768px) {
					    	-webkit-box-flex: 1;
						    -webkit-flex: 1;
						    -ms-flex: 1;
						    flex: 1;
					    }
				    	
				    }
				    
				    .price-wrap {
				    	.mz-pricestack {
				    		margin: 0 0 @gutter/5 + 3;
				    	}
				    }
				
					.points-wrap {
						.products-points {
							@media (min-width: 768px) {
								display: block;
							    margin: 0 0 @gutter + 5;
		  						padding: 0 0 0 @gutter - 5;
							}
							strong{
								.agenda-bold;
							}
						}
					}
					
				}
				.available-stock{
					margin-bottom: @gutter - 10;
				}
				
			}
			
			.quickview {
		    	text-align: inherit;
    	    	position: relative;
	    	    width: auto;
		   
			    .quickview-button {
		    	 	width: auto;
			    }
			}
		}
	}
}

.expert-advice-tile {
	    background: @torchRed;
	    border: solid 1px @torchRed;
	    background-clip: content-box;
	    margin: 0;
   		width: 100%;
	    height: 100%;
	    padding: @gutter - 20;
	    display: block;
		
		@media (min-width: 768px) {
		    padding: @gutter - 15;
		}
		
	 	@media (max-width: 767px) {
		 	display: -webkit-box;     
		    display: -moz-box;         
		    display: -ms-flexbox;     
		    display: -webkit-flex;     
		    display:flex;
	 		width: auto;
	  	    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-box-align: stretch;
		    -webkit-align-items: stretch;
		    -ms-flex-align: stretch;
		    align-items: stretch;
		    min-height: 180px;  	
		    margin: 15px;
	    }
	
		.tile-image {
			width: 100%;
		    height: 160px;
		    background-repeat: no-repeat;
		    background-position: center center;
		    background-size: cover;
		    
		    @media (max-width: 767px) {
		    	-webkit-box-flex: 0;
			    -webkit-flex: 0 0 130px;
			    -ms-flex: 0 0 130px;
			    flex: 0 0 130px;
			    height: auto;
		    }
		}
		
		.content {
		    position: relative;
		    color: @white;
    		font-size: 1.7rem;
    		padding: @gutter - 13;
    		
		    @media (min-width: 768px) {
	    	    display: block;
    			padding: @gutter - 5;
		    }
		    
		    @media (max-width: 767px) {
	    	    padding-top:  @gutter - 10;
    			padding-left:  @gutter + 5;
		    }
		    
			.title {
				.agenda-bold;
				line-height: 1.1;
			    color: @white;
			    display: inline-block;
			    margin-bottom: @gutter - 10;
				font-size: 1.7rem;
				
				@media (min-width: 768px) {
				    font-size: 1.5rem;
				}
				
				@media (min-width: 992px) {
					font-size: 3rem;
				}
			
			}
			
			.bottom-link {
			    .agenda-bold;
    			color: @white;
			}
			
			p {
			    margin: 0 0 @gutter - 10;
			}
		}
	
	}
	
	&.list {
	
		#mz-drop-zone-expert-advice-bropzone {
			width: 100%;
		}
		
		.mz-productlisting {
		    width: 100%;
		    .current-product-banner {
                display: none;
            }
		    .mz-productlisting-image {
		    	@media (min-width: 768px) {
		    		position: relative;
				    display: block;
				    min-width: 130px;
				    width: 30%;
				    margin: 0 30px 0 0;
				    overflow: hidden;
				    float: left;
				}
				.product-options {
					@media (min-width: 768px) {
						display: none;
					}
			    }
		    }
			    
			.mz-productlisting-info {
			
				@media (min-width: 768px) {
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
			        width: auto;
				}
				
				.product-details {
					display: -webkit-box;     
				    display: -moz-box;         
				    display: -ms-flexbox;     
				    display: -webkit-flex;     
				    display:flex;
				    
				    .price-wrap,
				    .points-wrap {
				    
					    @media (min-width: 768px) {
					    	-webkit-box-flex: 1;
						    -webkit-flex: 1;
						    -ms-flex: 1;
						    flex: 1;
					    }
				    	
				    }
				    
				    .price-wrap {
				    	.mz-pricestack {
				    		margin: 0 0 @gutter - 5;
				    	}
				    	
			    	.product-options {
		   			    display: none;
						@media (min-width: 768px) {
						    display: block;
						}
						.option-box {
							display: inline-block;
							vertical-align: middle;
					        border: 1px solid @formInputBorder;
					        background-repeat: no-repeat;
						    background-position: center center;
						    background-size: cover;
							@media (min-width: 768px) {
							    margin: 0 @gutter - 20 0 0;
							    width: 22px;
							    height: 22px;
							}
						}
						.option-text {
						    margin-top: @gutter - 21;
		  					margin-bottom: @gutter - 22;
		  					display: inline-block;
		  					vertical-align: middle;
	 					    font-size: 1.6rem;
						}
					}
				    }
				
					.points-wrap {
						.products-points {
							@media (min-width: 768px) {
								display: block;
							    margin: 0 0 @gutter + 5;
		  						padding: 0 0 0 @gutter - 5;
							}
							strong{
								.agenda-bold;
							}
						}
					}
					
				}
				
			}
		}
}
.french-content{
	.mz-productlisting{
		.current-product-banner {
            display: none;
        }
		@media (max-width: 767px){
			min-height: 170px;
		}
		@media (max-width: 767px) and (orientation: landscape){
			min-height: 200px;
		}
		.mz-productlisting-image .image-wrap{
			.clearanceTagImg{
				@media (min-width: 768px) and (max-width: 991px){
                    font-size: 1.1rem;
				}
			}
			.showSaleTag{
				@media (max-width: 767px){
					bottom: -25px;
				}
			}
		}
	} 
}





/* CHRIS B: 2021-08-19 */
/* SIRV optimizations */
.mz-productlisting .mz-productlisting-image .image-wrap {
	position: relative;
	height: 100%;
}
.mz-productlisting .mz-productlisting-image .image-wrap .mz-productlisting-image-placeholder {
	position: relative;
	top: 0;
	left: 0;
	height: auto;
	max-width: 100%;
	padding: 15px 0 35px;
	z-index: 1;
	border: 0;
}
.mz-productlisting .mz-productlisting-image .image-wrap .mz-productlisting-image-placeholder ~ .Sirv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
