.mz-productoptions {
	.mz-productoptions-optionlabel{
		font-weight: normal;
		margin-bottom:0;
		cursor:default;
	}
	
	.mz-productoptions-valuecontainer {
		position: relative;
		.mz-productoptions-option {
			height: 41px;
    		margin-top: @gutter - 15;
   		    border: 1px solid @formInputBorder;
		    width: 100%;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    background-color: @white;
		}
		
		&:after {
			    height: 41px;
			    width:40px;
			    line-height: 41px !important;
			    color: @primary-color;
			    .material-icons;
			    content: "\E313";
		        font-size: 3rem;
	            position: absolute;
			    bottom: 0;
			    right: 0;
			    pointer-events: none;
			    text-align: center;
			}
	}
	.color-picker{
		.color-picker-options{
			padding: 0;
	    	font-size: 0;
	    	margin: @gutter - 17 0 0;
	    	position:relative;
	    	.option{
	    		display: inline-block;
	    		margin: 0 @gutter - 17 0 0;
	    	}
	    	.selected-color{
    			font-size:1.6rem;
    			position:absolute;
    			display:block;
    			left:0;
    		}
		}
		.color-picker-option{
			position: relative;
    		width: @gutter + 11;
    		height: @gutter + 11;
    		border: 1px solid @productOptionBorder;
    		.color-input{
    			visibility:hidden;
    		}
    		.color-option-label{
    			width: @gutter + 9;
			    height: @gutter + 9;
			    margin: 0;
			    cursor: pointer;
			    position: absolute;
			    top: 0;
			    left: 0;
			    border: 6px solid @white;
    		}
		}
		.color-picker-option-selected {
    		border-color: @torchRed;
    		margin-bottom: @gutter - 15;
    		&:after{
    			content: " ";
			    position: absolute;
			    top: @gutter + 9;
			    left: @gutter - 13;
			    width: 0;
			    height: 0;
			    z-index: 0;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 5px solid @torchRed;	
    		}
		}
	}
}