#QuickviewModal {
  .modal-dialog {
    width: auto;
    margin: 0px;

    @media (min-width: 768px) {
      margin: @gutter + 5;
    }

    @media (min-width: 992px) {
      margin: @gutter + 5 auto;
      width: @gutter * 32;
    }
    .modal-content {
      .modal-close {
        .material-icons;
        font-size: 3rem;
        position: absolute;
        top: @gutter - 15;
        right: @gutter - 15;
        width: @gutter + 11;
        height: @gutter + 11;
        text-decoration: none;
        text-align: center;
        color: @primary-color;
        z-index: 1;
        &:before {
          content: "\E14C";
        }

        @media (min-width: 768px) {
          top: @gutter;
          right: @gutter - 2;
        }
      }

      .modal-body {
        overflow: hidden;
        padding: @gutter + 15 @gutter - 15;

        @media (min-width: 768px) {
          padding: @gutter + 5 @gutter + 5;
        }

        .productdetails-container {
          margin-top: @gutter;
          .product-details {
            .mz-productimages-main{
              .no-image {
                width:100%;
              }
            }
            .mz-productimages {
              width: auto !important;
              .play-video {
                position: absolute;
                font-size: 2.6rem;
                color: @white;
                pointer-events: none;
              }
              .no-image {
                width: 100%;
              }
              // .mz-productimages-main {
              //     display: block;
              //     position: relative;
              // 	margin: 0 0 @gutter - 5;
              // 	width: auto !important;
              // 	.image-zoom-icon {
              //     	display: block;
              // 	    position: absolute;
              // 	    bottom: @gutter - 19;
              // 	    right: @gutter - 19;
              // 	    font-size: 3.6rem;
              // 	    color: @torchRed;
              // 	    pointer-events: none;
              //     }
              //     .smv-selectors-box.smv-h {
              // 		@media only screen and (min-width : 1200px) {
              // 			width: 100%;
              // 		}
              // 	}
              //     .product-images{
              //     	width: auto !important;
              //     	.mz-productimages-mainimage{
              //     		max-width:100%;
              //     		height: auto !important;
              // 		}
              // 	}
              // 	.flag-container{
              // 		position: absolute;
              // 		bottom: 0;
              // 		left: 0;
              // 		z-index: 1;
              // 		background-color: #9B26B6;
              // 		padding: 0 @gutter - 10;
              // 		.flag-badge{
              // 			.flag-badge-content{
              // 				.badge-title{
              // 					color:@white;
              // 					@media (max-width: 767px) {
              // 						font-size: 1.4rem;
              // 					}
              // 				}
              // 			}
              // 		}
              // 		@media(max-width:767px){
              // 			padding: 0 10px;
              // 		}
              // 	}
              // }
            }
            .productdetails-title {
              .agenda-bold;
              font-size: 2.6rem;
              margin: 0 0 @gutter - 5;
              .clearanceTagImg {
                .agenda-bold();
                color: black;
                padding: 5px 10px;
                background-color: @clearance;
                font-size: 1.7rem;
                line-height: 1;
                border-radius: 0;
                display: inline-block;
                vertical-align: middle;
                @media (min-width: 768px) and (max-width: 991px) {
                  font-size: 1.3rem;
                  line-height: 1.3;
                }
              }
              @media (min-width: 768px) {
                font-size: 3.4rem;
              }
            }

            .mz-productimages {
              margin-top: @gutter / 5 * 3;
              .mz-productimages-main {
                .image-zoom-icon {
                  display: none;
                }
                .ign-video-container {
                  .main-play-video {
                    top: 45%;
                    left: 45%;
                  }
                }
              }
              .mz-productimages-thumbs {
                .thumbimage-container {
                  .ign-productvideos-thumb {
                    .play-video {
                      top: 3%;
                      left: 22%;
                      font-size: 2rem;
                    }
                  }
                }
                .slick-slide {
                  .ign-productvideos-thumb {
                    .play-video {
                      top: 0%;
                      left: 35%;
                      font-size: 2.4rem;
                    }
                  }
                }
              }
            }
            .productdetails-detail {
              padding: 0;
              list-style: none;
              margin: 0 0 @gutter;
              padding-bottom: @gutter - 10;
              border-bottom: 1px solid @horizontalLine;
              .productdetails-title {
                margin-right: @gutter * 2;
              }
              li {
                @media (min-width: 768px) {
                  display: block;
                  vertical-align: bottom;
                  margin: 0 @gutter - 5 0 0;
                }
                &:first-child {
                  margin-right: 0;
                }
              }
            }
            .product-brand {
              .agenda-bold;
              text-transform: uppercase;
            }
            .product-supplierdirect {
              border-bottom: none;
              padding-bottom: 0;
            }
          }

          .mz-productdetail {
            .mz-productdetails-shipping {
              .prefer-store-block {
                display: none;
              }
            }

            .mz-price-container {
              display: none;
            }
          }
          .boh-info {
            .call-store-availability {
              width: 75%;
              line-height: 30px;
            }
          }
          .shipping-store-details {
            .pickup-date {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
