.myaccount-order-history {
	.agenda;
	font-size:1.6rem;
	.mz-l-stack-sectiontitle{
		font-size:3.4rem;
		margin:0 0 @gutter - 8;
		.agenda-bold;
		line-height:1.1;
		@media(max-width:767px){
			font-size:2.6rem;
		}
	}
	
	.mz-pagenumbers {
		   .mz-pagenumbers-prev {
		   		float: none;
		   		&.is-disabled {
		   			float: none;
		   		}
		   }
		   .mz-pagenumbers-next {
		   		float: none;
		   		&.is-disabled {
		   			float: none;
		   		}
		   }
	}
	.mz-l-paginatedlist-list {
		.content-loading {
    				    width: 100%;
		    height: 100%;
		    position: absolute;
		    display: none;
		    z-index: 99;
		    text-align: center;
		    top: 0;
		    left: 0;
		    opacity: 0.5;
		    background: rgba(255,255,255,0.7);
		    .loading-image {
			    width: 150px;
			    margin: 0px auto;
		    }
    	}
	}
	.no-orderhistory{
		.no-order-labels{
			.agenda-bold;
			font-size:1.6rem;
			margin:0 0 @gutter/2 + 2.5;
		}
		.continue-btn{
			.btn-red();
			.btn-large();
			.new-btn-primary();
			max-width:@gutter * 10;
			&:hover{
				text-decoration:none;
			}
		}
	}
	
	.mz-orderlisting-items{
		.no-padding;
	}
	.mz-orderlist {
		.mz-orderlisting{
			.agenda;
			font-size:1.6rem;
			border-color:@orderBorder;
			.myaccount-order-list-cont{
				.myaccount-top-header{
					padding:@gutter - 5;
					border-bottom:1px solid @orderBorder;
					overflow:hidden;
					.myaccount-orderlist-heading{
						@media(min-width:992px){
							.flex-display(flex);
						}
						border-bottom:1px solid @orderBorder;
						padding:0 0 @gutter/2 + 2.5;
						margin:0 0 @gutter/2 + 2.5;
						.myaccount-order-number{
							.agenda-bold;
							font-size:1.7rem;
							line-height:1.1;
							margin:0 0 @gutter/2 + 2.5;
							@media(min-width:992px){
								margin:0 @gutter/2 + 2.5 0 0;
							}
						}
						.myaccount-order-status{
							.no-margin;
							@media(min-width:992px){
								margin-left:auto;
								.text-right;
							}
							i, svg {
								font-size:2rem;
								color:@torchRed;
								margin-right:@gutter/2 - 2.5;
								vertical-align:top;
								&.green-link{
									color:@storeOpenStatus;
								}
							}
							span{
								@media(min-width:992px){
									float:right;
								}	
							}
						}
					}
					.myaccount-orderlist-headerdetail{
						ul{
							list-style:none;
							.no-padding;
							.no-margin;
							.flex-display(flex);
							@media(max-width:767px){
								display:block;
							}
							li{
								.myaccount-order-total{
									.agenda-bold;
									font-size:1.7rem;
									margin:0 0 @gutter/2 + 2.5;
									display:block;
									.fullwidth;
									@media(max-width:767px){
										margin:0;
									}
								}
								.item-quantity{
									font-size:1.7rem;
									.agenda-bold;
									display:block;
								}
							}
							li:first-child{
								.fullwidth;
								margin:0 auto @gutter/2 + 2.5 0;
								@media (min-width: 768px){
									margin: 0 auto 0 0;
									width: auto;
								}
								@media (min-width: 768px) and (max-width: 991px){
									width:@gutter * 6 + 8;
								}
							}
							li:nth-child(2){
								@media(max-width:767px){
									float:left;
								}
								@media(max-width:992px){
									width: 108px;
								}
							}
							li:last-child{
								margin-left: auto;
								.text-left;
								@media(max-width:992px){
									width: 90px;
									float: right;
									text-align: left;
								}
								span{
									margin:0px;
								}
							}
						}
					}
				}
				.myaccount-footer-list{
					background:@light-grey;
					padding:@gutter @gutter - 5;
					@media (max-width: 767px){
						display: block;
					}
					@media (min-width: 992px){
						padding:@gutter + 5 @gutter - 5 @gutter/5 * 7;
						.flex-display(flex);
					}
					.badge-store-content{
						padding:0 0 @gutter/5 @gutter + 5;
						margin:0px;
						background-image: url('{{ themeSettings.sirvResourceImageUrl }}/hh-logo.svg');
						background-position: left top;
						background-repeat: no-repeat;
						background-size:@gutter - 3 auto;
						span{
							.agenda-bold;
							display:block;
						}
					}
					.mixOrder{
						@media (max-width: 992px){
							background-position: left;
							margin-top: 65px;
							border-bottom: 1px solid #ccc;
						}
					}
					.ship-to-home-order{
						@media (max-width: 991px) {
							padding-bottom: 10px;
							border-bottom: 1px solid #ccc;
						}
					}
					.pickup-store-info{
						margin: 0 0 0 auto;
   						padding-left:@gutter/2 + 2.5;
   						p{
   							.no-margin;
   							b{
   								.agenda-bold;
   								font-weight:normal;
   							}
   						}
					}
					.badge-content{
						text-align: left;
					}
					.order-info-sub-section{
						i, svg{
							color: #e4002b;
							font-size: 23px;
							display: table-cell;
							width: 30px;
						}
						.sub-section-info{
							display: table-cell;
							padding-top: 0;
							vertical-align: top;
							span:first-child{
								font-weight: bold;
								font-family: Agenda,sans-serif;
							}
							span{
								display: block;
							}
						}
						@media (max-width: 1024px) {
							padding: 0px;
						}
						@media (max-width: 991px) {
							padding-bottom: 15px;
						}
					}
					.shipToHomeOrder{
						@media (max-width: 992px) {
							border-bottom: 1px solid #ccc;
						}
					}
					.return-link-section{
						@media (max-width: 1024px) {
							padding-left: 20px;
						}
						.viewOrderDetails{
							@media (max-width: 992px) {
								padding-top: 10px;
							}
							@media (min-width: 992px) {
								padding-top: 0px;
							}
						}
						.viewOrderDetails,.startReturn{
							text-decoration: none;
							cursor: pointer;
							font-size: 1.6rem;
							@media (max-width: 992px) {
								padding: 10px 0px 0px 10px;
							}
						}
						.startReturn{
							padding-top: 5px;
						}
					}
					.flex-grow{
						flex: 3;
					}
				}
			}
		}
	}
}