﻿.mz-accountaddressbook {
    .mz-l-stack-sectiontitle{
        a{
            float: right;
            color: @torchRed;
            text-decoration: none;
            font-size: 20px;
        }
    }
    .mz-accountaddressbook-list {
        margin-top: @gutter/2;
        .editAddress{
            padding-top: 30px;
            width: 100%;
            min-height: 88px;
            a{
                text-decoration: none;
                &:hover{
                    color: #e4002b;
                    border: 2px solid #e4002b;
                }
            }
        }
    }
    .mz-accountaddressbook-contact {
        padding: 10px;
        border: 1px solid rgba(0,0,0,.125);
        border-color: transparent;
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.08);
        width: 43%;
        min-height: 207px;
        margin: 0px 19.5px 19.5px 0;
        @media(max-width:767px){
            width:100%;
        }
        @media only screen and (device-width: 768px) {
            width: 100%;
            min-height: 116px;
        }
    }

    .mz-accountaddressbook-form {
        width: 100%;
        float: left;
        margin: 0 @gutter/2 @gutter/2 0;
        padding-right: @gutter/2;
        .mz-contact-actions{
            .cancel-button{
                    border: 1px solid transparent;
                    margin: 0 20px 0 0;
                    font-family: "Agenda", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    min-width: 76px;
                    font-size: 1.6rem;
                    color: @torchRed;
                    font-weight: normal;
                    text-transform: none;
                    padding: 12px 15px 10px;
                    line-height: 1;
                    background-color: transparent;
            }
            .save-button{
                background-color: @torchRed;
                border: 1px solid @torchRed;
                color: @white;
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 1;
                text-transform: uppercase;
                text-align: center;
                border-radius: 22px;
                padding: 12px 15px 10px;
                display: inline-block;
            }
            .mz-contact-save{
                .new-btn-primary();
            }
            .mz-contact-cancel{
                .new-btn-secondary();
            }
        }
        .mz-contacttypes{
            margin:0;
            .mz-contacttype{
                .primary-section {
                    .primary-checkbox {
                        opacity: 0;
                        margin: 0px !important;
                        visibility: unset !important;
                        z-index: 10000;
                        height: 16px;
                        width: 16px;
                    }
                    .checkbox-label-inside {
                        width: 17px;
                        height: 19px;
                        &:after {
                            font-size: 1.6rem !important;
                            line-height: 16px !important;
                        }
                    }
                    .primary-checkbox:checked+.checkbox-label-inside {
                        border: none;
                    }
                    .primary-checkbox:checked+.checkbox-label-inside:after {
                        background-color: #e4002b;
                        color: @white;
                        border-radius: 3px;
                        width: 17px;
                        height: 19px;
                    }
                }
                .checkbox-lebel-outside.disabled {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }
        }
        .select-icon-cont{
            position:relative;
            select{
                .no-appearance;
                &::-ms-expand {
                    display: none;
                }
            }
            select + i, select + svg {
                top: 5px;
                right: 3px;
            }
        }
    }

    .mz-accountaddressbook-actions {
        a {
            color: @torchRed;
            text-decoration: none;
            padding: 0 @gutter/4;
            float: right;
            &:last-child {
                border-right-width: 0;
                padding-right: 0;
            }
        }
        .mz-accountaddressbook-contacttype{
            .is-primary,.is-not-primary{
                i, svg {
                    color: #e4002b;
                }
            }
            .primaryLabel,.secondaryLabel{
                text-decoration: none;
                font-family: "Agenda_bold", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: normal;
                margin-left: 8px;
            }
        }
    }
    .mz-accountaddressbook-contactdetails {
        float: left;
        clear: both;
        .name{
            font-family: "Agenda_bold", sans-serif;
            font-style: normal;
            font-weight: normal;
        }
        .mz-accountaddressbook-contacttype{
                .name{
                    display: inline-block;
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
            }
        }
    }
}
