.return-confirmation{
    .return-summary-confirmation{
        font-family: "Agenda_bold", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #333333;
        line-height: 1.1;
        padding: 20px 0px 0px 50px;
        font-size: 34px;
        margin: 0px !important;
        @media only screen and (max-width : 767px) {
            padding-left: 18px;
        }
    }
    .return-submitted-section{
        padding: 10px 50px 0px 60px;    
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 30px;
        @media only screen and (max-width : 767px) {
            padding: 10px 22px 30px 32px;
        }
        h3{
            font-family: "Agenda_bold",sans-serif;
            font-style: normal;
            font-weight: normal;
            color: #333;
            line-height: 1.1;
            font-size: 34px;
            margin: 10px 0px 10px 0px !important;
        }
        .print-label-section{
            margin-bottom: 30px;
            span{
                display: block;
            }
            .downloadLable,.openPrintPreview{
                text-decoration: underline;
                color: #e4002b;
                font-family: "Agenda_bold",sans-serif;
                cursor: pointer;
            }
            .openReturnHistory{
                text-decoration: underline;
                cursor:pointer;
                font-family: "Agenda_bold", sans-serif;
            }
        }
        .question-with-link{
            padding-left: 0px;
            .question{
                font-family: "Agenda",sans-serif;
                font-style: normal;
                display: block;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .contact-us{
                display: inline-block;
                a{
                    cursor: pointer;
                    display: inline-block;
                    text-decoration: underline;
                }
                i, svg {
                    float: left;
                    color:@color-primary-red;
                    font-size: @gutter - 3px;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: @gutter - 15px;
                }
                &.first{
                    width: 75px;
                }
            }
        }
    }
    .return-summary-section{
        margin-bottom: 50px;
    }
}