.select-return-method-view {
  .return-label-message {
    font-size: 20px;
    .no-margin;
    padding: 17px 50px 17px 50px;
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 17px 30px 17px 30px;
    }
    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  .select-return-method-view-container {
    float: left;
    width: 100%;
    padding-top: 30px;
    @media (min-width: 768px) and (max-width: 991px) {
      padding-top: 30px;
    }
    @media (max-width: 767px) {
      padding: 0;
    }

    .shipping-methods-container {
      padding-top: 25px;
      @media (min-width: 1025px) {
        padding-left: 100px;
      }
      @media (max-width: 1024px) {
        padding-left: 40px;
      }
      .return-method {
        width: 70%;
        padding-left: 0;
        margin-top: 0;
        position: relative;
        z-index: 1;
        border-radius: @gutter / 5;
        cursor: pointer;
        background-color: @main-background;
        @media (max-width: 991px) {
          width: 90%;
        }

        .return-method-radio {
          display: inline-block;
          vertical-align: top;
          margin-top: 2px;
          margin-bottom: 0;

          .return-type-label {
            min-width: 0;
            border: 2px solid @torchRed;
            width: 25px;
            height: 22px;

            &:after {
              font-size: 1.8rem;
              position: absolute;
              color: @torchRed;
              line-height: 19px;
            }
          }
        }

        .return-method-info-container {
          display: inline-block;
          width: ~'calc(100% - 29px)';
          padding-left: 5px;
          font-weight: normal;
          font-size: 18px;
          font-family: "Agenda_bold", sans-serif;
          vertical-align: bottom;

          .return-method-price {
            position: absolute;
            right: 76px;
            @media (max-width: 320px) {
              right: 4px;
            }
            @media (max-width: 1024px) {
              right: 0px;
            }
          }
        }
      }
      .covid-link{
        margin-top: 23px;
        margin-left: 33px;
        font-size: 18px;
        a{
          text-decoration: underline;
        }
        @media (max-width: 767px) {
          margin-left: 0px;
          margin-bottom: 30px
        }
      }
    }

    .return-summary-container {
      padding-top: 25px;
      .return-summary{
        font-family: "Agenda", sans-serif;
        font-style: normal;
        font-weight: 400;
        border: 1px solid #e1e1e1;
        background: whitesmoke;
        font-size: 1.7rem;
        padding: 15px;
        table{
          width:100%;
          caption{
            font-family: "Agenda_bold",sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            background: #f5f5f5;
            color: #333;
          }
          tr{
            td{
              padding-top: 10px;
              padding-bottom: 10px;
            }
            td:nth-child(2){
              text-align: right;
              font-family: "Agenda_bold",sans-serif;
            }
          }
          tr:last-child{
            border-top: 1px solid #e1e1e1;
            td{
              font-family: "Agenda_bold",sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 1.8rem;
              background: #f5f5f5;
              color: #333;
              line-height: 30px;
              padding-top: 20px;
              padding-bottom: 5px;
              &.total-refund{
                font-size: 22px;
              }
            }
          }
        }
      }
      p{
        padding-left: 15px;
        font-size: 14px;
      }
      .new-btn-primary {
        width: 40%;
        padding: 9px 30px;
        margin-top: 15px;
        @media (max-width: 767px) {
          /*display: block;*/
          margin: 15px auto;
        }
      }
      .new-btn-primary[disabled="disabled"]{
        opacity: .5;
      }
      .new-btn-primary-fr{ 
          padding: 10px 20px; 
          width: 50%; 
          @media only screen and (max-width : 767px) {  
          display: block;
          margin: 15px auto;
          padding: 10px 7px !important;  
          }  
      } 
      .new-btn-back{ 
          margin-left: 20px;  
          color: #e4002b; 
          background-color: #fff; 
      }
    }
  }
}