.return-summary-section{
    padding-bottom: 50px;
    .product-detail-section{
        @media only screen and (min-width : 992px) {
            padding-right: 0;
        }
        .item-title{
            padding: 20px 0px 0px 50px;
            font-size: 18px;
            font-family: "Agenda_bold",sans-serif;
            font-style: normal;
            font-weight: normal;
            @media only screen and (max-width : 767px) {
                padding: 20px 0px 0px 18px;
            }
        }
        .items-container{
            padding: 20px 0px 25px 126px;
            @media only screen and (min-device-width : 992px) and (max-device-width : 1024px) {
                padding: 20px 0px 25px 40px;
            }
            @media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
                padding: 20px 0px 25px 20px;
            }
            @media (max-width: 768px){
                padding: 20px 15px 0px 15px;
            }
            .image-container{
                padding: 0px;
                text-align: left;
                @media only screen and (max-width : 767px) and (orientation: landscape) {
                  padding: 15px 0px 0px 138px;
                }
                @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                    text-align: center;
                }
                @media (max-width: 768px){
                    padding: 0 15px;
                }
                .product-tile-image{
                    @media only screen and (max-width : 767px) {
                        margin-left: 10px;
                    }
                }
            }
            .product-name-container{
                padding-top: 25px;
                font-size: 18px;
                @media only screen and (min-width : 992px) {
                    padding-right: 0;
                }
                @media only screen and (max-width : 767px) {
                    padding: 15px 0px 0px 0px;
                    margin-left: 0px;
                }
                @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
                    margin-left: 0px;
                }
                @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
                    margin-left:0px;
                }
                .product-tile-title{
                    .product-name{
                        font-size: 18px;
                        font-family: "Agenda_bold",sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        &:hover{
                            color: #444;
                        }
                    }
                }
                .product-quantity{
                    .editLink{
                        text-decoration: underline;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
                .qty-box{
                    padding-top: 15px;
                    display: none;
                    width: 78px;
                }
            }
            .order-info-section{
                padding-top: 25px;
                @media (max-width: 768px){
                    padding: 25px 0px 0px 0px;
                }
                &:first-child{
                    padding-right: 0;
                }
                .order-info-sub-section{
                    padding-right: 0px;
                    @media(min-width:768px){
                        display: table;
                    }
                    i, svg {
                        color: @color-primary-red;
                        font-size:@gutter - 2px;
                        display: table-cell;
                        &.fa-truck{
                            width: @gutter + 3px;
                        }
                        &.fa-user-circle{
                            width: @gutter - 2px;
                        }
                    }
                    svg{
                        color: @color-primary-red;
                        font-size:@gutter - 2px;
                        display: table-cell;
                        &.fa-truck{
                            width: @gutter + 3px;
                        }
                        &.fa-user-circle{
                            width: @gutter - 2px;
                        }
                    }
                    .sub-section-info{
                        display: table-cell;
                        padding-left: 10px;
                        padding-top: 0;
                        vertical-align: top;
                        &.address{
                            span{
                                display: block;
                            }
                            span:first-child{
                                font-weight: bold;
                                font-family: @font-family-agenda;
                            }
                            .store-address{
                                border: none;
                                .no-padding;
                                .no-margin;
                                .address-card{
                                    .no-padding;
                                    .no-margin;
                                    width: unset;
                                    &:first-child{
                                        font-weight: normal;
                                        font-family: @font-family-agenda;
                                    }
                                    .store-address-details{
                                        .store-street{
                                            font-weight: normal;
                                        }
                                    }
                                }
                                .address-change-shipping{
                                    display: none;
                                }
                                .address-change{
                                    display: none;
                                }
                            }
                            #customerContactNo{
                                display: none;
                            }
                        }
                        .pick-up-details{
                            margin: 0;
                            .email{
                                @media(max-width:768px) and (orientation: portrait) {
                                    word-break: break-word;
                                }
                            }
                        }
                        .get-direction-link{
                            color: @color-primary-red;
                            font-weight: 600;
                            .fa-arrow-right{
                                font-size: @gutter - 11px;
                                vertical-align: middle;
                                display: inline-block;
                                margin-left:@gutter/5;
                            }
                            @media print {
                                display: none;
                            }

                        }
                    }
                    &.pickup-info{
                        @media(max-width:768px){
                            margin-bottom: @gutter - 5px;
                        }
                    }

                }
            }
        } 
    }
    .summary-section{
        margin-top: 64px;
        @media only screen and (max-width : 992px) {
            width: 100%;
        }
        .summary-table{
            font-family: "Agenda",sans-serif;
            font-style: normal;
            font-weight: 400;
            border: 1px solid #e1e1e1;
            background: #f5f5f5;
            font-size: 1.7rem; 
            padding: 15px;
            table{
                width:100%;
                caption{
                  font-family: "Agenda_bold",sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 1.8rem;
                  background: #f5f5f5;
                  color: #333;
                }
                tr{
                  td{
                    padding-top: 10px;
                    padding-bottom: 10px;
                  }
                  td:nth-child(2){
                    text-align: right;
                    font-family: "Agenda_bold",sans-serif;
                  }
                }
                tr:last-child{
                  border-top: 1px solid #e1e1e1;
                  td{
                    font-family: "Agenda_bold",sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                    background: #f5f5f5;
                    color: #333;
                    line-height: 30px;
                    padding-top: 20px;
                    padding-bottom: 5px;
                    &.total-refund{
                      font-size: 22px;
                    }
                  }
                }
              }
        }
        .finalRefundAmountTxt{
            margin-top: 10px;
            .store-link{
                text-decoration: underline;
            }
            span{
                display: block;
                padding-left: 5px;
                font-size: 14px;
            }
        }
        .returnTo{
            padding: 10px;
            padding-left: 5px;
            display: table;
            @media only screen and (max-width : 767px) {
                padding-left: 15px;
            }
            @media only screen and (max-width : 992px) {
                text-align: center;
                display: block;
                padding-left: 0px;
            }
            .remote-prefered-store{
                display: table-cell;
                vertical-align: middle;
                font-size: 18px;
                font-family: "Agenda_bold",sans-serif;
                font-style: normal;
                font-weight: normal;
                @media only screen and (max-width : 992px) {
                    display: inline-block;
                    margin-top: -25px;
                }
            }
            .icon{
                width: 53px;
                height: 41px;
                float: left;
                margin-right: 6px;    
                display: table-cell;
                @media only screen and (max-width : 992px) {
                    width: 63px;
                    float: none;
                    display: inline-block;
                }
            }
            i, svg {
                color: #e4002b;
                font-size: 30px;
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
            }
            .courier-txt{
                display: inline-block;
                margin-top: 12px;
                margin-left: 5px;
                .returnCourierLabel{
                    padding-left: 6px;
                    font-size: 18px;
                    font-family: "Agenda_bold",sans-serif;
                    font-style: normal;
                    font-weight: normal;
                }
                .returnCourierName{
                    display: block;
                    padding-left: 6px;
                    @media only screen and (max-width : 992px) {
                        text-align: left;
                    }
                }
            }
        }
        .mz-orderlisting-footer-review{
            text-align: left !important;
            margin-top: 8%;
            padding: 0px;
            padding-left: 0px !important; 
            @media only screen and (max-width : 992px) {
                text-align: center !important;
                padding: 10px !important;
            }
            .new-btn-primary{
                padding: 10px 20px;
                width: 40%;
                @media only screen and (max-width : 767px) { 
                width: 50%;
                padding: 10px 7px !important; 
                } 
                &.isLoading{
                    background-image: url(../resources/images/button-loading.gif);	    
                    background-position: 50% 50%;	    
                    background-repeat: no-repeat;	    
                    background-size: 50px;	    
                    color: transparent;	    
                    cursor: no-drop;	    
                    text-indent: -9999px;
                    pointer-events: none; 
                    width: 165px;
                }
            }
            .new-btn-primary-fr{
                padding: 10px 20px;
                width: 50%;
                @media only screen and (max-width : 767px) { 
                padding: 10px 7px !important; 
                } 
                &.isLoading{
                    background-image: url(../resources/images/button-loading.gif);      
                    background-position: 50% 50%;       
                    background-repeat: no-repeat;       
                    background-size: 50px;      
                    color: transparent;     
                    cursor: no-drop;        
                    text-indent: -9999px;
                    pointer-events: none; 
                    width: 165px;
                }
            }
            .new-btn-back{
                margin-left: 20px; 
                color: #e4002b;
                background-color: #fff;
            }
            .gotit-flex {
                display:flex;
            }
        }
    }
}