.select-return-type-view {
  .returnable-items {
    .returnable-item {
      //display: flex;
      //align-items: center;
      padding: 8px 52px;
      border-bottom: 1px solid #cbcbcb;
      @media (min-width: 768px) and (max-width: 991px) {
        padding: 30px 30px;
      }
      @media (min-width: 992px) and (max-width: 1024px) {
        padding: 30px 50px;
      }
      @media (max-width: 767px) {
        padding: 30px 15px;
      }

      &.last-item {
        border-bottom: none;
      }

      .item-details {
        //display: flex;
        //align-items: center;
        .image-container {
          text-align: right;

          @media (min-width: 768px) and (max-width: 991px) {
            padding: 0;
            text-align: left;
            img{
              max-width: 90%;
            }
          }
          @media (min-width: 991px) and (max-width: 1024px) {
            padding: 0;
            max-width: 100%;
          }
          @media (max-width: 767px) {
            padding: 0;
            text-align: left;
          }
        }

        .product-name-container {
          padding-left: 0;
          padding-top: 25px;
          font-size: 18px;
          @media (min-width: 768px) and (max-width: 991px) {
            padding: 0;
            margin-bottom: 5px;
          }
          @media (min-width: 991px) and (max-width: 1024px) {
            padding-left: 15px;
            padding-top: 0;
          }
          @media (max-width: 767px) {
            padding-top: 0;
            padding-right: 0;
            padding-left: 15px;
          }

          h3 {
            font-size: 20px;
            font-family: "Agenda_bold", sans-serif;
            @media (max-width: 767px) {
              margin-top: 10px;
              margin-bottom: 7px;
            }
          }
        }
      }

      .return-types {
        padding-top: 25px;
        @media (min-width: 768px) and (max-width: 991px) {
          padding: 0;
        }
        @media (min-width: 991px) and (max-width: 1024px) {
          padding-top: 0;
        }
        @media (max-width: 767px) {
          padding-top: 20px;
        }

        .return-type {
          display: flex;
          align-items: center;
          width: 100%;
          padding-left: 0;
          margin-top: 0;
          position: relative;
          z-index: 1;
          border-radius: @gutter / 5;
          cursor: pointer;
          background-color: @main-background;
          margin-bottom: 10px;
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
            line-height: 1.7rem;
          }

          .return-type-radio {
            display: inline-block;
            vertical-align: top;
            margin-top: 0px;
            padding-top: 45px;
            .return-type-label {
              min-width: 0;
              border: 2px solid @torchRed;
              width: 25px;
              height: 22px;

              &:after {
                font-size: 1.8rem;
                position: absolute;
                color: @torchRed;
                line-height: 19px;
              }
            }
          }

          .icon {
            display: flex;
            align-items: center;
            //display: inline-block;
            width: ~'calc(100% - 29px)';
            padding-left: 10px;
            i, svg {
              color: #e4002b;
              font-size: 32px;
              display: inline-block;
            }

            .return-text {
              padding-left: 10px;
              font-weight: normal;
              font-size: 16px;
              display: inline-block;
              width: ~'calc(100% - 44px)';
              vertical-align: text-top;

              a {
                text-decoration: underline;
              }
              .transform{
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    .continue-btn-container { 
      padding-bottom: 10px;
      @media (max-width: 767px) {
        text-align: center;
      }
      @media only screen and (min-device-width: 992px){
        padding-left: 15px;
      }
      .continue-btn{
          margin-top: 20px;
          margin-bottom: 20px;
          padding: 11px 65px;
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
           padding: 0px;
          }
        }
        button:disabled,
        button[disabled]{
          opacity: 0.5;
        }
        button[disabled]:hover {
          background-color: #e4002b;
          border: 2px solid #e4002b;
        }
      .new-btn-primary {
        width: 32%;
        padding: 11px 65px;
        margin: 15px 0 20px 0;
        @media (max-width: 767px) {
          width: 43%;
          padding: 11px 40px; 
        } 
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          width: 43%;
          padding: 11px 38px;
        } 
        @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
          width: 35%;
          padding: 11px 35px;
        }
      }
      .btn-gotit{
          width: 32%;
          @media (max-width: 767px) { 
          width: 50%; 
          }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          width: 45%; 
         }
      }
      .new-btn-back{ 
          margin-left: 20px;  
          color: #e4002b; 
          background-color: #fff; 
      }
      .gotit-sec-text
      { 
        padding-left: 13px;
        text-size: 10px;
        font-size: 18px; 
        .confirmation-link{
          color:@link-red;
        }
      }
      .gotit-flex {
        display:flex;
      }
    }
   .gotitsec
    {
      padding-top: 38px;
    }
  }
}