.order-return-modal{
  padding: 0 !important;
  &.modal {
    text-align: center;
  }
  &.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  } 
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 98%;
    margin: auto;
    .modal-content{
      border-radius: 0;
      box-shadow: none;
      border: none;
      .content-loading{
        display:block;
        top: 66px;
        .loading-image{
          margin: 19% auto;
          @media (max-width: 767px) and (orientation : portrait) {
            margin: 30% auto;
          }
          @media (max-width: 767px) and (orientation : landscape) {
            margin: 13% auto;
          }
        }
      }
      .modal-header{
        background: @torchRed;
        padding: 12px 50px 12px 50px;
        @media (min-width: 768px) and (max-width: 991px) {
          padding: 12px 30px 12px 30px;
        }
        @media (max-width: 767px) {
          padding: 15px;
        }
        .mz-storebranding{
          float: left;
          width: 45px;
          height: 40.909090909px;
          margin-right: 17px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          text-indent: -99999px;
        }
        .cancel-return{
          float: right;
          font-size: 18px;
          font-family: "Agenda_bold", sans-serif;
          color: white;
          line-height: 40px;
          cursor: pointer;
          text-decoration: none;
        }
      }
      .modal-body{
        overflow-x: hidden !important;
        padding: 0;
        h1{
          font-family: "Agenda_bold",sans-serif;
          padding: 17px 50px 17px 50px;
          letter-spacing: 0.1px;
          border-bottom: 1px solid #cbcbcb;
          .no-margin;
          @media (min-width: 768px) and (max-width: 991px) {
            padding: 17px 30px 17px 30px;
          }
          @media (max-width: 767px) {
            font-size: 30px;
            padding: 15px;
          }
        }
        h3{
          margin-top: 10px;
          margin-bottom: 19px;
        }
        #returnOrderItems{
          .mz-orderlisting-footer{
            text-align: left;
            padding-left: 83px;
            @media (max-width: 767px) and (orientation : landscape){
              text-align: center;
            }
            .continue-btn{
              margin-top: 20px;
              margin-bottom: 20px;
              padding: 11px 65px;
            }
            button:disabled,
            button[disabled]{
              opacity: 0.5;
            }
            button[disabled]:hover {
              background-color: #e4002b;
              border: 2px solid #e4002b;
            }
          }
        }
      }
      .close-btn{
        padding: 0;
        line-height: 0;
        float: right;
        border: none;
        z-index: 999;
        position: absolute;
        right: 16px;
        top: 16px;
        height: 16px;
        width: 16px;
        img{
          float: right;
          background-color: white;
        }
        display: none;
      }
    }
  }
}

