.cancel-order-modal{
  padding: 0 !important;
  &.modal {
    text-align: center;
  }
  &.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 420px;
    margin: auto;
    @media (min-width: 401px) and (max-width: 767px) {
      width: 330px;
    }
    @media(max-width: 400px){
      width: 289px;
    }
    .modal-content{
      border-radius: 0;
      box-shadow: none;
      border: none;
      .modal-body{
        padding: 24px;
        overflow: hidden;
        h3{
          margin-top: 10px;
          margin-bottom: 19px;
        }
        .is-required {
          font-weight: bold;
          color: @torchRed;
        }
        .reason-select, .other-reason{
          width: 350px;
          margin-bottom: 24px;
          @media(max-width: 767px){
            width: 100%;
          }
        }
        .select-input {
           position: relative;
           &:first-child {
             margin-right: @gutter / 5;
           }
           &:after {
             .material-icons;
             font-size: 3.4rem;
             height: @gutter + 15;
             color: @formInputBorder;
             content: "\E313";
             line-height: 1.4;
             position: absolute;
             top: 0;
             right: @gutter - 1;
             pointer-events: none;
             @media (max-width: 767px) {
               right: @gutter - 21;
             }
           }
           select{
             padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
             box-shadow: none;
             transition: none;
             .no-appearance;
             &::-ms-expand {
               display: none;
             }
             option{
               box-shadow: none;
               outline: none;
               border: none;
             }
             @media (max-width:767px){
               font-size: 16px;
             }
           }
         }
        .specify-reason-container{
          label{
            display: block;
          }
        }
        .qty-input{
          margin-bottom: 24px;
          label{
            display: block;
          }
          input{
            width: 130px;
          }
        }
        .new-btn-primary{
          padding: 11px 22px;
          width: 126px;
          &.is-loading{
            background-image: url("{{ themeSettings.sirvResourceImageUrl }}/button-loading.gif");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 50px;
            color: transparent;
            cursor: no-drop;
            text-indent: -9999px;
            pointer-events: none;
            width: 126px;
          }
        }
        .new-btn-primary[disabled="disabled"]{
          opacity: .4;
        }

        .cancel-btn{
          margin-left: 10px;
          text-decoration: none;
          cursor: pointer;
          color: @torchRed;
        }
        .cancel-order-error{
          background: @errorBackground url("{{ themeSettings.sirvResourceImageUrl }}/error-exclamation.png") no-repeat 10px 6px;
          border: 1px solid #eed3d7;
          padding: 8px 8px 8px 50px;
          margin-bottom: 0;
        }
      }
      .close-btn{
        padding: 0;
        line-height: 0;
        float: right;
        border: none;
        z-index: 999;
        position: absolute;
        right: 16px;
        top: 16px;
        height: 16px;
        width: 16px;
        img{
          float: right;
          background-color: white;
        }
      }
    }
  }
}

