.myaccount-view-order-detail {
  .view-order-detail-number {
    font-size: 3.4rem;
    line-height: 1.1;
    .agenda-bold;
    margin: 0 0 @gutter - 8;
    text-transform: lowercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .view-order-subtitle {
    .agenda-bold;
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: @gutter - 5;
  }

  .mz-addresssummary {
    span {
      &:first-child {
        .agenda-bold;
      }
    }
  }

  .view-all-orders {
    color: @torchRed;
    float: left;
    margin: 0 0 @gutter - 5;
    .fullwidth;
  }

  .printorder-detail, .view-all-orders {
    cursor: pointer;
    text-decoration: none;
    i, svg {
      width: @gutter - 1;
      .text-center;
      margin: 0 @gutter/2 - 2.5 0 0;
      float: left;
    }
  }

  .printorder-detail {
    color: @color-primary-red;

    i, svg {
      @media (min-width: 768px) {
        float: none;
      }
    }
  }

  .ordered-on {
    margin: @gutter/2 - 2.5 0;
  }

  .myaccount-order-status {
    margin: 0 0 @gutter/2 - 2.5;

    i, svg {
      color: @color-primary-red;
      margin: @gutter/5 - 3 @gutter/5 0 0;
      float: left;

      &.green-link {
        color: @storeOpenStatus;
      }
    }

    &.completed {
      padding-left: 0px;
      position: relative;

      i, svg {
        position: absolute;
      }

      span {
        padding-left: 21px;
        display: block;
      }
    }
  }

  //Order Status Steps
  .order-status-steps-container {
    padding: @gutter - 10 0;
    margin: 0 0 @gutter + 5;
    border-bottom: 1px solid @mercury;

    .order-status-steps {
      .no-margin;
      .no-padding;
      @media(max-width:767px){
        height: 64px;
      }
      list-style-type: none;
      .flex-display(flex);

      li {
        position: relative;
        padding: @gutter - 5 @gutter - 5 @gutter - 5 @gutter * 3 - 5;
        background: @myaccountNavBg;
        .agenda;
        font-size: 1.6rem;
        width: 35%;
        @media(max-width:767px){
          padding: 0px;
          font-size: 9px;
          width: 53%;
        }
        @media(max-width:768px){
          font-size: 10px;  
        }
         @media(max-width:280px){
          font-size: 7px;  
        }

        &:first-child {
          width: 30%;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          padding-left: @gutter * 2;
          @media(max-width:767px){
            padding-left: 0px;
          }

          &:before {
            .hidden;
          }
          span{
            @media(max-width:767px){
              margin: 20px 0px 0 23px;
            }
          }
          i, svg {
            font-size: 2rem;
            left: @gutter;
            @media(max-width:767px){
              left: 6px;
              font-size: 12px;
            }
          }
        }

        &:last-child {
          &:after {
            .hidden;
          }
          span{
            @media(max-width:767px){
              margin: 20px 0 0 38px;
            }
          }
        }

        &:before, &:after {
          content: " ";
          position: absolute;
          top: @gutter/5 + 1;
          right: -22px;
          width: 0;
          height: 0;
          border-top: 36px solid transparent;
          border-bottom: 36px solid transparent;
          border-left: 22px solid @light-grey;
          z-index: 1;
        }

        &:before {
          right: auto;
          left: 2px;
          border-left: 22px solid @white;
          z-index: 0;
        }

        i, svg {
          font-size: 2.4rem;
          display: block;
          position: absolute;
          top: 50%;
          left: @gutter/5 * 8;
          margin-top: -13px;
          color: @storeResultBorder;
          @media(max-width:767px){
            top: 53%;
            left: 22px;
            font-size: 10px;
            
          }
        }

        span {
          margin: 0 0 0 @gutter/2 - 0.5;
          float: left;
          @media(max-width:767px){
            margin:20px 0 0 38px;
          }
        }

        &.is-active {
          background: @activeArrow;

          i, svg {
            color: @torchRed;

            &.green-link {
              color: @storeOpenStatus;
            }
          }

          &:after {
            border-left-color: @activeArrow;
          }
        }
      }

      .ready-for-pickup-step {
        padding-right: 11px;
      }
    }

    @media print {
      border: none;
    }
  }

  //Payment Billing Section
  .payment-billing-section {
    margin-bottom: @gutter * 2;

    .payment-method-section {
      .order-history-subtitle {
        .agenda-bold;
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 20px;
      }
      .mz-checkout-current-payment{
        margin-bottom: 0;
      }

      .payment-summary-card-number {
        .card-number-part {
          padding-left: 0;
        }
        svg {
          color: #e4002b;
        }
      }

      p {
        margin: 0 0 30px;

        img {
          margin: 0 @gutter/5 0 0;
        }
      }

      .aeroplan-text {
        margin: 30px 0 0;
      }
      
    }

    .billing-addess-section {
      margin-bottom: @gutter + 5;
      @media (max-width: 767px) {
        .fullwidth;
        float: left;
      }

      .mz-addresssummary {
        span:first-child {
          .agenda-bold;
        }
      }
    }
  }

  .order-summary-section {
    margin: 0 0 @gutter*2;
    @media (max-width: 991px) {
      margin: 0 0 @gutter - 5 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .no-padding;
    }

    .order-summary-details {
      @media (max-width: 768px) {
        padding: 15px;
        border: 1px solid #e1e1e1;
      }
    }
  }
  .items-in-order-container {
    .order-item-block {
      &:last-child {
        @media (max-width: 767px) {
          border: none;
        }
      }
    }
    .order-item-container{
      .shipmentsHeader {
        font-size: 3.4rem;
        line-height: 1.1;
        font-family: "Agenda_bold", sans-serif;
        font-style: normal;
        font-weight: normal;
        margin: 0;
        padding-bottom: 20px;
      }
      .order-info-section{
        padding-bottom: 20px;
        border-bottom: 1px solid @mercury;
        .order-info-sub-section{
          @media(min-width:768px){
            display: table;
          }
          i, svg {
            color: @color-primary-red;
            // font-size: 14px; 
            font-size: 20px; 
            display: table-cell;
            &.fa-truck{
              width: @gutter + 3px;
            }
            &.fa-user-circle{
              width: @gutter - 2px;
            }
          }
          svg{
            color: @color-primary-red;
            font-size: 20px; 
            display: table-cell;
            &.fa-truck{
              width: @gutter + 3px;
            }
            &.fa-user-circle{
              width: @gutter - 2px;
            }
          }
          .sub-section-info{
            display: table-cell;
            padding-left: 10px;
            padding-top: 0;
            vertical-align: top;
            &.address{
              span{
                display: block;
              }
              span:first-child{
                font-weight: bold;
                font-family: @font-family-agenda;
              }
              .store-address{
                border: none;
                .no-padding;
                .no-margin;
                .address-card{
                  .no-padding;
                  .no-margin;
                  width: unset;
                  &:first-child{
                    font-weight: normal;
                    font-family: @font-family-agenda;
                  }
                  .store-address-details{
                    .store-street{
                      font-weight: normal;
                    }
                  }
                }
                .address-change-shipping{
                  display: none;
                }
                .address-change{
                  display: none;
                }
              }
              #customerContactNo{
                display: none;
              }
            }
            .pick-up-details{
              margin: 0;
              .email{
                @media(max-width:768px) and (orientation: portrait) {
                  word-break: break-word;
                }
              }
            }
            .get-direction-link{
              color: @color-primary-red;
              font-weight: 600;
              .fa-arrow-right{
                font-size: @gutter - 11px;
                vertical-align: middle;
                display: inline-block;
                margin-left:@gutter/5;
              }
              @media print {
                display: none;
              }

            }
          }
          &.pickup-info{
            @media(max-width:768px){
              margin-bottom: @gutter - 5px;
            }
          }

        }
      }
      .shipments-container {
        .shipment {
          padding-top: 20px;
          border-bottom: 1px solid #e1e1e1;

          &:last-child {
            margin-bottom: 50px;
          }

          .header {
            .product-order-title {
              display: inline-block;
              margin-bottom: 8px;
            }
          }

          .shipment-status {
            padding: 15px 0px;
            @media (max-width: 767px ) {
              padding-bottom: 10px;
            }

            i, svg {
              font-size: 20px;
              color: @color-primary-red;
              margin: @gutter/5 - 3 @gutter/5 0 0;
              float: left;

              &.green-link {
                color: @storeOpenStatus;
              }
            }

          }
          .tracking-number{
            margin-bottom: 15px;
            @media (max-width: 767px ) {
              margin: 15px 0;
            }
            i, svg {
              font-size: 22px;
              vertical-align: middle;
              color: @color-primary-red;
            }
            span{
              font-size: 18px;
            }
            a{
              color: @color-primary-red;
              font-size: 18px;
            }
          }
          .order-status-steps-container {
            border-bottom: none;
            padding: 0;
            margin: 0 0;
            .order-status-steps {
              li {
                &:before, &:after {
                  top: 0px;
                  border-top: 32px solid transparent;
                  border-bottom: 32px solid transparent;
                }
              }
            }
            &.sth-shipment{
              .order-status-steps {
                li {
                  width: 50%;
                }
              }
            }
            &.sts-shipment{
              @media (min-width: 992px) and (max-width: 1199px) {
                .order-status-steps{
                  li{
                    &:before, &:after{
                      border-top: 42px solid transparent;
                      border-bottom: 42px solid transparent;
                    }
                    &:last-child{
                      padding-top: 32px;
                    }
                  }
                }
              }
            }
          }

          .shipment-items {
            .order-item-block {
              border-bottom: none;
              @media(max-width:767px){
                height: 212px;
              }
              .order-item-product{
                @media (max-width: 768px) {
                  .no-margin;
                }
              }
              .order-item-quantity {
                @media (min-width: 768px) {
                  text-align: center;
                }
                @media(max-width:767px){
                  text-align: right;
                  .no-margin;
                  border: none;
                  padding: 0 0 @gutter - 15px 0;
                }
              }
              .order-item-details{
                @media(max-width:991px){
                  .no-padding;
                }
              }
            }

            .mz-ordersummary-line-item {
              .replace-btn-container {
                position: relative;

                div {
                  position: absolute;
                  right: 0;
                  top: -18px;
                  cursor: pointer;
                }

                a {
                    color: #eb0029;
                }
                .new-btn-secondary{
                  @media(max-width:767px){
                    margin-top: 152px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//Order Notes Section
.myaccount-order-note-section {
  margin-bottom: @gutter * 2;
  padding: @gutter 0;
  border-bottom: 1px solid @mercury;
  border-top: 1px solid @mercury;
  margin-top: 0;
}

.myaccount-billing-addess-section {
  margin-bottom: @gutter * 2;
}

.view-all-order-container {
  @media (max-width: 767px) {
    float: left;
    .fullwidth;
  }
}

.detail-order-section {
  margin-bottom: 10px;
  @media (max-width: 991px) {
    margin-bottom: 20px;
    clear: both;
  }

  .print-section {
    @media (min-width: 991px) {
      text-align: right;
    }

    .printorder-detail {
      @media (max-width: 991px) {
        display: block;
      }
      @media print {
        display: none;
      }

      i, svg {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    .new-btn-secondary {
      padding: 12px 40px;
      @media print {
        display: none;
      }
    }
  }
}


.mz-myaccount-nav {
  .dropdown-menu {
    z-index: 10;
  }
}

@media print {
    .mz-pagefooter, .header-container {
      .hidden;
    }
    .mz-orderlist{
      li{
        margin-bottom: 0 !important;
      }
    }
    .mz-myaccount-nav, .mz-pagetitle, .mz-l-stack-sectiontitle, .view-all-orders, .printorder-detail {
      display: none;
    }

    a {
      text-decoration: none;
    }
    .myaccount-vieworderdetail-container{
      .myaccount-view-order-detail{
        .myaccount-payment-billing-section{
          .order-summary-desktop{
            margin: 0 0 25px;
          }
          .payment-billing-section{
            margin: 0 0 25px;
          }
        }
      }
    }

    .items-in-order-container {
      .shipments-container {
        .shipment {
          .shipment-items {
            .mz-ordersummary-lineitems {
              .order-item-block {
                .order-item-product {
                  .product-tile {
                    .data-layer-productClick {
                      text-decoration: none;
                      img {
                        width: 60% !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .view-order-detail-number {
      font-size: 3.4rem;
      line-height: 1.1;
      font-family: "Agenda_bold", sans-serif;
      font-style: normal;
      font-weight: normal;
      margin: 0 0 17px;
    }

    .print-section {
      display: none;
    }

    .ordered-on {
      margin: 0 0 10px;
    }
}

@media print {
	.mz-myaccount{
		.mz-pagefooter, .header-container{
			.hidden;
		}
	}
}
