#returnListing{
    border: none !important;
    .order-history-listing-return{
        .return-items{
            padding: 30px 10%;
            .thumbnail-section{
                text-align: center;
                .product-tile-title{
                    font-family: "Agenda_bold",sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    .product-name{
                        text-decoration: none;
                        &:hover{
                            color: #444;
                        }
                    }
                    @media (max-width: 767px) {
                        margin-left: -23px;
                        text-align: left;
                    }
                    @media (max-width: 767px) and (orientation : landscape){
                        margin-left: -64px;
                    }
                    .mz-itemlisting-thumb{
                        margin-top: 25px;
                    }
                }
            }
            .checkbox-container{
                position: relative;
                display: block;
                height: 100px;
                @media (max-width: 767px) {
                    height: 0px;
                }
                .primary-section {
                    position: absolute;
                    height: 50%;
                    left: 70%;
                    width: 100px;
                    margin-top: 110px;
                    text-align: center;
                    z-index: 1;
                    @media (max-width: 767px) {
                        left: 0%;
                    }
                    .primary-checkbox {
                        opacity: 0;
                        visibility: unset !important;
                        z-index: 10000;
                        height: 16px;
                        width: 16px;
                        margin-left: -50px;
                    }
                    .checkbox-label-inside {
                        width: 18px;
                        height: 19px;
                        &:after {
                            font-size: 1.6rem !important;
                            line-height: 16px !important;
                        }
                    }
                    .primary-checkbox:checked+.checkbox-label-inside {
                        border: none;
                    }
                    .primary-checkbox:checked+.checkbox-label-inside:after {
                        background-color: #e4002b;
                        color: @white;
                        border-radius: 3px;
                        width: 17px;
                        height: 19px;
                    }
                }
            }
            .item-edit-section{
                padding-left: 80px;
                @media (max-width: 767px) {
                    top: 80%;
                    padding-left: 5px;
                }
                .return-reason-section{
                    .reason-section{
                        padding: 0px;
                        select{
                            display: block;
                            height: 100%;
                            width: 100%;
                            line-height: initial;
                            .no-appearance;
                            .agenda;
                            &::-ms-expand {
                                display: none;
                            }
                            @media (max-width: 767px) {
                                width: 89%;
                            }
                        }
                        .return-reason-label{
                            font-size: 18px;
                            margin-top: 7px;
                        }
                        i, svg {
                            right: 3px;
                            font-size: 2.4rem;
                            color: #444;
                            position: absolute;
                            top: 45px;
                            left: 94%;
                            pointer-events: none;
                            font-style: normal;
                            background: white;
                            margin-left: -1px;
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
                                left: 89%;
                                width: 20px;
                            }
                            @media (max-width: 767px) {
                                left: 92%;
                                width: 20px;
                            }
                            @media (max-width: 767px) and (orientation : landscape){
                                left: 95%;
                            }
                        }
                        .mz-returnform-reason{
                            padding: 10px 15px 10px;
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }
                    }
                    .Note{
                        padding: 0px;
                        .mz-itemlisting-prompt{
                            color: #444444;
                            background-color: #ffffff;
                            border: none;
                            width: 100%;
                            .confirmation-link{
                                text-decoration: underline;
                            }
                        }
                        .quantityToReturn{
                            font-size: 18px;
                        }
                        .quantity-return-field{
                            display: inline-block;
                            padding-left: 5px;
                            .mz-returnform-quantityfield{
                                width: 140px;
                                @media screen and (max-width: 992px){
                                    width: 100px;
                                }
                            }
                        }
                        .quantity-return-labels{
                            display: inline-block;
                        }
                    }
                }
                .comments-section{
                    margin-top: 10px;
                    padding:0px;
                    .returnform-commentsfield{
                        width: 100%;
                        height: 100px;
                        @media (max-width: 767px) { 
                            width: 100%;
                        }
                    } 
                    .returnform-label{
                        font-weight: normal;
                    }
                }
            }
        }
        .no-items-container{
            text-align: center;
            .no-items-available{
                border: none;
            }
        }
    }
}