.mz-accountreturnhistory{
  .mz-return-history-section{
    .mz-orderlisting{
      padding: 20px;
      @media (max-width: 991px){
        padding: 15px;
      }
      @media (max-width: 767px){
        border: none;
        padding: 0;
      }
      .mz-orderlisting-detail{
        display: block;
        background-color: white;
        padding: 0;
        .return-header{
          border-bottom: 1px solid #cccccc;
          padding: 0 0 15px;
          margin: 0 0 15px;
          @media (max-width:767px){
            border-top: 1px solid #cccccc;
            padding: 0 0 0px;
          }
          h4{
            font-family: "Agenda_bold", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 1.1;
            display: inline-block;
            @media (max-width:767px){
              font-size: 16px;
              margin: 10px 0;
            }
          }
          p{
            font-family: "Agenda_bold", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 1.1;
            float: right;
            display: inline-block;
            @media (max-width:767px){
              float: right;
              position: relative;
              font-size: 16px;
              margin: 10px 0;
            }
          }
          &.first{
            border-top: none;
          }
        }
        .return-details-container{
          .printorder-detail{
            font-size: 18px;
            color: @torchRed;
            @media (min-width: 991px){
              margin-bottom: 27px;
              display: inline-block;
            }
            i, svg {
              font-size: 24px;
              vertical-align: middle;
              @media (max-width:767px){
                font-size: 15px;
              }
            }
            &.is-loading{
              background-image: url(../resources/images/button-loading.gif);
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 50px;
              color: transparent;
              cursor: no-drop;
              text-indent: -9999px;
              pointer-events: none;
              width: 126px;
            }
          }
          .return-details-left-section{
            @media (min-width:1025px){
              padding-right: 0px;
            }
            .mz-propertylist{
              @media (max-width: 991px){
                margin-bottom: 0;
                margin-top: 10px;
              }
              dd{
                margin-left: 4px;
                  @media (max-width:320px){
                    font-size: 14px;
                    }
                i, svg {
                  color: @torchRed;
                }
                .return-Store{
                  color: @torchRed;
                  text-decoration: underline;
                  i, svg {
                    vertical-align: middle;
                  }
                }
              }
              .last-dt{
                margin-top: 10px;
              }
              dd:last-child{
                margin-top: 8px;
              }
            }
          }
          .return-details-right-section{
            text-align: right;
            @media (max-width:991px){
              text-align: left;
              margin-bottom: 15px;
            }
            img{
              @media (max-width:320px){
                width: 37px;
                height: 9px;
              }
            }


            .refundText{
              strong{
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
              }
              i, svg {
                color: @torchRed;
              }
            }
          }
          dt{
            font-family: "Agenda_bold", sans-serif;
            font-style: normal;
            font-weight: normal;
            @media (max-width:320px){
            font-size: 14px;
            }
          }
        }
      }
      .mz-l-formfieldgroup-row{
        background: whitesmoke;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0px;
        }
        .mz-l-formfieldgroup-cell{
          padding: 18px;
          @media (min-width: 768px) and (max-width: 991px){
            padding: 15px;
          }
          .product-tile{
            text-align: center;
            display: block;
            font-size: 1.6rem;
            @media (min-width:767px) and (max-width: 991px){
              padding: 0 10px;
            }
            .product-tile-image{
              img{
                max-width: 80%;
                @media (min-width:767px) and (max-width: 991px){
                  max-width: 100%;
                }
                @media (max-width:767px){
                  max-width: 100%;
                }
              }
            }
          }
          .mz-itemlisting-product-title{
            padding-left: 0;
            .mz-propertylist{
              margin-bottom: 0;
              dt{
                margin-right: 4px;
              }
              dd{
                margin-left: 0px;
                i, svg {
                  color: @torchRed;
                }
              }
            }
          }
          .product-code{
            padding: 0;
            @media (min-width: 992px) and (max-width: 1024px){
              padding-right: 15px;
              text-align: right;
            }
          }
          .mz-itemlisting-product-qty{
            text-align: center;

          }
          .mz-itemlisting-price{
            text-align: right;
          }
        }
      }
    }
    .mz-pagenumbers{
      border-top: 1px solid #cccccc;
      padding-top: 20px;
      display: block;
      margin: 20px 0;
      float: none;
      @media (max-width:767px){
        max-width:100%;
      }
    }
  }
}