.mz-sitemap {
	.mz-l-pagecontent {
		.agenda;
		color: @primary-color;
		padding: 0;
		.mz-breadcrumbs{
			.hidden;
		}
		.category-title{
			font-size:2.4rem;
			padding:0 @gutter/5 * 3;
			.agenda-bold;
		}
		.main-category-container{
			.fullwidth;
			overflow:hidden;
			&.parent-category{
				display:flex;
				.category-item{
					display:flex-box;
				}
			}
			.category-item{
				width: 100%;
				-moz-column-count: 3;
				column-count: 3;
    			@media(max-width:767px){
					-moz-column-count: 2;
    				column-count: 2;
    			}
    			@media(max-width:480px){
					-moz-column-count: 1;
    				column-count: 1;
    			}
				.sub-category{
					-moz-page-break-inside: avoid;
					-webkit-column-break-inside: avoid;
					break-inside: avoid;
					-o-column-break-inside: avoid;
					-ms-column-break-inside: avoid;
					column-break-inside: avoid;
					page-break-inside: avoid;

					font-size:1.6rem;
					.agenda;
					margin:0 @gutter/5 * 3 @gutter/5 + 2 @gutter/5 * 2;
					width:100%;
					overflow: hidden;
					&:first-child{
						.category-name{
							&:last-child{
								min-height:@gutter * 2;
							}
						}
					}
					&.sub-category-without-child{
						margin:0 @gutter/5 * 3 0;
						.top-category-name{
							margin:0;
						}
					}
					.top-category-name{
						.agenda-bold;
						margin:0 0 @gutter/5;
						font-size:1.7rem;
					}
					.category-name{
						.agenda;
						font-size:1.6rem;
						color:@primary-color;
					}
				}
				.sub-category-list{
					.agenda;
					font-size:1.7rem;
					margin:0 0 @gutter/5;
					float:left;
				}
			}		
		}
	}
}