//
// Bounteous Homepage Styles
//
// note: Widget styles not moved to their own partials due to specificity issues and scope
//



// Variables

  // Custom Breakpoints
  @screen-xxs: 374px;

  // Colors

  // Base Colors
  @color-black: #000000;
  @color-white: #ffffff;

  // Primary Colors
  @color-primary-red: #E4002B;
  @color-primary-yellow: #FFD100;

  // Secondary Colors
  @color-secondary-grey-lightest: #F7F7F7;
  @color-secondary-grey-lighter: #E6E7E8;
  @color-secondary-grey-light: #D0D0CE;
  @color-secondary-grey-medium: #9EA2A2;
  @color-secondary-grey-dark: #54585A;
  @color-secondary-grey-darkest: #333132;

  // Category Colors
  @color-category-kitchen-bath: #00B7BD;
  @color-category-paint: #4F758B;
  @color-category-spring: #A15A95;
  @color-category-lawn: #7EC38F;
  @color-category-outdoor: #00BFB2;
  @color-category-fall: #802F2D;
  @color-category-christmas: #286140;

  // Font Styles:
  @font-family-agenda: Agenda, sans-serif;

  @font-light: 300;
  @font-regular: 400;
  @font-medium: 500;
  @font-semibold: 600;
  @font-bold: 700;
  @font-black: 800;

  .font-light {
    font-weight: @font-light!important;
  }

  .font-regular {
    font-weight: @font-regular!important;
  }

  .font-medium {
    font-weight: @font-medium!important;
  }

  .font-semibold {
    font-weight: @font-semibold!important;
  }

  .font-bold {
    font-weight: @font-bold!important;
  }

  .font-black {
    font-weight: @font-black!important;
  }

  // Page Overrides

.bounteous-home .mz-l-pagewrapper .mz-l-pagecontent {

  // Default page padding
  padding: 0px;
  padding-bottom: 100px;

  // no max width on page - all widgets are in bootstrap containers
  max-width: none;

  // Defualt gutters
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  .center-content {
    display: block;

    @media (min-width: @screen-lg){
      display: flex;
      align-items: center;
    }
  }

  .stretch-content {
    display: block;

    @media (min-width: @screen-lg){
      display: flex;
      align-items: stretch;
    }
  }

  //Bootstrap no gutter - apply to row element - col must be direct child of row
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }


  // Bootstrap override to full width
  @media (min-width: 1400px){
    .container {
        width: 1330px;
    }
  }
  
  // Padding Helper Class
  .pt-5 {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .widget-padding {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  // Mixins
  .border-shadow {
    border: 1px solid @color-secondary-grey-lighter;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.08);
  }

  .underline-animation(@color) {
    text-decoration:none;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease;
    }

    @media (min-width: @screen-lg){
      &:hover {
        &:after {
          width: 100%;
          background: @color !important;
        }
      }
    }
  }

  p, span, body {
    font-family: @font-family-agenda;
    line-height: 1.2;
  }

  a:hover,
  a:visited,
  a:active {
    color: initial;
  }

  a.no-anchor {
    cursor: initial;
  }

  h1,
  .h1 {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    // line-height: 24px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0;
      // line-height: 24px;
    }
  }

  h2,
  .h2 {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0;
    // line-height: 52px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 56px;
      font-weight: 900;
      letter-spacing: 0;
      // line-height: 56px;
    }
  }

  h3,
  .h3 {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0;
    // line-height: 48px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 48px;
      font-weight: 900;
      letter-spacing: 0;
      // line-height: 52px;
    }
  }

  h4,
  .h4 {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    // line-height: 32px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0;
      // line-height: 40px;
    }
  }

  h5,
  .h5 {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    // line-height: 32px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0;
      // line-height: 32px;
    }
  }

  h6,
  .h6 {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    // line-height: 28px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0;
      // line-height: 28px;
    }
  }

  .h-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 54px;
  }

  .b1,
  .b1-intro {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 1.2;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 32px;
      letter-spacing: 0;
      line-height: 1.2;
    }
  }

  .b2,
  .b2-large-body {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.63px;
    line-height: 1.2;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.88px;
      line-height: 1.2;
    }
  }

  .b3
  .b3-main-body {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1.2;
    }
  }

  .b4,
  .b4-caption-or-discl {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
    }
  }

  .b5,
  .b5-promo-tag {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.58px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.67px;
    }
  }

  .b6,
  .b6-eyebrow {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.38px;

    @media (min-width: @screen-sm){
      color: @color-black;
      font-family: @font-family-agenda;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.44px;
    }
  }

  // Buttons

  .btn-prime {
    padding: 12px 40px;
    border-radius: 22px;
    background-color: @color-primary-red;
    color: @color-white;
    font-family: @font-family-agenda;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    .underline-animation(@color-primary-red);
  }

  .btn-prime--white {
    .btn-prime();
    color: @color-black;
    background-color: @color-white;
    .underline-animation(@color-black);
  }

  .btn-secondary {
    padding: 12px 40px;
    box-sizing: border-box;
    border: 2px solid @color-primary-red;
    border-radius: 22px;
    color: @color-primary-red;
    font-family: @font-family-agenda;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    .underline-animation(@color-primary-red);

    i, svg {
      margin-left: 5px;
      font-size: 14px;
    }
  }

  .btn-secondary--white {
    .btn-secondary();
    border-color: @color-white;
    color: @color-white;
    .underline-animation(@color-white);

    i, svg {
      margin-left: 5px;
      font-size: 14px;
    }
  }

  .btn-text {
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    .underline-animation(@color-primary-red);
    i, svg {
      color: @color-primary-red;
      margin-left: 5px;
    }
    &:hover {
      color: @color-primary-red;
    }
  }

  // Badge
  .card--badge {
    background: @color-primary-yellow;
    padding: 7px 10px 6px;
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
  }

  //
  // Card styles
  //

  // Offer Card
  .offer-card {
    a {

      &:hover {
        text-decoration: none;

        .offer-card--copy {
          p {
            text-decoration: underline;
          }
        }
      }
    }

    &--headline {
      color: @color-white;
      font-family: @font-family-agenda;
      font-size: 25px;
      font-weight: 900;
      letter-spacing: 0;
      padding: 10px 10px 11px 20px;
      background-color: @color-primary-red;
      color: @color-white;
      line-height: 30px;
    }
    
    &--copy {
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      line-height: 21px;
      margin-bottom: 40px;

      @media (min-width: @screen-lg){
        line-height: 25px;
      }

      p {
        color: @color-black;
      }
    }
  }

  // Deal Week Card
  .deal-week,
  .full-width-card {
    display: block;

    @media (min-width: @screen-lg){
      display: flex;
      align-items: stretch;
    }

    &--copy-wrapper {
      background-color: @color-primary-red;
      color: @color-white;
      margin: 0;
    }

    &--desktop-image {
      background-size: cover;
      background-position: center;
    }

    &--deal-image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 250px;
        padding: 40px 10px 20px;
        @media (max-width: @screen-sm) {
          max-width: 200px;
        }
        @media (min-width: @screen-md){
          max-width: 100%;
          padding: 40px 35px;
        }
      }
    }

    &--copy {
      padding: 38px 20px 26px;

      @media (min-width: @screen-lg){
        padding-left: 0px;
      }

    }
    &--logo {
      img {
        max-width: 200px;
      }
    }

    &--eyebrow {
      font-size: 16px;
      line-height: 16px;
      font-weight: 900;
      color: @color-primary-yellow;
      margin-top: 0px;
      margin-bottom: 5px;
    }

    &--headline {
      font-size: 48px;
      font-weight: 900;
      color: @color-primary-yellow;
      margin-top: 0px;
      margin-bottom: 8px;
      line-height: 1;
    }
    &--title {
      font-size: 32px;
      line-height: 38px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    &--sku {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 19px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    &--price-wrapper {
      .price {
        color: @color-primary-yellow;
        font-family: @font-family-agenda;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 48px;
      }

      .old-price {
        color: @color-white;
        font-family: @font-family-agenda;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.69px;
        line-height: 19px;
        margin-left: 10px;
      }
    }

    .btn-secondary--white {
      margin-top: 0px;
    }

    &--disclaimer {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.44px;
      line-height: 19px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  // General Slider Nav Controls

  .slider-navigation--controls {

    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 20px;
    color: @color-secondary-grey-darkest;

    @media (min-width: @screen-md){
      display: none;
    }

    .slider-paging {
      min-width: 60px;
    }

    i,
    span {
      padding: 15px;
      display: inline-block;
    }

    i, svg {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: @color-primary-red;
      }
    }
  }

// **************************
// WIDGET STYLES
// **************************

  // Widget - Social Banner
  .widget-social {
    padding: 38px;
    background-color: #F7F7F7;
    text-align: center;

    @media (min-width: @screen-lg){
      text-align: left;
    }

    &.no-bg {
      background-color: transparent;
      border-top: 1px solid @color-secondary-grey-light;
      border-bottom: 1px solid @color-secondary-grey-light;
    }

    h4 {
      font-size: 18px;
      line-height: 1;
      margin-top: 15px;
      margin-bottom: 0;

      @media (min-width: @screen-lg){
        font-size: 32px;
      }
    }

    .widget-social__list {
      list-style: none;
      align-items: center;
      padding: 0px;
      margin: 0px;
      
      @media (min-width: @screen-md){
        justify-content: center;
        display: flex;
      }

      li {
        display: inline-block;
      }

      .widget-social__title {
        display: block;
        width: 100%;

        @media (min-width: @screen-md){
          width: auto;
          display: inline-block;
        }
      }

      h4 {
        margin: 0;
        @media (min-width: @screen-md){
          margin-right: 70px;
        }
      }

      a {
        display: block;
        padding: 20px;
        @media (min-width: @screen-lg){
          padding: 28px 25px;
        }
      }
    }

    i, svg {
      color: @color-black;
      font-size: 18px;
      transition: 0.3s;

      @media (min-width: @screen-lg){
        font-size: 40px;
      }

      &:hover {
        color: @color-primary-red;
      }
    }
  }

  // Widget - Deal of the Week
  .widget-deal-of-week {
    a {

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Widget - Deal of the Week 2
  .widget-deal-week-2 {

    .deal-week-2--card {
      margin-bottom: 40px;

      a {
        display: block;
        background-color: @color-primary-red;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }

      &--logo {
        padding: 15px 30px;

        @media (min-width: @screen-lg){
          padding: 15px 60px;
        }

        img {
          max-width: 200px;
        }
      }

      .deal-week--copy {
        color: @color-white;
        text-align: center;
        padding-top: 0px;
        padding-right: 0px;
      }

      .deal-week--eyebrow {
        margin-bottom: 20px;
      }

      .btn-secondary--white {
        margin-top: 0px;
        margin-bottom: 20px;
        display: inline-block;
      }
    }

    .offer-card {

      &--headline {
        font-size: 25px;
        font-weight: 900;
        padding-left: 10px;
        padding-right: 10px;
      }

    }
  }

  // Widget - Deal of the Week 3
  .widget-deal-week-3 {

    .deal-week-3--right-wrapper {
      display: none;

      @media (min-width: @screen-lg){
        display: flex;
      }
    }

    .deal-week-3--card {
      margin-bottom: 40px;
      background-color: @color-primary-red;
      width: 100%;

      a {
        display: block;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }

      &--logo {
        padding: 25px 30px;
        text-align: center;

        @media (min-width: @screen-lg){
          padding: 25px 60px;
        }

        img {
          display: inline-block;
          max-width: 200px;

          @media (min-width: @screen-md){
            max-width: 100%;
          }
        }
      }

      .deal-week--copy {
        color: @color-white;
        text-align: center;
        padding-top: 0px;
      }

      .deal-week--eyebrow {
        margin-bottom: 22px;
      }

      .btn-secondary--white {
        margin-top: 0px;
        margin-bottom: 20px;
        display: inline-block;
      }
    }
  }

  // Widget - Full-width Card
  .widget-full-width {

    a {
      display: block;
      .border-shadow();

      &:hover {
        text-decoration: none;
      }
    }

    .full-width-card {

      &--copy-wrapper {
        background-color: @color-white;
      }

      &--copy {
        padding-left: 20px;

        @media (min-width: @screen-lg){
          padding-left: 50px;
          padding-right: 20%;
        }
      }

      &--logo {
        margin-bottom: 10px;
      }

      &--title {
        .h-title();
        color: @color-black;
      }
      &--subtitle {
        .b1();
      }
    }
  }

  // Widget - 2 up Card
  .widget-two-up {

    > .row {
      @media (min-width: @screen-lg){
        display: flex;
      }
    }

    a {
      display: block;
      .border-shadow();
      margin-bottom: 40px;
      color: initial;

      @media (min-width: @screen-lg){
        margin-bottom: 0;
        display: flex;
        height: 100%;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .two-up-card--2, .two-up-card--1{
      a {
        margin-bottom: 0px;
        @media only screen and (max-width: 767px){ 
          margin-bottom: 40px;
        }
        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
          margin-bottom: 40px;
        }
        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
          margin-bottom: 40px;
        }
        @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3){
          margin-bottom: 40px;
        }
        /* Portrait and landscape iPad Air and iPad Air 2 Media Queries */
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            margin-bottom: 40px;
          }
          @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
            margin-bottom: 40px;
          }        
        img {
          @media only screen and (max-width: 767px){ 
              width: 100%;
          }
          @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
              width: 100%;
          }
          @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
              width: 100%;
          }
          @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3){
              width: 100%;
          }
          @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
             width: 100%;
          }
          /* Portrait and landscape iPad Air and iPad Air 2 Media Queries */
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            width: 100%;
          }
      }
      }
    }

    .two-up-card {

      &--copy-wrapper {
        background-color: @color-white;
      }

      &--copy {
        padding: 20px;

        @media (min-width: @screen-lg){
          padding: 10px;
          padding-left: 45px;
        }
      }

      &--logo {
        margin-bottom: 10px;
      }

      &--title {
        font-size: 38px;
        font-weight: bold;
        line-height: 1;
      }
      &--subtitle {
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
      }
    }
  }

  // Widget - 3 up card
  .widget-three-up {

    // Important to override slick inline styles
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
        height: inherit !important;
    }

    a {
      .border-shadow();
      display: block;
      color: initial;
      height: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    .three-up-card {

      &--copy {
        padding: 15px 20px 48px;

        .card--badge {
          min-height: 20px;
          margin-top: 0;

          &.spacer {
            background-color: transparent;
          }
        }
      }

      &--eyebrow {
        height: 18px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.56px;
        margin-top: 0px;
      }

      &--title {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1;

        @media (min-width: @screen-lg){
          min-height: 80px;
        }
      }
    }
  }

  .widget-category-grid,
  .widget-pro-programs {

    .btn-text {
      padding: 20px 0 40px;
      font-size: 18px;

    }
  }

  // Widget - Hero
  .widget-hero {
    position: relative;
    padding: 0px;
    margin-bottom: 25px;
    top: -1px;

    // Important to override slick inline styles
    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: inherit !important;
    }

    .hero-slide {
      background-position: top;
      background-size: 800px;
      background-repeat: no-repeat;

      @media (min-width: @screen-sm){
        background-position: center;
        background-size: cover;
      }

      a {
        display: block;
        height: 100%;
      }

      .row,
      .container {
        height: inherit;
      }

      [class*="col-"] {
        height: inherit;
      }

    }

    .slider-navigation-wrapper {

      .row {
        margin-left: 0px;
        margin-right: 0px;

        @media (min-width: @screen-md){
          margin-right: 10px;
        }

        @media (min-width: @screen-lg){
          margin-right: 20px;
        }
      }
    }

    .slider-navigation {
      width: 100%;
      padding: 10px 15px 7px;
      background-color: @color-white;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      top: 254px;
      z-index: 10;
      color: @color-secondary-grey-darkest;

      @media (min-width: @screen-sm){
        top: 100px;
      }

      h1 {
        margin: 0px;
        color: @color-secondary-grey-darkest;

        @media (max-width: @screen-xxs){
          font-size: 14px;
          line-height: 23px;;
        }
      }

      &--controls {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px;

        @media (max-width: @screen-xxs){
          font-size: 12px;
        }

        i, span{
          padding: 0 3px;
        }

        .slider-autoplay {
          margin-left: 10px;
        }
      }
    }

    .hero-card {
      background-color: @color-category-fall;
      position: relative;
      padding: 25px 20px;
      margin-top: 292px;
      height: inherit;
      text-align: left;

      @media (min-width: @screen-sm){
        padding: 100px 20px 80px;
        margin-top: 100px;
        text-align: left;
      }

      &--title {
        color: @color-white;
        font-family: @font-family-agenda;
        font-weight: 900;
        letter-spacing: 0;
        margin-top: 0px;
        font-size: 48px;
        line-height: 52px;

        @media (min-width: @screen-sm){
          font-size: 65px;
          line-height: 70px;
        }
      }

      &--subtitle {
        color: @color-white;
        font-family: @font-family-agenda;
        font-weight: 500;
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 20px;

        @media (min-width: @screen-sm){
          font-size: 40px;
          line-height: 48px;
          min-height: 48px;
        }
      }

      &--disclaimer {
        color: @color-white;
        font-size: 14px;
        font-weight: 500;
        margin: 0px;

      }

      &--icon2 {
        margin-bottom: 10px;
      }

      .btn-secondary--white {
        color: @color-secondary-grey-darkest;
        margin-bottom: 15px;
      }
    }
  }

  // Widget - Interest Grid
  .widget-interest-grid {

    .interest-card {
      text-align: center;

      a {

        &:hover {
          text-decoration: none;
        }
      }

      &--headline {
        color: @color-white;
        font-family: @font-family-agenda;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        padding: 10px 0 11px;
        background-color: @color-black;
        color: @color-white;
      }
      &--copy {
        margin-top: 35px;
        margin-bottom: 40px;
      }
    }
  }

  // Widget - Title
  .widget-title {
    margin-top: 60px;
    padding-bottom: 20px;

    a {
      &:hover {
        text-decoration: none;

        p {
          text-decoration: none;
        }
      }
    }

    &--headline {
      display: block;

      @media (min-width: @screen-sm){
        display: inline-block;
      }
    }

    &--cta {
      width: 100%;
      margin-top: 10px;

      @media (min-width: @screen-md){
        width: auto;
        margin-left: 60px;
        position: relative;
        top: -13px;
        margin-top: 0;
      }
    }
  }

  // Widget - Brand slider
  .widget-brands-slider {

    h2 {
      display: block;

      @media (min-width: @screen-sm) {
        display: inline-block;
      }
    }

    .slider-navigation--controls {
      display: block;

      @media (min-width: @screen-md) {
        display: inline-block;
        margin-bottom: 0px;
        position: relative;
        top: -5px;
        margin-left: 40px;
      }
    }

    a {
      .border-shadow();
      display: block;
      padding: 25px 15px;

      .btn-text {
        display: none;
      }
    }

    .slick-slide {
      margin-bottom: 10px;
    }

    .cta-wrapper {
      text-align:center;
      margin-top: 10px;

      a {
        display: inline-block;
        border:none;
        padding: 0;
        box-shadow: none;
      }
    }
  }
  // Merchandised Products Widget additions
  .widget-products-list {

    h2 {
      display: block;

      @media (min-width: @screen-sm) {
        display: inline-block;
      }
    }

    .slider-navigation--controls {
      display: block;

      @media (min-width: @screen-md) {
        display: none;
        margin-bottom: 0px;
        position: relative;
        top: -5px;
        margin-left: 40px;
      }
    }

    // Important to override slick inline styles
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
        height: inherit !important;
    }

    .mz-productlist .mz-productlisting {
      width: 100%;
      margin: 15px;
      padding: 0px;
      .border-shadow();
      .current-product-banner {
        display: none;
      }
      .mz-productlisting-image {
        padding: 15px 27px 0px;
        width: 100%;

        .image-wrap img {
          border: none;
          width: 265px;
          margin: 0 auto;
        }

        .image-wrap .badge,
        .image-wrap .clearanceTagImg {
          display: inline-block;
          position: static;
          margin-top: 10px;
          font-weight: @font-bold;
          font-size: 12px;
        }
      }

      .mz-productlisting-info {
        padding: 0 27px 15px;
        display: flex;
        flex-direction: column;


        .brand-name {
          font-size: 12px;
          line-height: 14px;
          display: block;
          text-transform: uppercase;
          order: 1;
          height: 14px;
          margin-bottom: 12px;
          overflow: hidden;
        }

        .mz-productlisting-title {
          font-size: 16px;
          line-height: 19px;
          font-weight: @font-medium;
          height: 36px;
          order: 2;
          margin-bottom: 15px;
        }

        .product-code {
          order: 3;
        }

        .inline-ratings-category-page {
          order: 4;
          margin-bottom: 12px;
        }

        .product-details {
          order: 5;

          .mz-price {
            font-size: 18px;
            line-height: 19px;
            font-weight: @font-bold;

            &.is-crossedout {
              font-weight: @font-regular;
            }
          }
          .is-saleprice {
            color: inherit;
          }
        }
      }
    }
  }
}