.mz-careers {
	.mz-l-pagecontent {
		.agenda;
		color: @primary-color;
		padding: 0;
		
		.mz-breadcrumbs {
			.container {
				display: none;
			}
		}
		.careers-container {
			.careers-type {
			    @media (min-width: 768px) {
   					display: flex;
    			}
    			.col-sm-6 {
   				    border: @gutter - 15 solid @aeroplanBorder;
				    padding: @gutter - 15;
				    flex: 1;
				    
				    &:nth-child(2) {
					    @media (min-width: 768px) {
	   						border-left: 0;	
		    			}
		    			@media (max-width: 767px) {
	   						margin-top: @gutter - 15;
   						    margin-bottom: @gutter * 2;
		    			}			    	    
				    }	
				    p {
			    	    margin-bottom: @gutter*2 + 5;
				    }			    
				    .go-button {
	    				.btn-red();
	   					.btn-small();
   					    bottom: @gutter - 15;
   					    position: absolute;
	    			}
    			}
    			
			}
		}
		.pagetitle {
		    margin: 2.5rem 0 0.5em;
		    font-size: 4rem;
	        .agenda-bold;
		}
		
		.select-input {
		    margin-bottom: @gutter;
	        position: relative;
	        display: -webkit-box;     
            display: -moz-box;         
            display: -ms-flexbox;     
            display: -webkit-flex;     
            display:flex;
            -webkit-box-align: center;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    .province-label {
	    	    margin-right: @gutter - 5;
    	        margin-bottom: 0;
                .agenda-bold;
		    }
		    .province-careers {
		    	-webkit-appearance: none;
			    -moz-appearance: none;
			    -o-appearance: none;
		     	appearance: none;	
	    	    border: 1px solid @formInputBorder;
			    border-radius: 0px;
			    background: @white;
			    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
		        height: 41px;
			    width: auto;
			    -webkit-box-flex: 1;
			    -webkit-flex: 1;
			    -ms-flex: 1;
			    flex: 1;
		    }
		    
		    .province-careers::-ms-expand {
		        display: none;
			}
		    
		    &:after {
			    height: 41px;
			    line-height: 41px !important;
			    color: @formInputBorder;
			    .material-icons;
			    content: "\E313";
		        font-size: 3.4rem;
	            position: absolute;
			    bottom: 0;
			    right: @gutter - 15;
			    pointer-events: none;
			}
		}
		.sortby-select {
			position: relative;
			select {
				font-weight: bold;
			    background: rgba(@skyblue, 0.4);
			    border-color: rgba(@skyblue, 0.4);
			    padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 15;
		        -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
		        width: 100%;
	            height: 60px;
			}
			
			&:after {
			    height: 60px;
			    line-height: 60px !important;
			    color: @primary-color;
			    .material-icons;
			    content: "\E313";
		        font-size: 3.4rem;
	            position: absolute;
			    bottom: 0;
			    right: @gutter - 15;
			    pointer-events: none;
			}
		}
		
		#job-data-table_wrapper {
			.dataTables_length, 
			.dataTables_filter {
				display: none;
			}
			.dataTables_info {
				display: none;
			}
			.dataTables_paginate {
				margin-top: @gutter * 2;
    			margin-bottom: @gutter * 2;
    			text-align: center;
    			
    			&>.paginate_button {
    				display: block;
				    font-size: 1.875rem;
				    font-weight: 700;
				    line-height: 1;
				    text-align: center;
				    color: @white;
				    border: none;
				    width: @gutter;
				    height: @gutter;
				    padding: 0;
				    border-radius: 50%;
				    background: @torchRed;
				    vertical-align: middle;	
				    position: relative;
				    cursor: pointer;
				     &.disabled {
				    	background: @grey;
			    	    cursor: no-drop;
			    	    color:@white;
				    }
				    &:before{
				    	font-size: 2.5rem;
			   		    position: absolute;
					    width: 25px;
					    height: 25px;
					    left: 0;
					    top: 0;
				    }
				    &:hover{
				    	text-decoration:none;
				    }
				    
				    &.previous {
				    	.material-icons;
						line-height: 1;
						margin-right: @gutter - 15;
						
						&:before {
							content: "\E314";	
							margin-left:-@gutter/5 + 2;
						}
				    }
				    
				    &.next {
				    	.material-icons;
						margin-left: @gutter - 15;
						
						&:before {
							content: "\E315";
						}
				    }
    			}
    			
    			&>span {
    				.paginate_button {
    					color: @torchRed;
				        text-decoration: none;
				        .agenda-bold;
				        padding:@gutter/5 @gutter/2 - 0.5;
				        line-height: 1.428571429;
				        cursor: pointer;
				        &:hover{
				        	background:@light-grey;
				        }
				    	&.current {
				    		color: @black;
				    		cursor: not-allowed;
				    		&:hover{
				    			background:none;
				    		}
				    	}
    				}
    			}
			}
		}
		
		.responsive-table {
			width: 100%;
    		text-align: left;
    		thead {
    			@media (max-width: 767px) {
    				display: none;
    			}
    			
    			th {
    				.agenda-bold;
	    			background: rgba(@skyblue, 0.4);
	    			p {
	   				    color: @primary-color;
	   				    position: relative;
	   				     margin: 0;
    					float: left;
    					font-family: "Agenda_bold", sans-serif;
    					&:hover {
   						    cursor: pointer;
    					}
	   				    
	    			}
	    			
	    			&.sorting {
	    				 p {
	    					&:before {
	    						.material-icons;
	    						content: "\E5C7";
    						    position: absolute;
							    right: -18px;
							    top: -5px;
							    font-size: 20px;
	    					}
	    					&:after {
	    						content: "\E5C5";
	    						.material-icons;
    						    position: absolute;
							    top: 2px;
							    right: -18px;
							    font-size: 20px;
	    					}
	    				}
	    			}
	    			
	    			&.sorting_asc {
	    				p {
	    					&:after {
	    						content: "\E5C7";
	    						.material-icons;
    						    font-size: 20px;
							    position: absolute;
							    top: -5px;
	    					}
	    				}
	    				
	    			}
	    			
	    			&.sorting_desc {
	    				p {
	    					&:after {
	    						content: "\E5C5";
	    						.material-icons;
	    						font-size: 20px;
							    position: absolute;
							    top: 2px
	    					}
	    				}	    				
	    			}
	    			
	    		}
    		}
    		
    		th, td{
    			padding: @gutter - 5;
    			vertical-align: top;
    		}
    		tbody{
	    		tr {
    				&:nth-child(even) {
    					@media (min-width: 768px) {
    						background: rgba(@skyblue, 0.15);
    					}
    				}
    				
    				&:nth-child(odd) {
    					@media (max-width: 767px) {
    						background: rgba(@skyblue, 0.15);
    					}
    				}
    				
    				@media (max-width: 767px) {
   					    display: block;
    					padding: @gutter - 13;
    				}
    				
    				td {
    				
	    				@media (max-width: 767px) {
	   					    display: block;
	    					padding: 0;
	    				}
    					a {
    						color: @torchRed;
    					}
    				}
    			}
    		}
    	}
    	
    	.mz-pagenumbers {
   		    margin-top: @gutter * 2;
    		margin-bottom: @gutter * 2;
    	}
	}
}
@media print {
	.mz-careers-posting {
		.mz-pagefooter, .header-container{
			.hidden;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid @storeResultBorder;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
		.g-recaptcha{
			.hidden;
		}
	}
}