@-webkit-keyframes pulse {
  from { .opacity(0.2); }
  to { .opacity(0.3); }
}
@keyframes pulse {
  from { .opacity(0.2); }
  to { .opacity(0.3); }
}

.mz-checkout {
	.mz-l-pagecontent {
		padding: 0;
		overflow: initial;
		#checkout-rightcol {
			@media (min-width: 768px) {
				position: sticky;
				top: 0;
			}
			@media (max-width: 768px) {
			padding: 0px;
			}
		}
	}
	.main-content-loader {
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    z-index: 1000;
	    text-align: center;
	    top: 0;
	    left: 0;
	    background-color: rgba(0,0,0,0.7);
	    content: "";
	    opacity: 1;
		.loading-image {
		    width: 150px;
		    margin: 10px auto;
		}
	}
	.checkout-container{
		@media (min-width: 1200px) {
			width: 1330px;
		}
	}
}
.showDefaultCard {
	background-image: url("{{ themeSettings.sirvResourceImageUrl }}/default_card.png");
	background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: @gutter * 2 !important;
}
.cardBgImg {
	background-image: url("{{ themeSettings.sirvResourceImageUrl }}/payment-options-cards.png");
	background-repeat: no-repeat;
}
.showVisaImg {
	.cardBgImg;
    background-position: 5px 7px;
    background-size: 250%;
}
.showMastercardImg {
	.cardBgImg;
    background-position: -52px 3px;
    background-size: 350%;
}
.showAmexImg {
	.cardBgImg;
    background-position: -102px 3px;
    background-size: 380%;
}
.showDiscoverImg {
	.cardBgImg;
    background-position: -109px 5px;
    background-size: 300%;
}
.paypalImg {
	background-image: url("{{ themeSettings.sirvResourceImageUrl }}/payment-options-paypal.png");
	background-repeat: no-repeat;
	display: block;
	height: 25px;
    width: 110px;
}
.defaultCardImg {
	position: absolute;
	top: 5px;
 	bottom: 0;
 	left: 5px;
 	right: 0px;
 	width: 48px;
}
.card-number-with-type {
	position: relative;

	.mz-payment-credit-card-number {
		/*padding-left: @gutter * 2 + 10 !important;*/
		background-color: transparent;
	}
}
.checkout-container, .login-container {
	margin-top: @gutter - 10;
	.mz-messagebar {
		ul{
			margin-left: 16px;
			margin-right: 16px;
		}
	}
}
.header-checkout{
	.back-to-cart{
		.agenda-bold;
		font-size: 16px;
		color: @black;
		img{
			padding-right: 8px;
			margin-bottom: 2px;
		}
	}
	.header-checkout-title{
		font-size: 50px;
		color: @black;
		.agenda-bold;
		margin-top: @gutter + 10;
	}
	.header-login{
		.agenda;
		font-size: 18px;
		color: @black;
		line-height: 65px;
		font-weight: 700;
		a{
			color: @black;
			text-decoration: underline;
		}
	}
}
.mz-checkout-mask {
  position: absolute;
  background-color: @textColor;
  .opacity(0);
  .animation(pulse, 0.5s, 0s, linear, alternate, infinite);
}

.mz-checkoutform-comments-field {
    width: 100%;
    height: 8em;
}


.mz-checkoutform-active {
    width: 100%;
}

/*.mz-paymentselector-newcreditcard {
	padding-top: @gutter + 5;
	padding-bottom: @gutter + 5;
}*/
/*.withoutSavedCards {
	padding-top: 0px !important;
}*/
/*.mz-checkout-saved-card-editing {
	margin: 0;
}*/
.needCallAboutOrder {
	.agenda;
	font-size: 80%;
}
.mz-checkoutform, .mz-contactselector-new {
    box-sizing: border-box;
	label {
		cursor: default;
		.agenda;
		color: @black;
		margin-bottom:5px;
		.fullwidth;
	}
	.aeroplan-title-label {
		padding-left: 0px;
	}
    .mz-paymentselector-label-newcreditcard {
    	color: @secondary-color;
    	font-size: 1.6rem;
    }
    .form-group{
    	margin:0 0 @gutter/2 + 2.5;
    }
    a {
      cursor: pointer;
    }
	.add_credit_card_text {
		padding: 10px 0px 20px 10px;
		a{
			color: #e4002b;
			font-weight: 500;
		}
	}

    .mz-checkout-button-link {
      padding: @gutter - 22;
      border: 1px solid @formInputBorder;
      color: @linkHoverColor;
      background-color: @color-secondary-grey-lightest;
      cursor: pointer;
      margin: @gutter/4;
    }
    .mz-checkout-button-link:hover{
      border: 1px solid @storeClosedStatus;
      color: black;
    }

}

/*Shipping Address Changes*/

.mz-checkoutform-shippingaddress{
	&.shipping-address-step{
		margin-bottom: 0;
		&.is-invalid{
			margin-bottom: @gutter + 5;
			background-color: white;
			.is-incomplete;
		}
		&.is-incomplete{
			margin-bottom: 30px;
		}
		&.is-complete{
			margin-bottom: 30px;
			.mz-formstep-body{
				width: 100%;
			}
			.mz-checkoutform-header[data-step="2"]{
				@media(max-width:400px){
					a{
						top:@gutter/5 - 0.75;
					}
				}
			}
		}
		&.is-new{
			margin-bottom: 0;
		}
	}
	.mz-formstep-body{
		width: 100%;
		padding-left: @gutter + 20;
		@media (max-width: 991px) {
			width: 100%;
			padding-left: 0px;
		}

		.mz-contactselector{
			.mz-l-formfieldgroup-cell {
				padding: 0;

					display: block;

				.select-input {
					position: relative;
					&:first-child {
						margin-right: @gutter / 5;
					}
					&:after {
						.material-icons;
						font-size: 3.4rem;
						height: @gutter + 15;
						color: @formInputBorder;
						content: "\E313";
						line-height: 1.4;
						position: absolute;
						top: 0;
						right: 62px;
						pointer-events: none;
						@media (max-width: 767px) {
							right: @gutter - 21;
						}
						@media (min-width: 768px) and (max-width: 991px) {
							right: @gutter  - 15;
						}
					}
					select{
						padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						box-shadow: none;
						transition: none;
						.no-appearance;
						&::-ms-expand {
							display: none;
						}
						option{
							box-shadow: none;
							outline: none;
							border: none;
						}
						@media (max-width:767px){
							font-size: 16px;
						}
					}
					.mz-contactselector {
						width: 91%;
						height: 43px;
						@media (max-width: 991px) {
							width: 100%;
						}
					}
				}
				.new-address-btn{
					padding: 10px 0px;
					a{
						color: @torchRed;
					}
				}
				.mz-contactselector-contact{

						display: block;

					.mz-contactselector-summarywrapper{
						padding: 0px;
							display: block;

					}
				}
			}
		}
		.form-group-row{
			padding-bottom: 15px;
			.address-complete-input{
				width: 100%;
			}
			.mz-addressform-firstname, .mz-addressform-country, .mz-addressform-state{
				@media (max-width: 767px) {
					padding-bottom: 15px;
				}
			}
			.mz-addressform-phone{
				&.mz-addressform-phone-number{
					position: absolute;
					bottom: @gutter * 8;
					@media (max-width: 767px) {
						position: inherit;
						bottom: 0;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
						position: absolute;
						bottom: @gutter * 10 - 5;
					}
				}
			}
		}
		.mz-addresssummary{
			.agenda;
			font-weight: 500;
			line-height: 20px;
			font-size: 18px;
			color:@black;
			@media (max-width: 767px) {
				margin-left: 46px;
			}
			.shipping-text{
				.agenda;
				color:@color-secondary-grey-dark;
				font-weight: 500;
				font-size: 14px;
				padding-top: 14px;
			}
			.shipping-name{
				@media (max-width: 768px) {
					font-weight: bold;
				}
				@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape){
					font-weight: bold;
				}
			}
		}
		.mz-formstep-next{
			.shipping-next-btn{
				margin: 0;
				width: @gutter * 12 + 10 ;
				text-transform: capitalize;
				&.is-loading{
					background-image: url(../resources/images/button-loading.gif);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 50px;
					color: transparent;
					cursor: no-drop;
					text-indent: -9999px;
					pointer-events: none;
				}
				@media(max-width:767px){
					display: block;
					margin: 0 auto;
			}
		}
	}

	}

	.form-control {
		width: 100% !important;
	}

	.province-us{
		.select-icon-cont{
			select + i , #stateOrProvinceUS- + i, 
			select + svg , #stateOrProvinceUS- + svg {
				top: @gutter - 20;
			}
		}
	}
}
.mz-checkoutform-shipping {
    display: block;
		label {
			.agenda;
			font-size: 16px;
			font-weight: 500;
			color :@black;
			line-height: 14px;
			padding-bottom: @gutter - 13;
			margin: 0;
			text-align: left !important;
			text-transform: capitalize;
		}
		input,select{
			background: @white;
			border: 1px solid @color-secondary-grey-dark;
			box-sizing: border-box;
			border-radius: 6px;
			height: 44px;
			color: @black;
			font-size: 16px;
			.agenda;
			font-weight: 500;
			padding: 0 @gutter - 5;
			line-height: 44px;
			&:focus{
				border-color: @black;
				box-shadow: none;
			}
			&.is-invalid{
				border: 1px solid @redBtnBorder;
				background-color: @white!important;
			}
			option{
				.agenda;
				font-size: 16px;
				font-weight: 500;
			}
		}
		.needCallAboutOrder {
			.agenda;
			font-weight: 500;
			font-size: 14px;
			color: @color-secondary-grey-dark;
			padding-top: @gutter - 14;
			display: block;
			line-height: @gutter - 8;
		}
		.mz-validationmessage{
			.agenda;
			font-size: 16px;
			font-weight: 500;
			color:@color-primary-red;
			font-feature-settings: 'liga' off;
			padding-top: @gutter - 20;
		}
		.mz-addressform-city{
			@media(max-width:767px){
				padding-bottom: 15px;
			}
		}
		.ship-to-canada{
			height: 53px;
			background: @color-secondary-grey-lightest;
			margin-top: @gutter * 2 - 6;
				span {
				.agenda;
				font-size: 16px;
				line-height: 18.75px;
				letter-spacing: 0.06px;
				text-align: left;
				position: absolute;
				margin: @gutter - 6 0 @gutter - 10 @gutter - 3;
				color:@blackpearl;
				font-weight: 700;
				@media (max-width: 767px) {
					margin: @gutter - 6 0 @gutter - 10 0;
				}
			}
		}
		.ship-to-canada-fr{
			margin-top: @gutter + 2;
		}
		.billing-box{
			padding-top: 15px;
		}
		.checkbox-label-inside{
			min-width: 20px!important;
			height: 20px;
			width: 20px;
			top:3px;
			border: 1px solid @black;
			border-radius: 2px;
			&:after{
				font-size: 18px;
				line-height: 18px;
				color:@pigmentGreen;
			}
		}
		.billing-info{
			font-size: 16px;
			.agenda;
			font-weight: 500;
			color:@black;
		}
		.select-icon-cont{
			select {
				background-image: url('{{ themeSettings.sirvResourceImageUrl }}/payment/down-arrow.png');
				background-repeat: no-repeat;
				background-position: 95%;
				-webkit-appearance: none;
				-moz-appearance: none;
			}
	  	}
		.postalcode-back-to-cart{
			font-family: "Agenda_bold",sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #000;
			float: right;
			padding-top: 20px;
			img {
				padding-right: 8px;
				margin-bottom: 2px;
			}
		}
}
.shipping-next-btn{
	margin-left: 15px;
	margin-top: 23px;
	.btn-red();
	.btn-medium();
	border-radius: 22px;
	border: 2px solid @color-primary-red;
	&:hover, :focus {
		background-color: @redButtonHoverBg;
		text-decoration: none;
		border-color: @redButtonHoverBg;
	}
}

.mz-checkoutform-shippingmethod{
	margin-bottom: unset;
	.mz-checkoutform{
		padding: 0 26px;
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	&.is-complete{
		margin-bottom: 48px;
		@media (max-width: 767px) {
			margin-bottom: 18px;
		}
	}
	&.is-incomplete{
		margin-bottom: 48px;
		@media (max-width: 767px) {
			margin-bottom: 18px;
		}
		.shipping-complete{
			display: none;
		}
	}
	&.is-new{
		margin-bottom: unset;
		.shipping-complete{
			display: none;
		}
	}
	.shipping-method-label{
		position: relative;
		display: block;
		padding: @gutter - 25 @gutter - 10 @gutter - 19 @gutter * 2;
		line-height: 2.6rem;
		border-radius: @gutter / 5;
		cursor: pointer;
		background-color: @main-background;
		text-align: left !important;
		margin-bottom: 0;
		font-weight: bold;
		@media (max-width: 767px) {
			padding: @gutter - 25 @gutter - 10 @gutter - 19 @gutter * 2 - 4;
		}
		.shipping-name{
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			width: 205px;
			height: 24px;
			color: @black;
			.shipping-method-price{
				font-weight: 500;
			}
		}
		.shipping-method-radio {
			margin: 0;
			position: absolute;
			top: @gutter - 24;
			left: @gutter - 10;
			margin-right: 11px;
			@media (max-width: 767px) {
				margin-top: 3px;
				margin-right: 16px;
			}
			.payment-method-label {
				min-width: 0;
				width: 20px;
    			height: 20px;
				&:after {
					font-size: 16px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					color: @black;
					//opacity: 1;
				}
			}
		}
	}
	.shipping-days-info{
		display: block;
		height: 16px;
		font-size: 14px;
		padding-left: 50px;
		color: @color-secondary-grey-dark;
		font-weight: 500;
		letter-spacing: 0.44px;
    	line-height: 16px;
		margin-bottom: 22px;
	}
	.shipping-complete{
		padding: 0 26px;
		border-top: none;
		.shipping-method-name{
			font-family: "Agenda_bold", sans-serif;
			font-style: normal;
			font-weight: normal;
			margin: 0 0 9px;
			line-height: 1.1;
			font-size: 1.8rem;
		}
		.shipping-days-info{
			font-size: 14px;
			padding-left: 50px;
			font-size: 14px;
		}
	}
}


.is-loading select {
    background-image: url('{{ themeSettings.sirvResourceImageUrl }}/button-loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: rgba(0, 0, 0, .25);
}

.mz-checkoutform-shipping-edit {
    padding: @gutter/4 @gutter/4 @gutter/4 @gutter/4;
    .mz-shipping-row {
      margin: @gutter/4;
      display: flex;
      flex-wrap: wrap;
      .mz-shipping-row-item{
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }

}

.mz-checkoutform {
    .contact-information {
        @media (min-width: 1200px) {
            width: 73%;
        }
    }
    .order-summary {
        @media (min-width: 1200px) {
            width: 340px;
        }
    }

}

.mz-formstep-header {
    &.mz-checkoutform-header {
		background-color: @white;
		color: @black;
		padding: @gutter + 3 0px;
		font-size: @gutter - 3;
        .agenda-bold;
		margin:0;
		letter-spacing: 0.0785714px;
		border-top: 0.25px solid @color-secondary-grey-dark;
        > a {
			color: @font-hh-black;
			padding-right: @gutter - 25;
			font-size: 18px;
			text-decoration-line: underline;
			.agenda-bold;
        }
        &:before{
			font-weight: 800;
		    content: attr(data-step);
		    display: inline-block;
		    vertical-align: middle;
			font-size: @gutter - 9;
			line-height: @gutter + 4;
		    text-align: center;
		    overflow: hidden;
			width: @gutter + 4;
			height: @gutter + 4;
		    border-radius: 50%;
			background: @blackpearl;
		    margin: -@gutter/5 + 2 @gutter/2 - 2.5 0 0;
			color: @white;
		}
	}
	&.storePickUp-content {
		color: @black;
		margin: 0 0 @gutter - 4;
		font-size:22px;
		.agenda-bold;
		padding:0px;
		.storeIcon {
				width: @gutter;
				height: @gutter;
		}
		.storePickupSection {
			align-self: flex-end;
			padding-left: @gutter / 5;
			padding-top: @gutter / 5 - 2;
        }
    }
}
.is-incomplete {
    .mz-formstep-header {
		&.mz-checkoutform-header {
		    background:@white;
    		color:@black;
    		&:before{
    		    background: @blackpearl;
		color:@white;
    		}
		}
	}
}

#instore-pickup-info {
    &.is-incomplete {
        .mz-formstep-header {
    		&.mz-checkoutform-header {
    			border-top: unset;
    			padding: 0 0 @gutter - 11;
    		}
    	}
    }
}
#step-shipping-address {
	&.is-incomplete {
		.mz-formstep-header {
			&.mz-checkoutform-header {
		&:before{
					content: "2";
				}
		}
	}
}
}

.is-complete{
    .mz-formstep-header {
		&.mz-checkoutform-header {
		    background:@white;
    		color:@black;
		margin-bottom: 0;
		    border-top: 0.25px solid @color-secondary-grey-dark;
		&:before{
		 	.material-icons;
		    content: "\E876";
    		    background: @white;
    		    line-height: 1.1;
    			border: 3px solid @christi;
    			color : @black;
    			font-size: 22px;
        		font-weight: 400;
    		}
		}
    }
    .contactInfo-section {
    	.mz-formstep-header {
    		&.mz-checkoutform-header {
    			padding: @gutter + 3 0 0;
    			border-top: unset;
    		}
		}
	}
}
.incomplete-step {
	background:@checkoutSectionHeader !important;
	color:@white !important;
	&:before{
	    background: @btnColor !important;
	    color:@mineShaft;
	}
}

.mz-formstep-body {
    > .mz-formstep-edit {
        float: right;
        top: @gutter/4;
        position: relative;
        display: inline-block;
	    font-size: 1.6rem;
	    color: @white;
	    .agenda;
    }
}

.mz-checkoutform-title {
    font-size:1.6rem;
	.agenda-bold;
	margin-bottom:@gutter/5 + 3;
}

.mz-shipping-method-address{
  width: 100%;
  display: flex;
    .mz-l-formfieldgroup-cell {
      flex-grow: 1;
      margin-left: @gutter;
      padding: @gutter/4 0px @gutter/4 0px;

    }

}

.mz-shipping-method-items {
  div {
    margin-left: @gutter;
  }
  span {
    padding: @gutter/4;
  }
}
.mz-shipping-method-section {
  margin: @gutter/2;
}

.mz-l-formfieldgroup {

    .mz-payment-select-saved-payments {
        width: @gutter * 10 + 10;
        margin-top: @gutter/4;
    }

    .mz-paymenttypes {
        .mz-paymenttype {
            text-align: left;
            margin: @gutter - 21 0;
        }

        input {
            display: inline-block;
            vertical-align: middle;
        }

        .mz-paymenttype-label {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .saved-payment-section {
    	display: block;
    	padding-bottom: 0;
    	padding-right: 0;
    	.saved-payments + .saved-payments {
    		margin-top: @gutter - 10;
    		margin-bottom: 0;
    	}
    	.saved-payments {
	    	 position: relative;
    	     -webkit-box-shadow: none;
   			 box-shadow: none;
    		 -moz-box-shadow: none;

	    	 .expired-card-link {
		    	position: absolute;
		    	z-index: 9;
		    	color: @link-red;
		    	.agenda;
		    	font-size: 1.4rem;
		    	right: @gutter - 10;
    			top: @gutter - 3;
		    }
	    	.payment-method-selection-label {
		    	position: relative;
			    z-index: 1;
			    display: block;
			    padding: @gutter - 8 @gutter - 10 @gutter - 12 @gutter * 2;
			    line-height: 2.6rem;
			    border: 1px solid @formInputBorder;
			    border-radius: @gutter / 5;
			    cursor: pointer;
			    background-color: @main-background;
			    text-align: left !important;
			    margin-bottom: 0;

			    .expiry-date-section {
			    	@media (max-width: 767px) {
			    		display: block;
			    		margin-left: @gutter - 15;
			    	}
			    }

			    &.expired-card {
			    	color: @inputBorder;
			    	pointer-events: none;
			    	.payment-method-label {
			    		border: 1px solid @inputBorder;
			    		background: @light-grey;
			    	}
			    }

			    @media (min-width: 768px) {
			    	padding-left: @gutter * 2 + 15;
			    }

			    .card-img {
		    	    position: absolute;
				    top: 12px;
				    bottom: 0;
				    left: 50px;
				    right: 0px;
				    width: 47px;
			    }
			    .card-number {
			    	margin-right: @gutter - 10;
			    	padding-left: @gutter + 15;
			    	@media (max-width: 767px) {
			    		padding-left: @gutter * 2;
			    	}
			    }
			    .card-expiration-info {
			    	font-size: 1.4rem;
		    		margin-left: @gutter - 10;
		    		@media (max-width: 767px) {
		    			margin-left: 0;
		    		}
			    }
			    .expired-symbol {
			    	&:before {
		    			.material-icons;
					    font-size: 2rem;
					    height: @gutter + 17;
					    color: @link-red;
					    content: "\E000";
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    pointer-events: none;
		    		}
			    }
			    .expired-txt {
			    	margin-left: @gutter - 3;
			    }
			    .card-number, .card-expiration-info {
			    	display: inline-block;
			    	vertical-align: middle;
			    }
			    .saved-indicator {
			    	float: right;
			    	margin-right: @gutter + 5;
			    	color: @greenIndicator;
			    	&:after {
					    .material-icons;
					    font-size: 2rem;
					    height: @gutter + 17;
					    content: "\E876";
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    right: @gutter - 5;
					    pointer-events: none;
				    }
			    }

		    }
		    .payment-method-radio {
		    	position: absolute;
			    z-index: 1;
			    top: @gutter - 19;
			    left: @gutter - 10;
			    .payment-method-label {
			    	min-width: 0;
			    	&:after {
			    		position: absolute;
			    		right: 1px;
			    	}
			    }
		    }

		    .edit-card-modal {
    			.agenda;
    			padding-right:0 !important;
    			@media (max-width: 767px) {
    				position: fixed;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    z-index: 1050;
				    overflow: auto;
				    -webkit-overflow-scrolling: touch;
				    outline: 0;
    			}
    			.modal-dialog {
    				@media (max-width: 767px) {
    					margin: 0;
    					width: auto;
    				}
    				@media (min-width: 768px) and (max-width: 991px) {
   						width: auto;
   						margin: @gutter + 5;
    				}
					width: @gutter * 32;
					margin: @gutter + 5 auto;
					.modal-content {
						@media (min-width: 768px) {
							padding: 0 @gutter + 5;
						}
						@media (max-width: 768px) {
							border: none;
						}
						padding: 0 @gutter - 10;
						.modal-header {
							min-height: @gutter + 5;
						    padding: @gutter - 15 0;
						    border-bottom: 1px solid @border-light;
						    @media (min-width: 768px) {
						    	padding: @gutter - 10 0;
						    }
						    .modal-title {
						    	.agenda-bold;
						    	font-size: 2.2rem;
							    line-height: 1.2;
							    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
							    text-align: left;
							    @media (min-width: 768px) {
							    	font-size: 3.4rem;
									margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
							    }
					    }
					    .modal-close {
					    	position: absolute;
						    top: @gutter - 15;
						    right: @gutter - 15;
						    width: @gutter + 11;
						    height: @gutter + 11;
						    text-decoration: none;
						    text-align: center;
						    z-index: 1;
						    @media (min-width: 768px) {
					    	    top: @gutter;
											right: @gutter - 2;
						    }
						    .u-sr-only {
						    	&:before {
						    		.material-icons;
						    		font-size: 3rem;
								    line-height: 1.2;
								    content: "\E14C";
						    	}
						    }
					    }
 							}
 							.modal-body {
	    				text-align: left;
	    				padding: @gutter - 10 0;
	    				@media (min-width: 768px) {
    					    padding: @gutter + 5 0;
	    				}
	    				.card-type {
	    					text-align: left;
	    				}
	    				.change-billing-addr-link {
	    					color: @secondary-color;
	    				}
	    				.card-number {
	    					text-align: left;
	    				}
	    				.card-number-with-type {
	    					.mz-payment-credit-card-number {
	    						background-color: @light-grey;
	    						color: @inputBorder;
	    					}
	    				}
	    				.expiration-detail-label {
	    					text-align: left;
						}

	    				.security-code-label {
	    					text-align: left;
	    				}
	    				.expired-symbol, .temp-expired-symbol {
					    	&:before {
				    			.material-icons;
							    font-size: 2rem;
							    height: @gutter + 17;
							    color: @link-red;
							    content: "\E000";
							    line-height: 1.4;
							    position: absolute;
						        bottom: 46px;
					            left: 93px;
							    pointer-events: none;
				    		}
					    }

						.card-expiry{
							.expiration-detail-label{
								float: left;
							}
							.temp-expired-symbol,.expired-symbol {
								position: relative;
								float: left;
								&:before {
									top: -@gutter/5 + 1;
									left: -@gutter + 3;
									@media (max-width:767px) {
										left: @gutter/5 - 3;
									}
								}
							}
						}

					    .highlight-expired-card, .temp-highlight-expired-card {
					    	.select-input {
								border: 1px solid @link-red;
								.select-input-label{
									margin:0;
								}
					    	}
					    }
	    				.expiration-details {
	    					display: -webkit-box;
						    display: -webkit-flex;
						    display: -ms-flexbox;
						    display: -moz-box;
						    -webkit-box-align: center;
						    -webkit-align-items: center;
						    -ms-flex-align: center;
						    align-items: center;
						    .select-input {
						    	position: relative;
						    	&:first-child {
						    		margin-right: @gutter / 5;
						    	}
						    	&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313";
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 15;
								    pointer-events: none;
							    }
						    	.expiration-month, .expiration-year {
						    		.agenda;
						    		font-size: 1.6rem;
						    		-webkit-appearance: none;
								    -moz-appearance: none;
								    appearance: none;
								    width: 100%;
								    border: 1px solid @formInputBorder;
								    border-radius: 0px;
								    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    	}
						    }
	    				}
	    				.make-default-card {
	    					label {
	    						display: inline;
	    						min-width: 0;
	    						text-align: left;
	    					}
	    					.make-default-card-label {
	    						margin-left: @gutter - 17;
	    					}
	    				}
	    				.mz-payment-credit-card-type-row {
	    					.card-type-section {
	    						position: relative;
					    		&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313";
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 9;
								    top: @gutter + 4;
								    pointer-events: none;
							    }
	    					}

						    .select-credit-type {
						    	.agenda;
					    		font-size: 1.6rem;
					    		-webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    width: 100%;
							    border: 1px solid @formInputBorder;
							    border-radius: 0px;
							    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    }
	    				}

   						.payment-method-label {
   							min-width: 0;
   							&:after {
					    		position: absolute;
					    		right: 1px;
					    	}
   						}
   						.mz-addresssummary {
   							.billing-address-section {
   								border: none;

   								.billing-new-address-container {
   									background: rgba(125, 167, 217, 0.1);
   									.new-billing-address-form {
		    							padding: @gutter - 10 0 0;
		    							background: none;
		    							.form-group-row{
			    							.mz-addressform-firstname, .mz-addressform-country, .mz-addressform-state{
			    								@media(max-width:767px){
			    									margin:0 0 @gutter/2 + 2.5;
			    								}
			    							}
		    							}
		    							.add-new-address-radio {
		    								margin-right: @gutter - 10;
		    								.payment-method-label {
										    	min-width: 0;
										    	display:inline-table;
										    	&:after {
										    		position: absolute;
										    		right: 1px;
										    	}
										    }
		    							}
		    							.mz-validationmessage {
		    								display: block;
		    							}
		    							.addNewAddrLabel {
		    								display: inline;
		    							}
		    							span {
		    								display: inline;
		    							}
		    							label {
		    								text-align: left;
		    							}
		    						}
   								}

								}
							}
		    			}
		    			.modal-footer {
		    				text-align: center;
		    				.cancel-link {
		    					margin-right: @gutter - 5;
		    					font-weight: normal;
							    text-transform: none;
							    background: transparent;
							    border: 1px solid transparent;
								color: @link-red;
		    				}
		    				.save-card-btn {
								.btn-red();
								.btn-small();
								.new-btn-primary();
		    					 margin-left: @gutter + 5;
		    				}
		    			}
					}
    			}
    		}

		    .saved-credit-card-info {
		    	margin-top: -@gutter + 5;
		    	padding: @gutter + 15 @gutter - 5;
		    	border: 1px solid @border-light;

		    	.security-label-section {
		    		@media (max-width: 767px) {
		    			margin-bottom: @gutter - 10;
					}
					.credit-phone-number-section{
						.credit-phone-number-label, .credit-phone-number-textbox{
							display: inline-block;
							padding-right: none !important;
							padding-bottom: none !important;
							width: 100%;
							.credit-phone-number{
								text-align: left;
								display: inline-block;
							}
						}
						.creditcard-phonenumber{
							width: 100%;
						}
					}
		    	}
		    	.address-section {
		    		@media (max-width: 767px) {
		    			margin-bottom: @gutter - 10;
		    		}
		    	}

		    	.mz-checkoutform-title {
		    		margin-top: 0;
		    	}

		    	.cvv-input-box {
		    		width: 100%;
		    	}
		    	.mz-addresssummary {
		    		.agenda;
		    		line-height: 1.1;
		    	}
		    	.security-code-label {
		    		display: inline-block;
		    		text-align: left;
		    		min-width: 0;
		    	}
		    	.security-code-input {
		    		width: 100%;
		    		font-size: 1.6rem;
		    		line-height: 1.6rem;
		    		padding: @gutter - 14 @gutter - 10 @gutter - 17;
		    	}
		    	.edit-card-div {
		    		.agenda;
		    		text-align: right;
		    		@media (max-width: 767px){
		    			text-align: left;
		    		}
		    		.edit-card-link {
		    			color: @secondary-color;
		    		}

		    	}
		    }
	    }
    }
}

.review-order-text {
	font-size: 1.8rem !important;
	.agenda-bold;
	font-weight: normal !important;
	margin: 0 0 @gutter - 16;
    line-height: 1.1;
    padding-top: @gutter - 5;
}
.order-note-section {
	.agenda;
    margin-top: @gutter + 5;
    margin-bottom: @gutter + 5;
	.order-note-text {
		color: @secondary-color;
		font-size: 1.6rem;
		margin-left: @gutter - 13;

		&.collapsed {
	    	&:before {
	    		content: "\E145";
	    	}
	    }
	    &:before {
		    .material-icons;
		    font-size: 1.6rem;
		    height: @gutter + 15;
		    color: @link-red;
		    content: "\E15B";
		    line-height: 1.4;
		    position: absolute;
		    left: @gutter - 13;
	    }
	    &:hover,&:focus{
	    	text-decoration:none;
	    	span{
	    		text-decoration:underline;
	    	}
	    }
	}
	.order-note-text-area {
		margin-top: @gutter - 15;
	    width: 100%;
	    border: 1px solid @formInputBorder;
	    font-size: 1.6rem;
	    line-height: 1.6rem;
	    padding: @gutter - 14 @gutter - 10 @gutter - 17;
	}
}
.create-account-section {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: @gutter + 5 !important;
    padding: @gutter - 10;
    background-color: rgba(125, 167, 217, 0.1);
    .create-account-checkbox {
   	    margin-right: @gutter - 15;
    }
    .create-account-label {
    	cursor: pointer;
	    vertical-align: middle;
	    margin: 0 0 0 @gutter - 17;
	    .create-account-txt {
	    	.agenda-bold;
	    }
    }
}
.terms-conditions-section {
	.agenda;
	font-size: 1.6rem;
	margin-bottom: @gutter + 5;
	margin-top: 0;
	.terms-conditions-text, .privacy-policy-text {
		color: @secondary-color;
	}
}
.place-order-btn {
	.btn-red();
	.btn-medium();
	.new-btn-primary();
}
.place-order-btn[disabled]{
	opacity: 0.5;
}
.quantity-error{
	font-family: "Agenda_bold", sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 9px;
	line-height: 1.1;
	padding-top: 20px;
	color: @torchRed;
}
.main-content-loader > .order-loading-msg {
    margin: 30px auto;
    background-color: rgba(255,255,255,1);
    padding: 0 30px 30px;
    width: 50%;
    border-radius: 5px;
    @media(max-width:767px){
    	width: 90%;
    }
    span {
    	font-family: agenda;
	    font-size: 1.8rem;
	    font-weight: bold;
    }
}
.order-msg {
	.agenda;
	margin-top: @gutter + 5;
}
.instore-pickup-info-container {
	margin-bottom: 0;
	padding-bottom: @gutter + 5;
	.contactInfo-section {
		color: @black;
		border-top: 0.25px solid @color-secondary-grey-dark;
	}
	.instore-pickup-info {
		padding-top: @gutter - 3;
		&.borderTop {
			border-top: 0.25px solid @color-secondary-grey-dark;
		}
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            flex-direction: column;
            padding: @gutter + 3 0 @gutter + 3 0;
        }
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			flex-direction: row;
		}
		@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
			flex-direction: row;
		}
		@media only screen and (max-width: 767px) {
			flex-direction: column;
			padding: @gutter + 3 0 @gutter + 3 0;
		}
		@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
			flex-direction: column;
			padding: @gutter + 3 0 @gutter + 3 0;
		}
		@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
			flex-direction: column;
			padding: @gutter + 3 0 @gutter + 3 0;
		}
		@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
			flex-direction: column;
			padding: @gutter + 3 0 @gutter + 3 0;
		}
		@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
			flex-direction: column;
		}
		@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
			flex-direction: row;
		}
		.pickup-info{
			padding-left: 0;
		}
		.checkout-attributes {
			.agenda;
			margin-left: @gutter * 2 - 5;
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
				margin-left: @gutter * 2 - 5;
            }
			/*  Portrait and landscape iPad Pro Media Queries*/
			@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
				margin-left: @gutter * 2 - 5;
			}
			@media only screen and (max-width: 767px) {
				margin: 0;
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
			margin: 0;
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
				margin: 0;
			}
			@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
				margin: 0;
			}
			.checkbox-label-inside {
				width: @gutter - 5;
				height: @gutter - 5;
				border: 1px solid @black;
				box-sizing: border-box;
				border-radius: @gutter / 5 - 3;
				&:after {
					color: @color-checkbox;
					font-size: @gutter - 7;
					line-height: @gutter - 6;
			}
		}
		.attribute-form-element {
			line-height: 1.1;
				label {
					color: @black;
					margin-bottom: @gutter / 5 + 7;
					font-weight: 500;
				}
				#checkout-attribute-firstPersonEmail {
					margin-bottom: @gutter / 5 + 6;
				}
				#checkout-attribute-firstPersonPhoneNumber {
					margin-bottom: @gutter / 5 + 6;
				}
				.mz-validationmessage {
					font-weight: 500;
					font-size: @gutter - 9;
					margin-top: @gutter / 5;
					&.emailAddressValidationMessage {
						margin-top: @gutter / 5 + 4;
					}
				}
		}
		.pickup-info-input {
			width: 100%;
				border-radius: @gutter / 5 + 1;
				border: 1px solid @color-secondary-grey-dark;
		}
		.for-element + .for-element {
				margin-top: @gutter + 2;
		}
		.bottom-margin {
			margin-bottom: @gutter + 15;
		}
			.emailAddress-info {
				.agenda;
				font-weight: 500;
				color: @color-secondary-grey-dark;
				font-size: @gutter / 5  + 9;
			}
			.phoneNumber-info {
				.agenda;
				font-weight: 500;
				color: @color-secondary-grey-dark;
				font-size: @gutter / 5  + 9;
		}
			.subscribe-email-notify-info {
				display: -webkit-inline-box;
			.agenda;
				font-weight: 500;
				font-size: @gutter - 9;
				line-height: @gutter / 5 + 9;
				padding: @gutter - 4 0 @gutter - 4;
				.email-notification-text {
			.agenda;
					font-weight: 500;
    				font-size: @gutter - 9;
					color: @black;
					line-height: 1.2;
					@media only screen and (max-width: 767px)  {
						width: 360px;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
						width: 360px;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
						width: 360px;
					}
					@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
						width: 360px;
					}
					@media only screen and (max-width: 479px) and (orientation: portrait){
						width: 345px;
		}
				}
			}
			.second-pickup-person-info {
				display: -webkit-inline-box;
				padding: 0 0 @gutter - 4;
				.add-second-person-txt {
			.agenda;
					font-weight: 500;
    				font-size: @gutter - 9;
					color: @black;
					@media only screen and (max-width: 767px) and (orientation: portrait)  {
						width: 360px;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
						width: 360px;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
						width: 360px;
					}
					@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
						width: 360px;
		}
				}
				.checkbox {
					display: inline-block;
					margin: @gutter / 5 - 1 0 0 0;
				}
			}
			.second-person-info {
				padding-left: @gutter + 3;
				padding-bottom: @gutter - 4;
		}
			.order-note-info {
				margin-bottom: @gutter - 10;
				.checkbox {
					align-self: flex-start;
					margin: @gutter / 5 - 1 0 0 0;
				}
				.order-note-text {
			.agenda;
					display: inline-block;
					font-weight: 500;
    				font-size: @gutter - 9;
					color: @black;
				}
				.order-note {
					margin-top: 23px;
					.pickup-info-input {
						height: @gutter * 3 + 2;
					}
				}
			}
		}
		.pickup-store-info-section {
			.agenda;
			line-height: 1.1;
			margin-bottom: @gutter + 5;
    		margin-top: 0;
			padding-left: @gutter * 2 - 4;
			@media (max-width: 479px){
				padding-left:0;
				margin-top: @gutter * 2 - 12;
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
				margin-top: @gutter * 2 - 12;
			}
			/* &.col-md-5 {
				@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
					width: 50%;
				}
				@media only screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
					width: 50%;
				}
			} */
			.your-pickup-store {
				.agenda-bold;
			    margin: 0 0 @gutter - 15;
			    line-height: 1.1;
			    font-size: 1.8rem;
			}
			.itemArriveMsgSection {
				.agenda;
				color: @color-secondary-grey-dark;
				font-weight: 500;
				background-color: @color-secondary-grey-lightest;
				@media (min-width: 1200px) {
					font-size: @gutter / 5 + 9;
					line-height: @gutter - 7;
					padding: @gutter - 7 @gutter + 11 @gutter - 6 @gutter + 4;
					margin-top: @gutter + 13;

				}
				@media only screen and (max-width: 767px) {
					padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
					margin-top: @gutter + 1;
				}
				@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
					padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
					margin-top: @gutter + 1;
				}
				@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
					padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
					margin-top: @gutter + 1;
				}
				@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
					padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
					margin-top: @gutter + 1;
				}
				@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
					margin-top: @gutter + 1;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    margin-top: @gutter + 1;
                    padding: @gutter - 7 @gutter + 11 @gutter - 6 @gutter + 4;
                }
				.itemArriveMsgContent {
					margin: 0;
			}
			}
			.prefer-store-block {
				overflow: hidden;
				padding-left: @gutter / 5 + 3;
			.store-address {
				@media (min-width: 1200px) {
					font-size: 2rem;
					.link, .address-change {
						font-size: 2rem;
					}
				}
					@media only screen and (max-width: 767px) {
						width: 85%;
			}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
						width: 85%;
		}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
						width: 85%;
	}
					@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
						width: 85%;
}
					&.checkout-store-address-section {
						border: none;
	padding: 0;
						.address-card {
							padding-right: 0;
							width: 78%;
							font-weight: 500;
							font-size: 18px;
							.addressCard-name-section {
								.fa-map-marker-alt {
									color: @black;
									margin-right: @gutter / 5 + 1;
									position: relative;
									top: @gutter / 5 - 1;
								}
								.store-name {
									.agenda;
									font-weight: bold;
									color: @black;
									padding-left: @gutter / 5;
								}
							}

							.store-address-details {
								margin-left: @gutter;
								color: @black;
								font-weight: 500;
								font-size: 18px;

							}
						}
						.store-telephone-section {
							.fa-phone {
								color: @black;
								position: relative;
								top: @gutter / 5;
								right: @gutter / 5 - 1;
							}
							.store-telephone {
								.store-tel {
									color: @black;
									padding-left: @gutter / 5 - 2;
								}
							}
						}
					}
}
			}
		}
	}
	.step-payment-continue-btn-div {
		text-align: unset;
		margin-top: @gutter / 5 + 5;
		.step-instore-continue {
			width: @gutter * 12 + 10;
			margin-left: @gutter * 2 - 6;
			&.is-loading {
				background-image: url(../resources/images/button-loading.gif);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: 50px;
				color: transparent;
				cursor: no-drop;
				text-indent: -9999px;
				pointer-events: none;
			}
			@media only screen and (max-width: 767px) {
				margin-left: 0;
				width: 100%;
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
				margin-left: @gutter + 5;
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
				margin-left: @gutter + 5;
			}
			@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
				margin-left: @gutter + 5;
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                margin-left: @gutter * 2 + 2;
            }
		}
		/* @media only screen and (max-width: 767px) {
			margin: 0;
		}
		@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
			margin: 0;
		}
		@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
			margin: 0;
		}
		@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
			margin: 0;
		} */
}
.instore-pickup-summary {
		border-top: none;
		margin: 0;
		padding: @gutter + 5 @gutter - 5;
		.pickup-info {
			.pickup-contact-section {
				.store-summary {
					.agenda;
					margin-bottom: @gutter + 5;
				}
				.firstPersonContact-info {
					.agenda;
					margin: 0;
					line-height: 1.1;
					font-weight: 500;
					font-size: @gutter - 7;
					color: @black;
					margin-left: @gutter + 10;
					@media (max-width: 767px) {
						margin-left: @gutter + 8;
					}
					p {
						margin: 0;
					}
				}
				.threeTenDays {
					margin: 0;
				}
				.second-person-summary {
					.agenda;
					line-height: 1.1;
					font-weight: 500;
					font-size:@gutter - 7;
					color: @black;
					margin-left: @gutter + 9;
					@media (max-width: 767px) {
						margin-left: @gutter + 8;
					}
					p {
						margin: 0;
					}
				}
			}
		}
	}
	&.is-complete {
		.instore-pickup-summary {
			padding: @gutter / 5 + 9 0 0 @gutter * 2 - 6;
			font-size: @gutter - 7;
			justify-content: flex-start;
			@media only screen and (max-width: 767px) {
				padding: @gutter - 2 0 0 0;
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
				padding: @gutter - 2 0 0 0;
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
				padding: @gutter - 2 0 0 0;
			}
			@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
				padding: @gutter - 2 0 0 0;
			}

			.pickup-info {
				.pickup-contact-section{
					@media only screen and (max-width: 767px) {
						flex-direction: column;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
						flex-direction: column;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
						flex-direction: column;
					}
					@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
						flex-direction: column;
					}
					.firstPersonContact-section {
						word-break: break-word;
						.agenda-bold;
						margin: 0 0 @gutter - 16;
						line-height: 1.1;
						font-weight: bold;
						color: @black;
						@media only screen and (max-width: 767px) {
							margin-bottom: @gutter * 2 - 12;
						}
						@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
							margin-bottom: @gutter * 2 - 12;
						}
						@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
							margin-bottom: @gutter * 2 - 12;
						}
						@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
							margin-bottom: @gutter * 2 - 12;
						}
						.firstPersonContact-content {
							padding-bottom: @gutter / 5 + 7;
							.firstPersonIcon-section {
								padding-right: @gutter / 5 + 2;
								@media(max-width:767px){
									padding-right: @gutter - 13;
								}
								.firstPersonIcon {
									width: @gutter - 5;
									height: @gutter - 9;
								}
							}
							.firstPersonSection {
								align-self: end;
							}
						}

						.secondPersonContact-section {
							word-break: break-word;
							margin-top: @gutter + 13;
							@media only screen and (max-width: 767px) {
								margin-bottom: @gutter * 2 - 13;
							}
							@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
								margin-bottom: @gutter * 2 - 13;
							}
							@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
								margin-bottom: @gutter * 2 - 13;
							}
							@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
								margin-bottom: @gutter * 2 - 13;
							}

							.secondPersonContact-content {
								padding-bottom: @gutter / 5 + 7;
								.secondPersonIcon-section {
									padding-right: @gutter / 5 + 2;
									@media (max-width: 767px) {
										padding-right: @gutter - 13;
									}
									.secondPersonIcon {
											width: @gutter - 5;
											height: @gutter - 9;
									}
								}
								.secondPersonSection {
									align-self: end;
								}
							}
						}
					}
					.inStoreStepComplete {
						.agenda;
						font-size: @gutter - 7;
						.storePickUp-content {
							font-weight: bold;
							font-size: @gutter - 7;
							margin: 0;
							padding-bottom: @gutter / 5 + 4;
							.storePickupSection {
								align-self: end;
								padding-left: @gutter / 5;
								padding-top: @gutter / 5 - 1;
							}
							&.bottomPadding {
								padding-bottom: @gutter / 5 + 6;
							}
							.storeIcon-section {
								padding-left: 3px;
							}
						}
						.store-address {
							@media only screen and (max-width: 767px) {
								width: 85%;
							}
							@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
								width: 85%;
							}
							@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
								width: 85%;
							}
							@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
								width: 85%;
							}
							&.checkout-store-address-section {
								border: none;
								padding: 0;
								.address-card {
									padding-right: 0;
									width: 100%;
									padding-bottom: @gutter / 5 + 6;
									.addressCard-name-section {
										padding-left: 9px;
										.fa-map-marker-alt {
											color: @black;
											position: relative;
											margin-right: @gutter / 5 - 1;
											top: @gutter / 5;
										}
										.store-name {
											.agenda;
											font-weight: bold;
											color: @black;
											padding-left: @gutter / 5 + 2;
										}
									}

									.store-address-details {
										margin-left: @gutter + 9;
										color: @black;
										font-weight: 500;
										font-size: 18px;
									}
								}
								.store-telephone-section {
									padding-left: 3px;
									.fa-phone {
										color: @black;
										margin: 0;
										position: relative;
										top: @gutter / 5 - 3;
									}
									.store-telephone {
										padding-left: @gutter / 5 + 3;
										.store-tel {
											color: @black;
											font-size: @gutter - 7;
    										font-weight: 500;
										}
									}
								}
							}
						}
					}
					.itemArriveMsgSection {
						.agenda;
						color: @color-secondary-grey-dark;
						font-weight: 500;
						padding: @gutter - 4 @gutter + 11 @gutter - 6 @gutter + 4;
						@media (min-width: 1200px) {
							font-size: @gutter / 5 + 9;
							line-height: @gutter - 7;
							padding: @gutter - 4 @gutter + 11 @gutter - 6 @gutter + 4;
							background-color: @white;
						}
						@media only screen and (max-width: 767px) {
							padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter + 1;
							margin-top: @gutter + 1;
							font-weight: 500;
    						font-size: 14px;
						}
						@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
							padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
							margin-top: @gutter + 1;
							font-weight: 500;
    						font-size: 14px;
						}
						@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
							padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
							margin-top: @gutter + 1;
							font-weight: 500;
    						font-size: 14px;
						}
						@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
							padding: @gutter - 7 @gutter - 2 @gutter - 8 @gutter - 2;
							margin-top: @gutter + 1;
							font-weight: 500;
    						font-size: 14px;
						}
						.itemArriveMsgContent {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
.is-complete .pickup-info {
	padding: 0;
}

.instore-pickup-summary {
    border-top: none;
    margin: 0;
    padding: @gutter + 5 @gutter - 5;
    padding-top: @gutter + 5 !important;
}
.coupon-section {
	margin-top: @gutter + 5;
    margin-bottom: @gutter + 5;
    cursor: pointer;

    .coupon-code-heading {
    	.agenda-bold;
    	font-size: 1.8rem;
    	margin: 0;
	    padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
	    border: 1px solid @formInputBorder;
	    background: @light-grey;
	    position: relative;

	    &.collapsed {
	    	&:after {
	    		content: "\E313";
	    	}
	    }
	    &:after {
		    .material-icons;
		    font-size: 3.4rem;
		    height: @gutter + 15;
		    color: @storeResultBorder;
		    content: "\E5CE";
		    line-height: 1.4;
		    position: absolute;
		    right: @gutter - 10;
    		top: @gutter - 18;
		    pointer-events: none;
	    }
    }
    .coupon-code-section {
    	margin-top: -1px;
	    border: 1px solid @formInputBorder;
	    border-width: 0px 1px 1px 1px;

	    .coupon-code-input {
	    	margin: 0 @gutter - 10 @gutter - 10 @gutter;
	    	padding-top: @gutter - 15;

	    	.coupon-input {
	    		margin-top: @gutter - 10;

	    		.coupon-code-field {
	    			margin-bottom: @gutter - 10;
	    			.coupon-code {
		    			width: 100%;
		    		}
	    		}

	    	}
	    	.apply-btn {
	    		.new-btn-secondary();
	    		.btn-small();   
	    	}
			.invalidCoupon-desc {
				position: relative;
				top: 7px;
				padding-right: 0;
				.agenda;
				.invalid-coupon-code {
					font-size: @gutter - 9;
					margin-right: 35px;
					color: #959592;
					padding: 0;
					font-weight: 600;
					@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
						width: 27%;
					}
					@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape){
						margin-right: 0;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
						width: 27%;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){
						margin-right: 28px;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
						width: 27%;
						margin-right: 28px;
					}
				}
	    	.invalid-coupon {
	    		.agenda;
					padding-left: 17px;
					font-size: @gutter - 9;
					font-weight: bold;
					padding-right: 0;
					color: #959592;
					i, .fa-times-circle {
						margin-right: 5px;
						padding: 0.8px;
				color: @link-red;
			}
					@media only screen and (max-width: 767px) and (orientation: portrait) {
						padding-left: 3px;
					}
					@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
						width: 58.333333333%;
					}
					@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape){
						padding-left: 28px;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2){
						width: 58.333333333%;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){
						padding: 0;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
						width: 58%;
    					padding: 0;
					}
				}
			}
	    	.applied-coupons {
	    		.agenda;
	    		margin-left: 0;

	    		.discount-desc {
					@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)
					{
						margin-top: 20px;
					}
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)
					{
						margin-top: 20px;
					}
					.applied-code {
						color: #959592;
						font-weight: @font-semibold;
						padding: 0;
						// @media (min-width: 1030px) {
						// 	margin-right: 35px;
						// }
						@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)
						{
							width: 27%;
						}
						@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)
						{
							width: 27%;
						}
					}
					.applied-desc {
						padding-left: 28px;
						@media only screen and (max-width: 767px) and (orientation: portrait) {
							padding-left: 18px;
							padding-right: 0;
						}
						@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)
						{
							width: 58.333333333%;
						}
						@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)
						{
							width: 58.333333333%;
						}
						@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
							width: 48%;
							padding-left: 0;
						}
						color: #959592;
						font-weight: bold;
						.fa-check-circle {
							color: #29a233;
						}
					}
					.remove-coupon {
						@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait){
							position: relative;
							bottom: 73px;
							padding-right: 17px;
						}
						@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait){
							position: relative;
							bottom: 73px;
							padding-right: 17px;
						}

						@media only screen and (min-device-width: 393px) and (max-device-width: 830px) and (orientation: portrait) {
							padding-right: 28px;
						}
						@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
							width: 54%;
						}
						@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
							padding-right: 8px;
						}
						float: right;
    					padding-right: 10px;
						color: #959592;
						font-weight: bold;
						//margin-left: @gutter - 10;
						// @media (min-width: 1030px) {
						// 	float: right;
						// 	padding-right: 15px;
						// }

						&:hover {
							cursor: pointer;
						}
					}
				}
	    	}
	    }
    }
}

.checkout-mini-cart {
	.agenda;
	border-top: 1px solid @border-light;
    border-bottom: 1px solid @border-light;
    margin-left: -@gutter + 10;
    margin-right: -@gutter + 10;

    @media (min-width: 768px) {
    	border: 1px solid @border-light;
    	margin-left: 0;
    	margin-right: 0;
    }
	.cart-total-heading{
		h3{
			margin: 0;
			background: @checkoutSectionHeader;
			color: @white;
			margin-bottom: 0;
			padding: 10px 15px 6px;
			font-size: 1.8rem;
			font-family: "Agenda_bold",sans-serif;
			font-style: normal;
			font-weight: normal;
			line-height: 2.4rem;
		}
	}
	.collapsible-cart {
		.collapsible-section {
			.mini-cart-heading[aria-expanded='false']:after {
				content: "\E313";
			}
			.mini-cart-heading {
				position: relative;
				.agenda-bold;
				font-size: 1.8rem;
				margin: 0;
    			padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
   			    cursor: pointer;

   			    &:after {
				    .material-icons;
				    font-size: 3.4rem;
				    height: @gutter + 15;
				    color: @storeResultBorder;
				    content: "\E5CE";
				    line-height: 1.4;
				    position: absolute;
				    top: @gutter - 18;
				    right: @gutter - 10;
				    pointer-events: none;
			    }
			}
			.cart-list[aria-expanded='true'] {
				max-height: 733.5px;
				overflow: auto;
			}
			.cart-list {
				padding: 0;
    			list-style: none;
    			margin: 0;
    			transition: all 200ms;

    			.cart-item {
   				    border-top: 1px solid @border-light;
				    margin: 0;
				    padding: @gutter @gutter - 10;
				    width: 100%;
				    font-size: 1.6rem;
				    display: table;

				    .cart-item-product {
				    	margin: 0;

				    	.product-tile {
				    		padding: 0;

				    		.product-tile-image {
				    			padding: 0;
				    			max-width: @gutter * 4;
				    			margin-right: @gutter;
				    			@media(max-width:1023px) and (min-width:768px){
				    				margin-right:@gutter/5 * 2;
				    				max-width:@gutter * 3 - 5;
				    			}
				    			@media (max-width: 767px) {
				    				margin-right: @gutter - 11;
				    			}

				    			.product-image, .no-image {
				    				width: 100%;
				    			}
				    		}

				    		.product-tile-content {
				    			.agenda;
				    			padding: 0;

				    			.product-tile-title {
				    				font-size: 1.6rem;
				    			}
				    		}
				    	}
				    }
				    .cart-item-details {
				    	text-align: right;
				    	.cart-item-price {
		    				.agenda-bold;
		    				font-size: 1.7rem;
		    			}
		    			.ehf-cost {
		    				margin-top: @gutter - 10;
		    				display: block;
		    			}
		    			.cart-item-total {
		    				margin: @gutter - 10 0 0;
		    				strong{
		    					.agenda-bold;
		    					font-weight:normal;
		    				}
		    			}
				    }
    			}
			}
		}
		&.apply-border{
			border-bottom: 1px solid @mercury;
		}
	}
}


.edit-card-modal {
    			.agenda;
    			@media (max-width: 767px) {
    				position: fixed;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    z-index: 1050;
				    overflow: auto;
				    -webkit-overflow-scrolling: touch;
				    outline: 0;
    			}
    			.modal-dialog {
    				@media (max-width: 768px) {
    					margin: @gutter + 5;
   						width: auto;
    				}
					width: @gutter * 32;
					margin: @gutter + 5 auto;
					.modal-content {
						@media (min-width: 768px) {
							padding: 0 @gutter + 5;
						}
						padding: 0 @gutter - 10;
						.modal-header {
							min-height: @gutter + 5;
						    padding: @gutter - 15 0;
						    border-bottom: 1px solid @border-light;
						    @media (min-width: 768px) {
						    	padding: @gutter - 10 0;
						    }
						    .modal-title {
						    	.agenda-bold;
						    	font-size: 2.2rem;
							    line-height: 1.2;
							    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
							    text-align: left;
							    @media (min-width: 768px) {
							    	font-size: 3rem;
									margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
							    }
					    }
					    .modal-close {
					    	position: absolute;
						    top: @gutter - 15;
						    right: @gutter - 15;
						    width: @gutter + 11;
						    height: @gutter + 11;
						    text-decoration: none;
						    text-align: center;
						    z-index: 1;
						    @media (min-width: 768px) {
					    	    top: @gutter;
											right: @gutter - 2;
						    }
						    .u-sr-only {
						    	&:before {
						    		.material-icons;
						    		font-size: 3rem;
								    line-height: 3.6rem;
								    content: "\E14C";
						    	}
						    }
					    }
 							}
 							.modal-body {
	    				text-align: left;
	    				padding: @gutter - 10 0;
	    				@media (min-width: 768px) {
    					    padding: @gutter + 5 0;
	    				}
	    				.card-type {
	    					text-align: left;
	    				}
	    				.change-billing-addr-link {
	    					color: @secondary-color;
	    				}
	    				.card-number {
	    					text-align: left;
	    				}
	    				.expiration-detail-label {
	    					text-align: left;
						}
						.expiry-date{
							width: auto;
							@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
								float: left;
							}
						}
	    				.expired-symbol, .temp-expired-symbol {
					    	&:before {
				    			.material-icons;
							    font-size: 2rem;
							    height: @gutter + 17;
							    color: @link-red;
							    content: "\E000";
							    line-height: 1.4;
							    position: absolute;
						        bottom: 46px;
					            left: 93px;
							    pointer-events: none;
				    		}
					    }
					    .temp-expired-symbol {
					    	&:before {
					    		bottom: 32px;
					    	}
					    }
					    .highlight-expired-card, .temp-highlight-expired-card {
					    	.select-input {
					    		border: 1px solid @link-red;
					    	}
					    }
	    				.expiration-details {
	    					display: -webkit-box;
						    display: -webkit-flex;
						    display: -ms-flexbox;
						    display: -moz-box;
						    -webkit-box-align: center;
						    -webkit-align-items: center;
						    -ms-flex-align: center;
						    align-items: center;
						    .select-input {
						    	position: relative;
						    	&:first-child {
						    		margin-right: @gutter / 5;
						    	}
						    	&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313";
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 15;
								    pointer-events: none;
							    }
						    	.expiration-month, .expiration-year {
						    		.agenda;
						    		font-size: 1.6rem;
						    		-webkit-appearance: none;
								    -moz-appearance: none;
								    appearance: none;
								    width: 100%;
								    border: 1px solid @formInputBorder;
								    border-radius: 0px;
								    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    	}
						    }
	    				}
	    				.make-default-card {
	    					label {
	    						display: inline;
	    						min-width: 0;
	    						text-align: left;
	    					}
	    					.make-default-card-label {
	    						margin-left: @gutter - 17;
	    					}
	    				}
	    				.mz-payment-credit-card-type-row {
	    					.card-type-section {
	    						position: relative;
					    		&:after {
								    .material-icons;
								    font-size: 3.4rem;
								    height: @gutter + 15;
								    color: @formInputBorder;
								    content: "\E313";
								    line-height: 1.4;
								    position: absolute;
								    bottom: 0;
								    right: @gutter - 9;
								    top: @gutter + 4;
								    pointer-events: none;
							    }
	    					}

						    .select-credit-type {
						    	.agenda;
					    		font-size: 1.6rem;
					    		-webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    width: 100%;
							    border: 1px solid @formInputBorder;
							    border-radius: 0px;
							    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
						    }
	    				}

   						.payment-method-label {
   							min-width: 0;
   							&:after {
					    		position: absolute;
					    		right: 1px;
					    	}
   						}
   						.mz-addresssummary {
   							.billing-address-section {
   								border: none;

   								.billing-new-address-container {
   									background: rgba(125, 167, 217, 0.1);
   									.new-billing-address-form {
		    							padding: @gutter - 10 0 0;
		    							background: none;

		    							.add-new-address-radio {
		    								margin-right: @gutter - 10;
		    								.payment-method-label {
										    	min-width: 0;
										    	display:inline-table;
										    	&:after {
										    		position: absolute;
										    		right: 1px;
										    	}
										    }
		    							}
		    							.addNewAddrLabel {
		    								display: inline;
		    							}
		    							span {
		    								display: inline;
		    							}
		    							label {
		    								text-align: left;
		    							}
		    						}
   								}

								}
							}
							.credit-phone-number-label, .credit-phone-number-textbox{
								display: inline-block;
								padding-right: none !important;
								padding-bottom: none !important;
								width: 100%;
								.credit-phone-number{
									text-align: left;
									display: inline-block;
								}
							}
						}
		    			.modal-footer {
		    				text-align: center;
		    				.cancel-link {
		    					margin-right: @gutter - 5;
		    					font-weight: normal;
							    text-transform: none;
							    background: transparent;
							    border: 1px solid transparent;
								color: @link-red;
		    				}
		    				.save-card-btn {
								.btn-red();
								.btn-small();
								.new-btn-primary();
		    					 margin-left: @gutter + 5;
		    				}
		    			}
					}
    			}
    		}


.mz-checkout{
	&.french-content{
		.coupon-section{
			.coupon-code-section{
				.coupon-code-input {
					.applied-coupons {
						.discount-desc {
							.remove-coupon {
								@media only screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) { bottom: 94px;}
							}
						}
					}
				}
			}
		}

		.is-complete .mz-checkoutform-header[data-step="1"]{
			@media(max-width:400px){
				span{
					display:inline-table;
					line-height:1;
					width:60%;
				}
				.change-label-first-step{
					top:@gutter/5 + 3.25;
					bottom:auto;
				}
			}
		}
		.mz-l-formfieldgroup .saved-payment-section .saved-payments {
			.saved-credit-card-info .edit-card-div{
				@media(min-width:768px){
					padding-left:0;
				}
			}
			.edit-card-modal{
				.modal-dialog{
					.modal-content{
						.modal-footer{
							@media(max-width:440px){
								.flex-display(flex);
								flex-direction:column;
								.cancel-link, .save-card-btn{
									margin:0 0 @gutter/5 * 3 ;
								}
							}
						}
						.modal-body{
							.card-expiry{
								.temp-expired-symbol, .expired-symbol{
									&:before {
										left: @gutter/5;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.cartorder-section
{
	padding: @gutter @gutter - 10 @gutter - 25 @gutter - 2;
	background: #F7F7F7;
	.agenda;
    background: @color-secondary-grey-lightest;


    @media (min-width:768px) and (max-width:1400px){
       width:100%;
    }

    @media (max-width: 768px) {
    	margin: 0px auto;
    	width: 100%;
    }
	.cart-total-heading{
		.order-summary{
	    	.agenda-bold;
		    font-size: 24px;
		    line-height: 38px;
		    letter-spacing: 0.0857143px;
		    color: @blackpearl;
	    }
		h3{
			margin: 0;
			padding: 0px 0px 14px 0px;
			.agenda;
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			letter-spacing: 0.1px;
			color: @blackpearl;
			text-transform: capitalize;
			border-bottom: 0.5px solid @color-secondary-grey-dark;
		}
	}
	.collapsible-cart {
		border-bottom: 0.5px solid @color-secondary-grey-dark;
		.collapsible-section {
			.mini-cart-heading[aria-expanded='false']:after {
				content: "\E313";
			}
			.mini-cart-heading {
				position: relative;
				.agenda-bold;
				font-size: 14px;
				line-height: 22px;
				margin: 0;
    			padding: @gutter - 12 @gutter - 25 @gutter - 9 @gutter - 25;
   			    cursor: pointer;
   			    color: @black;
   			    &:after {
				    .material-icons;
				    font-size: 22px;
				    height: @gutter + 15;
				    color: @black;
				    content: "\E5CE";
				    line-height: 1.4;
				    position: absolute;
				    top: @gutter - 18;
				    right: @gutter - 25;
				    pointer-events: none;
				    font-weight: 600;
			    }
			}
			.frtext-forstorepickup{
		    	@media (min-width: 768px) {
				padding: @gutter - 12 @gutter + 18 @gutter - 9 @gutter - 25;
				}
		    }
			.cart-list[aria-expanded='true'] {
				max-height: 733.5px;
			}
			.cart-list {
				padding: 0;
    			list-style: none;
    			margin: 0;
    			transition: all 200ms;

    			.cart-item {
				    width: 100%;
				    font-size: 1.6rem;
				    display: table;
				    background: @color-secondary-grey-lightest;

				    .cart-item-product {
				    	margin: 0;

				    	.product-tile {
				    		padding: 0px 0px 20px 0px;
				    		.productimage{
				    			padding-left: 0;
				    			padding-right: 0;

					    		.product-tile-image {
					    			padding: 8px 0px 0px 0px;
					    			max-width: @gutter * 4;
					    			margin-right: @gutter;
					    			@media(max-width:1023px) and (min-width:768px){
					    				margin-right:@gutter/5 * 2;
					    				max-width:@gutter * 3 - 5;
					    			}
					    			@media (max-width: 767px) {
					    				margin-right: @gutter - 11;
					    				max-width:60px;
					    			}

					    			.product-image, .no-image {
					    				width: 48px;
										height: 48px;
					    			}
					    			img{
					    				border: 1px solid #A5A7A8;
					    			}
					    		}
				    		}
				    		.product-tile-title {
								margin:0;
								@media (min-width:768px) and (max-width:1024px){
									word-break: break-word;
									padding-left: 10px;
								}
								.data-layer-productClick{
									.agenda;
									font-size: 14px;
									line-height: 16px;
									letter-spacing: 0.07px;
									color: @blackpearl;
								}
			    			}
				    		.product-tile-content {
				    			padding: 0;
				    			@media (min-width:768px) and (max-width:1024px){
				    			padding: 0px 0px 0px 8px;
				    			}
				    			.cart-item-quantity
				    			{
				    				.agenda;
				    				font-size: 11px;
									line-height: 19px;
									letter-spacing: 0.34375px;
									color: @black;
									padding-top: 5px;
				    			}
				    		}
				    		.quantity-text{
				    			text-align: right;
				    			padding: 0px;
				    		}
				    	}
				    }
				    .cart-item-details {
				    	text-align: right;
				    	.cart-item-price {
		    				.agenda-bold;
		    				font-size: 1.7rem;
		    			}
		    			.ehf-cost {
		    				margin-top: @gutter - 10;
		    				display: block;
		    			}
		    			.cart-item-total {
		    				margin: @gutter - 10 0 0;
		    				strong{
		    					.agenda-bold;
		    					font-weight:normal;
		    				}
		    			}
				    }
				    .price-withquantity
				    {
				    	.agenda-bold;
					    font-size: 14px;
					    line-height: 22px;
					    letter-spacing: 0.116667px;
					    color: @blackpearl;
				    }
				    .price-without-quantity
				    {
				    	.agenda;
				    	font-weight: 500;
						font-size: 12px;
						line-height: 19px;
						letter-spacing: 0.06px;
						color: @blackpearl;
				    }
    			}
			}
		}
	}
	.subtotal-section
	{
		border-bottom: 0.5px solid #54585a;
		padding: 20px 0px;
		.subtotal-space{
			padding:5px 0px;
			.disc-text{
				color: @secondary-color;
				.agenda-bold;
			}
		}
		.subtotal-text{
			.agenda;
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			letter-spacing: 0.1px;
			color: @blackpearl;
		}
	}
	.estimated-total-section
	{
		padding-top: 20px;
		.estimated-total{
			.agenda-bold;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.0642857px;
			color: @blackpearl;
		}
	}
	.fixedCheckoutBtn{
		@media (max-width: 767px){
			position: fixed;
			bottom: 0;
			z-index: 3;
			background: #fff;
			left: 0;
			padding: 15px;
			width: 100%;
		}
	}
	.submit-order{
		width:100%;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.submit-order:disabled {
		opacity: .5;
	}
	.quantity-error{
		.agenda-bold;
		margin: 0 0 9px;
		line-height: 1.1;
		padding-top: 20px;
		color: @torchRed;
	}
	.aeroplan-points
	{
		height: 58px;
		padding: 20px 0px;
		text-align: center;
		.agenda;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.4375px;
		color: @black;
		font-weight: 700;
		.aeroplan-img{
			width: 86.4px;
		}
	}
	.promocode-section
	{
		.agenda-bold;
		font-size: 14px;
		line-height: 24px;
		color: @black;
		margin: @gutter - 1 0 0 0;
	}
	.promocode-applysection
	{
		display: flex;
		padding: 9px 0px 16px 13px;
		@media (max-width: 768px) {
	    	display: inline-block;
	    }
	    @media (min-width:768px) and (max-width:1400px){
	      display: inline-block;
	    }
		.coupon-code {
			width: 172px;
			height: 34px;

			background: @white;
			border: 1px solid #828282;
			box-sizing: border-box;
			border-radius: 18px;
			padding: 0px 20px;
			margin-right:5px;
		}
		.apply-btn {
    		width: 97px;
			height: 34px;

			background: @white;
			border: 1px solid #CE2C35;
			box-sizing: border-box;
			border-radius: 18px;
			color: @brand-red;
    		.agenda-bold;
    		@media (max-width: 768px) {
		    	margin-top: 10px;
		    }
		    @media (min-width:768px) and (max-width:1400px){
		      margin-top: 10px;
		    }
    	}
    	button:disabled,
		button[disabled]{
			opacity: 0.5;
		}
    	.is-loading {
          background-image: url('{{ themeSettings.sirvResourceImageUrl }}/button-loading.gif');
          background-repeat: no-repeat;
          background-position: center;
          color: transparent;
  		}
	}
	.invalid-coupon {
		.agenda;
		font-size: 1.4rem;
		color: @link-red;
	}
	.applied-coupons {
		.agenda;
		float: left;
	    width: 100%;
	    padding-left: 30px;
	    padding-bottom: 10px;

		.discount-desc {
			.remove-coupon {
				color: @link-red;
				margin-left: @gutter - 10;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.applied-coupon-section
		{
		    display: inline-block;
			.successcode-msg{
				span{
					width: 150px;
					height: 17px;
					.agenda-bold;
					font-size: 14px;
					color: #959592;
					margin-left: 5px;
				}
				&:before{
				 	.material-icons;
				    content: "\E876";
				    background: @white;
				    line-height: 1.0;
				    border: 2px solid @storeOpenStatus;
				    border-radius: 50%;
				    font-size: 12px;
				    font-weight:bold;
				}
			}
			.invalidcode-msg{
				span{
					width: 192px;
					height: 17px;
					.agenda;
					font-weight: 500;
					font-size: 14px;
					margin-left: 5px;
					line-height: 17px;
					color: @brand-red;
				}
				&:before{
				 	.material-icons;
				    content: "\2715";
				    background: @white;
				    line-height: 1.0;
				    border: 2px solid @link-red;
				    border-radius: 50%;
				    font-size: 10px;
				    font-weight:bold;
				    left: 75.49%;
				    right: 24.03%;
				    top: 40.63%;
				    bottom: 59.04%;
				    padding: 0px 3px 3px 3px;
				    -webkit-text-stroke: 0.7px black;
				}
			}
		}
	}
}
