body.mz-confirmation {
	font-size:1.6rem;
    .agenda;
    line-height:normal;
    small{
    	font-size:80%;
    }
    .mz-breadcrumbs{
    	.hidden;
    }
    .mz-propertylist {
        dt {
            min-width: 120px;
            margin-bottom: @gutter/2;
        }

        dd {
            margin-bottom: @gutter/2;
        }
    }
    //updated CSS
    .mz-l-pagecontent{
    	.no-padding;
    }
    .confirmation-link{
		color:@link-red;
		text-decoration: underline;
	}
    .view-order-detail-container{
    	padding:@gutter + 5 0 0 0;
    	.view-order-title{
    		.agenda-bold;
    		color:@confirmationColor;
    		line-height:1.1;
    		font-size: 4rem; 
    		margin:@gutter/2 - 2.5 0 @gutter - 5; 
    	}
		.container{
			border-bottom:1px solid @mercury;
			padding-bottom: 30px;
		}
    }
    .order-detail-section{
		p{
			.no-margin;
			strong{
				font-weight:normal;
				.agenda-bold;
			}
		}
		.errored-message-container{
			color:@color-primary-red;
			h4{
				color:@torchRed;
				margin:0 0 @gutter/5;
			}
		}
		.question{
			display: block;
			font-size: 18px;
			margin-bottom: 10px;
		}
		.contact-us{
			display: inline-block;
			a{
				cursor: pointer;
				display: inline-block;
			}
			i{
				float: left;
				color:@color-primary-red;
				font-size: @gutter - 3px;
				vertical-align: middle;
				cursor: pointer;
				margin-right: @gutter - 15px;
			}
			&.first{
				width: 75px;
			}
		}
		&.confirmation-message{
			margin-bottom: @gutter - 5;
			.email{
				word-break: break-all;
			}
			.spacing{
				margin-bottom: @gutter - 5px;
			}
		}
	}
	.order-number {
		.agenda;
		text-align: justify;
	}
	.question-with-link{
		@media(max-width:767px){
			margin-bottom:@gutter/2 - 2.5;
		}
	}
	.confirmation-container{
		padding:@gutter + 5 0;
	    .order-detail-header{
	    	overflow:hidden;
			margin-bottom: 14px;
	    	@media(max-width:767px){
	    		.no-border;
	    	}
			.order-detail-title{
				font-size:3.4rem;
				.agenda-bold;
				color:@confirmationColor;
				line-height:1.1;
				margin:0;
				@media(max-width:767px){
					font-size:2.6rem;
					margin-bottom: @gutter - 10px;
				}
			}
			.print-container{
				text-align: right;
				@media(max-width:767px){
					text-align: left;
				}
				.print-button{
					color: @color-primary-red;
					.material-icons{
						font-size: @gutter - 2px;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
				.order-detail-section{
					margin-top: 5px;
				}
			}
	    }
	    .confirmation-subtitle{
	    	.agenda-bold;
	    	font-size:2rem;
	    	line-height:1.1;
	    	margin: @gutter - 3 0 @gutter - 5 0;
	    }
	    .payment-summary {
			.confirmation-payment-section {
				padding: 5px 0;
			}
		}
	    //Store pickup details
	    .store-detail-container{
	    	color:@mineShaft;
			@media(min-width:768px){
				margin-bottom:@gutter * 2;
			}
	    	.store-pickup-note{
	    		background:@storePickBg;
	    		padding:@gutter/2 + 2.5;
	    		margin-bottom:@gutter + 5;
	    		float:left;
	    		.fullwidth;
	    		p{
	    			.no-margin;
	    		}
	    	}

	    	//Payment Billing Section
	    	.payment-billing-section{
				@media(min-width:768px){
					margin-bottom:@gutter * 2;
				}
				.order-summary-section{
					caption{
						font-size: @fontSizeLarge + 8;
					}
					.order-summary-details{
						margin: 0;
						border: 1px solid #e1e1e1;
					}
				}
	    		.payment-method-section{
	    			p{
	    				margin:0 0 30px;
	    				img{
	    					margin:0 @gutter/5 0 0;
	    				}
	    			}
	    			.confirmation-aeroplan-section{
    					padding-top: @gutter - 15;
						.backgrount-img{
							height: 30px;
							margin-left: 22px;
							background-size: 123px;
							background-image: url("{{ themeSettings.sirvResourceImageUrl }}/footer-logosR2.png");
							&.EarnAeroplanMiles-icon{
							background-size: 102px;
							height: 27px;
							margin: 11px 0;
							width: 209px;
							}
							@media (min-width: 768px) {
								height: 27px;
								background-size: 120px 205px;
								margin-left: 0px;
								float: left;
							}
							@media (min-width: 768px) and (max-width: 812px){
								height: 27px;
								background-size: 120px 205px;
								margin-left: 0px;
								float: left;
								margin-bottom: 15px;
								display: block;
								.link-name {
									text-decoration: underline;
									color: #333;
									font-size: 14px;
									font-weight: 500;
									margin-left: 0px;
									margin-top: 19px;
									float: left;
								}
							}
							@media (max-width: 767px) {
								height: 27px;
								background-size: 121px 200px;
								margin-left: 0px;
								position: relative;
								float: left;
								left: 0;
							}
							content: "";
							display: inline-block;
							//margin-bottom: @gutter - 10;
							height: @gutter * 2;
							background-position: 0px  center;
							background-repeat: no-repeat;
							background-size: @gutter * 4 @gutter * 2;
						}
						.link-name {
							text-decoration: underline;
							color: @radioBg;
							font-size: 14px;
							font-weight: 500;
							margin-left:120px;
						}

						a {
							padding-bottom: 20px;
							display: block;
							&:hover {
								text-decoration: none;

								.link-name {
									color: @brand-red;
								}
							}
						}
						.smallaCls{
							float: left;
							clear: left;
						}
    				}
	    			.card-img {
	    				position: absolute;
					    top: -40px;
					    bottom: 15px;
					    left: 0px;
					    right: 0px;
					    width: 85px;
	    			}
	    		}
	    		.billing-addess-section{
					display: table;
	    			margin-bottom: 0;
	    			@media(max-width:767px){
						display: block;
	    				float:left;
						margin: 0 0 30px;
	    			}
					.billing-address-container{
						display: table-cell;
						width: 47%;
						@media(max-width:767px){
							display: block;
							width: 100%;
							margin-bottom: 0;
						}
					}
					.shipping-address-container{
						display: table-cell;
						padding-left: 10px;
						width: 49%;
						@media(max-width:767px){
							display: block;
							width: 100%;
							padding-left: 0px;
						}
					}
	    		}
	    	}

	    }
		//Order Notes Section
		.order-note-section{
			margin-bottom:@gutter * 2;
			padding:@gutter - 7  0 @gutter + 15  0;
			border-bottom:1px solid @mercury;
			border-top:1px solid @mercury;
			@media(max-width:767px){
				margin-top: 0;
				margin-bottom:@gutter + 5px;
			}
		}
		//Order Summary detail
		.items-in-order-container{
			.block-title{
				font-size: 3.4rem;
				font-family: "Agenda_bold",sans-serif;
				font-style: normal;
				font-weight: normal;
				color: #333;
				line-height: 1.1;
				margin: 0 0 20px 0;
			}
			.order-info-section{
				padding-bottom: 20px;
				border-bottom: 1px solid @mercury;
				.order-info-sub-section{
					@media(min-width:768px){
						display: table;
					}
					i{
						color: @color-primary-red;
						font-size:@gutter - 2px;
						display: table-cell;
						&.fa-truck{
							width: @gutter + 3px;
						}
						&.fa-user-circle{
							width: @gutter - 2px;
						}
					}
					svg{
						color: @color-primary-red;
						font-size:@gutter - 2px;
						display: table-cell;
						&.fa-truck{
							width: @gutter + 3px;
						}
						&.fa-user-circle{
							width: @gutter - 2px;
						}
					}
					.sub-section-info{
						display: table-cell;
						padding-left: 10px;
						padding-top: 0;
						vertical-align: top;
						&.address{
							span{
								display: block;
							}
							span:first-child{
								font-weight: bold;
								font-family: @font-family-agenda;
							}
							.store-address{
								border: none;
								.no-padding;
								.no-margin;
								.address-card{
									.no-padding;
									.no-margin;
									width: unset;
									&:first-child{
										font-weight: normal;
										font-family: @font-family-agenda;
									}
									.store-address-details{
										.store-street{
											font-weight: normal;
										}
									}
								}
							}
						}
						.pick-up-details{
							margin: 0;
							.email{
								@media(max-width:768px) and (orientation: portrait) {
									word-break: break-word;
								}
							}
						}
						.get-direction-link{
							color: @color-primary-red;
							padding-top: @gutter - 20px;
							display: block;
							font-weight: 600;
							.fa-arrow-right{
								font-size: @gutter - 11px;
								vertical-align: middle;
								display: inline-block;
								margin-left:@gutter/5 - 2;
							}
						}
					}
					&.pickup-info{
						@media(max-width:768px){
							margin-bottom: @gutter - 5px;
						}
					}

				}
			}
			.item-container{
				&.add-style{
					border-bottom:1px solid @mercury;
					margin-bottom: @gutter*2;
				}

				.mz-ordersummary-lineitems{
					.order-item-block{
						padding: 25px 15px;
						border-bottom: none;
						@media(max-width:767px){
							padding: @gutter - 5px 0;
						}
						.order-item-product{
							.product-tile{
                              a{
                                padding-left: 0;
                                img{

                                  width: 100%;
                                }
                              }
							}
						}
						.order-item-quantity{
							text-align: center;
							@media(max-width:767px){
								text-align: right;
								.no-margin;
								border: none;
								padding: 0 0 @gutter - 15px 0;
							}
						}
						.order-item-details{
							@media(max-width:767px){
								.no-padding;
							}
						}
					}

				}
			}
			.order-detail-title{
				font-size:2.4rem;
			}
		}
    }
    /******** Print css ********/
	@media print{
		* {
	        -webkit-print-color-adjust: exact;
	    }
		.view-order-detail-container{
			.container{
				.question-with-link{
					display: none;
				}
			}
		}
		.confirmation-container{
			.container{
				.order-detail-header{
					.print-container{
						.print-button{
							display: none;
						}
					}
				}
				.store-detail-container{
					.payment-billing-section{
						.payment-method-section{
							margin: 0;
						}
					}
				}
				.items-in-order-container{
					.order-info-section{
						.order-info-sub-section{
							.get-direction-link{
								display: none;
							}
							.store-name{
								text-decoration: none;
							}
						}
					}
					.item-container{
						.order-item-product{
							.product-tile{
								.data-layer-productClick{
									text-decoration: none;
									img{
										width: 80% !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
    
    /************/

}
