.contact-us{
	.agenda;
	font-size:1.6rem;
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
		font-size:1.4rem;
	}
	strong{
		.agenda-bold; 
	}
	.contact-us-container {
	    margin-top: 25px;
	}
	.contactus-navigation{
		.footer-list{
			margin-top:@gutter/5 * 3;
			@media(max-width:767px){
				display:block !important;
			}
		}
		.subnav-container{
			font-size:1.4rem;
			margin-top:-@gutter + 5;
			padding-left:@gutter - 5;
			.footer-list{
				margin-top:@gutter/5;
				li{
					position:relative;
					&:before{
						content:'\E315';
					    line-height: 41px !important;
					    .material-icons;
				        font-size: 2.4rem; 
			            position: absolute;
					    top: -@gutter/5 + 1;
					    left: -@gutter + 5;
					    pointer-events: none;
					}
				}
			}
		}
	}
	.contact-information{
		a{
			color:@torchRed;
		}
		.header{
			.flex-display(flex);
			margin:@gutter/5 * 3 0;
			h1{
				.no-margin;
				.fullwidth;
				.agenda-bold;
			}
			.print{
				margin:@gutter/5 0 0;
				@media(min-width:768px){
					.text-right;
				}
			}
		}
		.inform-section {
    		margin-bottom: 40px;
    		.box {
    			background:@light-grey;
    			border-radius: 25px;
    			@media(max-width:767px) { 
					border-radius: 0;
				}
    			@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	    			padding-left: 5px;
	    			padding-right: 5px;
	    		}
	    		@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) { padding-right: 10px; }
				.image-section {
					margin: 25px 0;
				    height: 115px;
				    position: relative;
				    padding-left: 5px;
    				padding-right: 10px;
    				@media(max-width:767px) {
						text-align: center;
					}
    				@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
		    			height: 185px;
		    		}
		    		@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) { height: 250px; }
		    		.inform-head {
						font-size: 1.6rem;
						.agenda-bold;
						margin: 12.5px 0;
					}
				    .online-order-image {
					    position: absolute;
					    top: 0;
					    bottom: 0;
					    margin: auto;
					    left: 0;
    					right: 0;
    					@media(max-width:767px) {
							position: relative;
						}
					}
				}
				.faq-image-section {
					margin: 25px 0;
				    height: 115px;
				    position: relative;
				    @media(max-width:767px) {
						text-align: center;
					}
				    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
					    padding-left: 5px;
	    				padding-right: 10px;
	    				height: 185px;
	    			}
	    			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) { height: 250px; }
	    			.inform-head {
						font-size: 1.6rem;
						.agenda-bold;
						margin: 12.5px 0;
					}
				    .online-order-image {
					    position: absolute;
					    top: 0;
					    bottom: 0;
					    margin: auto;
					    left: 0;
    					right: 0;
					    @media(max-width:767px) { 
							position: relative;
						}
					}
				}
				.content-section {
					padding-right: 0;
					@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
						padding-left: 10px;
					}
					.inform-head {
						font-size: 2.4rem;
						.agenda-bold;
						margin-top: 12.5px;
						@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
							font-size:1.4rem;
						}
					}
					p {
					    font-size: 1.4rem;
					    a {
					    	font-size: 1.4rem;
					    }
					    a#online-shopping {
						    cursor: pointer;
						}
					    span {
					    	color:@torchRed;
					    }
					}
					ul {
						margin: 12.5px 0;
	    				padding: 0 0 0 16px;
						li {
		    				font-size: 1.4rem;
		    				a {
		    					color: @textColor;
		    				}
						}
					}
				}
			}
		}
		.bottom-section {
			margin: 0 0 40px 50px;
			@media(max-width:767px) { 
				margin: 0;
			}
			.box {
    			background:@light-grey;
    			border-radius: 25px;
    			@media(max-width:767px) { 
					border-radius: 0;
				}
				.image-section {
					margin: 25px 0;
				    height: 115px;
				    position: relative;
				    padding-left: 5px;
    				padding-right: 10px;
    				@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
		    			height: 90px;
		    		}
		    		@media(max-width:767px) { 
						height: 50px;
						margin: 25px 0 0;
					}
				    .online-order-image {
					    position: absolute;
					    top: 0;
					    bottom: 0;
					    margin: auto;
					    left: 0;
    					right: 0;
    					@media(max-width:767px) { 
							position: relative;
						}
					}
				}
				.content-section {
					padding: 10% 0;
					font-weight: bold;
					@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
		    			padding: 10% 0 10% 15px;
		    		}
					p {
					    font-size: 1.4rem;
					}
					div {
					    font-size: 1.4rem;
					}
					@media(max-width:767px) { 
						div:first-child {
							padding-bottom: 15px;
						}
					}
					ul {
						margin: 0px;
	    				padding: 0 0 0 16px;
						li {
		    				font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
	.form-question {
		.agenda;
		font-size:1.6rem;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 5%;
	}
	.form-check-inline:first-child {
		margin-left: 0;
		@media(max-width:767px) {
			margin-left: 9%;
		}
		@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) { margin-left: 0; }
	}
	.form-check-inline {
		display: -ms-inline-flexbox;
	    display: inline-flex;
	    -ms-flex-align: center;
	    align-items: center;
	    padding-left: 0;
	    margin-right: .75rem;
	    margin-left: 9%;
	    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	    	margin-left: 1%;
	    	margin-right: 0;
	    }
	    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	    	margin-left: 8%;
	    }
	    @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) { margin-left: 0; }
	    @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) { display: block; }
	    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { display: block; }
		label.form-check-label {
		    font-family: agenda;
		    font-weight: normal;

		    .form-check-input {
		    	position: static;
			    margin-top: 0;
			    margin-right: .3125rem;
			    margin-left: 0;
		    }
		}
	}
	.contactus-form{
		margin:@gutter 0;
		#Group1 {
			text-align: center;
			@media(max-width:767px) {
				text-align: left;
			}
			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) { text-align: left; }
			.mz-validationmessage {
			    margin-left: 9%;
			    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
			    	margin-left: 1%;
			    }
			}
		}
		fieldset {
			margin-bottom: 15px;
			label{
				font-weight:normal;
				margin-right:@gutter/5 * 2;
				.fullwidth;
				@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
					margin-right: @gutter/5;
				}
				@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) { margin-right: @gutter/5; }
			}
		}
		.form-group{
			fieldset{
				border:none;
			}
			label{
				font-weight:normal;
				margin-right:@gutter/5 * 2;
				.fullwidth;
			}
			.form-control{
				font-size:1.4rem;
				.agenda;
			}
			.phone-numbercontainer{
				.flex-display(flex);
				.digit-length{
					margin-right:@gutter/5 * 2;
					&:last-child{
						margin-right:0;
					}
				}
			}
		}
		.mz-contact-button, .mz-unsubscribe-button{
			.btn-red();
			.new-btn-primary();
			margin-top:@gutter/5 * 3;
		}
	}
	 /******** Print css ********/
    @media print {
		.mz-pagefooter, .header-container, .print, .g-recaptcha, .contactus-navigation{
			.hidden;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid @storeResultBorder;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
	}
	/******** Print css ********/
}
.french-content.contact-us{
	.contact-information{
		.inform-section {
			.box { 
				.faq-image-section {
				    height: 161px;
				    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
					    padding-left: 5px;
	    				padding-right: 10px;
	    				height: 210px;
	    			}
	    			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) { height: 340px; }
				}
				.image-section {
					height: 161px;
					@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
		    			height: 210px;
		    		}
		    		@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) { height: 340px; }
				}
			}
		}
		.bottom-section {
			.box {
				.content-section {
				    padding: 7% 0;
				}
			}
		}
	}
}