.flipbook{
	.agenda;
	.mz-l-pagecontent{
		.no-padding;
		.mz-breadcrumbs{
			.hidden; 
		}
		.flipbook-content{
			margin: @gutter 0;
			iframe{ 
				width: 100%;
    			height: 1000px;
    			@media(max-width:767px){
    				height: 800px;
    			}
    			@media(max-width:767px){
    				height:500px;
    			}
			}
		}
	}
}