.mz-forgotpasswordPage{
	.mz-l-pagecontent{
		.no-padding;
		.mz-breadcrumbs{
			.hidden;
		}
		.forgot-success-message{
			margin-bottom:@gutter * 3;
			margin-top:@gutter * 5;
			font-size:1.6rem;
			.agenda;
			h3{
				.agenda-bold;
				margin:0 0 @gutter;
				font-size:2rem;	
			}
		}
		.forgot-password-container{
			margin-bottom:@gutter * 3;
			margin-top:@gutter * 3;
			.mz-pagetitle{
				font-size:2rem;
				.agenda-bold;
				margin:0 0 @gutter - 5;
			}
			.forgot-password-note{
				.agenda;
				font-size:1.6rem;
				margin-bottom:@gutter;
			}
			.forgot-password-cont{
				.email-address-cont{
					margin:0 0 @gutter - 5;
					label{
						margin:0 0 @gutter/5;
						.agenda;
						font-size:1.6rem;
						font-weight:normal;
					}
				}
				.btn-block{
					margin-bottom:@gutter/5 * 8;
					.agenda;
					font-size:1.6rem;
					button{
						.btn-red();
						.fullwidth;
						border-radius: 22px;
					}
				}
				.forgot-footer-links{
					.link{
						color:@torchRed;
					}
				}
			}
		}
	}
}