.mz-gift-card-page{
	.mz-l-pagecontent{
		.no-padding;
		.container{
			@media(max-width:767px){
				.no-padding;
			}
		}
	}
	.gift-card-banner{
		margin:0 0 @gutter/2 + 2.5;
		img{
			.fullwidth;
		}
	}
	.gift-card-content{
		max-width:960px;
		margin:0 auto;
		iframe{
			float:right;
			border-left:3px solid @iframeBorder;
			margin-bottom:@gutter/2 + 2.5;
			max-width:708px;
			@media(max-width:767px){
				width:100%;
			}
			@media(max-width:991px){
				.no-border;
			}
			.no-cart{
				@media(max-width:767px){
					.no-padding;
				}
			}
		}
	}
	.fr-banner, .fr-content{
		display:none;
	}
	.en-banner, .en-content{
		display:block;
	}
	&.french-content{
		.fr-banner, .fr-content{
			display:block;
		}
		.en-banner, .en-content{
			display:none;
		}
	}
}