.mz-article-category {
	.content-loading {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    display: block;
	    z-index: 99;
	    text-align: center;
	    top: 0;
	    left: 0;
	    opacity: 0.5;
	    background: rgba(255,255,255,0.7);
	    .loading-image {
		    width: 150px;
		    margin: auto;
	    }
	}
	.hhh-navigation {
		.mz-cms-block {
			.mz-cms-content {
				overflow: visible;
				.dropdown-menu {
					top: 25px;
				}
				#pagemenu {
					option.sublink {
						background-color: @light-grey;												
					}
					.left-padding {
						padding-left: 25px;
					}
				}
			}
		}
	}
	.mz-cms-block {
		.mz-cms-content {
			padding: 0;
		}
	}
	.dropzone-section {
		&>.container {
			&>.row {
				&>.col-sm-12 {
					&:not(:first-child) {
						.mz-cms-col-12-12 {
							.mz-cms-block {
								&:first-child {
									.themed-content-grouping {
									    border-top: 1px solid @formInputBorder;
									}
								}
							}
						}
					}
					.mz-cms-col-12-12 {
						.mz-cms-block {
							&:first-child {
								.themed-content-grouping {
								    padding-top: @gutter  + 10;
								}
							}
						}
					}
					.merchandises-products {					
						.mz-productlisting {
							@media (max-width: 767px) {
								&:nth-child(1) {
									display: block;
								}
								&:nth-child(2) {
									display: block;
								}
								&:nth-child(3) {
									display: none;
								}
								&:nth-child(4) {
									display: none;
								}
								.mz-productlisting-image {
								    width: 100%;
								}	
								.mz-productlisting-info {
								    margin-top: 10px;
								}							
							}
							.current-product-banner {
			                    display: none;
			                }
							.mz-productlisting-info {
							    .mz-productlisting-title {
					    	    	.agenda-bold;
					    	    }
							}
						}
					}					
				}
			}
		}	
			
	}
	.explore-by {
	    margin-bottom: 32px;
		@media (max-width: 768px) {
			.flex-display(flex);
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    .flex-direction(column);		    
		}
		ul {
			text-align: center;
			@media (max-width: 768px) {
			    text-align: left;
		        margin-left: auto;
    			margin-right: auto;
			    .flex-display(flex);
			    -webkit-box-orient: vertical;
			    -webkit-box-direction: normal;
			    .flex-direction(column);
			}
		    
		    li {
		    	a {
		    		color: @torchRed;
		    	}
		    	&+li {
		    		@media (min-width: 768px) {
		    			padding-left: @gutter*2 + 14;
		    		}
		    		@media (min-width: 992px) {
		    			padding-left: @gutter*4 - 10 ;
		    		}
		    		@media (max-width: 768px) {
					    margin-top: @gutter;
					}
		    		
		    	}
	    	    
		    }
		}
	}
	.video-section {
	    background: @light-grey;
	    .themed-content-grouping {
			.title {
			    text-align: left;
		        font-size: 1.8rem;
			}
			.heading {
			    text-align: left;
			}
		}
		video {
			width: 100%;
		}
		.popular-articles {
			.themed-content-grouping {
				.title {
				    font-size: 2.2rem;
			        text-align: left;
				}
			}
			.merchandises-products {
				.mz-productlist {
				    white-space: nowrap;
				    overflow-y: hidden;
				    overflow-x: auto;
				    display: block;
				    .mz-productlisting  {
		    	       white-space: normal;
					    display: inline-block;
					    width: ~'calc(60% + @gutter + 5)';
					    min-width: 220px;
					    max-width: 290px;
					    padding: 0 @gutter - 10;
					    margin: 0;
				        vertical-align: top;
			    	    @media (min-width: 768px) {
			    	     	width: 100%;
		    	     	    max-width: 100%;
				    	    &:nth-child(1) {
			    	    	    display: block;
		    	    	        margin: 0 0 @gutter + 5;
				    	    }
				    	    &:nth-child(2) {
			    	    	    display: block;
				    	    }
			    	    	&:nth-child(3) {
			    	    	    display: none;
				    	    }
				    	    &:nth-child(4) {
			    	    	    display: none;
				    	    }
			    	    }
			    	    .current-product-banner {
		                    display: none;
		                }
			    	    .mz-productlisting-title {
			    	    	.agenda-bold;
			    	    }
			    	    .mz-productlisting-image {
		    	    	    width: 100%;
			    	    }
			    	    
				    }
				}
			}
		}
	}
}