.home-landing-page{
	.mz-l-pagecontent{
		.no-padding;
	}
	.mz-breadcrumbs{
		.hidden;
	}
	.landing-main-banner{
		margin:0 0 @gutter;
		.mz-cms-row{
			max-width:100%;
			[class*='mz-cms-col-'] .mz-cms-content{
				.no-padding;
			}
		}
	}
	.static-banner{
		margin:0 0 @gutter;
	}
}