.mz-level-one-category{
    .mz-breadcrumbs{
        display: none;
    }
    .mz-l-pagecontent{
        padding: 0;
        .level-one-banner{
            .mz-cms-row{
                max-width: 100%;
                .mz-cms-content{
                    padding: 0;
                }
            }
        }
    }
}