.mz-loginpage{
	.agenda;
	.mz-breadcrumbs{
		.hidden;
	}
	.login-container{
		margin-top:@gutter;
		margin-bottom:@gutter * 3;
		.login-cont{
			margin-bottom:@gutter/5 * 8;
			.login-section{
				width: 90%;
				@media(max-width:991px){
					width: 100%;
				}
			}
			@media(max-width:767px){
				margin-bottom: @gutter + 5;
				padding-bottom: @gutter - 5;
				border-bottom: solid 1px @silver;
			}
		}
		.createAccount-cont{
			@media(min-width: 991px){
				border-right: 1px solid @header-border;
				&.creatAcc-padding {
					padding-bottom: 37px;
				}
			}
			.create-account-title{
				.agenda-bold();
				margin: 0 0 @gutter - 5;
				font-size: 2rem;
			}
			.service-content-list{
				line-height: @gutter + 13;
				@media(max-width:991px){
					line-height: @gutter + 7;
				}
			}
			.create-account-btn{
				.btn-large();
				.new-btn-secondary();
				width: 50%;
				@media(max-width:767px){
					width: 100%;
				}
			}
		}
		@media(max-width:767px){
			display: flex;
			flex-direction: column-reverse;
			margin-bottom:@gutter + 5;
		}
	}
	.static-login-container{
		margin-top:@gutter * 2 + 10;
		margin-bottom:@gutter * 3;
		.login-cont{
			margin-bottom:@gutter/5 * 8;
		}
	}
	.login-banner-container{
		[class*='mz-cms-col-'] .mz-cms-content{
			.no-padding;
		}
	}
	.section-title{
		.agenda-bold;
		margin: 0 0 @gutter - 5 ;
	    font-size:2rem;
	}
	
	.keep-signed-in{
		font-weight:normal;
		margin: 0 0 0 @gutter / 5 + 3 ;
	}
	.info-icon{
		vertical-align: middle;
		display: inline-block;
		cursor: default;
	}
	.form-group{
		&.forgot-pwd-cont {
			margin-bottom: 20px;
		}
		.popover{
			.agenda;
			font-size:1.6rem;
			.no-padding;
			max-width:400px;
			left: 0 !important;
			.popover-content{
				.no-padding;
				.keepme-signin-container{
					font-size:1.4rem;
					h3{
						margin:0 0 @gutter/5;
						font-size:1.6rem;
						padding:@gutter/5 + 3 @gutter/5 * 3;
						background:@secondary-color;
						color:@white;
						font-weight:normal;
						.agenda-bold;
						a{
							float:right;
							color:@white; 
							font-weight:normal;
							opacity:1;
						}
					}
					p{
						padding:0 @gutter/5 * 3; 
					}
					.btn-container{
						float:left;
						padding:@gutter/5 * 2 @gutter/5 * 3; 
						width:100%;
						.back{
							float:left;
							padding:@gutter/5 @gutter/5 * 2;
							color:@white;
							background:@secondary-color;
							i{
								float:left;
								margin:0 @gutter/5 0 0; 
							}
						}
						.cancel{
							float:right;
							.link;
							padding:@gutter/5 @gutter/5 * 2;
							font-size:1.4rem;
						}
					}
				}
			}
		}
	}
		
	.checkout-options{
		.flex-display();
		.flex-direction(column);
		margin: @gutter + 15 0 @gutter * 2;
		
		@media(min-width:768px){
			.flex-direction();
			margin: @gutter * 4 0;
		}
		
		.authenticate-block, .guest-block{
			@media(min-width:768px){
				width : 50%;
			}
		}
		
		.authenticate-block{
		
		border-bottom: 1px solid @border-light;
			@media(min-width:768px){
				border-bottom: none;
				padding: 0 @gutter * 2 0 0;
			}
			@media(min-width:992px){
				border-bottom: none;
				padding: 0 @gutter * 4 0 0;
			}
			
		}
		.guest-block{
		
		    margin: @gutter - 5 0 @gutter + 15;
		    padding: 0 0 @gutter + 15;
			
			@media(min-width:768px){
				padding: 0 0 0 @gutter * 2;
			    margin: 0;
			    border-bottom: none;
			}
			@media(min-width:992px){
				padding: 0 0 0 @gutter * 4;
			}
			.createAccountSection {
				margin-top: 42px;
			}
		}
	}
	
	.register-block{
		background-color: @light-grey;
		margin-bottom: @gutter * 3;
		padding:@gutter + 5;
		
		.section-title{
			margin: 0 0 @gutter - 15;
		}
		p{
			margin: 0 0 @gutter - 15;
		}
	}
	.login-submit{
		.btn-red();
		.btn-large();
		.new-btn-primary();
		width: 67%;
		@media(max-width:767px){
			width: 100%;
		}
	}
	.guest-submit-checkout {
		color: @black;
		font-weight: bolder;
		cursor:pointer;
		.btn-text {
			// font-family: Agenda,sans-serif;
			font-size: 18px;
			// font-weight: 600;
			// letter-spacing: 0;
			// text-decoration: none;
			// display: inline-block;
			i.fas, svg.fas {
				color: #e4002b;
			}
		}
	}
	.guest-submit{
		.btn-red();
		.btn-large();
		.new-btn-primary();
		cursor:pointer;
	}
	.login-submit-guest-checkout {
		.btn-red();
		.btn-oval-large(); 
	}
	.guest-submit-checkout {
		color: @black;
		font-weight: bolder;
		cursor:pointer;
		.btn-text {
			font-size: 18px;
			i.fas, svg.fas {
				color: @torchRed;
			}
		}
	}
	.control-label{
		font-weight:normal;
		margin: 0 0 @gutter / 5;
		cursor:default;
	}
	.show-hide-container{
		position:relative;
		
		.form-control{
			padding-right:@gutter * 2;
		}
		.show-hide{
			display: block;
		    position: absolute;
		    width: 50px;
		    height: 40px;
		    right: 0;
		    top:0;
		    text-align: center;
		    font-size: 1.2rem;
		    line-height: 3.2;
		}
	}
	.mz-l-pagecontent{
		padding:0;
	}
	&.static-login{
		[class*='mz-cms-col-'] .mz-cms-content{
			.no-padding
		}
		.forgot-pwd-cont, .keep-me-signed-in{
			.hidden;
		}
	}	
}
.keepme-signin-container{
	
}
