.bv-cv2-cleanslate .bv-core-container-16 .bv-compat .bv-content-search .bv-masthead .bv-masthead-product .bv-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}
.bv-cv2-cleanslate .bv-core-container-16 .bv-rating-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}


body.mz-product {
	.agenda;	
	.mz-l-pagecontent{
		overflow:visible;
		padding:0;
	}
	.mz-breadcrumbs{
		background-color:@light-grey;
		padding:@gutter 0;
	}
	.section-title{
		font-size:2.2rem;
		.agenda-bold;
		margin: 0 0 @gutter - 10;
		text-transform: uppercase;
	}
	.productdetails-container{
		//background-color:@light-grey;
		.product-details{
			 //padding-bottom:@gutter * 2;
			  @media only screen and (min-width: 1366px) {
			 	width: 1300px;
			  }
			 @media(min-width:768px){
			 	padding-bottom:@gutter * 3 - 5;
			 }
			 .product-image-container {
			 	@media only screen and (min-width: 1366px) {
			 		width: 58%;
			  	 }
			 }
		   	.productdetails-title{
		  			font-size: 2.6rem;
		  			margin: 0 0 @gutter - 5;
		  			
		   		@media (min-width: 768px){
		   			font-size: 3.4rem;
				   }
				   .clearanceTagImg{
					.agenda-bold();
					color: black;
					padding: 5px 10px;
					background-color:@signUpBtnBg;
					font-size: 1.7rem;
					line-height: 1;
					border-radius: 0;
					display: inline-block;
					vertical-align: middle;
					@media (min-width: 768px) and (max-width: 991px){
                        font-size: 1.3rem;
                        line-height: 1.3;
                    }
				}  
		   	}
		   	.productdetails-detail{
	  		    padding: 0;
	  			list-style: none;
	 			margin: 0 0 @gutter;
	 			li{
	  				@media(min-width:768px){
	  				display: block;
	    			vertical-align: bottom;
	    			margin: 0 @gutter - 5 0 0;
	  				}
				   }
				   .scroll-header-ratings{
					position: fixed;
					z-index: 1201;
					left: 29%;
					top: 56px;
				}
		}
	   		.productdetails-wrapper{
	   			@media(min-width:992px){
			 		margin-left: @gutter * 2;
			 	}
			 	@media only screen and (min-width: 1366px) {
			 		margin:0 auto;
			 		width:41%;
			 	}
			}
			.pdp-breadcrumbs-section{
				background-color:@white;
			}  
			.product-brand{
				.agenda-bold;
				text-transform:uppercase;
				margin-top: 0;
				span{
					cursor: pointer;
					font-family: "Agenda",sans-serif !important;
					color: @linkVisitedColor !important;
					text-transform: capitalize;
				}
			}	 
		}

	}
	.product-information{
		@media(max-width:767px){
			border-top: 1px solid @horizontalLine;
		}
		.prod-info-tab{
			width: 100%;
			border-bottom: 1px solid @horizontalLine;
			overflow: hidden;
			@media(max-width:767px){
				display: none;
			}
			.custom-tab{
				border: none;
				margin: 0;
				padding-left: 0;
				list-style: none;
				overflow: hidden;
				@media(max-width:768px){
					font-size: 1.6rem;
				}
				@media(min-width:769px){
					font-size: 2.2rem;
				}
				
				li{
					display: block;
					float: left;	
					width: 20%;
					text-align: center;
					text-transform: uppercase;
					a{
						display: block;
						padding: @gutter - 10;
						&:visited, &:hover, &:active, &:focus {
							color: @primary-color;
							cursor: pointer;
							text-decoration: none;
							outline: 0;
						}
					}
					.active{
						border-bottom: 3px solid @torchRed;
						.agenda-bold;
					}
				}
				
			}
		}
		.item{
			@media(max-width:767px){
				border-bottom: 1px solid @horizontalLine;
			}
			.item-content-print{
				@media(min-width:768px) {
					visibility: visible !important;
					height: auto !important;
					width: auto;
				}
				
				.attributes, .attribute-value{
					width: 100%;
					min-height: auto; 
				}
			}
			.item-content, .item-content-print{
				overflow: hidden;
				@media(min-width:768px) {
					visibility: hidden;
					height: 0;
    				padding: 0;
				}
				@media(max-width:767px){
					padding-top: @gutter;
					padding-bottom: @gutter;   	
				}
				.section-title{
					font-size: 1.6rem;
					.material-icons{
						vertical-align: text-top;
						color: @torchRed;
						float: right;
					}
					.remove{
						display: inline-block;
					}
					.add{
						display: none;
					}
					@media(min-width:769px){
						font-size: 2.2rem
					}
					@media(max-width:767px){
						font-size: 2.2rem;
						margin: 0;
					}
					&.collapsed{
						.remove{
							display: none;
						}
						.add{
							display: inline-block;
						}
					}
					&.morelikethis-collapse{
						.remove{
							display: none;
						}
						.add{
							display: inline-block;
						}
					}
				}
				@media (max-width:767px) {
					h3[data-toggle="collapse"]{
						cursor:pointer;
					}
				}
				
				@media (max-width:767px) {
					#mz-drop-zone-rti-recommended-product,#mz-drop-zone-certona-frequentlyboughttogether-product{
						visibility: hidden;
						height: 0;
						&.rti-toggle{
							visibility:visible;
							height:auto;
						}
					}
				}
				
				.description-container{
					&.in{
						display: block !important;
					}					
				}
			}
			.item-content-print{
				display: none;
			}
		}
		.item.active{
			.item-content, .item-content-print{
				@media(min-width:768px) {
					visibility: visible;
					height: auto;
					padding-top: @gutter;
					padding-bottom: @gutter;   
				}
			}
		}
	}
	
	/* Bazaar voice */
	#mz-drop-zone-bazaarvoice-ratings{
		width:100%;
		overflow:hidden;
	}
	#rating-tab{
		.bv_main_container{
			.agenda;
			.bv_avgRating_component_container{
				color:@torchRed !important;
				&:visited, &:active{
					color:@torchRed !important;
				}
			}
			.bv_numReviews_text, .bv_button_buttonMinimalist {
				color:@torchRed !important;
			}
			.hideBVR{
				display:none !important;
			}
			.newPdpReview{
				background: none !important;
				color: #444 !important;
				padding: 0px !important;
			}
		}
	}
	#BVRRSearchContainer{
		.bv-cv2-cleanslate{
			.bv-shared{
				.bv-text-link, .bv-content-secondary-ratings-value, .bv-secondary-rating-summary-value, .bv-content-slider-value{
					color:@torchRed !important;
				}
				.bv-content-search {
					.bv-masthead {
						.bv-masthead-product{
							.bv-stars-container{
								.bv-rating-stars-on{
									color:@torchRed !important;
									font-size: 2.5rem!important;
								}
								.bv-rating-stars-off{
									color:@horizontalLine !important;
									font-size: 2.5rem!important;
								}
							}
						}
					}
				}
			}
		}
	}
	.bv-cv2-cleanslate{
		.bv-shared{
			font-size:1.6rem !important;
			.agenda !important;
			.bv-action-bar-header{
				font-size:2.2rem !important;
				.agenda-bold !important;
			}
			.bv-rating-stars-on{
				color:@torchRed !important;
				font-size: 2.5rem!important;
			}
			.bv-rating-stars-off{
				color:@horizontalLine !important;
				font-size: 2.5rem!important;
			}
			button.bv-write-review, button.bv-read-review, button.bv-ask-question, .bv-button{
				background:@torchRed !important;
				&:hover{
					background:@torchRed !important;
				}
			}
			 dl, ol, ul, dt{
			 	font-size:1.4rem !important;
			 }
			.bv-content-secondary-ratings-value, .bv-secondary-rating-summary-value, .bv-secondary-slider-summary-value, .bv-content-slider-value{
				background:@torchRed !important;
			}
			.bv-content-review, .bv-section-summary .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list .bv-secondary-rating-summary-id{
				font-size:1.6rem !important;
				.agenda !important;
			}
			.bv-content-summary p {
				font-size:1.7rem !important;
				.agenda !important; 
			}
			.bv-author.bv-fullprofile-popup-target {
				font-size:1.7rem !important;
				.agenda-bold !important; 
			}
			.bv-content-title{
				font-size:1.7rem !important;
				.agenda-bold !important;
			}
			.bv-author-profile .bv-author-cdv .bv-author-userinfo-value, .bv-mbox-fullprofile .bv-author-cdv .bv-author-userinfo-value{
				font-weight:normal !important;
				.agenda-bold !important;
				font-size:1.6rem !important;
			}
			.bv-author-location, .bv-author-userstats-reviews, .bv-author-userstats-votes, .bv-author-userstats-votes, .bv-author-cdv{
				.agenda !important;
				font-size:1.6rem !important;
			}
		}
		.bv-core-container-5 .bv-content-placeholder .bv-write-review-label{
			color:@black !important;
			margin-top:@gutter/5;
		}
	}
	
}

body.mz-article {
	.agenda;
	.mz-l-pagecontent{
		overflow:visible;
		padding:0;
	}
	.article-details {
		header {
		    margin-bottom: @gutter + 5;
			.article-heading {
			    margin: @gutter - 5 0 @gutter - 5 0;
			    font-size: 4rem;
			    .agenda-bold;
		        line-height: 1.1;
			}
			.auther-name {
			    margin: 0 0 @gutter - 15;
			}
			.article-image {
				width: 100%;
			}
			.no-image {
				width: 100%;
			}
		}
		.articles-link-color;
	}
}

.article-detail-widget-area {
	.mz-cms-block{
		&:first-child {
			.themed-content-grouping {
				border-top: 1px solid @mercury;
    			padding-top: @gutter + 5;
			}
		}
	}
	.mz-cms-content {
		padding: 0 !important;
		.mz-productlisting-title {
			.agenda-bold;
		}		
		.button-wrapper {
		    text-align: center !important;
		}
	}
	.articles-link-color;
}

.related-article-ondetail {
    background-color: @light-grey;
    .article-detail-widget-area {
    	.mz-cms-block{
			&:first-child {
				.themed-content-grouping {
					border-top: none;
	    			padding-top: @gutter + 5;
				}
			}
		}	
    }
    .themed-content-grouping {
    	.heading {
    		.button-wrapper {
    			.button {
    				.btn-red();
		        	.btn-medium();
    			}
    		}
    	}
	}
	.articles-link-color;
}


.bv-cleanslate .bv-shared .bv-compat .bv-inline-rating-container .bv-rating-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}

.bv-cleanslate .bv-shared .bv-primarySummary-rating-container .bv-stars-container .bv-rating-stars-off {
	color: @horizontalLine !important;
}
@-moz-document url-prefix() {
	.item{
		.item-content-print{
			display: none;
		}
	}
}
@media print {
	.mz-product{
		.mz-pagefooter, .header-container, .mz-breadcrumbs, .brand-spotlight, .mz-productdetail-buttons, .toggle-container, .mz-productoptions, .quantity-input-button , .address-change, .recently-viewed-clear{
			.hidden;
		}
		.mz-l-pagewrapper{
			#mz-drop-zone-rti-observer{
				.hidden;
			}
		}
		.mz-l-pagecontent{
			.mz-breadcrumbs{
				.hidden;
			}
		}
		.mz-l-container{
			.col-xs-12.col-sm-12.col-md-12.col-lg-12{
				#mz-drop-zone-rti-recommended-product,#mz-drop-zone-certona-frequentlyboughttogether-product{
					.hidden;
				} 
				 #mz-drop-zone-related-content{
				 	.hidden;
				 } 
				 #mz-drop-zone-campaign-products{
				 	.hidden;
				 }      
			}
			.product-information{
				.item{
					.item-content-print{
						display: block;
					}
				}
			}
			
			.productdetails-container{
					margin-top:5px;
				.product-details{
					.product-image-container{
						.mz-productimages{
							.mz-productimages-main{
								margin-right: @gutter - 5;
								margin-bottom: @gutter + 5;
								margin-top: @gutter/5 + 3;
								width: 502px;
								overflow:hidden;
							}
							.mz-productimages-thumbs{
								.hidden;
							}
						}
					}
					.productdetails-wrapper{
						margin-left: 0;
						float: left;
						.social-sharing {
							.share-text {
								display: none;
							}
						}
						.mz-productdetail-wrap{
							.mz-productdetail{
								.product-header-section {
									display: block !important;
								}
								.mz-productdetail-price{
									.aeroplan-miles-print{
										display:none !important;
									}
									.aeroplan-miles{
										padding-left: 10px;
										.link_txt {
											margin-left: 0;
										}
									}
								}
								.mz-productdetails-shipping{
									.hidden;
								}
								.mz-productdetails-quantity{
									.hidden;
								}
								.temprory-outofstock {
									.temp-out-label {
										.block {
											color: #e4002b !important;
										}
										.show-oos {
											color: #e4002b !important;
										}
									}
								}
								.marketing-proposition{
									.hidden;
								}
							}
						}
					}
				}
			}
			.product-information{
				border-top:none;
				#main-content-container {
					.row {
						border: none !important;
					}
					.prod-description-container {
						margin-left: 0;
						border: none !important;
					}
				}
				.productdetails-overview{
					.product-description{
						.flag-container{
							.Print-HH-logo{
								display:block !important;
							       position: relative;
								   top: 23px;
								   right: 38px;
							}
						}
					}
				}
				.productdetails-specification{
					.collapse-section{
						    height: auto;
    						overflow: visible;
					}
				}
				.brand-spotlight-border {
					display: none;
				}
			}
			
		}
		.mz-pageheader{
			.header-container{
				.mz-storebranding{
					margin-bottom:30px;
			}
			}
		}
		.product-image-container{
			width:100%;
			margin-left:@gutter;
			float: left;
		}
		.print-section{
			display:block !important;
			font-size:1.6rem;
			margin-top: @gutter/5 + 3;
			.top-container{
				img{
					margin-top: @gutter/5 *2;
					margin-bottom: @gutter - 5;
				}
			}
			.store-list{
				.store-name{
					.agenda-bold;
					color:@primary-color;
				&:hover,&:visited{
					color:@primary-color;
				}
			  }
			}
			.other-details{
				.store-link{
					display: none;
				}
			}
		}
		.mz-productimages-mainimage{
			border:none;
		}
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid @storeResultBorder;
			padding-bottom:@gutter;
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
	}
		@-moz-document url-prefix() {
			.mz-product{
				.top-header{
					.hidden;
				}
				.product-image-container{
					width: 100%;
					float: left;
					height: 350px;
					.mz-productimages-main{
						width: 300px !important;
						height: auto;
					}
				}
				.product-information{
					.prod-info-tab{
						.custom-tab {
							display: none;
					}
				}
				#overview, #specification, #details{
					border-bottom: 1px solid @horizontalLine;
					.item-content-print{
						padding-top: @gutter / 5 + 3;
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}
			.productdetails-wrapper{
				.disclaimer, .temprory-outofstock, .product-header-section{	
					width: 200%;
				}
				.shipping-info, .boh-info{
					width: 200%;
				}
			}
		}
	}
}
.modal-open-fix {
    overflow: hidden;
}
.modal-open-fix-pad {
    padding-right: 15px;
}

.main-content-loader{
	display: block; 
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.8;
	background: rgba(255,255,255,0.7);
	.loading-image{
		width: 150px;
		margin: 100px auto;
	}
}
