.mz-reset-password-page{
	.mz-l-pagecontent{
		.no-padding;
		.mz-breadcrumbs{
			.hidden;
		}
		.resetPasswordDone{
			margin:0 0 @gutter/2 + 2.5;
			.mz-pagetitle{
				font-size:2.4rem;
			}
			.resetPasswordDone{
				margin:0 0 @gutter/2 + 2.5;
				color:@formInputBorder;
			} 
		}
		.sign-in-link{
			color:@torchRed;
			margin:0 0 @gutter/2 + 2.5; 
		}
		.reset-password-container{
			margin-bottom:@gutter * 3;
			margin-top:@gutter * 3;
			.agenda;
			font-size:1.6rem;
			.mz-pagetitle{
				font-size:2rem;
				.agenda-bold;
				margin:0 0 @gutter - 5;
			}
			.reset-password-cont{
				.form-group{
					margin:0 0 @gutter - 5;
					label{
						margin:0 0 @gutter/5;
						font-weight:normal;
					}
				}
				.btn-block{
					margin-bottom:@gutter/5 * 8;
					button{
						.btn-red();
						.fullwidth;
					}
				}
			}
			
		}
	}
}