.mz-searchresults { 	
	.agenda; 
    color: @primary-color;
    .mz-l-pagecontent {
        padding: 0;
        
        .mz-breadcrumbs {
        	display: none;
        }
        
        .mz-l-container {
        	.widget-section {
        		background: @light-grey;
			    padding-top: @gutter + 5;
	   			
	   			.mz-pagetitle {
   				    margin: 0 0 @gutter - 5;
				    line-height: 1.1;
				    font-size: 4rem;
				    .agenda-bold;
	   			}
	   			
	   			.result-type-selector {
	   			    padding: 0;
				    list-style: none;
				    margin: 0 0 @gutter + 5;
			        border-bottom: none;
	   				
	   				li {
   					    position: relative;
					    font-size: 1.8rem;
					    display: inline-block;
					    
					    a {
				    	    display: inline-block;
    						padding: @gutter - 20 0;
   						    background: none;
    						border: none;
    						
    						&:hover {
   							    text-decoration: underline;
    						}
					    }
					    
					    &.active {
				    		.agenda-bold;
					    	a {
					    		border-bottom: 3px solid @torchRed;
					    	}
   						}
					    
					    &:nth-child(2) {
					    	&:before {
				    		    display: inline-block;
							    vertical-align: middle;
							    content: "";
							    margin: 0 @gutter - 10 0 @gutter - 7;
							    height: 16px;
							    border-left: 1px solid @storeResultBorder;
					    	}
					    }
	   				}
	   			}
        	}
        	
        	.tab-content {
        		.content-loading {
      				    width: 100%;
				    height: 100%;
				    position: absolute;
				    display: none;
				    z-index: 99;
				    text-align: center;
				    top: 0;
				    left: 0;
				    opacity: 0.5;
				    background: rgba(255,255,255,0.7);
				    .loading-image {
				    	margin-top: 200px;
					    width: 150px;
					    margin: 200px auto;
				    }
       			}
        		.filter-section {
        			border-top: 1px solid @border-light;
		   			border-bottom: 1px solid @border-light;
				    background-color: @light-grey;
				    
				    .mz-l-paginatedlist {
						.result-options {
						    padding: @gutter - 15 0 @gutter - 15;
						}  
						
						.mz-sortby {
							.dropdown {
								&>a{
									&:after {
										display: none;
									}
								}
								.zmdi-chevron-down {
									.material-icons();
								    vertical-align: middle;
									&:after {
										content: "\E5CF";
									}
									
								}
							}
						} 
				    }
        		}
        		
        		.narrow-search {
        			background: @light-grey;
       			    padding-bottom: @gutter + 5;
        			.title {
	        			@media (min-width: 768px) {
	        				padding: 0;
	        			}
       				    font-size: 3.2rem;
       				    .agenda-bold;
    				    margin: 0 0 @gutter - 10;
    				    padding: 0 0 @gutter - 10;
        			}
        			
        			.narrow-search-wrap {
	        			white-space: nowrap;
					    overflow-y: hidden;
					    overflow-x: auto;
					    font-size: 0;
	        			@media (min-width: 768px) {
        				    margin: 0 -15px;
   							overflow: initial;
   							.flex-display();
	        			}
        				.excerpt-tile {
        				    white-space: normal;
        				    margin: 0;
       				        display: inline-block;
						    width: ~'calc(60% + 30px)';
						    min-width: 220px;
						    max-width: 290px;
						    padding: 0 15px;
					        font-size: 1.6rem;
					        margin: 0 0 @gutter + 5;
        					@media (min-width: 768px) {
        						-webkit-box-flex: 1;
							    -webkit-flex: 1;
							    -ms-flex: 1;
							    flex: 1;
      						    width: auto;
							    min-width: 0px;
							    padding: 0 @gutter - 10;
        					}
        					.image {
       						    display: block;
							    position: relative;
							    margin: 0 0 @gutter - 10;
							    @media (max-width: 767px) {
						    	    max-width: 400px;
							    }
        						img {
       							    display: block;
    								width: 100%;
        						}
        					}
        					
        					.content {
        						.title {
        							font-size: 1.8rem;
    								margin: 0;
    								.agenda-bold;
        							a {
        								
        							}
        						}
        					}
        				}
        			}
        		}
        		
        		.mz-l-paginatedlist-list {
        			.filters {
        				padding: 50px 0;
        				@media (max-width: 767px) {
						    position: fixed;
						    top: 0;
						    left: 0;
						    right: 0;
						    bottom: 0;
						    background: white;
						    z-index: 10;
						    padding: 0 @gutter - 10;
						    display: none;
						    -webkit-box-orient: vertical;
						    -webkit-box-direction: normal;
						    -webkit-flex-direction: column;
						    -ms-flex-direction: column;
						    flex-direction: column;
						}
						
						&.open {
							display: -webkit-box;     
		                    display: -moz-box;         
		                    display: -ms-flexbox;     
		                    display: -webkit-flex;     
		                    display:flex;
		                    z-index: 200;
						}
						
						.filters-menu {
								padding: @gutter - 10;
							    margin: 0 -15px;
							    border-bottom: 1px solid @formInputBorder;
							    
							    @media (min-width: 768px) {
							    	display: none;
							    }
							    
					    	 	.clear-filters {
						    	    color: @torchRed;
			    					line-height: 40px;
			    					cursor: pointer;
							    }
							    
							    .filter-button {
							    	.btn-red();
							    	.btn-medium();
						    	    float: right;
						    	    .agenda-bold;
							    }
							   
							}
							
							.filters-facets {
								-webkit-box-flex: 1;
							    -webkit-flex: 1;
							    -ms-flex: 1;
							    flex: 1;
							    padding: @gutter + 5 @gutter - 10;
							    margin: 0 -15px;
							    overflow: auto;
							    
							    @media (min-width: 768px) {
								    padding: 0;
								    margin: 0;
								}
								
								&>h3 {
								    .agenda-bold;
								    font-size: 3.4rem;
								    text-align: center;
								    margin: 0 0 @gutter - 8 0;
								    
								}
							}
        			}
        		}
        	}
        	.promotion-link-widget {
        		padding: @gutter - 5 0;
        	}
        	
        }
        
    }
}