.mz-signuppage{
	.agenda;
	.mz-breadcrumbs{
		.hidden;
	}
	.mz-l-pagecontent{
		.no-padding;
	}
	.signup-success-message{
		font-size:1.6rem;
		.agenda;
		.text-center;
		margin-top:@gutter * 5;
		margin-bottom:@gutter;
		h3{
			margin:0 0 @gutter/2 + 2.5;
			font-size:2rem;
			.agenda-bold;
		}
		.signup-btn-block{
			margin-bottom:@gutter/5 * 2;
			.fullwidth;
			padding:@gutter/2 - 2.5 0;
			.start-shopping{
				.btn-red();
				padding:@gutter/2 - 2.5 @gutter/2 + 2.5;
				border-radius: 22px;
			}
			.go-to-account{
				color:@torchRed;
				display:inline-block;
			}
		}
	}
	
	.signup-header{
		.mz-pagetitle{
			.agenda-bold;
			font-size:4rem;
			margin:@gutter + 5 0 @gutter - 5;
		}
	}
	.signup-service-container{
		background:@serviceBg;
		padding:@gutter - 5;
		margin:0 0 @gutter + 5;
		overflow:hidden;
		.service-content-title{
			font-size:1.6rem;
			.agenda-bold;
			margin:0 0 @gutter/5; 
		}
		.service-content-list{
			font-size:1.6rem;
			.agenda;
			list-style-type:none;
			.no-padding;
			.no-margin;
			li{
				.fullwidth;
				float:left;
				position:relative;
				margin:@gutter/2 - 2.5 0 0;
				padding:0 0 0 @gutter + 1;
				i{
					font-size:2.4rem;
					float:left;
					margin-right:@gutter/5 + 2;
					position:absolute;
					left:-@gutter/5 + 2;
				}
				span{
					float:left;
				}
			}
		}
	}
	.signup-info-title{
		font-size:2rem;
		.agenda-bold;
		margin:0 0 @gutter - 5;
	}
	.signup-information-container{
		.mz-messagebar{
			ul + ul{
				.hidden;
			}
		}
		.form-group{
			label{
				.agenda;
				font-size:1.6rem;
				margin:0 0 @gutter/5;
			}
			label.keep-signed-in{
				font-weight:normal;
				margin: 0 0 0 @gutter / 5 + 3 ;
			}
			.info-icon{
				vertical-align: middle;
				display: inline-block;
				cursor: default;
			}
			.show-hide-container{
				position:relative;
				.form-control{
					padding-right:@gutter * 2;
				}
				.link{
					display: block;
				    position: absolute;
				    width: @gutter * 2;
				    height: @gutter/5 * 8 ;
				    right: 0;
				    top:0;
				    text-align: center;
				    font-size: 1.2rem;
				    line-height: 3.2;
				}
			}
		}
		.form-block{
			@media(max-width:767px){
				margin:0 0 @gutter/2 + 2.5;
			}
		}
		.keep-sign-in-container{
			margin:@gutter/5 * 6 0 @gutter/5 * 12;
		}
		.mz-sign-up-page-button{
			.new-btn-secondary();
			.fullwidth;
		}
		.shopping-info-container{
			.preferred-store-container{
				.agenda;
				font-size:1.6rem;
				margin-bottom:@gutter/2 - 2.5;
				.preferred-title{
					.agenda-bold;
					margin:0 0 @gutter/5;
					font-size:1.6rem;
				}
				.preferred-content{
					.no-margin;
				}
			}
			.store-address{
				margin:0 0 @gutter + 5;
			}
			
			.signup-subscription-container{
				margin:0 0 @gutter - 5;
				overflow:hidden;
				.checkbox-block{
					margin:0 0 @gutter - 5;
					position:relative;
					overflow:hidden;
					.checkbox{
						position:absolute;
						top:0;
						left:0;
					}
					.box-label{
						.agenda;
						font-weight:normal;
						margin:@gutter/5 0;
						padding:0 0 0 @gutter/5 * 7 + 1; 
					}
					.aeroplan-section{
						background:none;
						.no-margin;
						padding:@gutter/5 * 3 @gutter/5 * 7;
						.FormElement {
							overflow:hidden;
							label{
								.agenda;
							}
						}
					}
					.aeroplan-numbercontainer{
						.digit-length{
							margin-right:4%;
							width:30%;
							float:left;
							&:last-child{
								margin-right:0;
							}
						}
					}
				}
			}
			
			.signup-terms{
				margin:0 0 @gutter - 5;
				small{
					.agenda;
					a{
						text-decoration:underline;
					}
				}
			}
			
		}
		.preferred-store-container{
			.agenda;
			font-size:1.6rem;
			margin-bottom:@gutter/2 - 2.5;
			.preferred-title{
				.agenda-bold;
				margin:0 0 @gutter/5;
				font-size:1.6rem;
			}
			.preferred-content{
				.no-margin;
			}
		}
		.store-address{
			margin:0 0 @gutter + 5;
		}
	}
	/***** popover for signup *****/
	.form-group{
		.popover{
			.agenda;
			font-size:1.6rem;
			.no-padding;
			max-width:400px;
			left: 0 !important;
			.popover-content{
				.no-padding;
				.keepme-signin-container{
					font-size:1.4rem;
					h3{
						margin:0 0 @gutter/5;
						font-size:1.6rem;
						padding:@gutter/5 + 3 @gutter/5 * 3;
						background:@secondary-color;
						color:@white;
						font-weight:normal;
						.agenda-bold;
						a{
							float:right;
							color:@white; 
							font-weight:normal;
							opacity:1;
						}
					}
					p{
						padding:0 @gutter/5 * 3; 
					}
					.btn-container{
						float:left;
						padding:@gutter/5 * 2 @gutter/5 * 3; 
						width:100%;
						.back{
							float:left;
							padding:@gutter/5 @gutter/5 * 2;
							color:@white;
							background:@secondary-color;
							i{
								float:left;
								margin:0 @gutter/5 0 0; 
							}
						}
						.cancel{
							float:right;
							.link;
							padding:@gutter/5 @gutter/5 * 2;
							font-size:1.4rem;
						}
					}
				}
			}
		}
	}
}