.store-details{
	.agenda;	
	font-size:1.6rem;
	
	.section-title{
		 .agenda-bold;
		 font-size: 2.2rem;
   		 margin: 0 0 @gutter - 10;
	}
	.mz-l-pagecontent{
		padding:0;
	}
	.store-details-top-section{
		background:@light-grey;
		border-bottom: 1px solid @border-light;
    	padding: @gutter 0 0;	
    	
    	@media(min-width:768px){
    		padding: @gutter - 5 0 @gutter + 5;	
			}
			
		.store-name{
			.agenda-bold;
			font-size:3.4rem;
			margin: 0 0 @gutter/5 * 3;
		}

		.store-address-details{
			padding: 0;
	    	list-style: none;
	    	margin:0 0 @gutter;
	    	
	    	li{
	    		font-size:1.7rem;
	    		@media(min-width:768px){
	    			display:inline-block;
	    		}
	    	}
	    	
	    	@media(min-width:768px){
	    		margin: 0 0 @gutter + 5;
	    		
	    		li + li:before{
	    			display: inline-block;
	    			vertical-align: middle;
	    			content: "";
	    			margin: 0 @gutter - 10 0 @gutter - 7;
	    			height: 16px;
	    			border-left: 1px solid @separatorColor;
	    		}
	    	}
		}
		.store-details-buttons{
		
			margin: 0 0 @gutter - 5;
			
			@media (min-width: 768px){
				text-align: right;
    			margin: 0 0 @gutter + 5;
			}
			
			.make-my-store{
				.btn-red();
				.btn-large();
				.new-btn-primary();
				 display: block;
			     max-width: 200px;
			     margin: 0 0 @gutter - 10;
				 
				 @media(min-width:768px){
				    display: inline-block;
				    margin-bottom: @gutter + 10;
				}
			}
			.store-flyer{
				.agenda-bold;
				color:@link-red;
				display: inline-block;
				
				&:hover, visited{
					color:@link-red;
				}
			}
			.home-store-icon{
					display: inline-block;
					width:24px;
					height:24px;
					margin-right: @gutter / 5;
					background-repeat: no-repeat;
					background-size: contain;
					vertical-align:middle;
					position: relative;
					right: 2px;
    				top: 21px;
				@media(min-width:768px){
					position: relative;
					margin-right: 75px;
    				top: 21px;
				}
			}
			.home-store{
				.agenda-bold;
				font-size:1.6rem;
				text-transform: uppercase;
				margin:0 0 @gutter + 15 @gutter + 5;
			}
		}
		.store-info{
			margin:0 0 @gutter + 10;
			@media(min-width:768px){
				margin:0;
				padding-top: @gutter + 5;
			}
			.other-store-details{
				dl{
					line-height: 1.4;
	    			margin: 0 0 @gutter + 5;
	    			
	    			dt{
	    				float:left;
	    				width:0px;
	    				strong{
	    					.agenda-bold;
	    				}
	    			}
	    			dd{
	    				margin-left:@gutter * 5 - 5;
	    				.store-tel{
	    					color:@primary-color;
							text-decoration:none;
							display: inline-block;
							font-size:1.7rem;
							&:last-child{
								@media(min-width:992px) {
									margin-left: @gutter - 15;
								}
								@media(max-width:767px) {
									margin-left: @gutter - 15;
								}
								@media(max-width:359px) {
									margin: 0;
								}
							}
							&:first-child{
								margin: 0;
							}
	    				}
	    			}
				}
			}
			.hours-details{
				display: table;
	    		margin-bottom: @gutter + 5;
	    		
	    		.day-details{
	    			display: table;
	    			
	    			.day,.time{
	    				display:table-cell;
	    			}
	    			.day{
	    				min-width:120px;
	    				padding-right:@gutter + 9;
	    			}
	    		}
	    		.day-today{
	    			.agenda-bold;
	    		}
			}
			.sub-title{
				.agenda-bold;
				margin: 0 0 @gutter/5 + 3;
	    		font-size: 1.6rem;
			}
			.store-type{
				span{
					strong{
						.agenda-bold;
					}
				}
				.info-icon{
					vertical-align: text-top;
					cursor: default;
				}
				.popover{
					.agenda;
					font-size:1.6rem;
				}
			}
			.store-image{
				margin-top:@gutter - 10;
				span{
					strong{
						.agenda-bold;
					}
				}
			}
		}
		
		.store-map{
			text-align:right;
			
			.get-direction{
				font-size:1.6rem;
			    margin: 0 0 @gutter - 15;
				color:@link-red;
				display: inline-block;
				
				&:hover, visited{
					color:@link-red;
				}
			}
			.store-map-link{
				padding: @gutter + 5 @gutter - 10 @gutter;
   				margin: 0 @gutter/5 - 20;
    			border-bottom: 1px solid @mapBorder;
				
				@media(min-width:768px){
					display:none;
				}
			}
			.map{
				margin: 0 @gutter/5 - 20;
	   			border-top: 1px solid @mapBorder;
	    		border-bottom: 1px solid @mapBorder;
	    		position: relative;
				
				
				@media(min-width:768px){
					padding-bottom: 75%;
			    	margin: 0;
			    	border-width: 0;
				}
				@media(max-width:767px){
					height:240px;
				}
				.google-map {
					position:absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				
					.gm-style-iw + div{
						display: none;
					}
					.mapboxgl-canvas-container{
						.mapboxgl-canvas{
							position: relative !important;
							width:100% !important;
							height: 100% !important;
						}
					}
					.mapboxgl-canvas-container{
						.mapboxgl-marker{
							cursor: pointer;
						}
					}	
				}
			}
		}	
	}
	.store-details-bottom-section{
		padding: 25px 0;
		.services{
		    margin: 0 0 @gutter;
		    border-bottom: 1px solid @border-light;
    		.services-list{
			    padding: 0;
			    list-style: none;
			    margin: 0 0 @gutter - 5;
			    li{
			    	padding: @gutter - 15 0;
			    	@media (min-width: 768px){
			    		width: 25%;
    					padding: @gutter - 15 @gutter - 10;
			    	}
			    }
			    @media(min-width:768px){
			    	.flex-display();
			    	.flex-wrap(wrap);
			    	margin: 0 @gutter/5 - 20 @gutter - 15;
			    }
    		}
		}
		.owner-details{
			.owner-msg{
				margin: 0 0 @gutter + 5;
				@media (min-width: 768px){
				    margin: 0 0 @gutter + 15;
				}
			}
			.store-social-details{
				
				.social-media,.website-link{
					margin: 0 0 @gutter;
					
					@media(min-width:768px){
						float: left;
    					margin: 0;
					}
					strong{
						display: block;
    					margin: 0 0 @gutter - 15;
    					.agenda-bold;
					}
				}
				.social-media{
					.social-links{
						list-type:none;
						margin:0;
						padding:0;
						
						li{
							display:inline-block;
							
							a{
								display:block;
							}
							.facebook{
								width:17px;
							}
							.twitter{
								width: 27px;
							}
							.instagram, .google-plus, .pinterest{
								width:29px;
								@media(min-width:768px){
									width: 26px;
    								height: 28px;
								}
							}
						}
						li + li{
							margin-left:@gutter - 10;
							@media(min-width:768px){
								margin-left:@gutter + 5;
							}
						}
					}
				}
				.website-link{
					
					@media(min-width:768px){
						margin-left: @gutter + 5;
					}
					.link{
						font-size:1.7rem;
					}
				}
			}
		}
		.notch-program{
			
			@media(max-width:767px){
				padding:0;
			}
			.mz-cms-content{
				padding:0;
			}
			.brand-tile {
				@media(max-width:767px){
					display: block;
    				padding: @gutter - 10;
				}
				.brand-tile-image{
    				@media(max-width:767px){
    					display: block;
    					margin-bottom: @gutter - 15;
    				}
    			}
    			.brand-tile-content {
   					padding: 0;
   					@media(min-width:768px){
 						padding: 0 @gutter - 5 0 @gutter + 5;
   					}
   					@media(max-width:767px){
	   					.title{
	   						margin: 0 0 @gutter/5;
	   					}
	   					.desc{
	   						margin: 0 0 @gutter/5 + 5;
	   					}
   					}
   				}
			}
		}
		&.no-service{
			padding-top:@gutter;
		}
	}
	&.french-content{
		.store-details-top-section{
			 .store-details-buttons{ 
			 	.make-my-store{
			 		max-width:100%;
				 }
				 .home-store-icon {
					@media (min-width: 768px) {
						margin-right: 112px;
					}
				 }
			}
		}
	}
	.store-change-confirmation{
		.modal-header{
			border:none;
			padding-bottom: 0;
			.close{
				color:@primary-color;
			    font-size: 3rem;
			    font-style: normal;
			    font-weight: normal;
			    opacity: 1;
			}
		}
		.modal-body{
			.change-confirmation-title{
				.agenda-bold;
				font-size: 2rem;
				margin-top:0;
			}
			.change-confirmation-text{
				margin:0;
			}
		}
		.modal-footer{
			border:none;
			padding:@gutter;
			text-align: center;
			.action-container{
				.link{
					margin-right: @gutter;
				}
				.continue-store-change-btn{
					.btn();
					.btn-red();
					.btn-medium();
					border-radius: 22px;
				}

				@media(max-width:524px){
					display:flex;
					flex-direction: column-reverse;
					.link{
						margin-top:@gutter - 10;
						margin-right:0;
					}
				}
			}
		}
	}
}