.mz-stores {
	.agenda;
	.mz-l-pagecontent {
		padding: 0;
	}
	.content-loading{
		width: 100%;
	    height: 100%;
	    position: absolute;
	    display: none;
	    z-index: 99;
	    text-align: center;
	    top: 0;
	    left: 0;
	    opacity: 0.5;
	    background: rgba(255,255,255,0.7);
	    .loading-image{
		    width: 150px;
		    margin: 100px auto;
	    }
	}
	.store-locator-container{
		margin:0;
		.store-locator{
			position: relative;
			padding:0;
			margin: 0 @gutter - 40; 
	    	
	    	@media (min-width: 768px) {
				margin: 0;
				height: 540px;
				overflow: hidden;
				border-left: 1px solid @border-light;
				border-right: 1px solid @border-light;
				.drop-shadow(0px, 4px, 3px, -2px, 0.2);
			}
			.store-locator-column{
				 padding:0;
				 height:100%;
				 position:relative;
	    		 z-index:2;
	    		 background: @main-background;
	    		 
				@media (min-width: 768px) {
					width: 43%;
					.drop-shadow(4px, 0px, 3px, -2px, 0.2);
				}
				.store-locator-search{
					padding: @gutter - 15 @gutter - 10;
					border-bottom: 1px solid @border-light;
					
					@media (min-width: 992px) {
						padding: @gutter - 5 @gutter + 15 @gutter - 15;
					}
					
					.store-locator-search-title{
						margin: 0 0 @gutter - 15;
						.search-title{
							.agenda-bold;
							font-size: 1.7rem;
							margin: 0;
							display:inline-block;
							@media (min-width: 768px){
								font-size: 2.2rem;
							}
						}
					}
					.store-locator-search-form{
						margin: 0 0 @gutter - 15;
						.form-group{
							.store-locator-search-loc {
								display: none;
								position: absolute;
								top: @gutter + 12;
								left: 0;
								width: 100%;
								padding: @gutter - 17 @gutter - 13;
								margin-top: @gutter / 5 - 6;
								background: @light-grey;
								border: 1px solid @border-light;
								z-index: 1;
								.drop-shadow(0, 2px, 2px, 0, 0.18);
								
								.link {
									display: block;
									
									&:hover span:not(.gps-icon){
										text-decoration: underline;
									}
									&:focus span:not(.gps-icon){
										text-decoration: underline;
									}
									.gps-icon, .icon-text{
										display:inline-block;	
									}
									.gps-icon{
										margin-right: @gutter - 15;
									    vertical-align: middle;
									    font-size: 2.4rem;
									}
								}
								.location-error{
									display:none;
									.location-error-icon, .icon-text{
										display:inline-block;
									}
									.location-error-icon{
										margin-right: @gutter - 15;
									    vertical-align: middle;
									    font-size: 2.4rem;
									}
									&:hover{
										text-decoration: none;
									}
								}
							}
							.or-label{
								cursor: default;
								text-transform: uppercase;
								margin-top: @gutter - 15;
								font-weight: 400;
							}
							.store-search-error-msg{
								color: @errorText;
								margin: @gutter/5 0;
							}
							.city-list{
								display: none;
								width: 100%;
								position: absolute;
								background-color: @white;
								z-index: 9999;
								margin: 0;
								padding: 0;
								list-style: none;
								border: 1px solid @formInputBorder;   
								.selected {
									background: #e1e1e1;
								}
								.selected a {
									color: @black;
								}
								li {
									padding: 8px 10px;
									cursor: pointer;
									border-bottom: 1px solid @mercury;
									
									&:last-child {
										border-bottom: 0;
									}
									a {
										display: block;
									}
								}
							}
						}
					}
					.store-locator-search-details {
						
						display: table;
						width: 100%;
						font-size:1.6rem;
						.near-stores-filter {
							display: table-cell;
							vertical-align: middle;
							&:last-child {
								text-align: right;
								vertical-align: initial;
								@media (max-width: 767px) {
									display:none;
								}	
							}
							&:first-child {
								width:70%;
							}
							.store-result-msg{
								strong{
									.agenda-bold;
								}
								@media (max-width: 767px) {
									display:none;
								}	
							}
							.store-no-result-msg{
								@media (max-width: 767px) {
									display: block;
	    							padding-bottom: @gutter + 20;
								}
							}
						}					
					}
				}
				.no-search-result{
					border-bottom:none;
					height:auto;	
				}
				.store-locator-results {
					
					@media(max-width:767px){
						height: 325px;
   						overflow: auto;
					}
					@media (min-width: 768px) {
						max-height: 323px;
						overflow: auto;
					}
					@media (min-width: 992px) {
						max-height: 333px;
						overflow: auto;
					}
					
					
					.is-highlighted {
	    				background: rgba(125, 167, 217, 0.12);
					}
					.store-locator-result{
						.flex-display();
						padding: @gutter - 10;
						border-top: 1px solid @border-light;
						
						@media (min-width: 992px) {
							padding: @gutter - 10 @gutter + 5  @gutter - 10 @gutter + 15;
						}
						
						.store-locator-details{
							.flex(1);
							padding-right: @gutter - 15;
							
							.store-details-card {
								font-size: 1.7rem;
								
								.store-name {
									.agenda-bold;
									font-size: 1.7rem;
									margin: 0 0 @gutter / 5 - 3;
								}
								.store-address-details{
									margin: 0;
									.addr-street,.addr-loc,.addr-tele{
										display: block;
										color:@primary-color;
									}
								}
							}
							
							.home-store{
								.agenda-bold;
								font-size:1.6rem;
								.flex-display(inline-flex);
								line-height: 1.2;
								-webkit-box-align: center;
								-webkit-align-items: center;
								-ms-flex-align: center;
								align-items: center;
								margin-bottom: @gutter / 5 + 3;
								margin-top:0;
								display: inline-block;
								width:20px;
								height:20px;
								background-image: url("{{themeSettings.sirvResourceImageUrl}}/my-store.svg");
								margin-right: @gutter / 5;
								background-repeat: no-repeat;
								background-size: contain;
								padding-left: 25px;
   								width: 100%;
							}
							
							.make-my-store {
								margin-top: @gutter - 9;
							}
						}
						.store-locator-status-details{
							padding-left: @gutter - 15;
	    					text-align: right;
	    					width: 125px;
	    					.flex-display();
	    					.flex-direction(column);	
							
							.store-locator-result-status {
								color: @storeClosedStatus;
								span {
									display: block;
									.material-icons{
										color: @storeOpenStatus;
	    								vertical-align: middle;
									}
								}
							}
							.status-open {
								color: @black;
							}
							.store-details-link{
								display: inline-block;
							}			
						}
					}
					.store-details-link{
						margin-top: auto;
						margin-bottom: @gutter - 15;
					}
					.store-selected {
						.store-details-link{
							margin-bottom: 0;
						}
					}
				}
			}
			//store locator filters
			
			.store-locator-filters{ 
				position: fixed;
	    		top: 0;
	    		left: 0;
	    		right: 0;
	    		bottom: 0;
	    		background: @main-background;
	    		z-index: 99;
	    		display: none; 	
	    		
	    		@media (min-width: 768px){
	        		position: absolute;
	        		display:block;
	        		z-index: 1;
	        		top: 0;
	        		left: -47%;
	        		right: auto;
	        		bottom: auto;
	        		width: 57%;
	        		max-width: 535px;
	        		height: 100%;
	        		padding:@gutter + 15 0 0;
	        		.drop-shadow(4px ,0px, 3px, -2px, 0.2);
	        		.transition(all 0.3s ease-in-out)
	    		}
	    		
	    		@media (max-width: 767px){
	        		padding:@gutter - 10 0 0 0;
	    		}
	    		
	    		.filter-close {
					display: none;
					position: absolute;
					top: @gutter - 17;
					right: @gutter - 10;
					font-size: 3rem;
					
					&:hover{
						color:@primary-color;
					}
					
					@media (min-width: 768px) {
						display: block;
						height:34px;
					}
				}
				
				.filters-heading {
					padding: 0 @gutter - 10 @gutter - 10;
					border-bottom: 1px solid @mercury;
					overflow:hidden;
					.btn-done {
						float: right;
					}
					
					@media (min-width: 992px) {
						height: @gutter + 5;
						padding: 0 @gutter;
						
						.btn-done {
							padding: @gutter/5 + 2 @gutter - 5 @gutter/5;
						    margin-right: @gutter;
						    font-size: 1.4rem;
						}
					}
					@media (min-width:768px){
						.btn-done {
							padding: @gutter/5 + 2 @gutter - 5 @gutter/5;
						    margin-right: 0;
						    font-size: 1.4rem;
						}
					}
					@media (max-width: 767px) {
						line-height: @gutter + 15;
					}
					
				}
				
				.store-loc-filter-content{
	    			overflow: auto;
	    			max-height:91%;
	    			
	    			@media(min-width:768px){
	    				max-height:456px;
	    			}
	    			@media(min-width:992px){
	    				max-height:470px;
	    			}
					.store-loc-filter-proximity{
						padding: @gutter - 10;
	    				border-bottom: 1px solid @border-light;
	    				
	    				.distance-filter{
	    					float: left;
	    					
	    					.located-within{
	    						font-size:1.6rem;
	    						margin: 0 0 @gutter - 15;
	    						line-height: 1.2;
	    					}
	    					
	    					.form-group{
	    						display:inline-block;
	    						line-height: 1.75;
	    						margin: 0;
	    						
	    						+ .form-group {
								    margin-left: @gutter - 15;
								}
								
	    						.radio{
	    							margin:0;
	    							margin-right: @gutter / 5 - 2;
	    							vertical-align: top;
	    						}
	    					}
	    					.custom-radio-label{
	    						font-size:1.6rem;
	    						cursor: pointer;
	    						vertical-align: middle;
	    						margin: 0 0 0 @gutter / 5 + 3;
	    						font-weight:normal;
	    					}
	    				}
	    				.store-filter-status{
	    					width:@gutter * 6;
	    					padding: @gutter - 13  @gutter + 5 @gutter - 13 @gutter - 13;
	    	 				margin: @gutter - 15 0 0 auto; 
	    					background: rgba(125, 167, 217, 0.1);
	    					
	    					@media (max-width:992px){
	    						float:left;
	    						clear:both;
	    					}
	    					
	    				}
	    				@media(min-width: 768px) {
	    					padding: @gutter - 10 @gutter;
	    				}
	    				
	    				&:before{
	    					content: " ";
	    					display:table;
	    				}
	    				
	    				&:after{
	    					content: " ";
	    					display:table;
	    					clear:both;
	    				}
	    				
					}
					.store-type-container{
						padding: @gutter - 5 @gutter - 10 @gutter - 10;
						border-bottom:1px solid @border-light;
						
						.store-type-filters{
							.flex-display();
							.flex-wrap(wrap);
							 overflow:hidden;
							 margin-bottom:@gutter - 15;
							.form-element{	
								.custom-checkbox-label{
									 margin:0;
									 padding: 0 0 0 8px;
	   								 display: table-cell;
	   								 line-height: 1.1;
								}
								.checkbox{
									display: table-cell;
								}
							}
							@media (min-width: 768px){
								.form-element{
									width: 50%;							
								}
							}
						}
						.filters-section-title{
							
							@media(max-width:767px){
								
								&:before{
									content:"\E15B";
									.material-icons;
									font-weight:normal;
									font-size:2.4rem;
								    vertical-align: text-bottom;
								    margin-right:@gutter - 15;
								}
							}
							&.collapsed{
								&:before{
									content:"\E145";
								}
							}
						}
						
						@media(min-width:768px){
							padding: @gutter - 5 @gutter @gutter - 10;
						}
					}
					.services-filter-container{
						padding: @gutter - 5 @gutter - 10 @gutter - 10;
						
						.store-services-filters{
							.flex-display();
							.flex-wrap(wrap);
							overflow:hidden;
							.form-element{	
								.custom-checkbox-label{
									 margin:0;
									 padding: 0 0 0 8px;
	   								 display: table-cell;
	   								 line-height: 1.1;
								}
								.checkbox{
									display: table-cell;
								}
							}
							@media (min-width: 768px){
								.form-element{
									width: 50%;							
								}
							}	
						}
						.filters-section-title{
							
							@media(max-width:767px){
								
								&:before{
									content:"\E15B";
									.material-icons;
									font-weight:normal;
									font-size:2.4rem;
								    vertical-align: text-bottom;
								    margin-right:@gutter - 15;
								}
							}
							&.collapsed{
								&:before{
									content:"\E145";
								}
							}
						}
						@media(min-width:768px){
							padding: @gutter - 5 @gutter @gutter - 10;
						}
					}
					.collapsible [role="collapse-area"]{
						max-height: 0;
	    				overflow: hidden;
	    				
	    				@media (min-width:768px){
	    					max-height: none;
	    					overflow: visible;
	    				}
					}
				}
			 }
			
			//store locator map
			.store-locator-map{
				padding:0;
				width:57%;
				display: none;
				position: relative;
				height: @gutter * 9 + 15;
				background: @black;
				border-bottom: 1px solid @border-light;
				
				@media(min-width: 768px) {
					display: block;
					height: 100%;
					border-bottom: none;
				}
				
				.google-map {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					.gm-style-iw + div{
						display: none;
					}
					.mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-top-right{
						z-index: 0;
					}
					.mapboxgl-popup-content{
						box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
						border-radius: 10px;
					}
					.mapboxgl-canvas-container{
						.mapboxgl-marker{
							cursor: pointer;
						}
					}
				}
				.mapboxgl-popup-close-button{
					font-size: 2rem;
					@media(min-width: 768px){
						padding: 0 @gutter - 15;
					}
				}
				.store-info-window{
					width:265px;
					.info-container{
						margin-bottom:@gutter - 13;
						.flex-display();
						.flex-direction(row-reverse);
						
						.info-content{
							margin-right:@gutter - 13;
							.flex(1);
							
							.store-title{
								.agenda-bold;
								margin-bottom:@gutter / 5 - 2;
								margin-top:0;
								font-size:1.4rem;
							}
							.store-address-details{
								.agenda;
								margin: 0;
								font-size: 1.38rem;
								.addr-street, .addr-loc, .addr-tele{
									display:block;
								}
							}
							.store-status{
								margin:0;
								font-size: 1.35rem;
								span{
									&:first-child{
										margin-right:@gutter/5;
									}
								}
								.material-icons{
									color: @storeOpenStatus;
	    							vertical-align: middle;
	    							margin-right:@gutter/5;
								}
							}
						}
						.link{
							margin-right: @gutter - 15;
							.material-icons{
								font-size:3rem;
							}
						}
					}
					.home-store{
						.agenda-bold;
						.material-icons{
							color:@torchRed;
							margin-right:@gutter / 5 - 1;
						}
					}
					.make-store{
						.btn-red();
						.btn-large();
					}
				}
			}
			.store-locator-search-mobile {
				width: 100%;
				.flex-display();
				background: @light-grey;
				border-top: 1px solid @storeResultBorder;
				border-bottom: 1px solid @storeResultBorder;
				.near-stores{
					padding: @gutter - 10;
					.flex(1);
					
					.stores-result{
						margin:0;
						font-size: 1.6rem;
					}
					.store-result-msg{
						strong{
							.agenda-bold;
						}	
					}
				}
				
				.near-stores-view{
					padding: @gutter - 10;
					.flex(1);
					text-align:right;
					
					.link{
						display: inline-block;
						
						.selected-view{
							font-size: 1.6rem;
	    					display: inline-block;
	    					vertical-align: middle;
						}
						.material-icons{
							font-size:2.4rem;
						    text-align: center;
						    margin-right: @gutter - 15;
						    width: 24px;
						    display: inline-block;
	    					vertical-align: middle;
						}
					}
					.link:last-child {
						display: none;
					}
				}
				
				@media(min-width:768px){
					display:none;
				}
			}
			.store-loc-mobile-toggled {
			
				.near-stores-view {
					
					.link:first-child{
						display: none;
					}
					
					.link:last-child{
						display: block;
					}
				}
			}
			
			.form-element{
				width:100%;
	    	    margin: @gutter - 15 0;
			}
			.filter-link {
				.agenda-bold;
				font-size: 1.7rem;
				float:right;
				
				.material-icons{
					font-size: 1.8rem;
					font-weight:bold;
					color: @primary-color;
					vertical-align: middle;
				}
				
			}
			.make-my-store {
				.btn();
				.btn-medium();
				.new-btn-secondary();
				padding:@gutter - 13 @gutter - 10 @gutter - 15;
			}
			.store-locator-filters-open {
				display:block;
			 	
			 	@media(min-width:768px){
			 		left:43%;
			 	}
			 }
			 .btn-done{
			 	 .btn-red();
			 	 .btn-medium();
			 }
			 .filters-section-title {
				.agenda-bold;
				font-size: 1.7rem;
				margin: 0 @gutter - 15 0 0;
				display: inline-block;
				text-transform:uppercase;
			 }
	    	.custom-checkbox-label{
	    		vertical-align: middle;
	    		margin: 0 0 0 @gutter/5;
	    		font-weight:normal;
	    		font-size:1.6rem;
			}
			.find-store{
				.btn();
				.btn-medium();
				.btn-red();
				.new-btn-primary();
				text-transform: none;
				padding: @gutter/5 + 1 @gutter - 5 @gutter/5;
				&:after{
					content: "\e5cc";
					.material-icons;
					font-weight: 700;
					font-size: 2.4rem;
					vertical-align: middle;
				}
				@media(max-width:991px){
					padding: @gutter/5 + 1 @gutter - 15 @gutter/5;
				}
			}
	    }	
	}
	.store-loc-map-toggle {
	
		@media(max-width:767px){
		
			.store-locator-map{
				display: block !important;
				width: 100% !important;
			}
			
			.store-locator-results{
				display: none;
			}
		}
	}
	.call-out-box{
		margin: @gutter + 15 0;
		width: 100%;
		padding: @gutter + 5 @gutter - 5;
		background: @callOutBg;
		.flex-display();
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		
		.call-out-image {
			width: @gutter * 2 + 10;
			margin-right: @gutter - 5;
				.flex(0 0 @gutter * 2 + 10);
				display: inline-block;
				width: @gutter * 2 + 10;
				height: @gutter * 2 + 5;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
			@media (min-width: 768px) {
				width: auto;
				display: inline-block;
				margin-right: @gutter - 15;
				width: @gutter + 10;
				height: @gutter + 7;
				.flex(0 0 @gutter + 10);
				background-position: center center;
			 	background-repeat: no-repeat;
				background-size: contain;
			}
		}
		.call-out-content{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			.flex-direction(column);
			
			.link{
				color: @callOutLink;
			}
			.call-out-title {
				.agenda-bold;
				font-size: 1.9rem;
				margin: 0;
				
				.link{
					font-size: 1.9rem;
					text-decoration:none;
				}
				@media(min-width: 768px) {
					display: inline-block;
					margin-right: @gutter - 15;
				}
				
			}
			
			@media (min-width: 768px) {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				.flex-direction(row);
				.flex-wrap(wrap);
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
			}
		}
		@media(min-width: 768px) {
			text-align: center;
			.justify-content(center);
		}
	}
	&.french-content{
		.store-locator{ 
			.store-locator-column {
				.store-locator-results{
					.store-locator-result {
						.store-locator-status-details{
							@media(min-width:992px){
								width:@gutter * 7 + 5;
							}
							@media(min-width:768px) and (max-width:991px){
								width:@gutter * 5 + 5;
							}
							@media(min-width:431px) and (max-width:767px){
								width:@gutter * 7 + 5;
							}
							@media(max-width:430px){
								width:@gutter * 5 + 5;
							}
						 }
					} 
				}
			}
			.store-locator-filters{
				 .store-loc-filter-content{
				 	 .store-loc-filter-proximity{
						.store-filter-status{
							width:@gutter * 9 + 5;
							padding:@gutter/2 - 0.5 @gutter/2 - 2.5;
							@media(min-width:992px){
								width:@gutter * 8;
								.flex-display(flex);
								align-items:center;
							}
						}
					}
				}
			}
		}
	}
	.store-change-confirmation{
		.modal-header{
			border:none;
			padding-bottom: 0;
			.close{
				color:@primary-color;
			    font-size: 3rem;
			    font-style: normal;
			    font-weight: normal;
			    opacity: 1;
			}
		}
		.modal-body{
			.change-confirmation-title{
				.agenda-bold;
				font-size: 2rem;
				margin-top:0;
			}
			.change-confirmation-text{
				margin:0;
			}
		}
		.modal-footer{
			border:none;
			padding:@gutter;
			text-align: center;
			.action-container{
				.link{
					margin-right: @gutter;
				}
				.continue-store-change-btn{
					.btn();
					.btn-red();
					.btn-medium();
					border-radius: 22px;
				}

				@media(max-width:524px){
					display:flex;
					flex-direction: column-reverse;
					.link{
						margin-top:@gutter - 10;
						margin-right:0;
					}
				}
			}
		}
	}
}
