.mz-checkout-payment {

    clear: both;
    @media(min-width:768px){
    	min-width: @gutter * 12 + 40;
    }
    .mz-checkout-paymenttitle {
        border-bottom: 1px solid @slider-arrow-background;
        font-weight: normal;
        strong {
            font-size: @fontSizeLarger;
        }
    }


    &-change, &-done {
        float: right;
    }

	.backgrount-img{
		height: 30px;
		margin-left: 22px;
		background-size: 123px;
		background-image: url("{{ themeSettings.sirvResourceImageUrl }}/footer-logosR2.png");
		&.EarnAeroplanMiles-icon{
		background-size: 102px;
		height: 27px;
		margin: 11px 0;
		width: 209px;
		}
		@media (min-width: 768px) { 
			height: 27px;
			background-size: 120px 205px;
			margin-left: 0px;
		}
		@media (max-width: 767px) { 
			height: 27px;
			background-size: 121px 200px;
			margin-left: -4px;
			position: relative;
			left: 0;

		
		}
		content: "";
		display: inline-block;
		//margin-bottom: @gutter - 10;
		height: @gutter * 2;
		background-position: 0px  center;
		background-repeat: no-repeat;
		background-size: @gutter * 4 @gutter * 2;
	}
}

.mz-paymentselector.mz-l-formfieldgroup {
    .mz-digitalwallets {
        padding-top: @gutter/2;
    }
    display: block;
    .mz-l-formfieldgroup .mz-l-formfieldgroup-row {
        display: table-row;
    }
    .mz-l-formfieldgroup-row {
        display: block;
    }
    .mz-paymentselector-option .mz-checkoutform-radio {
        text-align: left;
        display: block;
		.btn-text {
			color: @black;
			font-family: Agenda,sans-serif;
			font-size: 17px;
			font-weight: 600;
			letter-spacing: 0;
			text-decoration: none;
			display: inline-block;
			.underline-animation(@color-primary-red);
			i {
			  color: @color-primary-red;
			  margin-left: 5px;
			}
			&:hover {
			  color: @color-primary-red;
			}
		}
    }
    .mz-l-formfieldgroup-cell {
        > label {
            text-align: right;
            display: block;
            min-width: 155px;
        }
        .mz-paymentselector-reenter-cvv {
            label {
                text-align: left;
                min-width: auto;
                display: inline-block;
                margin-right: @gutter/4;
            }
        }
    }
    .mz-payment-credit-card-savepayment-row {
        margin: 0 0 @gutter/5 + 3;
        
        label.mz-inline {
        	width: auto;
        }
    }
    .mz-payment-credit-card-number, .mz-payment-credit-card-type, .mz-payment-credit-card-name{
    	.fullwidth;
    }
}
.mz-payment-credit-card-expiration-row{
	padding-left:0;
}
.billing-new-address-container{
	padding:0 @gutter/2 + 2.5 @gutter/2 + 2.5;
	overflow:hidden;
	.form-group-row{
		margin-bottom:@gutter/2 + 2.5;
		overflow:hidden;
		.form-control{
			.fullwidth;
			font-size:1.6rem;
			.agenda;
			.no-appearance;
		}
	}
	.address-form-background {
		background:rgba(125, 167, 217, 0.1);
		padding-left: @gutter - 10 !important;
		padding-right: @gutter - 10 !important;
	}
	.new-billing-address-form {
		padding: @gutter - 10 0 @gutter - 10 @gutter - 20;
		.form-group-row{
			.mz-addressform-firstname, .mz-addressform-country, .mz-addressform-state{
				@media(max-width:767px){
					margin:0 0 @gutter/2 + 2.5;
				}
			}
		}
		.add-new-address-radio {
			margin-right: @gutter - 10;
			.payment-method-label {
		    	min-width: 0;
		    	display:inline-table;
		    	&:after {
		    		position: absolute;
		    		right: 1px;
		    	}
		    }
		}
		.addNewAddrLabel {
			.agenda-bold;
			margin: 0 0 @gutter - 5;
    		line-height: 1.1;
    		font-size: 1.6rem;
    	
    		.provide-billing-addr-txt {
		    	display: block;
   				margin-bottom: 20px; 
    		}
		}
		
	}
	.mz-addressform-address1 {
		margin-bottom: @gutter - 10;
	}
}
//For select box icon
.select-icon-cont{
	position:relative;
	select + i, select + svg {
		font-size: 3.4rem;
	    height: @gutter * 2 - 10;
	    color: @selectArrow;
	    position: absolute;
	    top: @gutter/5;
	    right: 0;
	    pointer-events: none;
	    font-style:normal;
	}
	#country- {
		background-color: #fff;
	}
}
.province-us{
	.select-icon-cont{
		select + i , #stateOrProvinceUS- + i,
		select + svg , #stateOrProvinceUS- + svg {
			top: @gutter - 20;
		}
	}
}

.mz-paymentselector-label-separator {
    text-align: center;
    border-bottom: 1px dashed @slider-arrow-background;
    text-decoration: none;
}

.mz-paymentselector-separator {
    border-top: 1px solid @slider-arrow-background;
    padding-top: @gutter;
}

.mz-paymentselector-savedcreditcard {
	.mz-l-formfieldgroup-row {
		padding-top: @gutter - 5;
	}
	.select-payment-label {
		.agenda-bold;
		margin: 0 0 @gutter - 16;
	    line-height: 1.1;
	    font-size: 1.8rem;
	}
}

.credit-card-form-section {
	position: relative;
	.payment-method-card-selection {
		position: relative;
	    z-index: 1;
	    display: block;
	    padding: @gutter - 8 @gutter - 10 @gutter - 12 @gutter * 2;
	    line-height: 2.6rem;
	    border: 1px solid @formInputBorder;
	    border-radius: @gutter / 5;
	    cursor: pointer;
	    background-color: @white;
	    
	    @media (min-width: 768px){
	    	padding-left: @gutter * 2 + 15;
	    }
	    
	    .add-credit-card-label {
	    	.agenda;
	    	display: inline-block;
	   		vertical-align: middle;
	    	margin-right: @gutter - 10;
	    }
	}
	.payment-method-card-radio {
		position: absolute;
	    z-index: 1;
	    top: @gutter - 17; 
	    left: @gutter - 10;
	    .payment-method-label {
	    	min-width: 0;
	    	display:inline-table;
	    	&:after {
	    		position: absolute;
	    		right: 1px;
	    	}
	    }
	}
	.new-card-info-section {
		padding: @gutter + 15 @gutter - 5 0;
		margin-top: -@gutter + 5;
	    border: 1px solid @border-light;
	    border-bottom: none;
	    
	    .card-info-section-margin {
	    	.mz-payment-credit-card-securitycode-row{
	    		padding-right:0;
	    		@media(max-width:767px){
	    			.no-padding;
	    		}
	    	}
	    	.mz-payment-credit-card-type-row {
	    		.card-type-section {
	    			position: relative;
		    		&:after {
					    .material-icons;
					    font-size: 3.4rem;
					    height: @gutter + 15;
					    color: @formInputBorder;
					    content: "\E313";
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    right: @gutter - 15;
					    pointer-events: none;
				    }
	    		}
			    .select-credit-type {
			    	.agenda;
		    		font-size: 1.6rem;
		    		-webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    width: 100%;
				    border: 1px solid @formInputBorder;
				    border-radius: 0px;
				    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			    }
	    	}
	    	.expiration-details {
	    		display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: -moz-box;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    .select-input {
			    	position: relative;
			    	&:first-child {
			    		margin-right: @gutter / 5;
			    	}
			    	&:after {
					    .material-icons;
					    font-size: 3.4rem;
					    height: @gutter + 15;
					    color: @formInputBorder;
					    content: "\E313"; 
					    line-height: 1.4;
					    position: absolute;
					    bottom: 0;
					    right: @gutter - 15;
					    pointer-events: none;
				    }
			    	.expiration-month, .expiration-year {
			    		.agenda;
			    		font-size: 1.6rem;
			    		-webkit-appearance: none;
					    -moz-appearance: none;
					    appearance: none;
					    width: 100%;
					    border: 1px solid @formInputBorder;
					    border-radius: 0px;
					    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			    	}
			    }
	    	}
	    	.security-card-info {
	    		width: 100%;
			    border: 1px solid @formInputBorder;
			    font-size: 1.6rem;
			    line-height: 1.6rem;
			    padding: @gutter - 14 @gutter - 10 @gutter - 17;
			}
			
			.newcredit-card-phone-number{
				padding-left: 0;
				@media (max-width:767px) {
					padding-right: 0;
				}
				.new-address-creditcard-phonenumber{
					@media (max-width:767px) {
						width: 100%;
					}
				}
				.modal-creditcard-phonenumber{
					@media (max-width:767px) {
						width: 100%;
						font-size: 1.6rem;
						line-height: 1.6rem;
						padding: @gutter - 14 @gutter - 10 @gutter - 17;
					}
				}
			}
	    	.mz-payment-credit-card-savepayment-row {
	    		margin-top: @gutter + 5;
	    		margin-bottom: @gutter - 10;
	    		.save-card-label {
	    			margin-left: @gutter - 17;
	    		}
	    		.disabled-input {
	    			background-color: @light-grey;
	    			color: @inputBorder;
	    		}
	    	}
	    	.mz-payment-credit-card-maydefault-row {
	    		margin-bottom: @gutter + 5;
	    		.make-default-card-label {
	    			margin-left: @gutter - 17;
	    		}
	    		label.mz-inline {
		        	width: auto;
		        }
	    	}
	    }
	}
}
.billing-address-section {
	border-top: none;
	margin: 0;
	.province-us {
		.select-icon-cont {
			select + i,
			select + svg {
				top: @gutter/5 + 4;
			}
		}
	}
}
.payment-summary {
	.agenda;
	font-size: 1.6rem;
	margin-bottom: @gutter + 5;
	
	.card-expires-section {
		margin: 0;
	}
	.payment-summary-card-number {
		position: relative;
		.card-img-in-summary {
			top: -6px;
    		left: -7px;
		}
	}
}

.aeroplan-summary {
	.agenda;
	margin-bottom: @gutter + 5;
}
.aeroplan-with-paypal {
	margin-top: @gutter + 5;
}
.payment-method-summary {
	.gift-card-section {
		.agenda;
		padding-bottom: @gutter + 14;
		.gift-cardLink-section {
			@media all and (min-width: 480px) and (max-width: 768px) { 
				padding-left: @gutter * 2 - 14;
			}
			@media all and (max-width: 480px) {
				padding-left: @gutter * 2 - 14;
			}
			
			&.is-complete {
				padding-left: @gutter + 9;
				padding-bottom: @gutter + 5;
			}
			.giftCard-content {
				padding-right: @gutter / 5 + 6;
				.gift-cardLink {
					color: @blackpearl;
					font-weight: bold;
					font-size: 18px;
					cursor: pointer; 
				}
			}
		}
		.giftCard-form-section {
			padding-top: @gutter;
			padding-bottom: @gutter + 7;
			@media all and (max-width: 767px) { 
    			flex-direction: column;
			}
			.giftCardLabel {
				margin-bottom: @gutter - 10;
				@media all and (max-width: 767px) { 
					margin-bottom: @gutter / 5 + 7;
				}
			}
			.giftCard-inputField {
				border-radius: @gutter / 5 + 1;
				border: 1px solid #54585a;
				width: 100%;
			}
			.giftCardNumber-section {
				flex: 1.3;
				padding-right: 26px;
				padding-left: 0;
				@media all and (max-width: 767px) { 
					padding-right: 0;
					padding-bottom: @gutter - 7;
				}
			}
			.giftCardCVC-section {
				flex: 1;
				padding-left: 0;
				@media all and (max-width: 767px) { 
					padding-right: 0;
				}
			}

		}
		.step-giftCard-section {
			padding-bottom: @gutter / 5 + 5;
			.step-gift-card-payment {
				width: @gutter * 12 + 10;
				@media all and (max-width: 767px) { 
					width: 100%;
				}
				&.new-btn-primary:disabled {
					opacity: .5;
				}
			}
		}
		.giftCardFilledSection {
			color: @black;
			padding-bottom: @gutter / 5 + 10;
			.giftCard-content {
				flex: 1;
				.giftCardCheckIcon {
					padding-right: @gutter / 5 + 6;
					&:before {
						.material-icons;
						content: "\E876";
						background: @white;
						line-height: 1.1;
						border: 3px solid @christi;
						color : @black;
						font-size: @gutter / 5 + 8;
						font-weight: 500;
						width: @gutter - 6;
						height: @gutter - 6;
						border-radius: 50%;
					}
				}
				.giftCard-details {
					font-weight: 500;
    				font-size: @gutter - 7;
					padding-right: @gutter * 2 + 2;
				}
				.giftCardRemoveButton {
					font-weight: bold;
    				font-size: @gutter - 7;
					color: @black;
				}
			}
			.giftCardAmountApplied-section {
				.giftCardAmountApplied {
					font-weight: 500;
					font-size: @gutter - 7;
					color: @black;
				}
			}
		}
	}
}
.is-complete .payment-method-summary {
    border-top: none;
    margin: 0;
    padding: 0 @gutter;
    padding-bottom: @gutter - 10 !important;
    margin-bottom: @gutter * 2;
	.gift-card-section {
		.giftCardFilledSection {
			padding-top: @gutter;
			padding-bottom: 0;
		}
	}
    .mz-checkout-payment {
    	margin: 0;
    }
    .bill-to-label {
    	font-size: 1.8rem;
    	margin-top: 0;
    }
    .payment-address-summary {
    	.agenda;
    	line-height: 1.1;
    }
}
.is-complete {
	.coupon-code-field, .aeroplan-section{
		display: none;
	}
}

.mz-checkoutform-paymentinfo{
	margin-bottom: 0;
	.mz-formstep-body {
		padding-bottom: @gutter * 2;
	}
	.payment-method-summary{
		padding-left: @gutter * 2 - 5;
		@media (max-width: 768px) {
			padding-left: @gutter - 15;
		}
		.aeroplan-member-heading-section {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			margin-bottom: @gutter + 5;

			.aeroplan-member-checkbox {
				align-self: flex-start;
				margin: @gutter - 21 @gutter - 15 0 0;
				.checkbox-label-inside{
					width: @gutter - 5;
					height: @gutter - 5;
					border: 1px solid @color-black;
					box-sizing: border-box;
					border-radius: @gutter - 23;
				}
				.checkbox-label-inside:after {
					color: @pigmentGreen;
					font-size: @gutter - 7;
					line-height: @gutter - 6;
				}
			}
			.aeroplan-title-label {
				cursor: pointer;
				vertical-align: middle;
				margin: 0 0 0 @gutter - 19;

				.aeroplan-title {
					font-weight: bold;
					font-size: @gutter - 11;
					margin-left: @gutter - 15;
					color: @blackpearl;
				}
				.smallaCls{
					display: block;
					font-weight: 500;
					font-size: @gutter - 11px;
					color: @color-secondary-grey-dark;
					margin-top: @gutter - 15;
				}
			}
		}
		.mz-paymentselector{
			.paypal-payments, .moneris-payment {
				position: relative;
				box-shadow: none;

				.phone-number-text-box {
					text-align: right;
				}
				.mz-l-formfieldgroup-cell {
					display: block;
					.payment-method-radio{
						@media (max-width: 768px) {
							vertical-align: top;
							margin-top: @gutter - 20 !important;
						}
					}
				}
				.moneris_checkout {
					display: inline-block;
					height: 22px;
					padding-left: @gutter - 14;
					@media (max-width: 768px) {
						padding-left: @gutter - 18;
					}
					.mz-paymentselector-label{
						font-weight: bold;
						font-size: @gutter - 5;
						color: @blackpearl;
					}
					.card-img-mbl{
						@media (max-width: 768px) {
							display: block;
							padding-top: @gutter - 7;
							.pay_method{
								margin-left: 0;
							}
						}
					}
				}
				.pay_method{
					margin-left: 15px;
					height: 18px;
					margin-bottom: 5px;
					@media (max-width: 768px) {
						margin-left: 8px;
					}
				}
				.apple-pay{
					margin-left: 6px;
					height: 18px;
					margin-bottom: 5px;
				}
				.g_pay{
					margin-left: 6px;
					height: 18px;
					margin-bottom: 5px;
				}
				.radio_click{
					display: none;
				}
				.radio-label-inside {
					width: @gutter - 5;
					height: @gutter - 5;
					padding-left: 1.9px;
					border: 1px solid @color-black;
				}
				.radio-label-inside:after {
					font-size: @gutter - 9;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: @color-black;
				}
				.phone-number-section {
					.phone-number-label {
						font-weight: @font-medium;
						font-size: @fontSizeLarge;
					}
					.phone-number-input{
						border: 0.25px solid @color-secondary-grey-dark;
						box-sizing: border-box;
						border-radius: @gutter - 19;
						font-size: @fontSizeLarge + 2;
						font-weight: @font-medium;
						color: @blackpearl;
					}
					@media (min-width: 992px) {
						position: absolute;
						right: 0;
						top: 18px;
						.phone-number-label-section {
							float: left;
							padding-right: @gutter - 5;
						}
						.phone-number-label {
							margin: @gutter - 14 0 @gutter - 20;
						}
						.phone-number-text-box {
							float: left;
						}
					}
					@media (min-width: 992px) and (min-width: 1024px){
						.phone-number-label-section {
							padding-right: @gutter - 19;
						}
					}
					@media (max-width: 768px) {
						padding-left: @gutter + 11;
						margin-top: @gutter - 5;
						.phone-number-label-section {
							padding-bottom: 8px;
						}
						.phone-number-label {
							text-align: left;
						}
						.phone-number-text-box {
							text-align: left;
						}
					}
				}
				.paypal-completion-label {
					.phone-number-msg {
						text-align: left;
					}
				}
				.payment-method-selection-label, .moneris-payment-selection-header {
					position: relative;
					z-index: 1;
					display: block;
					cursor: pointer;
					background-color: @main-background;
					text-align: left !important;
					margin-bottom: 0;
					padding-bottom: @gutter + 3;
					box-shadow: none;
					.card-img {
						position: absolute;
						top: 33px;
						bottom: 0;
						left: 105px;
						right: 0px;
						width: 85px;
						height: 22px;
						&.french-site {
							@media (min-width: 992px) {
								top: 29px;
							}
						}
					}
				}
				.payment-method-selection-label{
					border-bottom: 0.25px solid @color-secondary-grey-dark;
					padding-top: @gutter + 3;
				}
				.payment-method-radio {
					z-index: 1;
					.payment-method-label {
						min-width: 0;
					}
					&.radio{
						margin: 0;
					}
				}
				.mz-l-formfieldgroup-cell{
					padding: 0;
				}

			}
			.moneris-payment{
				border-bottom: 0.25px solid #54585A;
                .font-style {
                  font-size: @fontSizeLarge + 2;
                  font-weight: @font-medium;
                  color: @blackpearl;
				  font-family: @font-family-agenda;
                }
				.moneris-card-section{
					&.loading {
						position: relative;
						height: 133px ((@gutter * 5) + 8);
					}
                  .content-loading {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    img {
                      margin: auto;
                      max-width: 100px;
                    }
                  }
					#monerisContainer {
						position: relative;
						width: 80%;
						@media (max-width: 768px) {
							width: 100%;
						}
					}
					.saved_moneris_cards {
						padding-top: @gutter + 6;
						border-top: 0.25px solid @color-secondary-grey-dark;
						.saved_card {
							.font-style;
							margin-bottom: @gutter - 8;
						}
						.card_list {
							margin: 0 0 @gutter - 5 0;
							@media (max-width: 768px) {
								height: unset;
							}
							.payment-method-label-savedCard {
								margin-top: @gutter - 21;
							}
							.card_number_text {
								.font-style;
								display: inline-block;
								margin-left: @gutter + 10;
								cursor: pointer;
								width: ((@gutter * 6) + 10);
							}
							.expire_date{
								.font-style;
								display: inline-block;
								margin-left: ((@gutter * 4) - 20);
								@media (max-width: 768px) {
									margin-left: @gutter + 10;
									display: block;
								}
							}
							&.french-site {
								.card_number_text {
									min-width: ((@gutter * 8) + 15);
								}
								.expire_date {
									@media (min-width: 768px) {
										margin-left: ((@gutter * 4) - 30);
									}
								}
							}
						}
						.new-card-checkboxs {
							margin: 0 0 0 @gutter + 10;
							.aeroplan-member-heading-section {
								margin-bottom: @gutter - 3;
								.checkbox {
									.no-margin;
									align-self: end;
									height: @gutter - 3;
									width: @gutter - 3;
								}
								.aeroplan-title-label {
									.font-style;
									margin-left: @gutter - 15;
									font-size: @fontSizeLarge + 2;
									display: inline;
									width: unset;
								}
							}
						}
					}
					.add-new-card-link{
						.font-style;
						letter-spacing: 0.5625px;
						margin: @gutter - 12 0 @gutter + 15 0;
						a {
							color: @blackpearl;
						}
					}
                  	.card-summary {
				   		margin-bottom: @gutter + 13;
						padding-left: @gutter + 16;
						.card-number, .expiry-date {
						  .font-style;
						}
						.expiry-date {
						  margin-left: ((@gutter * 2) + 10);
							@media (max-width: 768px) {
								display: block;
								margin-top: @gutter - 21;
								margin-left: 0;
							}
						}
					}
				}
			}
			.paypal-payments .panel{
				box-shadow: none;
				margin: 0;
			}
			.pay_with_moneris_saved_card {
				background-color: #e4002b;
				text-decoration: none;
				border-color: #e4002b;
				border: 2px solid #e4002b;
				color: #fff;
				border-radius: 22px;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 0;
				line-height: 18px;
				padding: 9px 35px;
				margin: 10px 0px 18px 18px;
			}
		}
		.aeroplan-section {
			padding-top: @gutter + 3;
	.agenda;
			.aeroplan-info-section {
				padding-left: ((@gutter * 2) - 8);
				.aeroplanNumber, .lastName {
					margin-bottom: @gutter - 10;
					label {
						font-weight: @font-medium;
						margin-bottom: @gutter - 13;
						color: @black;
					}
					.TextInput {
						width: 100%;
						border: 1px solid @color-secondary-grey-dark;
						box-sizing: border-box;
						border-radius: @gutter - 19;
						font-size: @fontSizeLarge + 2;
						font-weight: @font-medium;
						color: @black;
					}
					.mz-validationmessage {
						font-size: @fontSizeLarge;
						font-weight: @font-medium;
						margin-top: @gutter - 20;
					}
				}
			}
		}
		.step-payment-continue-btn-div {
			margin-top: @gutter * 2 !important;
			@media (max-width: 768px) {
				text-align: center;
				margin-top: ((@gutter * 2) - 12) !important;
			}
			.new-btn-primary {
				padding-top: @gutter - 14;
				width: 310px;
				&.is-loading{
					background-image: url(../resources/images/button-loading.gif);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 50px;
					color: transparent;
					cursor: no-drop;
					text-indent: -9999px;
					pointer-events: none;
				}
			}
			.new-btn-primary:disabled {
				opacity: .5;
			}
}
		.card-ending {
			font-size: @fontSizeLarge + 2;
			color: @blackpearl;
			font-weight: bold;
			font-family: @font-family-agenda;
			span{
				font-weight: normal;
			}
			@media (max-width: 768px) {
				padding-left: @gutter + 10;
			}
		}
		.aeroplan-summary {
			margin-top: @gutter - 5;
			.aeroplan-text{

			}
		}

	}

}