﻿.is-disabled {
    color: @storeClosedStatus;
    text-decoration: none;
    &:hover,&:visited {
        cursor: default;
        color: @storeClosedStatus;
        text-decoration: none;
    }
    &.mz-button {
        &:hover, &:active {
            background: @gallery;
            border-color: @gallery;
            .box-shadow('none');
        }
    }
}
