.store-address{
	 display: block;
	 width: 100%;
	 padding: @gutter - 10  @gutter - 5;
	 background: @white;
	 border: 1px solid @torchRed;
	 margin: 0 0 @gutter/5;
	 
	 .address-card{
	 	display: inline-block;
	 	padding-right: @gutter - 10;
		padding-bottom: 20px;
		width: 75%;
		.store-name{
			.agenda-bold;
			color:@primary-color;
			
			&:hover,&:visited{
				color:@primary-color;
			}
		}
		.store-address-details{
		    margin: 0;
		    line-height: 1.2;
		    .store-street, .store-locality, .store-telephone{
		    	display:inline-block;
		    }
		    .store-tel{
				color:@primary-color;
				text-decoration:none;
			}
		}
	 }
	 .address-change{
	 	width: 60px;
	 	display: inline-block;
    	vertical-align: top;
		.store-change{
			color:@torchRed;
		}
		.btn-text {
		  color: @color-black;
		  .agenda;
		  font-size: 18px;
		  font-weight: 600;
		  letter-spacing: 0;
		  .underline-animation(@color-primary-red);
		  i, svg {
		    color: @color-primary-red;
		    margin-left: 5px;
		  }
		  &:hover {
		    color: @color-primary-red;
		  }
		}
	 }
	 .address-change-shipping
	 {
	    width: auto;
	 	display: inline-block;
    	vertical-align: top;
    	float: right;
		.store-change{
			color:@torchRed;
		}

		.btn-text {
		  color: @color-black;
		  .agenda;
		  font-size: 18px;
		  font-weight: 600;
		  letter-spacing: 0;
		  .underline-animation(@color-primary-red);
		  i, svg {
		    color: @color-primary-red;
		    margin-left: 5px;
		  }
		  &:hover {
		    color: @color-primary-red;
		  }
		 
		}
		.btn-text{
			 position: relative;
		  } 
		.btn-text:before {
			content: "";
			position: absolute;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: @color-primary-red;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
		}
		.btn-text:hover:before {
			visibility: visible;
			width: 100%;
		  }
	 }
	 .orderVolumeMsgAddToCart {
	 	.agenda;
	 	text-align: justify;
	 }
}
.no-preferred-store-block{
	margin-bottom: @gutter;
	.select-preferred-store{
		.btn();
		.btn-red();
		.btn-medium();
		padding: @gutter - 15 @gutter @gutter - 15;
		border-radius: 22px;
		.play-arrow{
			vertical-align: text-bottom;
			font-size: 2rem;
		}
	}
}
.go-to-store-locator-modal {
	.agenda;
	@media (max-width: 767px) {
		padding-right: 0 !important;  
	}
	.modal-sm {
		width: 550px; 
		@media (max-width: 767px) {
			width: 300px;
		}
	}
	.modal-dialog {
		margin: @gutter + 5 auto;	
		.modal-content {
			@media (min-width: 768px) {
				padding: 0 @gutter + 5 @gutter + 5;
			}
			@media (max-width: 767px) {
				padding: @gutter - 10 @gutter - 5;
			}
			padding: 0 @gutter - 10;
			.modal-header {
				min-height: @gutter + 5;
			    padding: @gutter - 15 0;
			    border-bottom: none;
			    @media (min-width: 768px) {
			    	padding: @gutter - 10 0;
			    }
			    .modal-title {
			    	.agenda-bold;
			    	font-size: 2.2rem;
				    line-height: 1.2;
				    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
				    text-align: left;
				    @media (min-width: 768px) {
				    	font-size: 3.4rem;
						margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
				    }
			    }
			    .modal-close {
			    	position: absolute;
				    top: @gutter - 15;
				    right: @gutter - 15;
				    width: @gutter + 11;
				    height: @gutter + 11;
				    text-decoration: none;
				    text-align: center;
				    z-index: 1;
				    @media (min-width: 768px) {
			    	    top: @gutter - 15;
						right: @gutter - 15;
				    }
				    .u-sr-only {
				    	&:before {
				    		.material-icons;
				    		font-size: 3rem;
						    line-height: 3.6rem;
						    content: "\E14C";
				    	}
				    }
			    }
			}
			.modal-body {
   				text-align: center; 
   				padding: @gutter - 10 0;
   				@media (min-width: 768px) {
				    padding: @gutter + 5 @gutter * 2 + 5;
   				}
   				.storeChangeMsg {
   					.agenda-bold;
   					font-size: 2.4rem;
					margin-bottom: @gutter - 5;
   				}
   				.confirmationMsg {
   					font-size: 1.8rem;
   					@media (max-width: 767px) {
					    margin-right: @gutter - 5;
    					margin-left: @gutter - 5;
   					}
   					.changesWillNotSaveTxt {
   						display: block;
   					}
   					.makeSureForStoreChangeMsg {
   						display: block;
   					}
   				}
			}
			.modal-footer {
   				text-align: center;
   				border: none;
   				.cancel-link {
   					.btn-transparent();
   					padding: @gutter - 13 @gutter + 10 @gutter/5*2;
   					margin-right: @gutter - 5;
   					font-weight: normal;
				    text-transform: none;
				    background: transparent;
				    border: 1px solid @torchRed;
				    color: @link-red;
				    display:inline-block;
				    margin-bottom:@gutter/5 * 3;
				    @media (max-width: 767px) {
				    	display: block;
				    	margin-bottom: @gutter - 5;
				    	margin-right: 0;
					}
					.new-btn-secondary();
   				}
   				.save-card-btn {
   					.btn-red();
					.btn-small(); 
					.new-btn-primary();
   					display:inline-block;
   					padding: @gutter - 13 @gutter + 10 @gutter/5*2;
					@media (max-width: 767px) {
				    	display: block;
				    }
   				}
   			}
		} /* end of modal-content */
	}
}