.recently-viewed-section {
	.agenda;
	.recently-viewed-products {
		border-top: 1px solid @border-light;
	    border-bottom: 1px solid @border-light;
	    background-color: @light-grey;
	}
    
    .recently-viewed {
    	padding: @gutter + 10 0;
    	
    	.recently-viewed-title {
    		.agenda-bold;
    		font-size: 2rem;
		    display: inline-block;
		    margin: 0 @gutter - 5 @gutter - 5 0;
		    
		    .history-clear-msg {
		    	.agenda;
		    	margin-left: @gutter;
		    	font-size: 1.6rem;
		    	@media(max-width:767px){
		    		display:block;
		    		margin:@gutter/2 - 2.5 0 0;
		    	}
		    }
    	}
    	
    	.recently-viewed-clear {
    		.agenda-bold;
    		float: right;
		    color: @secondary-color;
		    display: inline-block;
		    font-size: 1.9rem;
    	}
    	
    	.hide-on-tablet {
    		@media(min-width:768px) and (max-width:991px) {
    			display: none;
    		}
    	}
    	.mz-productlisting {
    		width: 100%;
    		padding: 0;
    		@media(max-width:767px){
    			margin:0 0 @gutter/2 + 2.5;
    		}
    		.current-product-banner {
                display: none;
            }
    		.mz-productlisting-image{
    			.image-wrap{
    				img{
    					.no-border;
    				}
    			}
    		}
    		.quickview {
			    position: relative;
    			width: auto;
    		}
            .product-not-available{
                .agenda-bold;
                margin:0;
                font-size:1.5rem;
                margin : @gutter/5 0 0 0;
			}
    	}
    }
	.productdetails-container {
	  	background-color: @white !important;
	}

}

.recently-viewed-section{
	.mz-productlisting{
		.current-product-banner {
            display: none;
        }
		.clearanceTagImg{
			@media (max-width: 767px) and (orientation: landscape){
				font-size: 1.4rem;
			}
		}
	}
}


.french-content{
	.recently-viewed-section{
		.mz-productlisting{
			.current-product-banner {
                display: none;
            }
			.clearanceTagImg{
				.agenda-bold();
				color: black;
				position: absolute;
				bottom: 0;
				left: 0;
				line-height: 1.2;
				padding: 5px 10px;
				background-color:@clearance;
				font-size: 1.4rem;
				border-radius: 0;
				z-index: 1;
				@media (min-width: 768px) and (max-width: 991px){
                    font-size: 1.3rem;
                    line-height: 1.3;
				}
				@media (max-width: 767px){
					padding: 5px;
					font-size: 1.1rem;
					bottom: -20px;
				}
				@media (max-width: 767px) and (orientation: landscape){
					font-size: 1.3rem;
				}
			}
		}
	}	
}
