//
// Uncomment the following line
// to import styles (fonts) from your storefront's theme.
//
// @import "/stylesheets/storefront.less";

body {
    font-family: tahoma;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.headerImage{
   
    float: left;
    margin: right;
    margin-right: 29px;
    margin-top: 8px;
    margin-left: 10px;
    img{
        height: 80px;
        width: 80px;
    }
}

.title{
    padding-top: 13px;
}


.transfer-orderNumber{
    float: right;
    margin-right: 30px;
    margin-top: -37px;
   
}
.rememberMsg{
    width:80%;
    margin:80px auto;
    line-height: 25px;

    }
.remHead{  
    margin-bottom: 20px;

    }
    .header_bottom_bar{
       border-bottom: 1px solid #ccc; 
       margin: 10px 30px;
       width: 96%;
       position: absolute;
       left: 0;
       top: 85px;
    }
    .order-number_top_gap{
        margin-top:10px;
    }
h1, h2, h3 {
    font-weight: bold;
    margin: 0;
}

table {
    border-collapse: collapse;
    font-size: inherit;
    line-height: inherit;
}

.section {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
}

.section > h2 {
    border-bottom: 1px solid #bfbfbf;
    font-size: 17px;
    line-height: 1;
    margin: 0 2%;
    padding: 17px 1% 16px;
}

.subsection-wrapper {
    margin: 10px 2%;
}

.subsection-wrapper > h3 {
    padding: 7px 2%;
}

.subsection-wrapper .grid {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.subsection {
    margin: 0 2%;
    width: 96%;
}

.subsection .label {
    font-weight: 600;
    margin: 14px 0 7px;
}

.subsection .label:nth-of-type(1) {
    margin-top: 0;
}

.subsection td {
    padding: 7px 7px 0 0;
    vertical-align: top;
}

.grid {
    border: 1px solid #bfbfbf;
    margin: 10px 2% 15px 2%;
    width: 96%;
}

.grid.payment-details {
    display: none;
}

.grid.payment-details.show {
    display: block;
}

.grid th {
    background-color: #e5e5e5;
    font-weight: 600;
    padding: 8px 14px;
    text-align: left;
    white-space: nowrap;
}

.grid td {
    border-top: 1px solid #bfbfbf;
    padding: 8px 14px;
    text-align: left;
    vertical-align: top;
}

.grid tr:nth-of-type(1) td {
    border-top-width: 0;
}

.panes {
    margin: 10px 2%;
    width: 96%;
}

.panes td {
    border-left: 1px solid #bfbfbf;
    padding: 2px 14px 8px;
    vertical-align: top;
    width: 33%;
}

.panes td:nth-of-type(1) {
    border-left-width:0;
}

.panes .label {
    color: #b3b3b3;
    font-size: 13px;
    margin-bottom: 7px;
}

.panes .price-total {
    font-size: 24px;
    margin-bottom: 7px;
}

.panes .item-total {
    font-size: 16px;
}

.mz-printable-order {
    width: 100%;
}

.header th {
    border-bottom: 1px solid #b3b3b3;
    font-weight: 400;
    padding: 14px 2%;
    text-align: left;
    vertical-align: top;
    width: 25%;
}

.header .company-info h1 {
    font-size: 24px;
}

.header .company-name {
    font-weight: bold;
}

.header .company-contacts {
    white-space: pre-wrap;
}

.header .order-essentials {
    text-align: right;
}

.header .order-essentials .order-number {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
}

.header .order-essentials .order-number .label {
    color: #b3b3b3;
    font-weight: 400;
}

.header .order-essentials .order-date .label {
    font-weight: 600;
}

.footer td {
    padding: 14px 3%;
}

.section-attributes .attribute {
    margin: 10px 4%;
}

.section-attributes .attribute span {
    font-style: italic; margin-right: 10px;
}

.section-attributes .attribute .label {
    font-style: normal; font-weight: 600;
}

.section-orderitems .product-name {
    margin-bottom: 4px;
}

.section-orderitems .bundled-product,.section-orderitems .product-option {
    border-left: 2px solid #ddd;
    line-height: 1.2;
    margin-left: 4px;
    padding-left: 6px;
}

.section-orderitems .product-option-label {
    color: #b3b3b3;
    font-size: 12px;
    font-style: normal;
    margin-right: 8px;
    text-transform: uppercase;
}

.section-orderitems .product-option-raw {
    color: #b3b3b3;
    font-style: italic;
}

.section-orderitems .order-totals-breakdown {
    td {
        border-top-width: 0;
        vertical-align: top;
    }

    tr:nth-of-type(1) td {
        border-top-width: 1px;
    }

    td:nth-of-type(1) {
        text-align: right;
    }
}

.mz-printable-order-packingslip{
    .header{
        display: table-row;
        .header-content{
            .image-container{
                display: inline-block;
                img{
                    max-width:80%;
                }
            }
            .headers{
                display: inline-block;
                h1{
                    font-weight: 800;
                    font-size: 43px;
                    font-family: Agenda, sans-serif;
                    margin-bottom: 10px;
                }
                h2{
                    font-weight: 800;
                    font-family: Agenda, sans-serif;
                    font-size: 25px;
                }
            }
            .shipment-number{
                display: inline-block;
                float: right;
                padding-top: 25px;
                .label{
                    color: #b3b3b3;
                }
                &.french-merchant{
                    padding: 0;
                    margin-top: -22px;
                }
            }
        }
    }
    .body{
        .sub-heading{
           td{
               padding: 15px 10px 10px 25px;
               h2:first-child{
                   margin-bottom: 5px;
               }
               h4, h2:last-child{
                   font-weight: normal;
                   margin: 0;
               }
           }
        }
        .order-date{
            float: right;
            position: relative;
            top: -24px;
            right: 15px;
            }
        .order-info-section{
            table{
                min-height: 150px;
            }
            table:last-child{
                min-height: unset;
            }
            .bill-to{
                width: 50%;
            }
            .pick-up-by{
                width: 40%;
                .paypal-text{
                    margin-left: -50px;
                    padding-top: 60px;
                }
            }
            .payment{
                width: 10%;
            }
            .ship-to{
                width: 84%;
            }
            .shipping-method{
                width: 16%;
            }
            .item{
                width: 15%;
            }
            .productName{
                width: 40%;
            }
            .qty{
                width: 15%;
            }
            .price{
                width: 20%;
            }
            .subtotal{
                width: 20%;
            }
        }
        .page-break{
            page-break-after: always;
        }
        .font-wt{
            font-weight: 600;
        }
        .subtotal-amount{
            float: right;
            position: relative;
            right: 28px;
        }
        .custom-margin{
            float: right;
            position: relative;
            right: 28px;
        }
        .foot{
            .total-container{
                float: right;
                margin: 10px 2%;
                width: 35%;
                margin-left: 0;
                .sections{
                    margin-bottom: 10px;
                    .label{
                        display: inline-block;
                        width: 63%;
                        text-align: right;
                    }
                    .value{
                        display: inline-block;
                        width: 35%;
                    }
                }
            }
            .signature-section{
                padding-right: 19px;
                padding-top: 50px;
                .signature{
                    margin: 20px 10px;
                    border-top: 1px solid #000;
                    width: 222px;
                    text-align: center;
                    float: right;
                    padding-top: 10px;
                    &.date{
                        float: left;
                    }
                }
            }
            .thank-you-msg{
                text-align: center;
            }
        }
    }
}