.mz-breadcrumbs{
    display: none;
}
/* .big-banner{
    background: url();
} */
.slider-navigation {
    width: 95%;
    padding: 0px 15px 7px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    //left: 26px;
    top: 100px;
    z-index: 10;
    color:#006A4E;
}
.hero-slide-1{
    width:auto;
    position: relative;
    left: 0px;
    top: 0px;
    opacity: 1;
    background-position: center;
    background-size: cover;
    /* z-index: 999; */
}
.hero-card--title {
    font-family: Agenda,sans-serif;
    font-weight: 900;
    letter-spacing: 0;
    margin-top: 0px;
    font-size: 48px;
    line-height: 70px;
    color:@white;
}
.hero-card {
    background-color:#006A4E;
    padding: 100px 20px 80px;
    margin-top: 100px;
    position: relative;
    text-align: left;
    height: inherit;
}
/* .offer-card{
    width: 100%;
    padding: 0px;
} */
.content-button{
    background-color:#006A4E;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid @white;
    border-radius: 22px;
    color:@white;
    width: 200px;
}
// small banner CSS
.offer-card--headline {
    color: #fff;
    font-family: Agenda,sans-serif;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0;
    padding: 10px 10px 11px 20px;
    background-color:#006A4E;
    line-height: 30px;
}
.small-banner{
    margin-top: 30px;
}