/*!
 * Core Theme v0.4
 *
 * Copyright 2013 Volusion, Inc
 * All rights are reserved.
 */

// Non-outputting utilities
@import "/stylesheets/base/variables.less";
@import "/stylesheets/base/mixins.less";

// Base
@import "/stylesheets/base/normalize.less";
@import "/stylesheets/base/global.less";

// Layouts
@import "/stylesheets/layouts/l-container.less";
@import "/stylesheets/layouts/l-formfieldgroup.less";
@import "/stylesheets/layouts/l-pagecontent.less";
@import "/stylesheets/layouts/l-pagewrapper.less";
@import "/stylesheets/layouts/l-paginatedlist.less";
@import "/stylesheets/layouts/l-2column.less";
@import "/stylesheets/layouts/l-sidebar.less";
@import "/stylesheets/layouts/l-tiles.less";
@import "/stylesheets/layouts/l-stack.less";

// Modules
// Common
@import "/stylesheets/modules/common/address-summary.less";
@import "/stylesheets/modules/common/button.less";
@import "/stylesheets/modules/common/icon.less";
@import "/stylesheets/modules/common/item-listing.less";
@import "/stylesheets/modules/common/message-bar.less";
@import "/stylesheets/modules/common/order-list.less";
@import "/stylesheets/modules/common/order-listing.less";
@import "/stylesheets/modules/common/order-summary.less";
@import "/stylesheets/modules/common/price.less";
@import "/stylesheets/modules/common/page-title.less";
@import "/stylesheets/modules/common/property-list.less";
@import "/stylesheets/modules/common/table.less";
// Locations
@import "/stylesheets/modules/location/location-list.less";
// Page Header
@import "/stylesheets/modules/page-header/store-branding.less";
// Product
@import "/stylesheets/modules/product/price-stack.less";
@import "/stylesheets/modules/product/product-list.less";
@import "/stylesheets/modules/product/product-listing.less";
@import "/stylesheets/modules/product/product-images.less";
@import "/stylesheets/modules/product/product-detail.less";
// State
@import "/stylesheets/state/is-disabled.less";
@import "/stylesheets/state/is-required.less";
@import "/stylesheets/state/is-crossedout.less";
@import "/stylesheets/state/is-saleprice.less";
@import "/stylesheets/state/notices.less";


@font-face {
    font-family: "Agenda";
    src: url("../resources/fonts/HH_Agenda_Medium.woff") format("woff");
    font-display: fallback;
}
.agenda {
    font-family: "Agenda", sans-serif;
    font-style:   normal;
    font-weight:  400;
  }
  .agenda-bold {
    font-family: "Agenda_bold", sans-serif;
    font-style:   normal;
    font-weight:  normal;
  }
  .agenda-medium-italic {
    font-family: "Agenda_medium_italic", sans-serif;
    font-style:   italic;
    font-weight:  400;
  }
  .agenda-italic {
    font-family: "Agenda_italic", sans-serif;
    font-style:   italic;
    font-weight:  normal;
  }
  .agenda-black {
    font-family: "Agenda_black", sans-serif;
    font-style:   normal;
    font-weight:  normal;
  } 
#backgroundTable td {
    padding: 15px;
}

.mz-email-header {
    background: @gallery;

    th {
        background-color: @linkHoverColor;
        color: @gallery;
        padding: @gutter/2 @gutter;
    }

    td {
        padding: @gutter/2 @gutter;
    }
}

.mz-ordersummary {
    background: @gallery;
    th {
        text-align: right;
        padding: @gutter/2 @gutter;
        color: @gallery;
        background-color: @linkHoverColor;
        border-bottom: 1px solid @white;
        &.mz-ordersummary-header-product {
            text-align: left;
        }
    }
    td {
        text-align: right;
        padding: @gutter/2 @gutter;
        &.mz-ordersummary-item-product {
            text-align: left;
        }
    }
    .mz-ordersummary-lineitems tr:last-child td {
        border-bottom: 1px solid @white;
    }
    .mz-ordersummary-totals {
        float: right;
        td:last-child {
            padding-right: 0;
        }
    }
    .mz-ordersummary-totalname {
        display: inline-block;
        padding-right: @gutter;
    }
    .mz-ordersummary-grandtotal {
        border-top: 1px solid @white;
        font-size: @fontSizeLarge;
    }
    .mz-ordersummary-totalvalue, .mz-ordersummary-itemtotal {
        font-weight: bold;
    }
}

.mz-ordersummary-checkout {
    margin-bottom: @gutter;
    .mz-formstep-header {
        margin-bottom: 0;
    }
    .mz-formstep-body {
        font-size: @fontSizeLarger;
    }
}

dl.mz-orderheader {
    dt { margin: 0; float: left; clear: left; width: 150px; }
    dd { margin: 0; -webkit-margin-start: 150px; margin-start: 150px; padding-bottom: 0.5em }
}

.mz-multiship-email{
  width: 75%;

  // Styles only applying to the multiship email confirmation.
  .mz-table-header{
    background-color: @linkHoverColor;
    padding: @gutter/2;
    color: @white;
    a {
      color: @aeroplanBorder;
    }
  }
  .mz-email-section{
    h1, h2, h3, h4 {
      border-bottom: 1px solid @aeroplanBorder;
      padding: @gutter/2;
    }

//Container for a 'grouping', holds a table of items.
    .mz-container-header {
      background-color: @linkHoverColor;
      padding: @gutter/2;
      color: @white;
      a {
        color: @aeroplanBorder;
      }
      a:hover {
        color: @white;
      }
    }
    .mz-email-summary-container{
      padding: @gutter/4 @gutter/2 @gutter/4 @gutter/2;
      margin: 0 0 @gutter/2 0;
      border: 1px solid @aeroplanBorder;
    }

//Table containing item details
    .mz-ordersummary-email {
      width: 100%;
      border-bottom: 1px solid @aeroplanBorder;

      th {
          text-align: right;
          padding: @gutter/2 @gutter/2;
          border-bottom: 1px solid @aeroplanBorder;
          &.mz-ordersummary-header-product {
              text-align: left;
          }
        }
        td {
            text-align: right;
            padding: @gutter/2 @gutter/2;
            &.mz-ordersummary-item-product, &.mz-addresssummary {
                text-align: left;
            }
        }
        tr:last-child {
          border-bottom: 1px solid @aeroplanBorder;
        }

        .mz-email-fulfillment-info {
          border-top: 1px solid @aeroplanBorder;
          border-bottom: 1px solid @aeroplanBorder;
        }


        .mz-item-rowtotal, .mz-ordersummary-grandtotal {
          color: @torchRed;
        }

        .mz-ordersummary-totals {
            float: right;
            td:last-child {
                padding-right: 0;
            }
        }
        .mz-ordersummary-totalname {
            display: inline-block;
            padding-right: @gutter;
        }
        .mz-ordersummary-grandtotal {
            font-size: @fontSizeLarge;
        }
        .mz-ordersummary-totalvalue, .mz-ordersummary-itemtotal {
            font-weight: bold;
        }

            .mz-item-discount {
            font-weight: bold;

            .mz-item-discountamt {
                color: @torchRed;
            }
        }

    }

//Price summary

.mz-confirmation-price-summary {
  background-color: @color-secondary-grey-lightest;
  width: 100%;
  padding: @gutter/4 @gutter/2 @gutter/4 @gutter/2;
  margin: @gutter/2 0 @gutter/2 0;
  box-sizing: border-box;


   .mz-ordersummary-confirmation {
     border-bottom: 0px;
   }


}
  }
}
