.mz-shop-by-brands{
    .agenda();
    color: @mineShaft;
    .brand-bar {
        padding: 8px 25px;
        background-color: @gallery;
        .all-brand-text{
            display: inline-block;
            .agenda-bold();
            font-size: 1.8rem;
            line-height: 2;
            margin: 0;
            padding: 0;
        }
        .brand-character-container{
            .brand-character{
                .agenda-bold();
                text-decoration: none;
                width: 28px;
                height: 30px;
                text-align: center;
                display: inline-block;
                cursor: pointer;
                &.selected{
                    background: white;
                    border-radius: 30px;
                    border: solid 1px @storeClosedStatus;
                    line-height: 28px;
                }
                &:hover{
                    color: @torchRed;
                }
            }
            }
            
    }
    .brand-mobile-characters{
        .brand-character-container{
            @media (min-width:381px) and (max-width:767px) {
                padding-left: @gutter - 10;
            }
            @media (max-width:380px) {
                padding-left: @gutter / 5 - 2;
            }
            .brand-character.selected{
                color:@torchRed;
            }
        }
    }
    .brand-widget{
        margin-bottom: @gutter + 5;
        @media (min-width:1025px) {
            &.noneditor-brand-widget{
                text-align: center;
                #mz-drop-zone-brand{
                    display: inline-block;
                }
                .mz-cms-row{
                    max-width: 1170px;
                    margin: 0;
                }
            }
        }
        @media (max-width:767pxpx) {
            margin-bottom: @gutter - 5;
        }
    }
    .brand-list{
        text-align: left;
        display: flex;
        line-height: 2.6rem;
        .data-brand-container{
            padding:0;
            column-count: 5;
            -webkit-column-count: 5;
            -moz-column-count: 5;
            @media (min-width:440px) and (max-width:991px){
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }
            @media (max-width:439px){
                column-count: 1;
                -webkit-column-count: 1;
                -moz-column-count: 1;
            }
            @media (max-width:767px) and (orientation: landscape){
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }
            width: 100%;
            .data-brand{
            list-style-type: none;
            }
        }
    }
    .mobile-selected-char{
        .agenda-bold();
        margin-top: 20px;
        font-size: 2.6rem;
    }
}