.tt-dataset-pages { 
    border: 1px solid @formInputBorder;
    border-top: none;
    padding: 0px @gutter - 10 @gutter - 10 @gutter - 10;    
    .agenda-bold;
    text-align: left;
    .tt-suggestion {
    	.mz-itemlisting {
		    padding-top: @gutter - 15;
		    .clearfix();
		    &:first-child {
    			padding-top:0px;
    		}
		    .mz-itemlisting-thumb {
		        display: none;
		        float: left;
		        margin-right: @gutter/2;
		        width: @itemListingThumbSize;
		        .mz-itemlisting-thumb-img{
		            width: 65px;
		        }
		    }
		    .mz-itemlisting-details {
		        float: left;
		        margin-right: @gutter/2;
		    }
		    .mz-itemlisting-actions {
		        display: none;
		        float: right;
		        margin-right: @gutter/2;
		        text-align: center;
		        a {
		            display: block;
		            margin: 4px 0;
		            font-size: @fontSizeSmall;
		            .permalink(#666);
		        }
		    }
		    .mz-itemlisting-title {
		        font-size: 15px;
		        .agenda-bold;
		        .permalink(#666);
		    }
		    .mz-itemlisting-description {
		    	display: none;
		        margin: 4px 0;
		        font-size: @fontSizeSmall;
		    }
		    .mz-itemlisting-prompt {
		        float: left;
		        max-width: 50%;
		        a.mz-action {
		            display: inline-block;
		            margin: 0 @gutter - 20;
		        }
		    }
		    .mz-itemlisting-select {
		        float: left;
		        margin: 0 @gutter - 10;
		        margin-top: @gutter;
		    }
		}
    }
}