.mz-noresults{
	.no-search-result {
		.agenda;
		.search-box-container {
		    .no-search-header{
				background:@concernBg;
				padding:@gutter + 10 0;
				overflow:hidden;
				width:100%;
				margin-bottom:@gutter/5 * 8;
				@media(max-width:767px){
					padding:@gutter + 1 @gutter/5 + 1 @gutter/5  * 3 + 3;
					margin-bottom:@gutter - 4;
				}
				.no-search-title{
					margin:0 0 @gutter/5 * 2;
					color: #606060;
					.agenda-bold;
					font-size:3.6rem;
					@media(max-width:767px){
						font-size:2.1rem;
					}
				}
				.nosearch-desc{
					font-size:1.8rem;
					line-height:@gutter;
					margin:0;
					padding:0;
					.text-center;
					@media(max-width:767px){
						font-size:1.5rem;
						float:none;
						display:block;
						line-height:1.3;
						br{
							display:none;
						}
					}
				}
				.suggestion-data {
					font-size: 30px;
					color: #606060;
					opacity: 0;
					animation: 2s fadeIn;
					animation-fill-mode: forwards;
					transition: opacity 1s;
				}
				.suggestion-data a {
					color: @color-primary-red;
					font-size: 2.4rem;
					.agenda-bold;
					text-decoration: underline;
					opacity: 0;
					animation: 2s fadeIn;
					animation-fill-mode: forwards;
					transition: opacity 1s;
					@media(max-width:767px){
						font-size:2rem;
					}
				}
				.no-result-icon{
					opacity: 0;
					animation: 2s fadeIn;
					animation-fill-mode: forwards;
					transition:opacity 1s;
				}
				.no-search-result-icon{
					animation: fadeOut 2s forwards;
    				animation-delay: 3s;
					transform: rotate(-22.3deg);
				}
				.no-search-text{
					font-size: 30px;
					color: #606060;
					animation: fadeOut 2s forwards;
    				animation-delay: 3s;
					@media(max-width:767px){
						font-size:2rem;
						display: inline-block;
					}
				}
				.no-search-subtitle{
					font-size: 30px;
					color: #606060;
					opacity: 0;
					animation-delay: 2s;
					animation: 2s fadeIn;
					animation-fill-mode: forwards;
					transition: opacity 1s;
					@media(max-width:767px){
						font-size:2rem;
						display: inline-block;
					}
				}
				@keyframes fadeIn {
					from {
					  opacity: 0;
					}
					to {
					  opacity: 1;
					}
				}
				@keyframes fadeOut {
					from {
					  opacity: 1;
					}
					to {
					  opacity: 0;
					}
				}
				.no-search-message{
					color: @color-primary-red;
					font-size: 2.4rem;
					opacity: 0;
					animation: 2s fadeIn;
					animation-fill-mode: forwards;
					transition: opacity 1s;
					.agenda-bold;
					@media(max-width:767px){
						font-size:2rem;
					}
				}
				.store-type{
					.text-center;
					.agenda;
					font-size:1.8rem;
					margin:@gutter 0 0;
					@media(max-width:767px){
						font-size:1.5rem;
						margin:@gutter/5 * 2 0 0;
						line-height:1.3;
					}
					.fa{
						transform: scale(-1, 1);
						color:@secondary-color;
						margin-right:@gutter/5;
						font-size:2.1rem;
						@media(max-width:767px){
							font-size:1.7rem;
						}
					}
					a{
						color:@secondary-color;
						font-size:1.8rem;
						.agenda;
						@media(max-width:767px){
							font-size:1.5rem;
						}
					}
				}
			}
		    .store-map-container{
			    overflow:hidden;
			    .store-map-detail-container{
			    	border-bottom:1px solid @mercury;
			    	padding-bottom:@gutter * 2 - 10;
			    	margin-bottom:@gutter * 2 - 10;
			    	overflow:hidden;
			    	@media(max-width:767px){
						margin:0 0 @gutter;
						padding:0 0 @gutter;
					}
			    }
		    	&.store-selected{
			    	.google-map{
			    		height:@gutter * 9 - 5;
			    		width:@gutter * 9 - 5;
			    		float:left;
			    		margin-right:@gutter * 2 - 10;
			    		@media(min-width:768px) and (max-width:991px){
		    				height:@gutter * 6;
		    				width:@gutter * 6;
		    				margin-right:@gutter;
		    			}
			    	}
			    	.store-locator-btn{
			    		display:none;
			    	}
		    	}
		    	.store-detail-container{
		    		width:~"calc(100% - 525px)";
		    		position:relative;
		    		@media(min-width:768px) and (max-width:991px){
						width:~"calc(100% - 485px)";
	    			}
		    		@media(max-width:767px){
		    			width:100%;
		    		}
		    		.description{
			    		margin:0 0 @gutter * 2 - 10;
			    		@media(max-width:767px){
			    			margin:0 0 @gutter;
			    			line-height:1.3;
			    		}
			    		.title{
			    			font-size:2.4rem;
			    			.agenda-bold;
			    			margin:0 0 @gutter/5 * 2;
			    			@media(max-width:767px){
				    			font-size:2.1rem;
				    			margin:0 0 @gutter/5;
				    		}
				    		.store-icon{
				    			width:@gutter/5 * 7;
				    			height:@gutter;
				    			background:url("{{ themeSettings.sirvResourceImageUrl }}/store-icon.jpg") left top no-repeat;
				    			float: left;
    							margin-right: @gutter/5 + 2;
    							background-size: contain;
				    		}
				    		span{
				    			float:left;
				    			width:~'calc(100% - 42px)';
				    		}
			    		}
			    		p{
			    			.agenda;
			    			font-size:1.6rem;
			    			margin:0 0 @gutter/5 * 2;
			    			@media(max-width:767px){
				    			font-size:1.5rem;
				    		}
			    		}
		    		}
		    		.store-map-link{
		    			.get-direction{
			    			position: absolute;
						    left: -@gutter * 10 - 10;
						    width: @gutter * 9 - 5;
						    height: @gutter * 9 - 5;
						    top: 0;
						    text-indent:-999px;
						    @media(min-width:768px) and (max-width:991px){
			    				height:@gutter * 6;
			    				width:@gutter * 6;
			    				left: -@gutter * 8 + 10
			    			}
					    }
		    		}
		    		.store-list{
		    			margin:0;
		    			padding:0;
		    			list-style:none;
		    			font-size:1.6rem;
		    			.agenda;
		    			.store-list-item{
		    				padding-left:@gutter;
		    				position:relative;
		    				width:100%;
			    			float:left;
			    			&.store-name{
			    				.fa-map-marker{
			    					font-size:2.2rem;
			    					position:absolute;
			    					left:@gutter/5 - 3;
			    					top:@gutter/5 - 1;
			    					color:@secondary-color;
			    				}
			    				span{
			    					.agenda-bold;
			    					margin-right:@gutter/5 * 2 + 3;
			    					
			    					@media(max-width:992px){
			    						width:~"calc(100% - 82px)";
			    						float:left;
			    					}
			    					
			    					@media(max-width:767px){
			    						
			    						padding-right:0;
			    					}
			    				}
			    				a{
			    					color:@secondary-color;
			    					.agenda;
			    					border-left:1px solid @mercury;
			    					padding-left:@gutter/5 * 2;
			    					@media(max-width:767px){
			    						float:right;
			    						border:none;
			    					}
			    				}
			    			}
			    			&.town{
			    				float:left;
			    				width:auto;
			    			}
			    			&.postal-code{
			    				float:left;
			    				padding-left:@gutter/5;
			    				width:auto;
			    				@media(min-width:768px) and (max-width:991px){
			    				 	padding-left:@gutter;
			    				 	width:100%;
			    				}
			    			}
			    			&.phone{
			    				margin-top:@gutter/5 * 2;
			    				width:100%;
			    				float:left;
			    			}
		    			}
		    		}
		    	}
		    }	    
		    .store-detail-container{
		    	float:left;
		    	padding-right:@gutter;
		    	@media(max-width:767px){
		    		border-bottom:1px solid @mercury;
		    		margin:0 0 @gutter;
		    		padding:0 0 @gutter/5 * 3;
		    	}
		    }
		    .need-help-section{
		    	float:left;
		    	margin-top:0;
		    	.subtitle {
				    font-size: 2.1rem;
				    margin: 0 0 @gutter - 15;
				    .agenda-bold;
					.link {
						color: @torchRed;
					}
				}
				p{
					margin:0 0 @gutter/5;
					&.phone-block{
						a{
							color:@primary-color;
							&:hover{
								text-decoration:none;
							}
						}
					}
				}
		    }
		    .no-search-text {
			    padding: 0 0 @gutter 0;
		   		margin: 0;
			}
			.mz-searchbox-field {
			    position: relative;
				overflow: hidden;
				
				.twitter-typeahead {
					width: 100%;
				}
				input {
				    padding-right: @gutter + 15;
			        box-sizing: border-box;
			        &:invalid {
			       	    background: @white;
			        }
				}
				.searchicon {
					display: none;
				}
				.mz-searchbox-button {
				    width: 0px;
				    height: 0px;
				    padding: 0px;
				    border: 0px;
				}
				&:after {
					.material-icons;
					content: "\e8b6";
					position: absolute;
				    right: @gutter - 15;
				    top: @gutter - 15;
				    font-weight: bold;
				    line-height: 1;
				    font-size: 2.2rem;
				}
			}
		}
		.store-locator-btn {
			.btn-medium();
			.new-btn-secondary();
		    margin: 0 0 @gutter + 5;
		}
		.title {
			.agenda-bold;
		    font-size: 2.6rem;
	        margin: 0 0 @gutter - 5;
	        @media (min-width: 768px) {
	        	font-size: 3.4rem;
				margin: 0 0 @gutter + 5;
	        }
		}
			
		.helpblock {
		 color: @primary-color;
		 margin-top: @gutter + 15;
		 border-left:2px solid @mercury;
		 padding-left:@gutter + 10;
		 @media(min-width:768px) and (max-width:991px){
		 	padding-left:@gutter;
		 }
		 @media(max-width:767px){
		 	border:none;
		 	padding:0;
		 	width:100%;
		 }
		 .fa{
		 	color:@secondary-color;
		 	margin-right:@gutter/5;
		 	.text-left;
		 	font-size: 2rem;
	    	width: @gutter - 3;
		 	&.fa-phone{
			 	transform: scale(-1, 1);
			 	.text-right;
		 	}
		 	&.fa-envelope{
		 		font-size:1.6rem;
		 	}
		 }	
		 .contact-link{
		 	color:@secondary-color;
		 	.agenda;
		 	font-size:1.6rem;
		 	&:hover{
		 		text-decoration:none;
		 	}
		 }
		}

	}
	
	.no-search-shop-category{
		.title {
			.agenda-bold;
		    font-size: 3.6rem;
	        margin: 0 0 @gutter - 5;
	        @media (max-width: 767px) {
	        	font-size: 2.1rem;
	        }
		}
		.category-listing{
			.category-thumbnail{
				margin:0 @gutter/5 + 2.5 @gutter/5 * 3;
				border:4px solid @mercury-light;
				overflow:hidden;
				height:@gutter * 5; 
				@media(max-width:767px){
					border-width:3px;
					height:@gutter * 3;
				}
				.category-thumb{
					height:@gutter * 5;
					@media(max-width:767px){
						height:@gutter * 3 - 5;
					}
				}
				.category-name{
					font-size:1.8rem;
					.agenda-bold;
					padding:0 @gutter/5 * 3;
					line-height:1.1;
					display:table;
					height:100%;
					word-break: break-word;
					span{
						display: table-cell;
					    vertical-align: middle;
					    height: 100%;
					    width: 100%;
						text-align: center;
					}
					@media(min-width:768px) and (max-width:991px){
						padding:0 @gutter/5;
					}
					@media(max-width:767px){
						font-size:1.5rem;
						padding:0 @gutter/5;
					}
				}
			}
		}
	}
	
	#mz-drop-zone-rti-most-popular-products{
		[class*='mz-cms-col-'] .mz-cms-content{
			padding:0 @gutter/5;
			.recommended-product-container{
				border-bottom:1px solid @mercury;
				margin:0 0 @gutter/5 * 8;
				.rti-recommended-products-title{
					.text-center;
					margin:0;
					font-size:3.6rem;
					.agenda-bold;
					@media(max-width:767px){
						font-size:2.1rem;
					}
				}
			}
		}
	}
	
	&.french-content{
		.no-search-result{
			.search-box-container {
				.store-map-container{
					.store-detail-container{
						width:~"calc(100% - 565px)";
						@media(min-width:768px) and (max-width:991px){
							width:~"calc(100% - 485px)";
						}
			    		@media(max-width:767px){
			    			width:100%;
			    		}
					}
				} 
			}
		}
	}
}
