#loading-store {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.5;
   background-color: @black;
   z-index: 99999;
   text-align: center;
}

.loader-section {
	background: white;
    position: absolute;
    top: 45%;
    width: 40%;
    z-index: 999999;
    left: 0;
    right: 0;
    margin: auto;
	@media(max-width:767px) {
		top: 35%;
	}
	@media(max-width:560px) {
		width: 75%;
	}
	#loading-image {
	  position: relative;
	  display: block;
	  margin: auto;
	  top: @gutter - 5;
	}

	#loading-image-text {
	  padding: @gutter;
	  text-align: center;
	}
	.page-load-title{
		font-size: 3rem;
	}
}
