.mz-pagesort {
    .mz-pagingcontrols-pagesort-label {
        display: block;
        margin-top: @gutter - 15;
    }
    .mz-pagingcontrols-pagesort-dropdown {
        display: inline-block;
        padding: 2px;
        margin: 0 5px;
    }
    
}

.mz-sortby {
	.desktop-sorting {
		&>a {
	    	display: none;
			@media (max-width: 767px) {
				.agenda-bold;
	    		color: @link-red;
	    		display: block;
	    		span{
	    			font-weight:normal;
	    			margin-top:2px;
	    			float:right;
	    		}
			}
		}
		
		ul {
			li {
				cursor: pointer;
				a {
				    white-space: normal;
				}
			}
		}
	}
	
	.mobile-sorting {
		display: none;
	}
	
	.dropdown {
		&>a {	
			.zmdi-chevron-down {
				.material-icons;
				vertical-align: middle;	
				&:after {					
					content: "\E5CF";
				}
			}
			
		}
		
		strong {
			.agenda-bold;
			@media (max-width: 991px) and (min-width: 768px) {
	       	    display: block;	
	       	    height: 25px;
	        }
		}
	}
}

.filters-facets {
	.desktop-sorting {
		&>a {
			display: none;
		}
	}
	
	.mobile-sorting {
		display: block;
		margin-bottom: @gutter;
   		h4 {
   		font-size: 1.8rem;
        cursor: pointer;
   		position: relative;
   			 &.sorting-title {
   			 	margin: 0;
			    padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
			    border: 1px solid @formInputBorder;
			    span{
			    	.agenda-bold;
			    }
			    small {
       	 		    font-size:1.7rem;
       	 		    color:@mineShaft;
        	 	}
   			 }
   			 
   			 
   			 &:before {
	        	.material-icons;
			    font-weight: normal;
			    font-size: 3.4rem;
			    position: absolute;
			    position: absolute;
			    content: "\E316";
			    margin: 0;
			    right: @gutter/2 - 2.5;
			    top: @gutter - 10;
			    color: @arrowGrey;
	        }	
	        
	        &.collapsed {
        		&:before {
       		 		content: "\E313";	
	        	}
	        }
   		}
   		
   		.sorting-wraper {
		    border: 1px solid @formInputBorder;
			border-width: 0px 1px 1px 1px;
		    max-height: 523px;	
		    overflow: auto;
  				
			.filters-sorting {
				margin: @gutter - 10 @gutter - 10 @gutter - 10 @gutter;	
				
				ul {
				    margin: 0;
				    padding: 0;
				    list-style: none;
				    
				    .radio-list{
				    	position: relative;
    					padding-right: @gutter + 15;
    					margin-top: @gutter - 10;
    					
    					&:first-child {
    						margin-top: 0px;
    					}
    					
    					.radio {
    						position: absolute;
						    top: 0;
						    right: 0;
					        margin: 0
    					}
    					
    					.radio-lebel {
   						    display: block;
						    margin: 0;
						    padding: 4px 0;
						    font-weight: 400;
    					}
				    }
				}
			}
   		}
   	} 
}
