.mz-scrollnav {
	margin:0 0 @gutter;
	@media(max-width:767px){
		margin:0 0 @gutter/2 + 2.5;
	}
	.dropdown-toggle{
		border:1px solid @formInputBorder;
		padding: @gutter/5 * 2 @gutter/5 * 7 @gutter/5 * 2 @gutter/5 * 2;
	}
	.dropdown-menu{
	    padding: 0;
	    margin: 0 @gutter/5 * 3;
	    border-radius: 0;
	    box-shadow: none;
	    border-top: none;
	    width: 92%;
	    border-color: @formInputBorder;
		@media(min-width:768px){
			position: relative;
		    top: 0;
		    display: block;
		    border: none;
		    box-shadow: none;
		    .fullwidth;
		    .no-margin;
	    }
	}
	.mobile-my-account-nav{
		position:relative;
		i{
			position:absolute;
			top:@gutter/5;
			right:0;
			color:@formInputBorder;
			font-size:3.4rem;
		}
	}
	.mz-scrollnav-item{
		.no-margin;
		.mz-scrollnav-link{
			background:@myaccountNavBg;
			padding:@gutter/2 - 1.5 @gutter/2 + 2.5 @gutter/2 - 2.5;
			.agenda;
			font-size:1.6rem;
			color:@mineShaft;
			text-transform:capitalize;
			&:hover{
				text-decoration:underline;
			}
			&:first-letter {
				text-transform:uppercase;
			}
		}
		&.active{ 
			.mz-scrollnav-link{
				.agenda-bold;
				background:@inputBorder;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
}

