body.mz-wishlist.modal-open {
    height: 100vh;
    overflow-y: hidden;
}
.mz-wishlist {
	.agenda;
	.mz-l-pagecontent{
		.no-padding;
		.mz-breadcrumbs{
			.hidden;
		}
		.mz-l-stack-sectiontitle{
			font-size:4rem;
			.agenda-bold;
			margin:@gutter/5 * 8 0 @gutter/5 * 4;
			@media (max-width: 1024px) {
		        font-size:3rem;
		    }
		}
	}
	.emailMessage{
		margin: @gutter;
	}
	#wishlist-success-message{
		.text-center;
		font-size:1.6rem;
		.agenda;
		margin:@gutter * 3 auto;
		padding:0 @gutter/2 + 2.5;
		max-width:@gutter * 10;
		h3{
			.agenda-bold;
			font-size:2.4rem;
			margin:0 0 @gutter/2 + 2.5;
		}
		p{
			margin:0 0 @gutter/2 + 2.5;
			&:nth-child(3){
				padding:@gutter/2 + 2.5 0;
			}
		}
		.signin-link{
			color:@torchRed;
		}
		.signup-link-button{
			.btn-red();
			.new-btn-primary();
			padding:@gutter/2 - 2.5 @gutter/2 + 2.5;
			&:hover, &:focus{
				text-decoration:none;
			}
		}
		
	}
	.wishlist-items-container {
		margin-bottom: @gutter + 15;
		.wishlist-items{
			.no-padding;
			.no-margin;
			list-style-type:none;
			.wishlist-item{
				.flex-display(flex);
				.flex-wrap(wrap);
				border-bottom:1px solid @mercury;
				padding:@gutter/5 * 7 @gutter/2 + 2.5;
				
				.removed-item-name{
					color:@torchRed;
				}
				
				.wishlist-added-to-cart{
					display:none;
				}
				
				&.added-to-cart-item{
					background:rgba(125, 167, 217, 0.1);
					.wishlist-added-to-cart{
						display:inline-flex;
						font-size:1.7rem;
						.agenda-bold;
						margin:0 0 @gutter - 5;
						.fullwidth;
						i{
							font-size:2rem;
							margin-right:@gutter/5;
						}
					}
				}
				
				.product-tile-list{
					margin:0 0 @gutter;
					@media(min-width:768px){
						width: 50%;
					    .no-margin;
					    padding-right: @gutter + 5;
					}
					
					.product-tile, .product-tile-content{
						display: table-cell;
		    			vertical-align: top;
		    			@media(min-width:768px){
		    				width:50%;
		    			}
					}
					.product-tile{
						.print-image{
							display:none;
						}
						@media(min-width:768px){
							padding:0 @gutter/5 * 3 0 0;
						}
						img{
							.fullwidth;
							@media(max-width:767px){
								max-width:@gutter * 10;
								padding-right:@gutter/5 * 3;
							}
						}
					}
					.product-tile-content{
						@media(min-width:768px){
							padding:0 0 0 @gutter/5 * 3;
						}
						.product-tile-title{
							font-size:1.6rem;
							margin:0 0 @gutter/5 * 2 - 2; 
							a{
								text-decoration: none;
							}
						}
						.product-code{
							font-size:1.6rem;
							margin:0 0 @gutter/5;
						}
						.product-tile-brand{
							margin:@gutter/5 * 2 0 0;
							.agenda-bold;
						}
					}
				}
				
				//Quantity section
				.wishlist-item-quantity{
					border-top: 1px solid @mercury;
		    		border-bottom: 1px solid @mercury;
		    		.text-right;
				    padding:@gutter/5 * 3 0;
				    margin: 0 0 @gutter/5 * 3;
				    font-size:1.6rem;
				    .agenda;
				    .fullwidth;
		    		@media(min-width:768px){
					    width: 25%;
					    padding: 0 @gutter/5 * 3 0 0;
					    .no-margin;
					    .no-border;
		    		}
		    		.form-element{
		    			display:inline-block;
		    			.quantity-label{
		    				vertical-align:top;
		    				display:inline-block;
		    				font-weight:normal;
		    				margin-top:@gutter/5 + 3;
		    				@media (min-width: 1200px){
		    					margin:@gutter/5 + 3 @gutter/5 * 2 0 0;
		    				}
		    				@media (min-width: 768px){
		    					margin:@gutter/5 + 3 @gutter - 5 @gutter/5 * 2 0;
		    				}
		    			}
		    			.quantity-input{
		    				display:inline-block;
		    				.quantity-input-button{
		    					color:@torchRed;
		    					font-size:2.6rem;
		    					&.is-disabled{
		    						color:@iconDisabled;
	   						    	pointer-events: none;
		    					}
		    					span{
		    						margin:@gutter/5 + 3 0 0;
		    						float:left;
		    					}
		    				}
		    				.quantity-input-field{
		    					float:left;
							    vertical-align: middle;
							    -webkit-appearance: textfield;
							    -moz-appearance: textfield;
							    appearance: textfield;
							    border: 1px solid @formInputBorder;
							    font-size: 1.6rem;
							    line-height: 1.6rem;
							    padding: @gutter/2 - 1.5 @gutter/2 - 2.5 @gutter/5 + 3;
							    width: @gutter * 2 + 10;
							    text-align: center;
							    margin: 0 @gutter/2 + 2.5;
		    				}
		    			}
		    			
		    		}
				}
				
				// Price details
				.wishlist-item-details{
					.text-right;
					font-size:1.6rem;
					.agenda;
					.fullwidth;
					position:relative;
					@media(min-width:768px){
						width: 25%;
		    			padding-left: @gutter/5 * 3;
		    		}
		    		.wishlist-item-price{
		    			.is-saleprice{
		    				display:block;
		    			}
		    		}
		    		.wishlist-item-total{
		    			strong{
		    				font-weight:normal;
		    				.agenda-bold;
		    				margin: @gutter/5 * 3 0 0;
		    				display:inline-block;
		    				font-size:1.7rem;
		    			}
		    			.ehf-cost {
		    				margin-top: @gutter - 10;
		    				display: block;
		    			}
		    		}
		    		.wishlist-item-links{
		    			margin:@gutter/2 + 2.5 0 0;
		    			@media(min-width:768px){
		    				position:absolute;
		    				bottom:0;
		    				right:0;
		    			}
		    			a{
		    				color:@link-red;
		    			}
		    			
		    			a + a{
		    				margin:@gutter/2 + 2.5 0 0 @gutter - 5;
		    			}
		    		}
				}
				
			}
		}
	}
	.aeroplan-section-wishlist {
		margin-bottom: @gutter - 5;
		border: solid 1px @aeroplanBorder;		
		.aeroplan-miles-info {
			.agenda;
			text-align: center;
		    background: @white;
		    padding: @gutter + 5 @gutter - 10 @gutter - 10;
			@media (min-width: 1200px) {
				padding-left: @gutter * 4;
				padding-right: @gutter * 4;
			}
			@media (min-width: 992px) and (max-width: 1199px) {
				padding-left: @gutter * 3 - 3;
				padding-right: @gutter * 3 - 3;
			}
			@media (min-width: 768px) and (max-width: 991px) {
			    padding-left: @gutter + 15;
				padding-right: @gutter + 15;
			}
			.aeroplan-miles-info-lead {
				font-size: 3rem;
				line-height: 1;
				
				.miles {
					.agenda;
					font-size: 4rem;
			    	color: @milesColor;
			    	vertical-align: middle;
					@media (min-width: 768px) {
						font-size: 4.4rem;
					}
				}
			}
		}
		.backgrount-img{
			height: 30px;
			margin-left: 22px;
			.aeroplan-miles-print {
				float: left;
			}
			.aeroplan-text-section {
				float: left;
				position: relative;
				bottom: 2px;
				left: 5px;
			}
			&.EarnAeroplanMiles-icon{
			background-size: 102px;
			height: 27px;
			margin: 11px 0;
			width: 209px;
			}
			@media (min-width: 768px) { 
				height: 27px;
                background-size: 120px 205px;
				margin-left: 224px;
			}
			@media (min-width: 768px) and (max-width: 812px){ 
				height: 27px;
                background-size: 120px 205px;
				margin-left: 120px;
			}
			 /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
			 @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
				margin-left: 50px;
			  }
			@media (max-width: 767px) { 
				height: 27px;
				background-size: 121px 200px;
				margin-left: -50px;
				position: relative;
				left: 50%;
			}
			content: "";
			display: inline-block;
			margin-bottom: @gutter - 10;
			height: @gutter * 2;
			background-position: 0px  center;
			background-repeat: no-repeat;
			background-size: @gutter * 4 @gutter * 2;
		}
		.link-name {
			text-decoration: underline;
			color: @radioBg;
			font-size: 14px;
			font-weight: 500;
		}

		a {
			padding-bottom: 20px;
			display: block;
			&:hover {
				text-decoration: none;

				.link-name {
					color: @brand-red;
				}
			}
		}
}
	.mz-itemlisting-prompt{
		.fullwidth;
		padding:@gutter/2 + 2.5;
		margin:@gutter/2 + 2.5 0;
		font-size:1.6rem;
		.agenda;
		.actions{
			margin:@gutter/5  0;
			a{
				color:@link-red;
				&:first-child{
					margin-right:@gutter;
					@media (max-width: 767px){
            			display: block;
           				 }
					}
			   }
			}
		}
	//wishlist results
	.wishlist-results-container{
		border-top:1px solid @mercury;
		border-bottom:1px solid @mercury;
		background:@light-grey;
		font-size:1.6rem;
		.agenda;
		.wishlist-result-option{
			padding: @gutter/2 + 2.5 0 @gutter/2 - 2.5;
			@media (min-width: 768px){
				.flex-display(flex);
				-webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    padding: @gutter/2 - 2.5 0;
			}
			@media(max-width:767px){
				overflow:hidden;
			}
			.sort-and-filter{
				color:@link-red;
				.agenda-bold;
				font-size:1.6rem;
				span{
					margin: @gutter/5 - 2 0 0;
					float:right;
				}
			}
			.result-options-link{
				line-height: 1.5; 
	    		margin-left: auto;
	    		@media(max-width:767px){
	    			float:left;
	    			margin:0 0 @gutter/2 - 2.5;
	    		}
	    		a{
	    			color:@link-red;
	    			.agenda-bold;
	    			font-size:1.6rem;
	    		}
			}
			.mz-sortby{
				line-height: 1.5;
				a{
					&:hover,&:focus{
				 		text-decoration: none;
				 		span{
				 			text-decoration:underline;
				 		}
					}
				}
				@media (min-width: 992px){
					line-height: @gutter/5 * 8;
				}
				strong{
					.agenda-bold;
					font-weight:normal;
					display:inline;
				}
				.dropdown-menu{
					border-radius:0;
				}
			}
			
			.checkbox-filters{
				.flex-display(flex);
			    .flex-wrap(wrap); 
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    margin-left: @gutter/5 * 8;
			    @media(max-width:767px){
			    	.no-margin;
			    	float:left;
			    	.fullwidth;
			    }
			    .checkbox-wrap{
			    @media (max-width: 767px) {
                        margin-top: @gutter - 22;
                        margin-bottom: @gutter - 22;   
                    }
			    
			    	&:first-child{
			    		margin-right:@gutter/2 - 2.5;
			    	}
			    }
			}
		}
	}
	
	//Wishlist filter
	
	.filters {
	    padding: 50px 0;
	    @media(min-width:768px){
	    	.hidden
	    }
		@media (max-width: 767px) {
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: white;
		    z-index: 10;
		    padding: 0 @gutter - 10;
		    display: none;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		}
		
		
		&.open {
			display: -webkit-box;     
            display: -moz-box;         
            display: -ms-flexbox;     
            display: -webkit-flex;     
            display:flex;
            z-index: 200;
		}
		
		.filters-menu {
			padding: @gutter - 10;
		    margin: 0 -15px;
		    border-bottom: 1px solid @formInputBorder;
		    
		    @media (min-width: 768px) {
		    	display: none;
		    }
		    
	    	    color: @torchRed;
				line-height: 40px;
		    }
		    
		    .filter-button {
		    	.btn-red();
		    	.btn-medium();
	    	    float: right;
	    	    .agenda-bold;
	    	    .fullwidth;
		    }
		    
		   
		}
		
		.filters-facets{
			-webkit-box-flex: 1;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		    padding: @gutter + 5 @gutter - 10;
		    margin: 0 -15px;
		    overflow: auto;
		    @media (min-width: 768px) {
			    padding: 0;
			    margin: 0;
			}
			&>h3 {
			    .agenda-bold;
			    font-size: 1.8rem;
			    margin: 0 0 @gutter - 8 0;
			    .text-uppercase;
			}
			.filter-list{
				.no-padding;
				.no-margin;
				list-style-type:none;
				li{
					.fullwidth;
					.no-margin;
					float:left;
					.radio {
						margin-top: 0px;
					}
					label{
						font-size:1.6rem;
						.agenda;
						font-weight:normal;
					}
					.radio{
						.radio-label-inside{
							position:relative;
							&:after{
								position: absolute;
    							left: 1.6px;
    							top: 0;
							}
						}
					}
					
				}
			}
		}			
			//End filter code
			
	.print-wishlist-container{
		margin:@gutter - 5 0;
		@media(min-width:768px){
			.text-right;
			padding: 0;
		}
		.btn-text {
		  color: @color-black;
		  .agenda;
		  font-size: 18px;
		  font-weight: 600;
		  letter-spacing: 0;
		  .underline-animation(@color-primary-red);
		  i, svg {
		    color: @color-primary-red;
		    margin-left: 5px;
		  }
		  &:hover {
		    color: @color-primary-red;
		  }
		}
		.printorder-email {
			color:@torchRed;
			display:inline-flex;
			background: transparent;
    		border: none;
			i{
				width:@gutter - 1;
				.text-center;
				margin-right: 8px;
			}
			&:hover, &:focus, &:active{
				text-decoration:none;
				span{
					text-decoration:none;
				}
			}
			.material-icons { 
				font-size: 23px;
			 }
		}
		.printorder-email.disabled {
			cursor: not-allowed;
		}
		a{
			color:@torchRed;
			display:inline-flex;
			&:first-child{
				margin-right:@gutter/2 + 2.5;
			}
			span{
				margin-left:@gutter/2 - 2.5;
			}
			i{
				font-size:2.4rem;
				width:@gutter - 1;
				.text-center;
			}
			&:hover, &:focus, &:active{
				text-decoration:none;
				span{
					text-decoration:none;
				}
			}
		}
	}
	//Empty wishlist
	.empty-wishlist-container{
		display:none; 
		background:@myaccountNavBg;
		padding-bottom:@gutter * 3;
		.empty-list-content{
			.agenda;
			font-size:1.6rem;
			p{
				margin: 0 0 @gutter/2 - 2.5;
				a{
					color:@torchRed;
					font-size:2.2rem;
					margin: 0 0 0 @gutter/5; 
				}
			}
		}
		
	}
	.print-section{
		display:none;
	}
	#wishlisttostore-modal-container, #wishlist-email-modal-container {
		.modal-dialog {
			@media (min-width: 768px) {
    			width: 599px;
			}
		}

		.modal-header {
			padding: 0;
    		border-bottom: 0;
    		.close {
			    margin-top: -2px;
			    position: absolute;
			    right: 0;
			    padding: 5px;
				/** iPhone XR 1792 x 828px at 326ppi */
				@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {
					padding: 1px;
				}
				/** iPhone XS 2436 x 1125px at 458ppi */
				@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait){
					padding: 1px;
 				}
				/** iPhone 12 and iPhone 12 Pro 2532x1170 pixels at 460ppi */
				@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait){
					padding: 0.2px;
				} 
				/** iPhone 12 Mini 2340x1080 pixels at 476ppi */
				@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
					padding: 0.2px;
				} 
				/** iPhone 11 Pro Max and iPhone Xs Max 2688 x 1242px at 458ppi */
				@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
					padding: 0.5px;
				}
				/** iPhone X 1125 x 2436 px */
				@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
					padding: 0,3px;	
	 			}
				/** iPhone 6S 750 x 1334 px */ 
				@media only screen and (min-width: 375px) and (orientation: portrait) {
					padding: 0.3px;
				}  

			}
			.modal-title {
				background-color: @errorText;
	    		padding: 14px 30px;
	    		height: 75px;
				/** iPhone XR 1792 x 828px at 326ppi */
				@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait)  {
					padding: 15px 13px;	
					height: 88px;
					line-height: 0.6;
				}
				/** iPhone XS 2436 x 1125px at 458ppi */
				@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait){
					padding: 17px 13px;	
					height: 76px;
					line-height: 0.5;
 				}
				/** iPhone XS Max 2688 x 1242px at 458ppi */
				 @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait){
					padding: 15px 13px;	
					height: 88px;
					line-height: 0.6;
				} 
				/** iPhone 12 and iPhone 12 Pro 2532x1170 pixels at 460ppi */
				@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait){
					padding: 17px 13px;	
					height: 76px;
					line-height: 0.5;
				}
				/** iPhone 12 Pro Max 2778x1284 pixels at 458ppi*/ 
				@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
					padding: 17px 13px;	
					height: 76px;
					line-height: 0.5;
				}
				/** iPhone 12 Mini 2340x1080 pixels at 476ppi */
				@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
					padding: 17px 13px;	
					height: 76px;
					line-height: 0.5;
				} 
				/** iPhone 11 Pro Max and iPhone Xs Max 2688 x 1242px at 458ppi */
				@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
					padding: 17px 13px;	
					height: 80px;
					line-height: 0.5;
				}
				/** iPhone X 1125 x 2436 px */
				@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
					padding: 11px 13px;	
					height: 83px;
					line-height: 0.5;	
	 			}
				/** iPhone 6S 750 x 1334 px */ 
				@media only screen and (min-width: 375px) and (orientation: portrait) {
					padding: 12px 19px;	
					height: 77px;
					line-height: 0.6;
				}
				/** iPad Pro 1024 x 1253 Media Query */ 
				@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
					padding: 18px 25px;
				}
				/** iPad Air 1024 x 1253 Media Query */
				@media only screen and (min-width: 768px) and (orientation: portrait) {
					padding: 18px 23px;
				}
			
	    		.agenda;
			    color:@white;
			    font-size: 4.5rem;
			    font-weight: 900;
			    line-height: 0.5;
				text-align: center;
				/* Apple iPhone XR 414 x 896 media query */
				@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
					padding-top: 13px;
					height: 67px;
				} 
				/** iPhone 12 Mini, iPhone 11 Pro, iPhone Xs, and iPhone X 375 x 812 media query*/
				@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
					padding-top: 13px;
					height: 67px;
				}
				/** iPhone 12 and iPhone 12 Pro 390 x 844 media query*/ 
				@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 
					padding-top: 13px;
					height: 67px;
				}
				/** iPhone 12 Pro Max 428 x 926 media query*/ 
				@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
					padding-top: 13px;
					height: 67px;
			 	}
				/** iPhone 11 Pro Max 414 x 896 media query*/
				 @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
					padding-top: 13px;
					height: 67px;
	 			}
				a#store-branding {
				    float: left;
				    width: 45px !important;
				    height: 40.909090909px;
				    margin-right: 0px;
				    background-position: center center;
				    background-repeat: no-repeat;
				    background-size: contain;
				    text-indent: -99999px;
				}
				.modal-text{
					position: relative;
					font-weight: 700;
					font-size: 3rem;
					margin-right: 48px;
					top: 7px;
					/** iPhone X 1125 x 2436 px */
					@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
						top: -6px;	
	 				}
					 /** iPhone 8 plus media query */
					 @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3)and (orientation : portrait) {
						 margin-right: 13px;
					  }
					  /** iPhone 8 media query */
					  @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {
						margin-right: 7px;
					   }   
				}
				.modal-text-fr{
					position: relative;
					font-size: 3rem;
					font-weight: 700;
					margin-right: 13px;
					top: 7px;
					/* Apple iPhone XR 414 x 896 media query */
					@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
						top:-10px;
					} 
					/** iPhone 8 media query */
					@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {
						top:-3px;
					}
					/** iPhone 8 plus media query */
					@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3)and (orientation : portrait) {
						top:-2px;
					}
					/** iPhone 12 Mini, iPhone 11 Pro, iPhone Xs, and iPhone X 375 x 812 media query*/
					@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
						top:-7px;
					}
					/** iPhone 12 Pro Max 428 x 926 media query*/ 
					@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait) {
						top:-5px;
						margin-right: 13px;
			 		}
					/** iPhone 11 Pro 2436x1125px at 458ppi media query*/ 
					@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait){
						top:-9px; 
					} 
					/** iPhone XS Max 2688 x 1242px at 458ppi */
					@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait){
						top:-7px;
					} 
					/** iPhone XS 2436 x 1125px at 458ppi */
					@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait){
						top:-8px;
 					}	
					
				}	
			}
		}
		.modal-body{
			.font{
				font-size: 2rem;
				font-weight: 700;
				}
		}
		.wishlist-form {
			.form-field {
				padding-bottom: 10px;
				label {
					p {
						font-weight: normal;
					}
				}
				.form-control {
					font-size: 1.6rem;
				}
			}
			@media (min-width: 1200px){
				.col-lg-12 {
				width: 100%;
				margin-top: 1rem;
				}
			}
			.modal-sucess  {
				background: rgba(0, 0, 0, 0.45);
				display: none;
				left: 0;
				position: fixed;
				right: 0;
				top: -9px;
				bottom: 0;
				width: auto !important;
				z-index: 1500;
				padding-top: 5rem;	
			  }
			  
			  /* Modal Content */
			  .modal-content-success {
				background-color: #fefefe;
				margin: auto;
				padding: 9px;
				border: 1px solid #888;
				width: 59%;
			    margin-top: 30rem;
				position:-webkit-sticky;
				position:sticky;  
				top:30%; 
			  }
			  
			  /* The Close Button */
			  .close1 {
				color: #aaaaaa;
				float: right;
				font-size: 25px;
				font-weight: bold;
			  }
			  
			  .close1:hover,
			  .close1:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			  }

			  .closemodal {
				color: #aaaaaa;
				float: right;
				font-size: 25px;
				font-weight: bold;
			  }
			  
			  .closemodal:hover,
			  .closemodal:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			  }
			  .para{
			  text-align:center;
			  font-size: 40px;
			  color:red;
			  margin-top: 20px;
			  }
			  .parag{
				text-align:center;
				font-size: 25px;
				line-height: 0;
				color: black;
				font-size: clamp(2rem, 3vw, 3rem);
			  }
			  .paragr{
				text-align:center;
				color: black;
			  }

		}
		.wishlist-items-container {
			margin-bottom: 15px;
			@media(max-width:767px){
				.wishlist-item {
				padding: 35px 0px;
				}
			}
			.wishlist-chk-error {
				color:@torchRed;
				font-weight:bold;
				text-align: center;
    			padding-top: 10px;
			}
			.product-tile-list {
				width: 100%;
				.wishlist-section {
					display: inline-block;
				}
				.wishlist-checkbox {
				    float: left;
				    display: inline-block;
				    margin-right: 10px;
				    height: 16px;
					width: 16px;
					opacity: 0;
				    margin: 0px !important;
				    visibility: unset !important;
				    z-index: 10000;
				}
				.wishlist-store-checkbox {
				    float: left;
				    display: inline-block;
				    margin-right: 10px;
				    height: 16px;
					width: 16px;
					opacity: 0;
				    margin: 0px !important;
				    visibility: unset !important;
				    z-index: 10000;
				}
				.checkbox-label-inside {
					display: block;
					width: 16px;
				    height: 16px;
				    min-height: 16px;
				    border-radius: 2px;
					&:after {
						font-size: 1.6rem !important;
			    		line-height: 16px !important;
					}
				}
				.wishlist-checkbox:checked+.checkbox-label-inside {
				    border: none;
				}
				.wishlist-store-checkbox:checked+.checkbox-label-inside {
				    border: none;
				}
				.checkbox-label-inside:after {
				    font-size: 1.6rem !important;
				    line-height: 16px !important;
				}
				.wishlist-checkbox:checked+.checkbox-label-inside:after {
					background-color: @torchRed;
					color: @white;
					border-radius: 3px;
				}
				.wishlist-store-checkbox:checked+.checkbox-label-inside:after {
					background-color: @torchRed;
					color: @white;
					border-radius: 3px;
				}
				.product-tile {
					width: 25%;
    				padding: 5px;
				    border: 1px solid @formInputBorder;
					display: inline-block;
				    @media(max-width:767px){
				    	width: 20%;
				    }
				    img {
					    padding-right: 0;
					}
				}
				.product-tile-content {
					padding: 0 0 0 25px;
					display: inline-block;
					@media(max-width:767px){
						padding: 0 0 0 10px;
						width: 68%;
					}
					.product-tile-title {
						.product-badge {
							top: 0;
							padding: 2px 5px;
						}
					}
				}
			}
			.wishlist-item-details {
				width: 100%;
				text-align: left;
				padding-left: 0;
			}
		}
		.send-email{
			background: @white;
    		padding: 10px 30px;
    		margin: 0 auto;
    		position: relative;
    		left: 37%;
			@media(max-width:767px){
    			left: 30%;
    		}
		}
		#wishlist-loading, #wishlist-store-loading {
		    width: 100%;
		    height: 100%;
		    position: fixed;
		    z-index: 1000;
		    text-align: center;
		    top: 0;
		    left: 0;
		    background-color: rgba(0,0,0,0.7);
		    content: "";
		    opacity: 1;
			.loading-image {
			    width: 150px;
			    margin: 10px auto;
			}
		}
	}
}
.french-content {
	.print-wishlist-container{
		@media(max-width:768px){
			font-size: 1.6rem;
			padding: 0;
		}
		.btn-text {
		  color: @color-black;
		  .agenda;
		  font-size: 18px;
		  font-weight: 600;
		  letter-spacing: 0;
		  .underline-animation(@color-primary-red);
		  i, svg {
		    color: @color-primary-red;
		    margin-left: 5px;
		  }
		  &:hover {
		    color: @color-primary-red;
		  }
		}
	}
}
@media print {
.mz-wishlist{
	.mz-pagefooter,.recently-viewed-section, .wishlist-header, .wishlist-results-container, .header-container{
		.hidden;
	}
	.mz-l-pagewrapper{
			#mz-drop-zone-rti-observer{
				.hidden;
		    }
			.mz-l-pagecontent{
				#mz-drop-zone-rti-customers-also-bought{
					.hidden;
				}
			}
		}
	.print-section{
		display:block !important;
		font-size:1.6rem;
	}
	.wishlist-use-container{
		.fullwidth;
		border-bottom:1px solid @storeResultBorder;
		padding-bottom:@gutter - 20 ; 
		h1{
			margin-top:@gutter;
		}
	}
	
		.store-detail-cont{
			.fullwidth;
			border-bottom:1px solid @storeResultBorder;
			padding-bottom:@gutter;
			
			.top-container{
				float:left;
				margin-right:@gutter;
			}
			.store-list{
				padding:0 0 0 @gutter - 5;
				list-style:none;
			}
		}
	
	
	.wishlist-items-container {
		.wishlist-items{
			.wishlist-item{
				padding:@gutter/5 * 4 @gutter/2 + 2.5;
			 	 .wishlist-item-details, .wishlist-item-quantity{
			 	 	.hidden;
			 	}
			 	.product-tile-list{
					 margin-bottom: 0;
				 	 .product-tile{
				 	 	.print-image{
							  display:block;
							  width:@gutter * 5 - 5;
				 	 	}
					 	a.product-tile-image{
				 	 		display:none;
				 	 	}
				 	 	 img{
					 		width:@gutter * 5 - 5 ;
							 clear:right;
							
				 		}
				 	}
			 	}
			}
		}
	}
	.aeroplan-section-wishlist{
		text-align:left;
		.aeroplan-miles-info{
			padding:0;
			text-align:left;
			border:none !important;
			width:100%;
			float:left;
			&:after{
				display:none;
			}
			.aeroplan-miles-info-lead{
				.text-left;
				br{
					.hidden;
				}
			}
		}
		.backgrount-img {
			position: relative;
			top: 4px;
			left: 140px;
		}
	}
}
}