nav.hhMainNav {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
	background: #fff;
	font-size: 1.15em;
	font-weight: 600;
}
nav.hhMainNav ul {
	list-style: none;
	display: flex;
	align-items: flex-end;
	max-width: calc(1300px + 2em);
	margin: 0 auto;
}
nav.hhMainNav li {
	margin: 0 1em;
}
nav.hhMainNav a {
	color: #000;
	display: flex;
	align-items: center;
	padding: 1.25em 0;
	border-bottom: 2px solid transparent;
}
nav.hhMainNav a:hover {
	text-decoration: none;
	border-bottom: 2px solid #e4002b;
}
nav.hhMainNav svg {
	font-size: 1.6em;
	margin-right: .2em;
}

@media screen and (max-width: 900px) {
	nav.hhMainNav ul {
	margin: auto;
	}
	nav.hhMainNav li {
	margin: .5em 0 .5em 1em;
	}
	nav.hhMainNav svg {
	display: none;
	}
}

@media screen and (max-width: 680px) {
	nav.hhMainNav {
	display: none;
	}
}

/* fix breadcrumbs background */
body.mz-product .mz-breadcrumbs,
body.mz-product .mz-breadcrumbs * {
	background: transparent !important;
}