.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--starsize);
    padding-top:0px !important;
}

.stars::before {
    content: '★★★★★';
    background: linear-gradient(90deg, #e4002b var(--percent), #ccc var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.rating-tab a:hover{text-decoration: none !important}
#QuickviewModal .rating-tab span{display:none !important}

.mz-productlisting-info .lnkstars {text-decoration: none}