.certona-container{
    font-size:16px;
    .certona-regular-product2_rr.slick-slider {
		.slick-list {
			@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
				margin-left: @gutter/2 + 0.5;
			}
		}
	}
    .certona-title{
        .text-center;
        .agenda-bold;
		font-size:3rem;
		margin-top:0;
		padding:@gutter/5 * 3 0;
    }
	.certona-regular-addtocart1_rr.slick-slider {
		.slick-track {
			.slick-slide {
				@media (min-width: 1024px) {
                	width:172px; 
                }
                @media only screen and (max-device-width: 1023px) and (min-device-width: 768px) and (orientation: portrait) {
                	width: 158px;
                }
			}
			.mz-productlisting {
				.mz-productlisting-image {
					@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) and (orientation: portrait) {
						width: 115px;
					}
				}
			}
		}
		.slick-prev, .slick-next {
			margin-top: -@gutter * 5;
		}
	}
    .slick-slider {
		@media (max-width: 767px) {
	        padding: 0;
	    }
	    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	    	margin-right: @gutter - 5;
    		margin-left: @gutter/2 + 0.5;
	    }
		.slick-prev, .slick-next {
			height: @gutter - 3;
    		width: @gutter - 3;
    		background: @torchRed;
    		color:@white;
    		top: 50%;
    		.border-radius(15px);
    		@media (max-width: 767px) {
		        top: 36%;
		    }
		    @media (max-width: 767px) and (orientation:landscape){
		    	display: none!important;
		    }
		    @media (max-width: 1024px) {
            	margin-top: -@gutter*3 - 5;
            }
            @media (min-width: 1200px) {
            	margin-top: -@gutter*3;
            }
		    @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
		    	margin-top: -60px;
		    }
		}
		.slick-prev:before, .slick-next:before {
    			.material-icons;
    		font-size: 2.2rem;
    		color: @white;
    		opacity:1;
    		@media (max-width: 767px) and (orientation:landscape){
		    	display: none!important;
		    }
		}
		.slick-prev {
		    left:0;
			margin-top: -@gutter*2 - 10;
			margin-left: @gutter - 9;
			&:before {
				content: "\E314";
				font-size: 24px;
				font-weight: 600;
		        &[dir="rtl"] {
		            content: "\E314";
		        }
		    }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
		    	margin-left: 0px;
		    	margin-top: -75px;
		    	left: 3px;
		    }
		}
		.slick-next {
		    right: 50px;
			padding-left: 2px;
		    margin-right: -@gutter + 10;
		    margin-top: -@gutter*2 - 10;
		    @media (max-width: 991px) {
		    	margin-right: 0;
		    	right: @gutter - 10;
		    }
		    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
		    	right: -5px;
		    	margin-top: -75px;
		    }
		    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
		    	margin-right: 0;
		    	right: 15px;
		    }
			&:before {
				content: "\E315";
				font-size: 24px;
				font-weight: 600;
				margin-left: -1px;
		        &[dir="rtl"] {
		            content: "\E315";
		        }
		    }
		    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
		    	margin-right: 0;
		    }
		}
		.slick-disabled{
			background:@iconDisabled;
		}
		.slick-slide{
			&:focus {
   				 outline: none;
			}
		}
		.slick-list {
			margin-left: @gutter + 17;
			margin-right: @gutter * 2 + 11;
			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
            	margin-right: @gutter - 5;
            	margin-left: @gutter + 10 !important; 
            }
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
				margin-right: @gutter*2;
				margin-left: @gutter + 8;
			}
			@media (min-width: 767px) and (max-width: 991px) {
				margin-right: 36px;
    			margin-left: 32px;
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
			    margin-left: @gutter - 2;
    			margin-right: @gutter + 1;
            }
            @media (max-width: 767px) {
                margin-left: @gutter/2 + 3;
    			margin-right: @gutter + 10;
            }
			@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
				margin-right: @gutter;
				margin-left: @gutter/2 + 2.5;
			}
		}
		.slick-track {
			&:after {
				display: inline-block;
			}
			.slick-slide {
				height: 100%;
                -webkit-backface-visibility: hidden;
                width: 276px;
                @media only screen  and (min-width : 1366px) {
					width: 276px;
				}
                @media (max-width: 767px) {
                	width: 280px;
                }
                @media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
                	width: 242px;
                }
                @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
	            	width: 179px; 
	            }
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
                	width: 226px;
                }
                @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	            	width: 175px;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	width: 226px;
	            }
				&.bannerMaintainImg{
					position:static !important;
				}
				img{
					width: 100%;
				}
				.tabImg {
			        position: absolute;
				    width: 25%;
				    right: auto;
			        top: -@gutter*11 - 3;
			        @media (max-width: 1024px) and (min-width: 768px) {
			            top: 0;
			        }
			        @media (max-width: 767px) {
			            top: 0;
			            height: @gutter*12 - 3;
			        }
			    }
			    .slick-initialized & {
			        height: @gutter*14 + 1;
			        position: relative;
			        overflow: hidden;
			    }
			    
			}
			.mz-productlisting {
				border-bottom: none;
				.current-product-banner {
                    display: none;
                }
				.mz-productlisting-image {
					@media (max-width: 767px) {
					    width: 250px;
					}
					.image-wrap {
						.showSaleTag {
							@media (max-width: 767px) {
								bottom: 1px;
							}
						}
					}
				}
			}
		}
    }
    .certona-regular-nosearch1_rr.slick-slider,.certona-regular-cart1_rr.slick-slider,.certona-regular-cart2_rr.slick-slider, .certona-regular-wishlist1_rr.slick-slider, .certona-regular-product2_rr.slick-slider, .certona-regular-product3_rr.slick-slider, .certona-regular-product1_rr.slick-slider {
    	.slick-track {
			.slick-slide {
				width: 264px;
				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
					width: 235px;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	            	width: 175px;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	width: 238px;
	            }
	            @media (max-width: 767px) {
                	width: 250px !important;
                }
			}
			.slick-next {
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	margin-top: -@gutter*3 - 5;
	            }
			}
			.mz-productlisting {
				.mz-productlisting-image {
					@media (max-width: 767px) {
					    width: 230px !important;
					}
				}
			}
		}
    }
    .certona-regular-emptycart1_rr.slick-slider {
    	.slick-track {
			.slick-slide {
				width: 264px;
				@media only screen  and (min-width : 1366px) {
					width: 264px !important;
				}
				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
					width: 235px;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	            	width: 192px;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	width: 260px;
	            }
	            @media (max-width: 767px) {
                	width: 250px !important;
                } 
                @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
					width: 250px;
				}
			} 
			.slick-next {
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	margin-top: -@gutter*3 - 5;
	            }
			}
			.mz-productlisting {
				.mz-productlisting-image {
					@media (max-width: 767px) {
					    width: 230px !important;
					}
				}
			}
		}
    } 
    .certona-regular-nosearch_rr.slick-slider {
    	.slick-track {
			.slick-slide {
				width: 264px;
				@media only screen  and (min-width : 1366px) {
					width: 264px !important;
				}
				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
					width: 235px;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	            	width: 164px;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	width: 218px;
	            }
	            @media (max-width: 767px) {
                	width: 250px !important;
                } 
                @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
					width: 220px;
				}
			}
			.slick-next {
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	margin-top: -@gutter*3 - 5;
	            }
			}
			.mz-productlisting {
				.mz-productlisting-image {
					@media (max-width: 767px) {
					    width: 230px !important;
					}
				}
			}
		}
    }
    
    .mz-productlisting .mz-productlisting-info {
    	.mz-price{
        	.agenda-bold;
        }
        .is-saleprice {
	        .selling-unit{
				color:@torchRed;
			}
		}
		.product-details{
			width: auto;
		}
    }
    .mz-productlisting .mz-productlisting-info .mz-productlisting-title{
        min-height:@gutter/5 * 7;
        width:100%;
        @media (max-width: 767px) {
        	min-height:@gutter*2 - 5;
        	padding-top: @gutter/2 - 2.5;
        }
    }
    .certona-regular-search_rr.slick-slider, .certona-regular-category_rr.slick-slider {
    	.slick-prev, .slick-next {
    		margin-top: -70px;
    	}
		.slick-track {
			.slick-slide {
			 	width: 255px;
			 	@media (max-width: 767px) {
                	width: 280px;
                }
                @media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
	            	width: 139px !important;
	            }
			 	@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
                	width: 202px;
                }
			 	@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	            	width: 136px;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	width: 206px;
	            }
	            @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: landscape) {
                	width: 255px;
                }
	            .mz-productlisting-info {
	            	.bv_main_container {
						.bv_averageRating_component_container, .bv_numReviews_component_container {
							@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
								padding-left: 0px!important;
							}
						}
						.bv_text {
							font-size: 12px!important;
						}
					}
	            }
			}
		}
	}
}
#morelikethis {
	.certona-container {
		margin-left: -@gutter/2 + 2.5;
    	margin-right: -@gutter/2 + 2.5;
		.slick-slider {
			.slick-next, .slick-prev {
				@media (max-width: 1024px) {
	            	margin-top: -@gutter*2 - 10;
	            }
	            @media (min-width: 1200px) {
	            	margin-top: -@gutter*2 - 10;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	                margin-top: -@gutter*3 - 5;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	margin-top: -@gutter*3;
	            }
	        }
			.slick-list {
				@media (max-width: 767px) {
					margin-left: 0;
					margin-right: @gutter/2 + 2.5;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
					margin-left: @gutter;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
					margin-right: @gutter*3 - 13;
					margin-left: @gutter*2 - 5;
				}
			}
			.slick-track {
				.slick-slide {
					width: 268px;
					@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
						width: 226px;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
		            	width: 175px;
		            }
		            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
		            	width: 223px; 
		            }
					@media (max-width: 767px) {
						width: 300px;
					}
					@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
						width: 220px;
					}
				}
				.mz-productlisting {
					.mz-productlisting-image {
						@media only screen and (min-width: 321px) and (max-width: 767px) {
					    	width: 280px;
					    }
					    @media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
					    	width: 205px;
					    }
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		#mz-drop-zone-certona-morelikethis-product{
			.mz-cms-block {
				min-height: 0px;
			}
		}
	}
}

#compareproducts {
	.certona-container {
		margin-left: -@gutter/2 + 2.5;
    	margin-right: -@gutter/2 + 2.5;
		.slick-slider {
			.slick-next, .slick-prev {
				@media (max-width: 1024px) {
	            	margin-top: -@gutter*2 - 10;
	            }
	            @media (min-width: 1200px) {
	            	margin-top: -@gutter*2 - 10;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
	                margin-top: -@gutter*3 - 5;
	            }
	            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	            	margin-top: -@gutter*3;
	            }
	        }
			.slick-list {
				@media (max-width: 767px) {
					margin-left: 0;
					margin-right: @gutter/2 + 2.5;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
					margin-left: @gutter;
				}
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
					margin-right: @gutter*3 - 13;
					margin-left: @gutter*2 - 5;
				}
			}
			.slick-track {
				.slick-slide {
					width: 268px;
					@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
						width: 227px;
					}
					@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
		            	width: 172px;
		            }
		            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
		            	width: 230px;
		            }
					@media (max-width: 767px) {
						width: 300px;
					}
					@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
						width: 220px;
					}
				}
				.mz-productlisting {
					.mz-productlisting-image {
						@media only screen and (min-width: 321px) and (max-width: 767px) {
					    	width: 280px;
					    }
					    @media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
					    	width: 205px;
					    }
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		#mz-drop-zone-certona-morelikethis-product{
			.mz-cms-block {
				min-height: 0px;
			}
		}
	}
}