.mz-facetingform { 
    
    &>h3 {
    	font-weight: 700;
	    font-size: 2.125rem;
	    text-align: center;
        margin: 0 0 @gutter - 8 0;
    }
    
    .mz-l-sidebaritem {
    	padding: @gutter - 5 0 0px;
    	border-bottom: 1px solid @mercury;
    	margin: 0;
    	
    	&.for-caregory {
  			padding: 0;
  			margin: 0;
  			.no-border;
    	}
    	
    	.price-range {
    		margin-bottom: @gutter - 5;
    		.text-input {
   			    width: 55px;
			    text-align: center;
			    padding-left: 0;
			    padding-right: 0;
			    display: inline-block;
			    vertical-align: middle;
		        margin-bottom: 0;
			    border-color: @formInputBorder;
			    border-radius: 0;
		        height: 40px;
    		}
    		
    		span {
    			display: inline-block;
			    vertical-align: middle;
			    padding: 0 3px;
    		}
    		
    		.go-btn {
    			.btn-transparent();
    			vertical-align: middle;
    			margin-left: @gutter - 15;
    			.agenda-bold;
    		}
    	}
    	
    	h4 {
    		.agenda-bold;
	        margin: 0 0 @gutter - 5;
	        font-size: 1.7rem;
	        cursor: pointer;
            position: relative;
	        
	        &:before {
	        	.material-icons;
        	    font-style: normal;
	        	content: "\E15B";
        	    font-weight: 400;
        	    font-size: 1.3em;
   				line-height: 1em;
		        margin-right: @gutter - 10;
		        display: inline-block;
    			vertical-align: text-bottom;
	        }	
	        
	        &.collapsed {
        		&:before {
       		 		content: "\E145";	
	        	}
	        }
	        
	        &.category-title {
        	 	margin: 0 0 @gutter + 1;
        	 	font-size: 2.2rem;
        	 	&:before {
        	 		display: none;
        	 	}	
        	 	
        	 	
	        }
		}
		.checkbox-filters{
			border-bottom: 1px solid @horizontalLine;
			padding: @gutter - 5 0;
			@media (max-width:767px) {
				margin-top: @gutter - 10;
			}
			.sold-online{
				background: rgba(125, 167, 217, 0.1);
				border: none;
				padding: @gutter/5 * 2 @gutter * 2 @gutter/5 * 2 @gutter/5 * 2;
			}
			&.removeTopPadding {
				padding-top: 0;
			}
		}
		.desktop-caregory{
			border-bottom: 1px solid @horizontalLine;
		}
		.mobile-caregory {

    		h4 {
    			 &.category-title {
    			 	margin: 0;
				    padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
				    border: 1px solid @formInputBorder;
				    .agenda;
				    font-size:1.7rem;
				    span{
				    	.agenda-bold;
				    	font-size:1.8rem;
				    }
				    small {
	       	 		    color:@mineShaft;
	       	 		    font-size:1.7rem;
	        	 	}
    			 }
    			 
    			 
    			 &:before {
		        	.material-icons;
				    font-weight: normal;
				    font-size: 3.4rem;
				    position: absolute;
				    position: absolute;
				    content: "\E316";
				    margin: 0;
				    right: @gutter/2 - 2.5;
 				    top: @gutter - 10;
				    color: @arrowGrey;
		        }	
		        
		        &.collapsed {
	        		&:before {
	       		 		content: "\E313";	
		        	}
		        }
		        
    		}
    		
    		.category-wrapper {
   			    border: 1px solid @formInputBorder;
   				border-width: 0px 1px 1px 1px;
			    max-height: 523px;	
			    overflow: auto;
   				
   				.filters-categories {
   					margin: @gutter - 10 @gutter - 10 @gutter - 10 @gutter;	
   				}
    		}
    	} 
	    
	    #tenant-brand-desc, #Brand{
			.mz-facetingform-facet{
				li{
					.mz-facetingform-valuelabel{
						.text-uppercase;
					}
				}
			}
	    }
	    .moretag {
	    	display: none;
	    	margin-bottom: 25px;
	    	color: @torchRed;
	    }
	    .mz-facetingform-facet {
	        list-style-type: none;
	        padding: 0;
	        margin: 0 0 @gutter - 5;
	        li {
	            padding: @gutter - 20 0;
	            
	            .mz-facetingform-valuelabel {
			        display: inline-block;
			        margin-left: @gutter - 17;
			        font-weight: 400;
		            white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    width: ~'calc(100% - 50px)';
				    vertical-align: text-top;
			        &:first-letter{
			        	.text-uppercase;
			        }
			    }
			    
			    .rating-label {
			    	cursor: pointer;
    				vertical-align: middle;
   					margin: 0 0 0 @gutter - 17;
   					
   					.Rating--display {
					    pointer-events: none;
					    .rating-star {
					    	cursor: default;
					    	display: inline-block;
						    vertical-align: middle;
						    margin: 0 @gutter - 23 0 0;
						    font-size: 0;
						    
						    &:before{
						    	color: @horizontalLine !important;
						    	font-size: 18px;
    							line-height: 1;
    							position: relative;
							    .material-icons;
							    display: block;
							    content: "\E838";
						    }
						    &.selected {
						    	&:before {
					    		    color: @secondary-color !important;
						    	}
						    }
				    	}
					}
					
					.Rating--inline {
					    display: inline-block;
					    vertical-align: text-top;
					}
					
					.Rating {
					    font-size: 0;
					    unicode-bidi: bidi-override;
					    text-align: left;
					}
					
					.Rating--small .Rating-total {
					    font-size: 1.6rem;
					    margin-left: @gutter - 20;
					    display: inline-block;
					    vertical-align: middle;
					    direction: ltr;
					}
			    }
			}
			
	        a {
	            text-decoration: none;
	            
	            &.icon-link {
            	    text-decoration: none;
            	    display: inline-block;
           	        color:@primary-color;
           	        
           	        .arrow-left {
           	        	.agenda-bold;
         	        	font-size: 2.4rem;
					    text-align: center;
					    margin-right: @gutter - 15;
					    width: 24px;
					    .material-icons;
					    &:before {
					    	content: '\E314';
					    }
           	        }
           	        
           	        .categories-text {
      	        	    vertical-align: super;
           	        }
           	        &:hover,visited{
           	        	color:@primary-color;
           	        }
	            }	
	            
	            &:visit {
	            	outline: none;
	            }
	        }
	    }
    }
    
   .mz-facetingform-facet-hierarchy {
        .mz-facetingform-facet-hierarchy {
       	    margin: @gutter - 15 0;
   			padding-left: @gutter;
            li {
                margin: 0 0 4px 0.5em;
                line-height: 1em;
                
                
            }
        }
    }
}
