.mz-pagefooter {
	.agenda;
    overflow: hidden;
	font-size: 1.6rem;
	margin-top: 40px;

    .mz-pagefooter-copyright {
        padding: 15px 0;
        text-align: center;
        color: @main-background;
        line-height: 130%;
        a {
            color: @main-background;
        }
    }
    .footerHeader {
    	margin: @gutter / 25 @gutter / 25;
    	.agenda-bold;
    }
	.footer-partial {
		@media (min-width: 768px) {
			padding-top: @gutter - 5;
		}
		border-bottom: solid 1px @border-light;
		.bringHomeTitle {
			font-size: 1.8rem;
			.agenda-bold;
		}
		.eventUpdates {
		    padding-left: 0px;
		    padding-bottom: @gutter + 5;
		    .form-inline{
		    	.flex-display(flex);
		    	label{
		    		.text-indent;
		    		width:0;
		    	}		    	
		    }
	    	.emailFormatError {
	    		display: none;
	    	}
		}
		.sociallinks {
			padding-right: 0px;
			padding-left: @gutter + 5;
			padding-bottom: @gutter + 5;
			ul li:not(:first-child) {
				 margin-left: @gutter - 3;
			}
			.mz-cms-content, ul li {
				padding: 0px;
			} 
			.sociallinksTitle {
				.agenda-bold;
				font-weight: normal;
				font-size:1.8rem;
			}
		}
		.footer-newsletter-email {
			width: 78.23%;
			padding: @gutter - 13;
			margin-right: @gutter - 13;
			font-size: 1.6rem;
		}
	}
	.demoFooter {
		padding-top:@gutter/5 * 3;

		@media (min-width: @screen-md){
			padding-top: 70px
		}
		
		.footerHeader {
		    font-size: 1.8rem;
		    line-height: 2;
	    }
	    .footerWithIcons .imageHeader {
			margin-left: @gutter - 9;
		}
		.footer-accessibility, .footer-accessibility-for-sm, .footer-accessibility-for-xs {
			.accessibility-heading {
				font-size: 1.8rem;
				.agenda-bold;
			}
			.accessibility-link {
			    display: inline-block;
			    width: @gutter + 59;
			    height: @gutter + 8;
			    background: url("{{ themeSettings.sirvResourceImageUrl }}/accessibility.png") no-repeat center center;
			    background-size: contain;
			    
			    .download-label {
		    	    position: absolute;
				    width: @gutter - 24;
				    height: @gutter - 24;
				    margin: @gutter - 26;
				    padding: 0;
				    overflow: hidden;
				    clip: rect(0, 0, 0, 0);
				    border: 0;
		    	}
		    }
		}
		.servicesForBusiness {
			margin-bottom: @gutter + 7;
		}
		.footer-list.in, .footer-list.collapsing {
		    display: block !important;
		}
		.footerDiv, .footer1, .footer1 .mz-cms-content  {
			padding-left: 0px;
		}
	}
	
	.bottomFooter-wrapper {
		background: @footerBg;
	}
	.bottomFooterContainer {
		clear: both;
	    .bottomFooterDiv {
	    	padding: @gutter + 7 @gutter/5 * 3;
	    	font-size:1.6rem;
	    	
	    	.copyright {
					line-height: 2.2;
					text-align: center;
	    		.copyright-txt {
						font-size: 16px;
						font-weight: 500;
	    			.copyright-symbol {
	    				font-size: 1.8rem;
	    			}
	    		}
	    	}
	    	.checkoutFooterCopyright {
	    		padding-left : @gutter - 5;
	    	}
	    }
	    .bottomFooterLinks ul {
				text-align: center;
	    	li{
					.no-padding;
					
					a {
						text-decoration: underline;
						font-weight: 500;
						&:hover {
							color: @brand-red;
						}
					}
	    	}
	    	li:not(:last-child) {
				margin-right: @gutter - 9;
			}
		}
		
		.bottomFooter {
			float: right;
		}	
		
		.bottomFooter a:hover { 
			text-decoration: none;
		}
		.bottomFooterLinks {
			visibility: visible;
			font-size:1.6rem;
		}
		.bootmFooter1 .mz-cms-content {
			.no-padding;
		}
		.checkoutFooter {
			text-align: center !important;
			.mz-cms-row {
				max-width: 674px;
    			text-align: center;
    			margin: 0 auto;
				.mz-cms-content {
					li{
						padding: 0 15px;
					}
				}
			}
		} 
	}
	
	.footerWithIcons, .socialLinks {
		a[class='footerImageLink']:hover {
			text-decoration: none;
		}
	}
	.socialLinks {
		height: @gutter + 5;
	}
	
	.footer5 .mz-cms-content {
		padding-bottom: @gutter + 5;
	}
	
	@media (min-width: 320px) and (max-width: 480px) {
		.demoFooter { 
			.footer-list {
				padding: @gutter - 21 0px @gutter - 13 @gutter - 13 ! important;
			}
			.footer1 .footer-list {
				padding-left: 0px !important;
			}
			.footerWithIcons .imageHeader {
				margin-left: @gutter - 13;
			}
		}
	}
		
	@media (max-width: 767px){
	
		.servicesForBusiness {
			margin-bottom: 0px !important;
		}
		.collapseBtnPlus, .collapseBtnMinus, .footerHeader {
			line-height: 1 !important;
    		margin-bottom: @gutter - 17;
    		cursor: pointer;
		}
		.collapseBtnPlus, .collapseBtnMinus, .collapseBtn {
			width: @gutter - 11.5;
			display: inline-block !important;
		}
		.bottomFooterContainer {
			 font-size: 1.143rem;
			 padding: 0px;
			 .bottomFooterDiv {
		    	margin-left: 5 - @gutter;
    			margin-right: 5 - @gutter;
    			align-items: center;
    			padding-left: @gutter - 5;
				.bottomFooterLinks .footer-list{
					margin-left: 0px !important;
					li {
						display: block;
						margin-right: 0px !important;
					}
				}
				.bottomFooter .imageList {
			    	a:nth-child(2) {
			    		display: block;
			    		line-height: 1;
			    	}
			    	.imageHeader {
			    		margin-left: 0px;
			    	}
			    }
			    .bootmFooter1 {
			    	.mz-cms-content {
						padding-left: 0px;
						padding-right: 0px;
					}
			    }
			    .bootmFooter2 {
			    	padding-left: 0px;
			    	padding-right: 0px;
			    	.mz-cms-content {
						float: left;
					}
			    }
			    .copyright {
					line-height: 2;
					padding-bottom: @gutter + 20;
		    		.copyright-txt {
		    			font-size: 1.4rem;
		    			.copyright-symbol {
		    				font-size: 1.8rem;
		    			}
		    		}
		    	}
		    	.checkoutFooterCopyright {
		    		padding-left : @gutter - 5;
		    	}
		    }
		    .checkoutFooter {
		    	.footer-list {
		    		margin-left: 0px !important;
					li {
						display: block;
						margin-right: 0px !important;
					}
		    	}
		    }
		}
		
		.demoFooter {
			padding: 0px;
			.footerCell {
				padding-left: @gutter - 5;
			}
			.footerDiv, .footer3, .footer4, .footer5, .bootmFooter1 { 
				padding-left: 0px;
			}
			.footer1 {
				padding: @gutter + 5  @gutter - 5;
		    }
		    .footer2 {
		    	padding-top: @gutter - 5;
		    	padding-left: 0px;
		    }
			.footer4 {
				padding-bottom: @gutter + 5;
			}
			.footer1 .mz-cms-content, .footer2 .mz-drop-zone .mz-cms-content, .footer3 .mz-drop-zone .mz-cms-content, .footer4 .mz-drop-zone .mz-cms-content {
				padding: 0px;
			}
			 .footer-list {
		    	padding: @gutter - 21 @gutter - 13 @gutter - 13 @gutter - 13;
		    	font-size: 1.6rem;
		    } 
		}
		
		.footer-partial {
			border-bottom: none; 
			border-top: solid 1px @header-border;
			.eventUpdates {
				border-bottom: solid 1px @header-border;
				padding: @gutter + 5 @gutter - 5;
			}
			.sociallinks {
				border-bottom: solid 1px @silver;
				padding-top: @gutter + 5;
				padding-left: @gutter - 5;
			} 
			.footerPartialText {
				font-size: 1.6rem; 
			}
		}
	   
	    .footerWithIcons .footer-list {
	    	margin-left: 0px !important;
	    	padding-left: 0px;
	    }
	    .footer5, .footer-accessibility-for-sm {
			display : none;
		}
		.footer-accessibility-for-xs {
			margin-left: @gutter - 10 ;
		}
	} 
	
	@media (min-width: 992px) {
		.footerDiv:nth-child(1) {
			display: flex;
			flex-direction: row-reverse;
			.footerCell {
				flex: 2;
			}
			.footer1 {
				flex: 1;
			}
			.footerCell {
				padding-left: 0px;
			}
			.footer2 {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		.footer-list {
			height: auto; 
		}
		.footer-accessibility-for-sm, .footer-accessibility-for-xs {
			display : none;
		}
	} 
	
	@media (min-width: 768px) and (max-width: 992px) { 
		.footerDiv:nth-child(1) {
			display: flex;
			flex-direction: row-reverse;
			.footerCell {
				flex: 2;
				display: flex;
			}
			.innerFooterCell {
				flex: 2;
				display: flex;
    			flex-direction: column;
			}
			.footer1 {
				flex: 1.4;
				padding-right: 0px;
			}
			.footerCell {
				padding-left: 0px;
			} 
			.footer2 {
				padding-left: 0px;
				padding-right: 0px;
				flex: 2;
			}
			.footer4 .mz-cms-content {
				padding-top: 0px;
			}
		}
		.footer-list {
			height: auto; 
		}
			 
		.bottomFooterContainer {
			width: 750px;
			font-size: 1.143rem;
			 margin: 0 auto;
			.bottomFooter .imageList {
		    	a:nth-child(2) {
		    		display: block;
		    		line-height: 1;
		    	}
		    	.imageHeader {
		    		margin-left: 0px;
		    	}
		    }
		    .bottomFooterLinks ul{
		    	li{
		    		.no-padding;
		    	}
		    	li:not(:last-child) {
					padding-left: 0px;
				}
			}
			.bootmFooter1 {
				.mz-cms-content {
					padding-left: 0px;
					padding-right: 0px;
				}
			}
	    }
	    .footer5, .footer-accessibility-for-xs {
	    	display: none;
	    }
	}

	.sprite-footer1-list{
		list-style-type: none;
		padding-left: 0;

		.link-name {
			text-decoration: underline;
			color: @mineShaft;
			font-size: 16px;
			font-weight: 500;
		}

		a {
			padding-bottom: 20px;
			display: block;
			&:hover {
				text-decoration: none;

				.link-name {
					color: @brand-red;
				}
			}
		}
		.sprite-footer-icons{
			width: 97px;
			height: 50px;
			display: inline-block;
			background-size: 195px;
			vertical-align: middle;
			background-image: url("{{ themeSettings.sirvResourceImageUrl }}/footer-logosR2.png");
			&.EarnAeroplanMiles-icon{
				background-position: 98px 95px;
			    background-size: 102px;
			    height: 27px;
			    margin: 11px 0;
			}
			&.EarnFreePaint-icon{
				background-position: 208px 157px;
    			background-size: 215px;
			}
			&.GiveAGiftCard-icon{
				background-position: 181px 89px;
    			background-size: 170px;
			}
			&.EarnContractorRewards-icon{
				background-position: 195px 50px;
			}
			&.BeaverHomesCottages-icon{
				background-position: 97px 90px;
				background-size: 180px;		
			}
			&.ProClubElite-icon{
				background-position: 99px 44px;
    			background-size: 190px;
			}
		}

		.sprite-social-icons{
			width: 30px;
			height: 30px;
			margin-left: 22px;
			display: inline-block;
			background-size: 123px;
			background-image: url("{{ themeSettings.sirvResourceImageUrl }}/footer-logosR2.png");
			&.facebook-icon{
				background-position: -4px -4px;
				margin-left: 0;
			}
			&.twitter-icon{
				background-position:-24px -44px;
			}
			&.pinterest-icon{
				background-position:-67px -44px;
			}
			&.youTube-icon{
				background-size: 102px;
    			background-position: -36px -1px;
			}
			&.instagram-icon{
				background-position:-86px -4px;
			}
		}
	}
	
}
.french-content{
	.footer-partial{
		.sociallinks{
		 	ul {
		 		li:not(:first-child){
		 			margin-left:@gutter/5 * 2;
		 		}
			}
		} 
	}

	.sprite-footer1-list .sprite-footer-icons{
		&.EarnFreePaint-icon{
			background-position: 103px 157px;
    		background-size: 215px;
		}
	}

	.footerWithIcons{
		.footer-list{
			.image-list{
				.flex-display(flex);
				.flex-direction(row);
				align-items:center;
				.footer-image-link{
					width:@gutter * 4 + 10;
					margin-right:@gutter/2 - 2.5;
					img{
						width:@gutter * 3 + 5;
						height:@gutter * 2;
					}
				}
				.image-header-wraper{
					line-height:1.1;
					.fullwidth;
					span{
						margin-left:0;
					}
				}
			}
		}
	}
	.bottomFooterContainer{
		.footer-list{
			li{
				@media(max-width:767px){
					.fullwidth;
				}
			}
		}
	}
}

.footer-email-signup {
	background-color: @brand-red;
	color: @white;
	padding: 25px 0 50px;

	@media (min-width: @screen-md){
		padding: 30px 0;
	}

	// Bootstrap override to full width
	@media (min-width: 1400px){
		.container {
				width: 1330px;
		}
	}

	h4 {
		color: @white;
		text-align: center;
		font-weight: 600;
		padding: 0 25px 15px;	

		@media (min-width: @screen-md){
			text-align: left;
			line-height: 37px;
			margin: 0;
			padding: 0;
			padding-right: 50px;
		}
	}
	label {
		color: @white;
		display: block;
		padding-left: 18px;
		font-size: 18px;
		line-height: 22px;
	}
	input {
		border-radius: 20px;
		border: none;
		background: @white;
		color: @black;
		height: 44px;
		width: 100%;
		@media (min-width: @screen-sm){
			width: calc(~'100% - 213px');
		}
	}

	button {
		border: none;
		color: @brand-red;
		.underline-animation(@brand-red);
		margin: 30px auto 0;
		display: block;
		@media (min-width: @screen-sm){
			margin-left: 25px;
			margin-top: 0;
			display: inline-block;
		}
	}

	.emailFormatError {
		display: none;
		color: @white;
	}
}

.footer-list {
	li {
		a {
			text-decoration: underline;
			font-weight: 500;
			&:hover {
				color: @brand-red;
			}
		}
	}
}

// Footer Accordion Overrides 
.footer2,
.footer3,
.footer4 {

	@media (max-width: @screen-sm){

		h3.footerHeader {
			border-top: 2px solid #F6F6F7;
			padding: 20px 0;
			position: relative;
			margin: 0!important;
			line-height: 1.2!important;

			span.collapseBtn {
				position: absolute;
				right: 5px;
				font-size: 30px;
				top: 12px;
			}
		}
	}
}

.footer2 {
	
	@media (max-width: @screen-sm){
		margin-top: 30px;
	}
}

.footer4 {
	
	@media (max-width: @screen-sm){
		border-bottom: 2px solid #F6F6F7;
		padding-bottom: 20px!important;
	}
}
