@headerHeight: 154px;
@headerBaseline: 66px;
@searchBoxHeight: 28px;
@utilityNavHeight: @headerBaseline - (@gutter / 2) - @searchBoxHeight;

.mz-pageheader {
    position: relative;
    // height: @gutter*3 - 13;
    background: @brand-red;
    margin-left: auto;
    margin-right: auto;
		padding: 8px 0 5px;

		
		@media(min-width:768px){
			padding: 14px 0px;
		}

		.page-header-row {
			display: flex;
			align-items: stretch;
		}

    &.mz-pageheader-hasbanner {
        background: #eee url('{{themeSettings.bannerImage}}') {{ themeSettings.bannerImageRepeat }};
		}

	.go-back-to-cart {
		.agenda;
		padding-top: @gutter/5 + 1;
		.mz-navright-link {
			vertical-align: middle;
               .fa-list-ol {
                   font-size: 1.5rem;
                   color: @secondary-color;
               }
               .fa-shopping-cart {
                   font-size: 2.4rem;
                   color: @secondary-color;
                   padding-right: @gutter - 17; 
               }
           }
	}
	
    &.mz-pageheader-hasbanner .mz-storebranding {
        text-indent: -9999px;
    }

    .mz-utilitynav {
		@media(min-width:768px){
			float:right;
			.no-padding;
			.mz-utilitynav-list{
				float:left;
				.userNameLink{
					color: @black;
					padding-left: @gutter * 2 - 10;
					@media(min-width:768px) and (max-width:991px){
                        padding-left: 0;
                    }
					a{
						color: @black;
					}
				}	
			}
		}
		@media(max-width:767px){
			float:right;
			margin-top:@gutter - 4;
			margin-left: -(@gutter * 3 - 5);
			.no-padding;
			.mz-utilitynav-list{
				float:right;
			}
		}
		@media (min-width:768px) and (max-width:991px) {
            margin-left: -(@gutter - 15);
        }
    }

    @media only screen {
        @media (max-width: 767px) {
			margin:0 -@gutter/2 - 2.5;
            .mz-storebranding, .mz-searchbox {
                position: relative;
                clear: both;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .mz-searchbox-expands .mz-searchbox-input {
                width: auto;
                &:focus {
                    width: auto;
                }
            }
        }
    }
}
.mz-pageheader.is-search-open {
    @media (max-width: 767px) {
        display: none;
    }
}

.top-header {
    background: white;
    color: black;
    font-size: 1.6rem;
    line-height:1;
		.agenda;

		// Bootstrap override to full width
		@media (min-width: 1400px){
			.container {
					width: 1330px;
			}
		}

    .top-head-wrapper {
        margin: 0 auto;
        padding:@gutter/2 + 0.5 @gutter/2 + 2.5 @gutter/2 - 1.5;
        @media(max-width:991px) and (min-width:768px){
        	padding-bottom:@gutter/5 + 4;
        }
        .mz-cms-content {
        	.no-padding;
        }
        .first-section {
        	padding-left: 0;
        	display: inline-block;
        	@media(min-width:991px) {
        		padding-right: 0px;
        	}
        	.mz-cms-content {
        		padding-left: 0;
        	}
        }
        .second-section {
        	.no-padding;
        	.mz-cms-content {
        		padding-right: 0;
        	}
        	.top-head-text{
						font-size: 20px;
        		b{
        			.agenda-bold;
        		}
        	}
		}
		.selectLanguage{
			.agenda;
			.no-padding;
			a{
				float: right;
				color: @black;
				text-decoration: underline;
			}	
		}
        .mz-content-widget-inner-wrap{
        	line-height:1;
					overflow:hidden;
					text-align: left;
	        .top-head-link {
	            color: black;
	            font-size: 16px;
	            line-height: 1;
	            padding-right: @gutter/2 + 1.5;
							float:left;
							line-height: 20px;
							i, svg {
								font-size: 12px;
							}
	        }
        }
        .leftbar {
            border-left: 1px solid @black;
            padding-left: @gutter/2 + 1.5;
				}
				.top-header-left-links {
					a {
						text-decoration: underline;
					}
				}
    }
}

.header-container-wrapper	{
	background-color: @brand-red;
	color: white;

	// Bootstrap override to full width
	@media (min-width: 1400px){
		.container {
				width: 1330px;
		}
	}
}

/* 2021-09-16: for sticky header */
.header-container-wrapper	{
	z-index: 100;
	position: sticky !important;
	top: 0px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}
body {
	overflow-x: revert !important;
}

.header-container{
	// @media(min-width:991px){
	// 	padding-bottom: 10px;
	// }
	.checkout-header{
		.no-border;
		height:@gutter * 3 - 3;
		padding:@gutter/2 - 1.5 0 @gutter;
		background: @color-primary-red;
		@media(max-width:767px){
			height:@gutter * 2 + 2;
			padding:@gutter/2 - 2.5 0 @gutter;
		}
		.mz-storebranding{
			@media(max-width:767px){
				width:@gutter + 10;
				height:@gutter + 6.8181818182;
			}
		}
		.hh-icon{
			width: 55px;
    		height: 52px;
			@media(max-width:767px){
				margin-top:@gutter/4 - 4.25;
				width: 35px;
    			height: 32px;
			}
		}
		.mz-navright-link-cart{
			@media(max-width:767px){
				margin-right:@gutter;
			}
		}
	}
	.search-container{
        @media (min-width: 767px) and (max-width: 992px){
            z-index: 1020;
            list-style: none;
            list-style-type: none;
            padding-left: 0px;
            margin-top: 10px;
        }
        .mz-searchbox-input{
            width: 100%;
        }
    }
}  
 .checkout-header-container {
   	border-bottom: 1px solid @header-border;
	background: @color-primary-red;
	.container{
		@media (min-width: 1200px){
			width: 1330px;
		}
	}
   }
   
   
.go-back-to-cart-modal {
	.agenda;
	@media (max-width: 767px) {
		padding-right: 0; 
	}
	.modal-sm {
		width: 550px; 
		@media (max-width: 767px) {
			width: 300px;
		}
	}
	.modal-dialog {
		margin: @gutter + 5 auto;	
		.modal-content {
			@media (min-width: 768px) {
				padding: 0 @gutter + 5 @gutter + 5;
			}
			@media (max-width: 767px) {
				padding: @gutter - 10 @gutter - 5;
			}
			padding: 0 @gutter - 10;
			.modal-header {
				min-height: @gutter + 5;
			    padding: @gutter - 15 0;
			    border-bottom: none;
			    @media (min-width: 768px) {
			    	padding: @gutter - 10 0;
			    }
			    .modal-title {
			    	.agenda-bold;
			    	font-size: 2.2rem;
				    line-height: 1.2;
				    margin: @gutter - 15 @gutter + 15 @gutter - 20 0;
				    text-align: left;
				    @media (min-width: 768px) {
				    	font-size: 3.4rem;
						margin: @gutter - 10 @gutter * 2 @gutter - 10 0;
				    }
			    }
			    .modal-close {
			    	position: absolute;
				    top: @gutter - 15;
				    right: @gutter - 15;
				    width: @gutter + 11;
				    height: @gutter + 11;
				    text-decoration: none;
				    text-align: center;
				    z-index: 1;
				    @media (min-width: 768px) {
			    	    top: @gutter - 15;
						right: @gutter - 15;
				    }
				    .u-sr-only {
				    	&:before {
				    		.material-icons;
				    		font-size: 3rem;
						    line-height: 1.2;
						    content: "\E14C";
				    	}
				    }
			    }
			}
			.modal-body {
   				text-align: center; 
   				padding: @gutter - 10 0;
   				@media (min-width: 768px) {
				    padding: @gutter + 5 0;
   				}
   				.checkoutLeaveMsg {
   					.agenda-bold;
   					font-size: 2.4rem;
   					@media (max-width: 767px) {
   						margin-bottom: @gutter - 5;
   					}
   				}
   				.changesWillNotSaveTxt {
   					font-size: 1.8rem;
   					@media (max-width: 767px) {
					    margin-right: @gutter - 5;
    					margin-left: @gutter - 5;
   					}
   				}
			}
			.modal-footer {
   				text-align: center;
   				border: none;
   				.cancel-link {
   					padding: @gutter - 13 @gutter + 10 @gutter/5*2;
   					margin-right: @gutter - 5;
   					font-weight: normal;
				    text-transform: none;
				    background: transparent;
				    border: 1px solid @torchRed;
				    color: @link-red;
				    display:inline-block;
				    margin-bottom:@gutter/5 * 3;
				    @media (max-width: 767px) {
				    	display: block;
				    	margin-bottom: @gutter - 5;
				    	margin-right: 0;
					}
					.btn-red();
					.new-btn-primary();
   				}
   				.save-card-btn {
					.btn-small();
					.new-btn-secondary(); 
					@media (max-width: 767px) {
				    	display: block;
				    }
   					.fa-shopping-cart {
	                   padding-right: @gutter - 17; 
	               	}
   				}
   			}
		} /* end of modal-content */
	}
}

// New Bouteous Styles

.desktop-search-wrapper {

	position: relative;
	top: 5px;
	
	input {
		width: 100%!important;
		border-radius: 20px;
		background-color: @white;
		height: 40px;
		line-height: 40px;
		border: none;
	}

	.twitter-typeahead {
		width: 100%;
	}

	.tt-dropdown-menu {
		z-index: 1000!important;
	}
}


.pageheader-row {
	@media (min-width: @screen-md){
		.flex-stretch(); 
	}
}

.header-right-wrapper {
	@media (min-width: @screen-md){
		.flex-stretch(); 
		.flex-end();
	}
}

.header-right-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0px;
	padding-left: 0px;

	> li {
		display: inline-block;
		list-style: none;
		color: @white;
		font-size: 18px;
		font-weight: 600;
		margin-left: 18px;
		
		@media (max-width: @screen-sm){
			margin-left: 10px;
		}
		@media (min-width: @screen-lg){
			margin-left: 30px;
		}

		&.my-store-wrapper {
			margin-left: 0px;
		}

		&.cart-icon {
			margin-right: 20px;
			@media (min-width: @screen-md){
				margin-right: 10px;
			}

			.mz-navright-link-cart {
				position: relative;

				.mz-cartmonitor {
					position: absolute;
					top: -8px;
					right: -8px;

					@media (min-width: @screen-lg){
						position: static;
					}
				}
			}
		}

		i, svg {
			font-size: 16px;
			margin-right: 0;

			@media (min-width: @screen-lg){
				margin-right: 10px;
				font-size: 22px;
			}
		}

		> a {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			white-space: nowrap;
			flex-direction: column;
			line-height: 1;
			
			.icon-text {
				font-size: 14px;
				
				@media (min-width: @screen-sm){
					font-size: 18px;
				}
			}

			@media (min-width: @screen-lg){
				flex-direction: row;
			}

			&:hover {
				text-decoration: none;
				color: @white;

				.icon-text {
					text-decoration: underline; 


				}
			}
		}
	
		> a,
		> a:visited,
		> a:focus {
			color: @white;
			text-decoration: none;
		}
	}
}

// My Store Dropdown
.store-dropdown,
.account-dropdown {
	position: relative;

	&:hover {
		.store-dropdown--content,
		.account-dropdown--content {
			@media (min-width: @screen-sm){
				display: block;
			}
		}
	}
	
	.fa-chevron-down {
		font-size: 12px;
		margin-left: 5px;
		position: absolute;
		top: 21px;
		right: 0px;
		margin-right: 0px;

		@media (min-width: @screen-lg){
			position: static;
		}
	}

	/* Dropdown Button */
	&--button {
		color: white;
		font-size: 18px;
		font-weight: 600;
		line-height: 18px;
		background: transparent;
		border: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		margin-right: 10px;

		@media (min-width: @screen-lg){
			flex-direction: row;
			margin-right: 0;
		}
	}

	/* Dropdown Content (Hidden by Default) */
	&--content {
		.agenda();
		display: none;
		position: absolute;
		background-color: @white;
		min-width: 300px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1000;
		border-radius: 5px;
		padding: 30px 25px 15px;
		color: @black;

		span,
		p,
		a {
			font-size: 16px;
			color: @black;
			display: block;
			margin-top: 0;
		}

		hr {
			color: #F3F4F4;
			margin-bottom: 10px;
		}

		.text-underline {
			text-decoration: underline;
		}
	}

	&--title {
		font-weight: bold;
	}

	.account-name{
		white-space: nowrap;
	} 
}
.account-dropdown {
	/* Dropdown Button */
	&--button {
		.fa-chevron-down {
			@media (min-width: @screen-lg){
				position: relative;
				top: 0;
			}
		}
	}
}
.store-dropdown {

	ul,
	li {
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	&--list {
		> li {
			margin-bottom: 13px;
		}
	}

	.text-underline {

		&:hover {
			color: @brand-red;
		}
	}

	.indent-wrapper {
		position: relative;
		padding-left: 30px;

		i, svg {
			position: absolute;
			top: 3px;
			left: 0px;
			font-size: 16px;
		}
	}

	.store-title {
		text-align: left;
		.max-lines(1, 18px);
		font-size: 14px;

		@media (min-width: @screen-sm){
			font-size: 18px;
		}
	}

	.store-hours {
		display: block;
		font-size: 12px;
		text-align: left;
		.max-lines(1, 18px);
	}

	.btn-secondary {
		color: @brand-red;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}

	.btn-text {
		color: @brand-red;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}

		i {
			font-size: 12px;
		}
	}
	&--button {
		.fa-map-marker-alt,
		.fa-chevron-down {

			@media (min-width: @screen-lg){
				position: relative;
				top: -7px;
			}
		}
	}
}
