.mystore-details {
    border-top: 1px solid @header-border;
    border-bottom: 1px solid @header-border;
    .mystore-container {
      .no-padding;
    }
    .store-links {
      .no-padding;
      overflow: hidden;
      .row {
        margin: 0;
      }
      .note-column {
        padding: 0;
      }
      .otherlink-column {
        padding: 0;
      }
      .btn-column {
        padding: 0;
      }
      .store-detail-cont {
        .no-padding;
        @media (max-width: 767px) {
          font-size: 1.3rem;
        }
        .contactInfo {
          @media (max-width: 767px) {
            .agenda;
            padding-top: 1em;
          }
          p {
            margin: 0;
            line-height: 1.2;
            .link {
              .agenda;
              font-size: 1.3rem;
              line-height: 1.2;
            }
          }
        }
        .weekly-hour {
          padding: @gutter / 2 - 2.5 0 @gutter / 2 - 0.5;
          .store-link {
            .agenda;
            color: @white;
            line-height: 1.13;
          }
        }
      }
      .weekday-section {
        @media (min-width: 768px) and (max-width: 991px) {
          padding: 0 @gutter / 5 * 2;
        }
      }
      .close-button {
        padding: 10px 0px 0 8px;
        margin-top: 5px;
        font-size: 2rem;
        font-style: normal;
        font-weight: normal;
        opacity: 1;
      }
      .notes-label {
        color: @primary-color;
        padding: 7px 5px 0 0;
        font-size: 1.3rem;
        text-align: left;
      }
    }
    .store-list.store-weekday-hours-list {
      padding-right: 10px;
    }
    .store-list.store-weekend-hours-list {
      padding-left: 20px;
    }
    .store-list {
      line-height: 1.2;
      .no-padding;
      .store-list-title {
        margin-bottom: @gutter / 5 - 2;
      }
      .store-list-item {
        list-style: none;
        .agenda;
        font-size: 1.6rem;
        @media (max-width: 767px) {
          font-size: 1.3rem;
        }
      }
      @media (max-width: 1024px) and (min-width: 320px) {
        padding: 0;
        margin-bottom: 0;
      }
    }
    .store-weekday-hours-list {
      .week-day {
        width: @gutter * 3 + 8;
        float: left;
      }
      .store-list-item:first-child {
        padding-bottom: @gutter / 5;
      }
      .store-list-item {
        padding-bottom: @gutter / 2 + 2.5;
      }
    }
    .store-weekend-hours-list {
      .week-day {
        width: @gutter * 3;
        float: left;
      }
      .store-list-item:first-child {
        padding-bottom: @gutter / 5;
      }
      .store-list-item {
        padding-bottom: @gutter / 2 + 2.5;
      }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 0 @gutter / 5 * 2;
    }
    .other-details {
      padding: @gutter / 2 - 2.5 0 @gutter / 2 - 0.5;
      .agenda;
  
      .store-link {
        color: @secondary-color;
        .agenda;
        font-size: 1.6rem;
        border-right: 1px solid @mercury;
        overflow: hidden;
        float: left;
        line-height: 0.9;
        @media (min-width: 768px) and (max-width: 1200px) {
          width: @gutter * 3 + 2;
          line-height: 1.3;
        }
        @media (min-width: 768px) {
          padding-right: 10px;
          margin-right: 10px;
        }
        @media (max-width: 767px) {
          font-size: 1.3rem;
          border: none;
          line-height: 1.13;
        }
      }
      .get-dirction-link {
        border-right: none;
      }
    }
    .other-detail-number {
      .store-tel {
        color: @primary-color;
        text-decoration: none;
        @media (max-width: 767px) {
          font-size: 1.3rem;
        }
      }
    }
    .other-links {
      border-top: solid 1px @border-light;
      padding: @gutter / 2 + 0.5 @gutter * 2 + 10;
      float: left;
      .fullwidth;
      margin-top: @gutter / 5 - 3;
      @media (max-width: 1024px) and (min-width: 768px) {
        padding: @gutter / 2 - 2.5 0;
      }
      @media (max-width: 767px) and (min-width: 320px) {
        padding: @gutter / 2 + 0.5 0;
      }
      @media (max-width: 417px) {
        padding: @gutter / 2 + 0.5 0;
      }
  
      .store-link {
        color: @secondary-color;
        .agenda;
        font-size: 1.6rem;
      }
      .choose-another-store-link {
        float: left;
        .no-padding;
        @media (min-width: 768px) {
          margin-right: @gutter + 7;
        }
        @media (max-width: 417px) {
          .text-left;
          width: 50%;
        }
      }
      .store-locator-link {
        .no-padding;
        @media (max-width: 767px) and (min-width: 418px) {
          .text-right;
        }
        @media (max-width: 767px) {
          float: right;
        }
        @media (max-width: 417px) {
          width: 50%;
          .text-right;
        }
      }
    }
    .store-link-mobile {
      border-top: solid 1px @border-light;
      padding: @gutter / 2 + 0.5 0 @gutter / 2 - 0.5;
      margin-top: @gutter / 5 * 3 + 3;
      div {
        .no-padding;
      }
    }
    .weekend-hours {
      @media (min-width: 992px) and (max-width: 1200px) {
        margin-left: @gutter + 5;
      }
    }
  }
  .is-locked {
    .mystore-details {
      @media (max-width: 767px) {
        padding-bottom: @gutter * 2 + 10;
      }
    }
  }
  .navbar-inverse {
    border: 0;
  }
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    .navbar-collapse {
      overflow-x: hidden;
      padding: 0;
      line-height: 1;
      border: 0;
      @media (max-width: 767px) {
        background: @faintgray;
        border-top: solid 1px @header-border;
        height: ~"calc(100vh - 100px)";
        width: 100%;
        margin: @gutter * 2 - 7 auto 0;
      }
    }
  }
  .navbar-inverse {
    .navbar-toggle {
      border-color: @header-border;
      @media (max-width: 767px) {
        padding-left: @gutter - 2;
        margin-right: @gutter / 5 - 3;
        &.menu-padding {
          padding-right: @gutter * 2 - 5;
        }
      }
      &:hover,
      &:focus {
        background-color: @white;
        border-radius: 0;
      }
    }
  }
  .expand-header {
    @media (max-width: 1380px) {
      width: 100%;
    }
  }
  .mz-sitenav {
    @navHeight: @gutter + 12;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background: @main-background;
    min-height: @gutter*2 + 10;
    overflow: visible;
    .clearfix();
    margin-left: auto;
    margin-right: auto;
  
    // Bootstrap override to full width
    @media (min-width: 1400px) {
      .container {
        width: 1330px;
      }
    }
  
    // Bounteous overrides
    // @media (min-width: @screen-md){
  
    //     .navbar-collapse {
    //         width: 100%;
  
    //         .mz-sitenav-list {
    //             width: 100%;
    //             display: flex;
    //         }
    //     }
    // }
  
    &.top-border {
      @media (min-width: 768px) {
        .sitenav-container.add-border {
          border-top: none;
        }
      }
    }
    .sitenav-container {
      position: relative;
      @media (min-width: 992px) {
        // height:@gutter * 2 + 12;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        // height:@gutter * 2 + 9;
      }
      @media (max-width: 767px) {
        padding: 0;
        margin-top: -1px;
      }
      &.add-border {
        // border-top: 1px solid @header-border;
      }
      .mz-furniture-logo-mobile {
        @media (max-width: 767px) {
          display: none;
          background: url("{{ themeSettings.sirvResourceImageUrl }}/en-hfurniture.png")
            center center no-repeat;
          background-size: contain;
          float: left;
          height: @gutter / 5 * 8 + 0.9090909091;
          text-indent: -99999px;
          margin-left: @gutter / 5 + 5;
          margin-top: @gutter / 5;
          width: @gutter * 4 - 10;
        }
      }
      .mz-storebranding-mobile {
        @media (max-width: 767px) {
          display: none;
          float: left;
          width: @gutter + 14;
          height: @gutter + 10;
          margin-left: @gutter - 10;
          font-size: 0;
          margin-top: 8px;
          background: url("{{ themeSettings.sirvResourceImageUrl }}/hh-logo.svg")
            center center no-repeat;
          background-size: contain;
        }
      }
    }
    .mz-utilitynav {
      display: none;
    }
    .mz-sitenav-list {
      display: inline-block;
      > .mz-sitenav-item:first-child {
        .dropdown-open {
          padding-left: 0;
        }
      }
    }
  
    .mz-sitenav-item {
      z-index: 3;
      float: left;
      .parent-item {
        padding-bottom: 20px;
      }
      .mz-sitenav-item-inner {
        position: relative;
  
        .dropdown-open[aria-expanded="false"] {
          &:hover {
            // color:@secondary-color;
          }
          &.tab-product-color {
            &.tab-black {
              color: @primary-color !important;
            }
            &.tab-red {
              color: @secondary-color !important;
            }
          }
        }
        .dropdown-open[aria-expanded="true"],
        .dropdown-open[aria-expanded="false"].active {
          @media (min-width: 768px) {
            &:hover {
              // color: @secondary-color;
            }
          }
        }
        .menu-link {
          @media (max-width: 767px) {
            &:before {
              background-image: url("{{ themeSettings.sirvResourceImageUrl }}/close.svg");
              background-size: @gutter - 3 @gutter - 3;
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
  
      &:hover .mz-sitenav-sub {
        visibility: visible;
        .transition-delay(0s);
      }
    }
    .primary-menu-nav {
      display: none;
      position: absolute;
      background: @white;
      z-index: 99990;
      padding-left: 0;
      padding-right: 0;
      top: 79px;
  
      @media (min-width: 768px) {
        height: auto;
        // border: solid 1px @header-border;
        border-top-width: 0;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        &.remove-bg {
          background: none;
          border: none;
          box-shadow: none;
          .primary-menu-tabs {
            @media (min-width: 768px) {
              // border: solid 1px @header-border;
              border-top-width: 0;
              -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        top: @gutter * 2 + 9;
      }
      .primary-menu {
        @media (min-width: 768px) {
          display: -moz-box !important;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          width: 100%;
        }
        .primary-menu-tabs {
          width: @gutter * 10 - 10;
          background: @white;
          @media (max-width: 767px) {
            float: left;
          }
          .primary-menu-panel {
            webkit-overflow-scrolling: touch;
            @media (min-width: 768px) {
              width: calc(~"100% - 240px");
              background-color: #f6f7f8;
              overflow: auto;
              display: none;
              position: absolute;
              left: @gutter * 10 - 10;
              top: 0;
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
            }
          }
        }
        .our-brands {
          float: left;
          width: 100%;
          padding-left: @gutter - 10;
  
          .our-brand-label {
            margin-bottom: 0;
            padding-left: 0;
          }
  
          .mz-drop-zone {
            float: left;
            border-top: solid 1px @header-border;
            width: 45%;
  
            .mz-cms-content {
              padding-left: 0;
  
              .image-list {
                line-height: 2.8;
  
                .image-header-wraper {
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
        .our-brand-mobile {
          .fullwidth;
          float: left;
          overflow: hidden;
        }
      }
    }
  
    @media (min-width: 768px) {
      .mz-sitenav-item-inner {
        &.parent-item:hover {
          .noneditor-item-link + .primary-menu-nav {
            display: block;
          }
        }
      }
    }
  
    .mz-sitenav-sub {
      margin: 0;
      padding: 0;
      @media (min-width: 768px) {
        padding-top: @gutter / 5 + 3;
        .noneditor-menu-tab:last-child {
          margin-bottom: @gutter - 12;
        }
      }
      list-style: none;
      @media (min-width: 768px) {
        .noneditor-menu-tab:hover {
          text-decoration: none;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          background: #f6f7f8;
        }
      }
  
      .mz-sitenav-sublink {
        width: 100%;
        color: @primary-color;
        position: relative;
        padding-right: @gutter - 15;
        @media (min-width: 768px) {
          .arrow-icon {
            display: inline-block;
          }
          &.showarrow-icon {
            white-space: nowrap;
            // width: @gutter * 8 !important;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .mz-sitenav-sublink.selected {
        .agenda-bold;
        color: @primary-color;
        background-color: #f6f7f8;
        &.editor-tab-link.selected {
          background: @white;
        }
        @media (min-width: 768px) {
          .arrow-icon {
            display: none;
            line-height: @gutter + 12;
            font-size: 1rem;
            padding-left: @gutter / 5;
          }
        }
      }
      &.mobile-search-container {
        padding: @gutter / 5 0 0;
        border-top: 1px solid @silver;
      }
  
      .mz-sitenav-item.editor-menu-tab,
      .noneditor-menu-tab {
        display: block;
        width: 100%;
        height: 100%;
        @media (min-width: 768px) {
          .mz-sitenav-sublink {
            &.first-category {
              .arrow-icon {
                display: none;
              }
            }
          }
          &:hover {
            .mz-sitenav-sublink {
              .arrow-icon {
                display: none;
                position: absolute;
                line-height: @gutter + 12;
                font-size: 1rem;
                padding-left: @gutter / 5;
              }
              &.showarrow-icon {
                .arrow-icon {
                  right: @gutter / 5 - 3;
                  line-height: @gutter + 12;
                  font-size: 1rem;
                }
              }
            }
          }
        }
        .mz-sitenav-link {
          padding: @gutter / 2 - 0.5 0px @gutter / 2 - 0.5 @gutter + 9;
          font-size: 1.4rem;
          text-transform: none;
          margin-top: 0;
          width: 100%;
          float: left;
          @media (min-width: 768px) {
            font-size: 1.6rem;
          }
          &:hover {
            color: @primary-color;
          }
          &.parent-lineheight {
            padding: 0 @gutter - 15 0 @gutter + 9;
            line-height: 36px;
          }
        }
        .mz-sitenav-item-inner {
          .mz-sitenav-link {
            padding-left: 0;
            margin-top: @gutter / 5;
          }
        }
      }
    }
    .featuredCategories.featuredMobile {
      display: inline-block !important;
    }
    .featuredCategories {
      .child-tabs {
        height: 12rem;
        background: #f0f0f0;
        .inner-text {
          padding-left: 12px;
          @media (max-width: 767) {
            line-height: 24px;
            padding-left: 25px;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
      display: inline-block;
      ul {
        padding: 0;
        list-style: none;
        background: #f2f2f2;
      }
      ul li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
      }
      .sitenav-level-2--link:hover span.sitenav-level-2--name {
        border-bottom: 2px solid #806d70;
      }
      ul li a span.text {
        display: block;
        color: #333;
        text-decoration: none !important;
        font-weight: 600;
        padding: 0px 10px 0px 34px;
        line-height: 36px !important;
      }
  
      ul li a span.text:hover {
        color: @black;
        background-color: #f6f7f8;
        font-weight: 700;
        text-decoration-line: underline !important;
        text-decoration-color: @brand-red !important;
        text-decoration-thickness: 2px !important;
      }
  
      ul li ul.deals-dropdown {
        min-width: 100%; 
        background: #ffffff;
        display: none;
        position: absolute;
        z-index: 999;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        height: 11rem;
        width: 21rem;
        height: fit-content;
        left: 0;
      }
      ul li:hover ul.deals-dropdown {
        display: block; 
      }
      ul li ul.deals-dropdown li {
        display: block;
      }
  
      .mz-sitenav-item {
        .mz-sitenav-link {
          .clicable-block { 
            pointer-events: none;
            cursor: default;
          }
         
          &:hover {
            color: @secondary-color;
            text-decoration: none;
          }
        }
      }
    }
    .mz-sitenav-sub-sub {
      display: none;
      .subsubsublinks-section {
        float: left;
        width: 100%;
        @media (max-width: 767px) {
          padding-bottom: @gutter * 6;
        }
        .subsubsublinks-contents {
          width: 100%;
          @media (min-width: 768px) and (max-width: 991px) {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
            column-gap: 0;
            margin-right: @gutter - 13;
          }
          @media (min-width: 992px) {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
            column-gap: 0;
            margin-right: @gutter - 13;
          }
          .mz-sitenav-section {
            overflow: hidden;
            .mz-sitenav-link {
              padding: @gutter / 5 @gutter / 5 * 3 @gutter / 5 0;
              width: auto;
              @media (min-width: 768px) {
                padding: 0 @gutter / 5 * 3 0 0;
                line-height: 24px;
              }
            }
            @media (max-width: 767px) {
              padding: @gutter / 5 0 0 @gutter / 5 * 3 + 1;
              background-color: @faintgray;
              .mz-sitenav-sub-sublink {
                line-height: 1.5;
              }
            }
            .secondary-menu-pannel {
              .mz-sitenav-sub-sub-sub {
                .mz-sitenav-item {
                  width: 100%;
                  float: left;
                  @media (max-width: 767px) {
                    padding: @gutter / 5 0 0 @gutter / 5 + 3;
                  }
                  &.more-categories {
                    width: auto;
                    .morecategories-arrow {
                      // position: absolute;
                      color: @torchRed;
                      padding-left: @gutter / 5 - 1;
                      font-size: 1rem;
                      @media (min-width: 768px) {
                        line-height: @gutter;
                      }
                    }
                    a {
                      .agenda;
                      padding-right: 0;
                    }
                  }
                }
              }
            }
          }
          @media (min-width: 768px) {
            .no-child {
              padding-bottom: 23px;
            }
          }
        }
        .featured-content {
          .section-1,
          .section-2 {
            @media (min-width: 768px) and (max-width: 991px) {
              float: left;
            }
          }
          .section-1,
          .section-2 {
            .mz-cms-content {
              padding: 0;
            }
          }
          .section-1 {
            width: 100%;
            @media (max-width: 767px) {
              width: 80%;
              margin: auto;
            }
            .mz-sitenav-item:last-child {
              .mz-sitenav-link {
                color: @primary-color;
              }
            }
          }
          .section-2 {
            .expert-advice-tile {
              .no-border;
              .no-padding;
            }
          }
        }
        .mz-sitenav-section {
          -webkit-column-break-inside: avoid;
          break-inside: avoid;
          page-break-inside: avoid;
        }
        .section-padding {
          padding-bottom: @gutter - 2;
          @media (min-width: 992px) {
            overflow: hidden;
          }
        }
      }
      .mz-sitenav-item {
        color: @primary-color;
        background: @main-background;
        margin-top: 0;
        width: 100%;
        float: none;
        .mz-sitenav-link {
          .agenda-bold;
          font-size: 1.6rem;
          text-transform: none;
          padding: @gutter / 2 - 4.5 0;
          &:hover {
            color: @primary-color;
            text-decoration: underline;
          }
        }
      }
    }
    .mz-sitenav-sub-sub-sub {
      @media (max-width: 767px) {
        .transition (left 0.5s ease-in-out);
        &.secondary-slide-submenu {
          top: 0;
          width: 100%;
          height: auto;
        }
      }
      .mz-sitenav-item {
        .featured-item {
          color: @primary-color !important;
          font-size: 1.6rem !important;
        }
        .mz-sitenav-link {
          .agenda;
          text-transform: none;
          font-weight: normal;
          padding: @gutter / 2 - 4.5 0;
          font-size: 1.6rem;
          @media (min-width: 768px) {
            font-size: 1.4rem;
          }
          &:hover {
            color: @primary-color;
            text-decoration: underline;
          }
        }
        .mz-sitenav-link.is-current {
          background: none;
        }
      }
      .mz-sitenav-item {
        &.more-categories {
          .mz-sitenav-link {
            @media (min-width: 768px) {
              font-size: 1.4rem;
              color: @secondary-color;
            }
          }
        }
      }
    }
    .mz-sitenav-sub-sub.active {
      padding: @gutter - 1 @gutter - 5 @gutter - 5 @gutter - 5;
      padding-top: 22px;
      border: 0;
      display: block;
      .mz-sitenav-item {
        .mz-sitenav-link.is-current {
          background: none;
        }
      }
      .secondary-menu {
        .agenda-bold;
        .secondary-menuheading {
          .agenda-bold;
          font-size: 1.8rem;
          font-weight: normal;
          text-transform: uppercase;
          color: @primary-color;
          float: left;
          width: 100%;
          padding-bottom: @gutter - 5;
        }
      }
    }
  
    .mz-sitenav-link.is-current {
      .agenda-bold;
      background: @white;
      color: @primary-color;
    }
    .mz-sitenav-item:hover .mz-sitenav-sub {
      .sitemenu-item {
        .mz-sitenav-link {
          opacity: 1;
          &:active {
            color: @primary-color;
            background: @white;
            font-weight: bold;
          }
        }
        .mz-sitenav-sub-sub {
          .mz-sitenav-item {
            font-weight: bold;
            &:active {
              background: @main-background;
            }
          }
        }
      }
    }
  
    .mz-sitenav-link {
      color: @primary-color;
      text-decoration: none;
      display: inline-block;
      padding: 8px 36.75px; //@gutter*.325;
      padding-bottom: 30px;
      font-size: 1.8rem;
      position: relative;
      .agenda;
      text-transform: none;
      margin-top: @gutter / 5;
      line-height: 1.2;
      &:hover {
        color: @secondary-color;
      }
      @media (min-width: 992px) and (max-width: 1024px) {
        padding: 24px;
      }
      @media (min-width: 992px) and (orientation: landscape) {
        padding: 24px;
      }
    }
    .mz-sitenav-item-inner {
      .mz-sitenav-link.dropdown-open {
        padding-left: 0;
        @media (min-width: 768px) {
          padding-bottom: @gutter + 5;
        }
      }
    }
  
    .mz-navright-list {
      display: inline-block;
      margin-top: @gutter / 2 + 4;
      float: right;
      &.search-container {
        @media (min-width: 992px) {
          position: absolute;
          top: -66px;
          right: 0;
        }
        @media (max-width: 767px) {
          width: 100% !important;
          float: left;
          right: 0;
          margin-top: 0;
          position: relative;
          .mz-navright-item {
            width: 100%;
            padding-left: 0;
            top: 0;
          }
        }
      }
  
      .mz-navright-item {
        float: left;
        text-align: center;
        .agenda;
        position: relative;
        top: -4px;
        padding-left: @gutter / 5 - 2;
        @media (max-width: 767px) {
          padding-left: @gutter / 5 - 1;
        }
        .mz-navright-link-cart {
          float: left;
          padding-right: @gutter / 5 + 1.5;
        }
        .icon-text {
          .agenda;
          font-size: 1.3rem;
          .text-left;
          width: 100%;
          clear: both;
          float: left;
          color: @black;
        }
        span.link-signin-out {
          .agenda;
          font-size: 1.3rem;
          color: @secondary-color;
          text-align: right;
          display: block;
          clear: both;
          margin-top: -7px;
          &:hover {
            color: @secondary-color;
            text-decoration: underline;
          }
        }
        a.link-signin-out {
          .agenda;
          font-size: 1.3rem;
          color: @secondary-color;
          text-align: right;
          display: block;
          clear: both;
          &:hover {
            color: @secondary-color;
            text-decoration: underline;
          }
        }
  
        &.wishlist-item-link {
          margin-right: 0;
          margin-left: @gutter / 5 - 1;
          text-align: left;
          padding-right: @gutter / 5 + 1.5;
          .mz-navright-link {
            float: left;
          }
          span {
            float: left;
          }
          @media (max-width: 767px) {
            padding-left: 0;
          }
          .mz-navright-link {
            span {
              float: right;
              margin-top: @gutter / 5 - 4;
            }
          }
        }
        .mz-navright-link {
          &:hover {
            text-decoration: none;
            span {
              color: @torchRed;
            }
          }
          .wishlist-thumbnail {
            padding: @gutter / 5 - 4 0 0 0;
          }
          .fa-shopping-cart {
            font-size: 2.2rem;
            color: @secondary-color;
            padding-right: 0;
            height: @gutter;
          }
          span {
            margin-top: -@gutter / 5 - 2;
          }
          .hf-nopadright {
            padding-right: 0;
          }
        }
        &.hf-nomargin-right {
          margin-right: 0;
        }
        #desktop-search {
          position: relative;
        }
      }
      .icon-wishlist {
        .login-wishlist {
          text-align: left;
          padding-left: @gutter / 5;
        }
        .logout-wishlist {
          padding-left: @gutter / 5;
        }
      }
  
      .nav-search-icon,
      .scroll-search-icon {
        font-size: 2.2rem;
        position: relative;
        top: -4px;
        color: @torchRed;
        cursor: pointer;
        float: left;
        text-align: center;
        @media (max-width: 767px) {
          display: none;
          width: min-content;
          margin-right: 10px;
          top: -6px;
        }
      }
      .search-icon-text {
        .agenda;
        font-size: 1.3rem;
        .text-center;
        width: 100%;
        clear: both;
        float: left;
        color: @black;
        line-height: 0.8;
        @media (max-width: 350px) {
          font-size: 1rem;
          line-height: 2;
        }
      }
    }
  
    @media only screen {
      @media (max-width: 800px) {
        height: auto;
        > .mz-sitenav-list {
          display: block;
        }
        .mz-sitenav-item {
          display: inline-block;
        }
        .mz-sitenav-item-more {
          display: none;
        }
      }
    }
  }
  .mobilemenutoggle {
    z-index: 100;
    color: @primary-color;
    text-decoration: none;
    display: inline-block;
    padding: 8px 36.75px; //@gutter*.325;
    padding-bottom: 30px;
    font-size: 1.8rem;
    position: relative;
    .agenda;
    font-size: 0;
    padding: @gutter / 5 + 1 @gutter / 5 + 3 @gutter / 2 + 2.5;
    border: 0;
    float: left;
    height: @gutter * 2 - 4;
    border-radius: 0;
    margin-top: @gutter / 5 - 3;
    &:before {
      background-image: url("{{ themeSettings.sirvResourceImageUrl }}/hamburger-sm.svg");
      content: "";
      display: block;
      width: @gutter - 3;
      height: @gutter - 3;
      float: left;
      margin: 0 @gutter / 5 + 1 0 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    &:hover {
      color: @secondary-color;
      text-decoration: none;
    }
    .icon-menu-text {
      .agenda;
      font-size: 1.3rem;
      margin-left: -4px;
      padding-top: 2px;
      .text-center;
      clear: both;
      float: left;
      color: @black;
    }
  }
  .mobilemenutoggle[aria-expanded="true"] {
    .glyphicon-menu-hamburger {
      color: @secondary-color;
    }
  }
  .mobilemenuclose[aria-expanded="true"] {
    position: absolute;
    top: -@gutter*3 - 3;
    left: 0;
    z-index: 100;
    color: @primary-color;
    .agenda;
    font-size: 1.3rem;
    padding: @gutter / 2 + 2.5;
    width: 100%;
    background-color: @main-background;
    border-radius: 0;
    .icon-menu-text {
      .agenda;
      font-size: 1.3rem;
      margin-left: -4px;
      .text-center;
      clear: both;
      float: left;
      color: @black;
    }
  }
  .mobilemenuclose {
    &:before {
      background-image: url("{{ themeSettings.sirvResourceImageUrl }}/close.svg");
      content: "";
      display: block;
      width: @gutter - 3;
      height: @gutter - 3;
      float: left;
      margin: 0 @gutter / 5 + 1 0 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    &:hover {
      color: @secondary-color;
      text-decoration: none;
    }
  }
  .mobilemenuclose[aria-expanded="false"] {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 100;
    color: @primary-color;
    .agenda;
    font-size: 1.3rem;
    padding: @gutter / 2 + 2.5;
    border: 0;
    border-bottom: 1px solid @header-border;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    &:before {
      background-image: url("{{ themeSettings.sirvResourceImageUrl }}/hamburger-sm.svg");
      content: "";
      display: block;
      width: @gutter - 3;
      height: @gutter - 3;
      float: left;
      margin: 0 @gutter / 5 + 1 0 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    .icon-menu-text {
      .agenda;
      font-size: 1.3rem;
      margin-left: -4px;
      .text-center;
      clear: both;
      float: left;
      color: @black;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: none;
  }
  .mobilemenutoggle[aria-expanded="true"] + nav + .overlay {
    display: block;
  }
  @media only screen {
    @media (min-width: 768px) {
      .mz-sitenav {
        .navbar-collapse.collapse {
          display: inline-block !important;
          .mz-sitenav-item:hover {
            .main-nav-link {
              color: @secondary-color;
            }
          }
        }
        .primary-menu-nav.container {
          left: -10%;
        }
      }
    }
    @media (max-width: 991px) and (min-width: 768px) {
      .mz-sitenav {
        min-height: @gutter * 2 - 10;
        border-bottom: 1px solid @silver;
        > .mz-sitenav-list {
          display: block;
        }
        .mz-sitenav-item {
          display: inline-block;
          .mz-sitenav-link {
            padding: 24px 22px;
            font-size: 1.5rem;
          }
        }
        .mz-sitenav-sub {
          top: @gutter*2 + 8;
        }
        .mz-navright-list {
          margin-top: @gutter / 2 + 1.5;
          &.search-container {
            position: relative;
            right: 0;
            .mz-navright-item {
              position: absolute;
              top: -@gutter / 5 + 1;
              right: 0;
              .mz-searchbox-expands.active {
                top: 0;
                position: relative;
                right: 0;
              }
            }
          }
        }
        .featured-content {
          .section-1 {
            .mz-sitenav-section {
              padding-top: @gutter + 7;
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      .is-locked {
        overflow: hidden;
        height: 100%;
      }
      .mz-sitenav {
        border-radius: 0;
        position: relative;
        width: 100%;
        min-height: @gutter + 30;
        left: 0;
        top: auto;
        z-index: 99;
        height: auto;
  
        &.top-menu {
          position: absolute;
          width: 100%;
          top: @gutter * 3 - @gutter / 5 - 1;
        }
  
        &.fixed-on-search {
          position: fixed;
          top: -@gutter / 5 + 4;
        }
        &.fixed-on-search + .mz-l-pagecontent {
          margin-top: @gutter * 2 - 5;
        }
        .mz-sitenav-list {
          display: block;
        }
        .navbar-collapse.in {
          .mz-sitenav-list {
            .mz-sitenav-item {
              .mz-sitenav-item-inner {
                .dropdown-open[aria-expanded="false"]:before {
                  background-image: none;
                  width: 0;
                  height: 0;
                }
              }
            }
          }
        }
        .mobilemenuclose[aria-expanded="true"] + .mz-utilitynav {
          display: block;
          height: @gutter * 2 - 7;
          float: left;
          width: 100%;
          .mz-utilitynav-list {
            padding: 0 @gutter / 5 * 3;
          }
          .mz-utilitynav-item {
            padding: @gutter / 2 + 0.5 0;
            &.register-link {
              margin: 0 0 0 @gutter / 5 + 2;
              .line-seperator {
                border-left: 1px solid @mercury;
                padding-left: @gutter / 5 + 6;
              }
            }
            .mz-utilitynav-link {
              font-size: 1.6rem;
            }
          }
          .mz-utilitynav-item:last-child {
            float: right;
          }
        }
        .navbar-collapse.in + .mz-navright-list {
          top: -@gutter*2 - 11;
        }
        .mz-navright-list {
          top: 0;
          z-index: 100;
          background: transparent;
          position: relative;
          right: @gutter / 5 * 3;
          margin-top: @gutter / 2 - 0.5;
          &.menu-open {
            position: absolute;
            //top:-@gutter * 2 - 11;
            top: -115px;
          }
        }
        .nav-title {
          font-size: 1.333rem;
          color: @label-color;
          text-transform: uppercase;
          padding: @gutter / 2 - 7.5 @gutter / 2 + 0.5;
        }
        .is-category-selected {
          margin-top: 0px;
          width: 100%;
          position: absolute;
          z-index: 1;
          height: ~"calc(100vh - 60px)";
          padding: 0;
          border: none;
          margin: 0;
        }
        .mz-sitenav-item {
          width: 100%;
          float: left;
          .mz-sitenav-item-inner {
            .dropdown-open {
              padding: @gutter / 2 + 2.5 0 @gutter / 2 + 2.5;
              border-bottom: 1px solid @header-border;
              margin-top: 0;
              text-decoration: none;
              pointer-events: none;
              &:before {
                background-image: none;
                content: none;
                margin: 0;
              }
            }
          }
          .mz-sitenav-item-more {
            .clearfix;
          }
          .mz-sitenav-link {
            width: 100%;
            float: left;
            font-size: 1.8rem;
            padding: @gutter - 10;
            text-transform: none;
            line-height: 1;
            margin-top: 0;
            &:hover {
              color: @secondary-color;
            }
          }
          .top-0 {
            top: 0 !important;
          }
          .mz-sitenav-sub {
            position: relative;
            padding-left: @gutter / 5 * 3;
            padding-top: @gutter / 5 * 3;
            top: 0;
            float: left;
            border-radius: 0;
            width: 100%;
            border: none;
            visibility: visible;
            display: block;
            padding: 0 @gutter -10;
            box-shadow: none;
            .mz-sitenav-item:first-child {
              margin-top: 0px;
            }
            .mz-sitenav-item {
              margin-bottom: 0;
              display: block;
              width: 100%;
              .mz-sitenav-link {
                font-size: 1.6rem;
                padding: @gutter / 2 - 0.5 0;
                &:hover {
                  color: @primary-color;
                  text-decoration: underline;
                }
              }
            }
            .mz-sitenav-sublink.selected,
            .mz-sitenav-sublink.is-current {
              .agenda;
              color: @primary-color;
              background: none;
            }
          }
          .mz-sitenav-sub-sub.active {
            display: none;
            .secondary-menu {
              margin-bottom: 0;
            }
            .secondary-menuheading {
              font-size: 1.9rem;
              padding-left: @gutter - 9;
              padding-top: @gutter / 5 * 2 + 2;
              padding-bottom: unset;
              line-height: 40px;
              background-color: @faintgray;
              .agenda-bold;
              &.third-menuheading {
                float: left;
                line-height: 1.5;
                width: 100%;
                background: @faintgray;
                padding: 0 0 @gutter / 5 + 3 @gutter / 5 * 3;
                &:hover {
                  color: @primary-color;
                }
              }
            }
            .mz-sitenav-item {
              .mz-sitenav-link {
                font-size: 1.6rem;
                .agenda;
              }
            }
            .subsubsublinks-section .section-padding {
              padding-bottom: @gutter - 1;
            }
            .featured-content {
              float: left;
              padding-top: @gutter - 1;
              padding-bottom: @gutter - 1;
              padding-left: 0;
              width: 100%;
              .expert-advice-tile {
                .flex-direction(column);
                margin-bottom: @gutter / 5 * 7;
              }
            }
          }
          .mz-sitenav-sub-sub-sub {
            .transition (left 0.5s ease-in-out);
            .mz-sitenav-item {
              background-color: @faintgray;
              .mz-sitenav-link {
                font-size: 1.6rem;
                font-weight: normal;
              }
            }
          }
          .mz-sitenav-sub-sub-sub.active {
            width: 100%;
            overflow: hidden;
            padding-left: @gutter / 5 + 3;
            background: @faintgray;
            .sub-sub-sub-link {
              display: none;
              &.sub-sub-sub-active {
                display: block;
                left: 0% !important;
              }
              &.mob-third-link {
                padding-bottom: @gutter / 5 + 6;
              }
            }
          }
          .primary-menu-panel {
            display: none;
            width: 100%;
            position: absolute;
            left: 100% !important;
            top: 0;
          }
          .secondary-menu-pannel {
            display: none;
            .transition (left 0.5s ease-in-out);
            left: 50%;
            position: absolute;
            top: 0;
            padding-left: @gutter / 5;
            padding-bottom: @gutter * 6;
            .backtosubsubcategory {
              width: 100%;
              margin: @gutter / 5 * 4 - 2 0 @gutter / 5 * 4 @gutter / 5 + 3;
              .back-subsublink {
                color: @backlinkred;
                font-size: 1.6rem;
                .agenda;
              }
              i, svg {
                float: left;
                font-size: 1.8rem;
                line-height: 0.8;
              }
            }
            .third-menu {
              padding-top: @gutter / 5 * 2;
              background: @faintgray;
            }
          }
          .primary-menu-nav {
            display: block;
            top: 0;
            width: 100%;
            padding-bottom: @gutter * 4;
            background-color: @faintgray;
            .primary-menu {
              width: 200%;
              height: 100%;
              left: 0;
              position: relative;
              -webkit-transition: left 200ms;
              transition: left 200ms;
              &.show-sub-sub-sub {
                width: 410%;
              }
              .primary-menu-tabs {
                width: 50%;
              }
            }
          }
          .featuredCategories {
            width: 100%;
            background: @main-background;
            float: left;
            .mz-sitenav-item {
              border-top: 1px solid @header-border;
            }
          }
          .primary-menu-panel {
            .transition (left 0.5s ease-in-out);
          }
          .is-primary-selected {
            left: -100% !important;
          }
          .is-secondary-selected {
            left: -309% !important;
          }
          .mz-sitenav-sub-sub {
            .transition (left 0.5s ease-in-out);
            &.slide-submenu {
              z-index: 10000;
              left: @gutter / 2 + 2.5;
              display: block;
              top: -@gutter*2 - 7;
              width: 100%;
              height: auto;
              padding: 0;
            }
            .backtosubcategory {
              padding: @gutter / 5 * 3 @gutter / 5 * 2;
              border-bottom: 1px solid @silver;
              background-color: white;
              .back-link {
                color: @backlinkred;
                font-size: 1.6rem;
                .agenda;
                i, svg {
                  float: left;
                  font-size: 1.8rem;
                }
                span {
                  float: left;
                  margin-top: @gutter / 5 - 3;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .mz-sitenav {
      .mz-sitenav-item {
        .mz-sitenav-link {
          font-size: 1.25rem;
        }
      }
    }
  }
  .store-mobile-sub-links {
    @media (max-width: 767px) {
      left: 0;
    }
    @media (max-width: 360px) {
      left: @gutter / 5 * 3 - 2;
    }
    .store-list-item {
      max-width: 185px;
      padding-left: @gutter * 3 - 10;
      margin-bottom: @gutter / 5 + 4;
      @media (max-width: 480px) {
        padding-left: @gutter * 2 - 5;
      }
      @media (max-width: 767px) {
        max-width: @gutter * 7 + @gutter / 5 + 2;
      }
    }
  }
  .mobilemenuclose[aria-expanded="true"] + .mz-utilitynav {
    .mz-utilitynav-item {
      &.register-link {
        margin: 0 @gutter / 5 * 3 - 10;
        @media (max-width: 400px) {
          margin: 0 0 0 @gutter / 5 + 3;
        }
      }
    }
  }
  .french-content {
    .mystore-details {
      .other-links .store-locator-link {
        @media (max-width: 417px) {
          .text-left;
        }
      }
      .other-details .store-link {
        @media (min-width: 1201px) {
          width: 80px;
          line-height: 1.13;
        }
      }
      .get-dirction-link {
        @media (min-width: 1201px) {
          padding-left: @gutter / 5;
        }
      }
      .store-links {
        .weekday-section {
          @media (min-width: 1201px) {
            margin-left: -@gutter + 5;
          }
        }
        .store-detail-cont {
          .contactInfo {
            .agenda;
            @media (max-width: 767px) {
              font-size: 1.3rem;
            }
            @media (max-device-width: 375px) {
              font-size: 1.2rem;
            }
          }
          .weekly-hour {
            .store-link {
              .agenda;
              @media (max-width: 767px) {
                font-size: 1.3rem;
              }
              @media (max-device-width: 375px) {
                font-size: 1.2rem;
              }
            }
          }
        }
        .otherlink-column {
          padding: 0 0 10px;
        }
      }
      .weekend-hours {
        @media (min-width: 992px) and (max-width: 1200px) {
          margin-left: @gutter + 5;
        }
      }
    }
    .store-mobile-sub-links {
      @media (max-width: 767px) {
        left: @gutter / 5 * 3;
      }
      .store-list-item {
        padding-left: 0;
      }
    }
    .mz-sitenav .mz-navright-list {
      &.search-container {
        @media (min-width: 768px) and (max-width: 991px) {
          right: @gutter / 5;
          position: relative;
        }
      }
      .mz-navright-item .mz-navright-link .fa-shopping-cart {
        padding-right: @gutter / 25;
      }
      .icon-wishlist {
        left: 0;
        margin-left: 0;
      }
    }
    .header-container .mz-pageheader .my-store-nav .storepopup .store-popup {
      @media (max-width: 767px) {
        left: @gutter * 2 + 10;
      }
    }
  
    .mz-sitenav .mobilemenuclose[aria-expanded="true"] + .mz-utilitynav {
      height: auto;
      .singin-link {
        max-width: @gutter * 3;
        .mz-utilitynav-link {
          float: left;
          text-align: left;
          line-height: 1.2;
          color: @secondary-color;
        }
      }
    }
    .mz-utilitynav-item.register-link {
      margin: 0 0 0 @gutter / 5 - 1;
      .line-seperator {
        padding-left: @gutter / 5 * 2;
      }
    }
    .mz-sitenav {
      .mz-sitenav-link {
        @media (max-width: 991px) {
          // padding: 8px 3.75px;
        }
        @media (min-width: 992px) and (max-width: 1024px) {
          // padding: 8px 9.75px;
        }
        @media (min-width: 992px) and (orientation: landscape) {
          // padding: 8px 9.75px;
        }
        @media (min-width: 1025px) {
          // padding: 8px 26.75px;
        }
      }
    }
  }
  
  .home-furniture-content {
    .mz-sitenav {
      .mz-navright-list {
        .mz-navright-item.wishlist-item-link {
          @media (max-width: 767px) {
            margin-left: @gutter / 5 * 2;
          }
        }
      }
    }
    .mystore-details {
      .store-links .weekday-section {
        margin-left: 0;
      }
      .weekend-hours {
        @media (max-width: 1200px) and (max-width: 992px) {
          margin-left: @gutter * 2 - 10;
        }
        @media (max-width: 991px) and (min-width: 768px) {
          margin-left: @gutter;
        }
      }
    }
  
    .mobilemenuclose[aria-expanded="true"] + .mz-utilitynav {
      .mz-utilitynav-item {
        &.register-link {
          @media (max-width: 767px) {
            .line-seperator {
              border-left: none;
              padding-left: none;
            }
          }
        }
      }
    }
  }
  
  .autocolumnfill {
    column-fill: auto !important;
  }
  .autoheightcolumnfill {
    height: auto !important;
    column-fill: auto !important;
  }
  .unsetcolumnfill {
    column-fill: unset !important;
    height: auto !important;
  }
  .displayblock {
    display: block;
  }
  .displaynone {
    display: none;
  }
  .autoheight-minheight {
    height: auto !important;
    min-height: auto !important;
  }
  .autoheight {
    height: auto !important;
  }
  .autominheight {
    min-height: auto !important;
  }
  .product-black-text {
    color: @mineShaft !important;
  }
  
  .product-red-text {
    color: @torchRed !important;
  }
  
  @media (min-width: 992px) {
    .mz-navright-list {
      display: inline-block;
      margin-top: @gutter / 2 + 4;
      float: right;
      &.search-container {
        z-index: 1020;
        list-style: none;
        list-style-type: none;
        padding-left: 0px;
        width: 100%;
        @media (max-width: 767px) {
          width: 100% !important;
          float: left;
          right: 0;
          margin-top: 0;
          position: relative;
          .mz-navright-item {
            width: 100%;
            padding-left: 0;
            top: 0;
          }
        }
      }
  
      &.sitenav-section-right {
        height: auto;
        .sitenav-section-right-username {
          position: relative;
          bottom: 0;
          .mz-logged-in-notice {
            position: relative;
            bottom: -(@gutter / 5 - 2);
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            max-width: 150px;
            @media (min-width: 1380px) {
              line-height: 2.3rem;
              bottom: 0;
            }
          }
        }
      }
  
      .mz-navright-item {
        text-align: right;
        .agenda;
        position: relative;
        top: -4px;
        padding-left: 0;
        @media (max-width: 767px) {
          padding-left: @gutter / 5 - 1;
        }
        .mz-navright-link-cart {
          float: left;
          padding-right: @gutter / 5 + 1.5;
        }
        .icon-text {
          .agenda;
          font-size: 1.3rem;
          .text-left;
          width: 100%;
          clear: both;
          float: left;
          color: @black;
        }
        .link-signin-out {
          .agenda;
          font-size: 1.3rem;
          color: @secondary-color;
          text-align: right;
          display: block;
          clear: both;
          &:hover {
            color: @secondary-color;
            text-decoration: underline;
          }
        }
  
        &.cart-icon {
          span {
            @media (max-width: 1380px) {
              margin-top: -1px;
            }
          }
        }
  
        &.wishlist-item-link {
          margin-right: 0;
          margin-left: @gutter / 5 - 1;
          text-align: left;
          padding-right: @gutter / 5 + 1.5;
          .mz-navright-link {
            float: left;
          }
          span {
            float: left;
          }
          @media (max-width: 767px) {
            padding-left: 0;
          }
          .mz-navright-link {
            span {
              float: right;
              margin-top: @gutter / 5 - 4;
            }
          }
        }
        .mz-navright-link {
          &:hover {
            text-decoration: none;
            span {
              color: @torchRed;
            }
          }
          .wishlist-thumbnail {
            padding: @gutter / 5 - 4 0 0 0;
          }
          .fa-shopping-cart {
            font-size: 2.2rem;
            color: @secondary-color;
            padding-right: 0;
            height: @gutter;
          }
          span {
            margin-top: -@gutter / 5 - 2;
          }
          .hf-nopadright {
            padding-right: 0;
          }
        }
        &.hf-nomargin-right {
          margin-right: 0;
        }
        #desktop-search {
          position: relative;
        }
      }
      .icon-wishlist {
        .login-wishlist {
          text-align: left;
          padding-left: @gutter / 5;
        }
        .logout-wishlist {
          padding-left: @gutter / 5;
        }
      }
  
      .nav-search-icon,
      .scroll-search-icon {
        font-size: 2.2rem;
        position: relative;
        top: -4px;
        color: @torchRed;
        cursor: pointer;
        float: left;
        text-align: center;
        @media (max-width: 767px) {
          display: none;
        }
      }
      .search-icon-text {
        .agenda;
        font-size: 1.3rem;
        .text-center;
        width: 100%;
        clear: both;
        float: left;
        color: @black;
        line-height: 0.8;
      }
    }
  }
  @media (max-width: 767px) {
    .hide-on-mobile {
      display: none;
    }
  }
  .icon-clearance {
    width: min-content;
    .mobile-clearance-link {
      margin-right: 8px;
    }
  }
  
  .header-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 125px;
    margin-top: -4px;
    float: left;
    background-image: url("{{ themeSettings.sirvResourceImageUrl }}/Web-Icons-on-one-file.png");
    @media (min-width: 768px) and (max-width: 991px) {
      width: 20px;
      height: 20px;
      background-size: 85px;
      margin-top: 0;
      &.clearance-mobile-icon {
        margin-right: 8px;
      }
    }
    @media (max-width: 767px) {
      &.clearance-mobile-icon {
        margin-right: 8px;
        height: 21px;
        width: 33px;
        background-size: 98px;
        background-position: -38px -5px;
        transform: rotate(-135deg);
        float: none;
      }
    }
    &.hammericon {
      background-position: -8px -46px;
      @media (min-width: 768px) and (max-width: 991px) {
        background-position: -5px 102px;
      }
    }
    &.chairicon {
      background-position: -6px -123px;
      @media (min-width: 768px) and (max-width: 991px) {
        background-position: -5px -84px;
      }
    }
    &.beautitoneicon {
      background-position: -6px -88px;
      @media (min-width: 768px) and (max-width: 991px) {
        background-position: -5px -59px;
      }
    }
    &.hereshowicon {
      font-family: "Font Awesome 5 Free";
      content: `\f144`;
    }
    &.flyericon {
      background-position: -87px -45px;
      @media (min-width: 768px) and (max-width: 991px) {
        background-position: -144px -32px;
      }
    }
    &.clearanceicon {
      background-position: -48px -4px;
      @media (min-width: 768px) and (max-width: 991px) {
        background-position: -33px -4px;
      }
    }
  }
  
  .signinIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url("{{ themeSettings.sirvResourceImageUrl }}/Web-Icons-on-one-file.png");
    background-size: 125px;
    background-position: -90px -5px;
  }
  
  .clearanceText {
    text-align: unset !important;
    padding-right: 6px;
  }
  @media print {
    .mystore-details {
      .other-details {
        .store-link {
          display: none !important;
        }
      }
    }
    #collapseOne {
      border-bottom: none;
      border-top: none;
      .store-links {
        .store-detail-cont {
          display: none !important;
        }
      }
      .other-links {
        display: none !important;
      }
    }
  }
  
  //
  // Bounteous Overrides
  //
  
  // Desktop Overrides
  @media (min-width: 768px) {
    .mz-sitenav {
      min-height: 0px;
      z-index: 15;
    }
  
    .mz-sitenav .navbar-collapse.collapse {
      display: block !important;
    }
  
    .mz-sitenav .mz-sitenav-list {
      display: block;
    }
  
    .mz-sitenav
      .mz-sitenav-sub-sub
      .subsubsublinks-section
      .subsubsublinks-contents
      .mz-sitenav-section {
      background: #f6f7f8;
    }
  
    .mz-sitenav
      .mz-sitenav-sub-sub
      .subsubsublinks-section
      .subsubsublinks-contents
      .mz-sitenav-section
      .mz-sitenav-link {
      background: #f6f7f8;
    }
  
    .mz-sitenav .mz-sitenav-item-inner .mz-sitenav-link.dropdown-open {
      padding: 0;
    }
  
    .mz-sitenav .mz-sitenav-item .parent-item {
      padding-bottom: 0px;
  
      .products-link {
        border-bottom: 2px solid transparent;
        padding: 24px 24px 22px 0;
        &:hover,
        &.product-red-text {
          color: @black;
          border-color: @brand-red;
        }
      }
    }
  
    // Main nav links
    .mz-sitenav .mz-sitenav-link {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      padding: 23px 17px;
  
      span.underline-hover {
        border-bottom: 2px solid transparent;
      }
  
      &:hover {
        span.underline-hover {
          border-color: @brand-red;
        }
      }
    }
  
    .mz-sitenav .featuredCategories .mz-sitenav-item .mz-sitenav-link {
      border-bottom: 2px solid transparent;
  
      &:hover {
        border-color: @brand-red;
        color: @black!important;
      }
    }
  
    .mz-sitenav .mz-sitenav-sub-sub .mz-sitenav-item {
      background-color: #f6f7f8;
    }
  
    .sitenav-level-1--link {
      padding: 24px 24px 22px 24px;
  
      &.products-link {
        padding: 24px 24px 0 0;
      }
  
      > span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: @black!important;
        flex-direction: column;
      }
  
      i, svg {
        font-size: 30px;
      }
    }
  
    .sitenav-level-2--link {
      position: relative;
  
      .sitenav-level-2--name {
        border-bottom: 2px solid transparent;
      }
  
      > .arrow-icon {
        position: absolute;
        right: 13px;
        top: 13px;
        font-size: 12px;
      }
  
      &:hover {
        span.sitenav-level-2--name {
          border-bottom: 2px solid @brand-red;
        }
      }
    }
  
    #desktop-search .mz-searchbox-field .mz-searchbox-input {
      padding-left: 25px;
      color: @black;
      line-height: 1;
      background-image: none !important;
      ::placeholder {
        color: @black;
        opacity: 1;
      }
    }
  
    .mz-searchbox-expands .mz-searchbox-button {
      right: 14px;
      top: 7px;
      left: auto;
    }
  
    #desktop-search .mz-searchbox-field .search-close {
      display: none !important;
    }
  }
  
  @media (min-width: 992px) {
    .sitenav-level-1--link {
      > span {
        flex-direction: row;
      }
  
      i, svg {
        margin-right: 10px;
      }
      
    }
  }
  
  @media (min-width: 992px) {
    .mz-sitenav .sitenav-container {
      height: auto;
    }
  }
  
  //
  // Bounteous Mobile Overrides
  //
  
  @media (max-width: 767px) {
    // outer padding
    .mz-sitenav
      .mz-sitenav-item
      .primary-menu-nav
      .primary-menu
      .primary-menu-tabs,
    .mz-sitenav .mz-sitenav-item .featuredCategories {
      // background-color: @white;
      padding-bottom: 2px;
    }
  
    .mz-sitenav .mz-sitenav-item .mz-sitenav-sub {
      padding-top: 0;
      padding-left: 0px;
  
      .sitenav-level-2--item {
        padding-left: 25px;
      }
    }
  
    .mz-sitenav .mz-sitenav-item .featuredCategories .mz-sitenav-item,
    .navbar-inverse .navbar-toggle.menu-padding,
    .navbar .navbar-collapse {
      border-color: @footerBg!important;
    }
  
    .mz-sitenav .mz-sitenav-item .mz-sitenav-link,
    .mz-sitenav .mz-sitenav-item .mz-utilitynav-link {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      padding: 17px;
      color: @black;
  
      i, svg {
        margin-right: 25px;
      }
    }
  
    .mz-sitenav .primary-menu-nav .primary-menu .primary-menu-tabs {
      background-color: #f0f0f0;
    }
  
    .products-cta {
      background: @white;
    }
  
    .extra-links-mobile {
      background: @white;
      border-top: 1px solid @color-secondary-grey-dark;
  
      .mobile-login {
        color: @black;
  
        a {
          color: @black;
        }
      }
    }
  
    .top-header-links-mobile {
      border-top: 1px solid @color-secondary-grey-dark;
      color: @black;
  
      li {
        span {
          text-decoration: underline;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
        }
  
        i, svg {
          font-size: 16px;
        }
  
        a {
          color: @black;
          &:hover {
            color: @brand-red;
          }
        }
      }
    }
  
    .products-cta {
      .mz-sitenav-link {
        background: @white;
        font-size: 18px !important;
        padding: 17px !important;
        padding-top: 20px !important;
  
        &:hover {
          text-decoration: none;
        }
      }
    }
  
    .pageheader-row {
      position: relative;
    }
  
    .nav-search-icon {
      display: inline-block !important;
    }
  
    .search-wrapper-mobile {
      display: none;
      position: absolute;
      z-index: 99999999999999999999;
      bottom: -51px;
  
      form {
        position: static !important;
        width: 100% !important;
        display: block !important;
      }
  
      input {
        width: 100% !important;
      }
    }
  
    .mz-searchbox-expands .mz-searchbox-field {
      height: 56px;
      padding: 12px 13px 7px;
      background: @white;
      color: @black;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  
      input {
        color: @black;
        border-radius: 20px;
        border: 1px solid @searchbox-border;
      }
    }
    .mz-searchbox-expands .mz-searchbox-button {
      top: 13px;
      width: 7%;
      border: none;
      height: 31px;
      right: 14px;
      border-radius: 100%;
    }
    .mz-sitenav .mz-sitenav-item .mz-sitenav-sub .mz-sitenav-sublink.selected,
    .mz-sitenav .mz-sitenav-item .mz-sitenav-sub .mz-sitenav-sublink.is-current {
      font-weight: 600;
      color: @black;
    }
  
    // Store Locator Overrides
    .header-container .mz-pageheader .my-store-wrapper {
      .my-store-nav.my-hfStore-nav {
        width: auto;
  
        .my-store-nav-list {
          margin-top: 0px;
        }
      }
  
      .store-dropdown {
        position: static;
      }
  
      .header-right-wrapper {
        position: static;
      }
  
      .store-dropdown--button {
        position: relative;
  
        .fa-chevron-down {
          right: -10px;
          top: 21px;
        }
      }
  
      .store-dropdown--content {
        left: 25px;
        right: 25px;
      }
    }
  
    .header-right-links,
    .header-right-wrapper {
      position: static;
    }
  
    .pageheader-row {
      position: relative;
    }
  }
  
