.mz-accordion-widget-wrap{
	.agenda;
	font-size:1.6rem;
	.accordion-panel{
		padding:0 @gutter/2 + 2.5 0 @gutter/5 * 8;
		-webkit-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
		@media (min-width: 768px){
			padding:0 @gutter/2 + 2.5 0 @gutter/5 * 12;
		}
		&+.accordion-panel{
			border-top:1px solid @horizontalLine;
		}
		&.active{
			background:@light-grey;
			.accordion-heading{
				&:before{
					content: "\E313";
				}
			}
			.accordion-collapse{
				padding-bottom:@gutter;
			}
		}
		.accordion-heading{
			position:relative;
			padding:@gutter - 3 0;
			.accordion-title{
				.agenda-bold;
				font-size:1.8rem;
				.no-margin;
				a,a:hover{
					color:@mineShaft;
				}
			}
			&:before{
			    .material-icons;
			    .text-center;
			    content: "\E315";
		        font-size: 2.4rem;
	            position: absolute;
	            font-weight:bold;
			    top: @gutter - 5;
    			left: -@gutter - 5;
    			color: @white;
			    border: none;
			    width: @gutter - 5;
			    height: @gutter - 5;
			    padding: 0;
			    border-radius: 50%;
			    background: @torchRed;
			    line-height: @gutter - 5;
			    background:@torchRed;
			    @media (min-width: 768px){
			    	left: -@gutter * 2 + 10;
			    }
			}
			.accordion-collapse{
				.accordion-content{
					padding:0 0 @gutter;
				}
			}
		}
	}
}