.social-share-product {
    .share-text {
        .agenda-bold;
        font-size: 1.6rem;
        position: fixed;
        bottom: 6px;
        right: 10px;
        color: @torchRed;
        margin-right: 11px;
        @media screen and (max-width: 768px) {
            right: 0 !important; 
            bottom: 0;
        }
        @media all and (device-width: 1024px){
            bottom: 0;
            right: 0;
        }
        @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
            right: 10px !important;
        }
        @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
            bottom: 0;
            right: 10px !important;
        }
    }
}
.at-expanding-share-button[data-position=bottom-right] {
    bottom: 24px !important;
    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation : portrait)  {
        right: 14px !important;
    }
    
    .at-icon-wrapper {
        @media (min-width: 768px) {
            margin-right: 2px !important;
        }
    }
}
.at-expanding-share-button.at-expanding-share-button-desktop {
    .at-expanding-share-button-toggle-bg {
        height: 40px !important;
        line-height: 40px !important;
        width: 40px !important;
        margin-right: 10px;
        span {
            height: 40px !important;
            width: 40px !important;
        }
    }
}
.at-expanding-share-button {
    .at-icon {
        height: 30px !important;
        margin: 6px 0 !important;
        width: 30px !important;
    }
}
.at-expanding-share-button.at-expanding-share-button-mobile {
    .at-expanding-share-button-services-list {
        margin-right: -4px !important;     
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
            margin-right: 0 !important;
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
            margin-right: 0 !important;
        }   
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
            margin-right: 0 !important;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
            margin-right: 0 !important;
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
            margin-right: 0 !important;
        }
    }
}
.french-content {
    .social-share-product {
        .share-text {
            font-size: 1.4rem;
            right: 6px;
            @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
                right: 0px !important;
            }
            @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
                right: 0px !important;
            }
        }
    }
}