
// remove widget wrapper default styles
#mz-drop-zone-alert-banner {
  
  .mz-cms-row {
    max-width: none;
  }

  .mz-cms-content {
    padding: 0px;
  }

  .mz-cms-block {
    min-width: 0px;
    min-height: 0px;
  }
}

.alert-banner {
  display:none;
  background-color: @clearance;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: @color-secondary-grey-darkest;
  
  p {
    .agenda;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0px;
  }
  
  &--content {
    position: relative;
    padding: 25px 50px 29px 25px;
    @media (min-width: @screen-sm){
      padding: 25px 70px 29px 0;
    }
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: @brand-red;
    }
  }

} 