.main-video {
	cursor: pointer;
}
.dacast-iframe{
	position:absolute;
	top:0;
	left:0;
	&.customWidth {
		width: 56vw;
	}
}
.bVideoDestinationLink{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:100%;
	height:100%;
	z-index:5;
}