.brand-slider{

    .slick-slider {
		@media (max-width: 767px) {
	        padding: 0;
	    }
		.slick-prev, .slick-next {
			height: @gutter*2 - 10;
    		width: @gutter - 5;
    		z-index: 1;
    		background: @white;
    		top: 50%;
    		@media (max-width: 767px) {
		        height: @gutter + 5;
		        width: @gutter + 5;
				top: 35%;
				background: @gallery;
		    }
		    @media (min-width: 768px){
    			background: rgba(238, 238, 238, 0.8);
		    }
    		&:hover, &:focus {
        		background: @gallery;
        	}
		} 
		.slick-prev:before, .slick-next:before {
    		.material-icons;
    		font-size:3rem;
    		color: @black;
			.text-center;
			margin-left: -8px;
    		@media(max-width:767px){
    			font-size:2rem;
    		}
		}
		.slick-prev {
		    left: -@gutter/5 - 2;
		    width:@gutter - 5;
		    border-radius: 0 @gutter*2 - 10 @gutter*2 - 10 0;
		    @media (max-width: 767px) {
				border-radius: 0 @gutter - 5 @gutter - 5 0;
				width: @gutter - 10;
		    }
		    &[dir="rtl"] {
		        left: auto;
		        right: 0;
		    }
		    &:before {
		        content: "\E314";
		        margin-left: -@gutter + 19;
		        &[dir="rtl"] {
		            content: "\E314";
		        }
		    }
		}
		.slick-next {
		    right: 0;
		    border-radius: @gutter*2 - 10 0 0 @gutter*2 - 10;
			width:@gutter - 5;
			@media (min-width:768px) and (max-width:991px) {
				right: 0;			
			}
			@media (max-width:767px) {
				right: 0;
				width: @gutter - 10;
			}
		    &[dir="rtl"] {
		        left: 0;
		        right: auto;
		    }
		    &:before {
				content: "\E315";
				margin-left: -@gutter/5 + 3;
		        &[dir="rtl"] {
		            content: "\E315";
		        }
		    }
		}
		.slick-track {
			&:after {
				display: inline-block;
			}
			background: @white;
			.slick-slide {
				height: 100%;
				-webkit-backface-visibility: hidden;
				img{
					width: 100%;
				}
			    .slick-initialized & {
			        height: @gutter*14 + 1;
			        position: relative;
			        overflow: hidden;
			    }
			}
		}
	}
	.brandregular{
		.brandImage-url{
			.brand-images{
				padding-right: @gutter - 10;
				position: relative;
				height: 130px;
				min-width: 156px;
				@media (min-width:768px) and (max-width:991px) {
					min-width: 135px;
				}
				@media (max-width:767px) {
					min-width: 140px;
				}
				img{
					vertical-align: middle;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					max-width: 100%;
					max-height: 100%;
					padding: @gutter/5 + 3 @gutter - 5;
					width: auto;
					height: auto;
					@media only screen 
					and (min-device-width: 375px) 
					and (max-device-width: 812px) 
					and (-webkit-min-device-pixel-ratio: 3)
					and (orientation: portrait) { 

						width: 104%;
						height: 43%;
						top: 35%;
						left: 48%;
						
				}
					@media only screen 
  					and (min-device-width: 375px) 
  					and (max-device-width: 812px) 
 					 and (-webkit-min-device-pixel-ratio: 3)
  					and (orientation: landscape) { 
						width: 94%;
						height: 38%;
						top: 32%;

}
				}
			}
		}
	}
}