.brand-logos {
    font-size: 0;
    text-align: center;
    
    a {
   	    display: inline-block;
	    vertical-align: middle;
	    max-width: @gutter * 3 + 10;
	    margin: @gutter - 18 @gutter - 17;
    	@media (min-width: 768px) {
   		    max-width: @gutter * 5 + 10;
    		margin: @gutter - 15 @gutter - 5;
    	}
    	@media (max-width: 767px) {
    		max-width: @gutter * 3 + 5;
    	}
    	img {
   		    width: 100%;
    	}
    }
}