.categoryContainer {
    text-align: left;
    &.contentAlignment {
        position: relative;
        margin: 0 auto;
        padding: 15px 15px;
        @media (min-width: 768px){
            width: 750px;
        }
        @media (min-width: 992px){
            width: 970px;
        }
        @media (min-width: 1200px){
            width: 1120px;
        }
    }
    .description-container-outer{
        padding: 23px 15px;
        position: relative;
        &.collapse-section{
            overflow:hidden;
            &.is-collapsed{
                height:auto;
                overflow:visible;
                max-height: 100%;
                .mainDescription{
                    height: 100%;
                    div,span,p{
                        font-size: 1.15em !important;
                        font-family: "Agenda",sans-serif !important;
                        font-style: normal !important;
                        font-weight: 400 !important;
                        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {font-size: 1.15em !important;}
                        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {font-size: 1.15em !important;}
                        @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {font-size: 1.15em !important;}
                        @media only screen and (-webkit-min-device-pixel-ratio: 3) {font-size: 1.15em !important;}
                        @media only screen and (-webkit-min-device-pixel-ratio: 4) {font-size: 1.15em !important;}
                        @media only screen and (min-width: 412px) and (max-width: 767px) {font-size: 1.15em !important;}
                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {font-size: 1.15em !important;}
                    }
                }
            }
        }
        .mainDescription{
            height: 93px;	
            @media(max-width:767px) {	
                height: 85px;	
            }	
            @media(max-width:828px) and (orientation: landscape) {	
                height: 91px;	
            }
            div,span,p{
                font-size: 1.15em !important;
                font-family: "Agenda",sans-serif !important;
                font-style: normal !important;
                font-weight: 400 !important;
                @media (max-width:767px) {
                    font-size: 1.15em !important;
                }
                @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {font-size: 1.15em !important;}
                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {font-size: 1.15em !important;}
                @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {font-size: 1.15em !important;}
                @media only screen and (-webkit-min-device-pixel-ratio: 3) {font-size: 1.15em !important;}
                @media only screen and (-webkit-min-device-pixel-ratio: 4) {font-size: 1.15em !important;}
                @media only screen and (min-width: 412px) and (max-width: 767px) {font-size: 1.15em !important;}
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {font-size: 1.15em !important;}
            }
        }
        &.parent-category-description{
            margin-bottom: 30px;
        }
        .description-container-inner{
            h2{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 4rem;
                color: #444444;
                font-family: Agenda,sans-serif;
                font-weight: 900;
                letter-spacing: 0;
                @media (max-width:767px) {
                    font-size: 1.6em;
                }
                @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {font-size: 1.6em;}
                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {font-size: 1.6em;}
                @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {font-size: 1.6em;}
                @media only screen and (-webkit-min-device-pixel-ratio: 3) {font-size: 1.6em;}
                @media only screen and (-webkit-min-device-pixel-ratio: 4) {font-size: 1.6em;}
                @media only screen and (min-width: 412px) and (max-width: 767px) {font-size: 1.6em;}
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {font-size: 1.6em;}
            }
            p{
                font-size:1.15em;
                line-height: 150%;
                margin: 14.5px 0;
                @media (max-width:767px) {
                    font-size: 1em;
                    margin-top: @gutter/5; 
                } 
                &:nth-child(1){
                    display: block;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    position: relative;
                    overflow: hidden;
                    padding: 0 !important; 
                    height: 85px;	
                    @media (max-width:767px) {	
                        height: 80px;	
                    }
                    &:after {
                        text-align: right;
                        top: 54px;
                        right: 76px;
                        display: block;
                        padding: 0px 5px;
                        background: white;
                        position: absolute;
                        @media(max-width:767px){
                            top:50px;
                            right: 78px;
                        }
                        @media only screen 
                        and (min-device-width : 768px) 
                        and (max-device-width : 1024px)  { 
                            right: 72px;  
                        }
                    }
                    @supports (-webkit-line-clamp: 1) {
                        display: none !important;
                    }
                }
            }
            .line-clamp{
                -webkit-line-clamp:'unset';
                height: auto !important;
                &:after {
                content: '' !important;
                } 
            }
        }
        .category-toggle-container{
        position: absolute;
        bottom: 10px;
        line-height: 2;
        width: 100%;
        @media(max-width:767px){
            left: 8px; 
        }
        @media (max-width:767px) and (orientation:landscape){
            bottom:13px;
        }
        @media only screen 
        and (device-width : 414px) 
        and (device-height : 896px) 
        and (-webkit-device-pixel-ratio : 2) and (orientation:landscape){ 
            bottom: 5px;
        }
        
        &.is-collapsed{
                position:relative;
                background-color:unset;
                padding-top: @gutter/5;
                bottom: 10px;
                @media (max-width:767px) {
                    padding-top: @gutter/5 - 3;
                    margin-bottom: @gutter/5;
                }
                @media only screen 
                and (device-width : 414px) 
                and (device-height : 896px) 
                and (-webkit-device-pixel-ratio : 2) and (orientation:landscape){ 
                    line-height: 1;
                    bottom: 0px;
                }
                @media (max-width:767px) and (orientation:landscape){
                    bottom:0px;
                    line-height: 1;
                }
            }
        .categoryToggle{
            &.frenchTextAlignment {
                text-align:center;
            }
            position: absolute;
            font-size: 1.45rem;
            z-index: 1;
            display: block;
            text-transform: uppercase;
            color: @torchRed;
            text-align: right;
            background: @white;
            right: 36px;
            bottom: -4px;
            @media (max-width:767px) {
                bottom: -11px;
                right: 27px;
            }
            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
                right: 32px;
                bottom: -1px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
                right: 30px;
            }
            text-decoration: underline;
        }
        &.readLessAlignment {
            padding-top: 8px;
            .categoryToggle {
                @media (max-width: 767px) {
                    right: 29px;
                }
                 /* Apple iPhone 8 Plus Media Queries */
                 @media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
                    bottom: -19px;
                }
                /* Apple iPhone 8 Media Queries */
                @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
                    bottom: -19px;
                }
                /* Apple iPhone X Media Queries */
                @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
                    bottom: -19px;
                }
                /** Apple iphone 12 Media Queries*/
                @media only screen and (min-width: 390px) and (max-width: 767px) and (orientation: portrait) {
                    bottom: -19px;
                }
                /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation: portrait) {
                    bottom: -19px;
                }
                /* Google Pixel 4 Media Queries */
                @media only screen and (min-device-width: 393px) and (max-device-width: 830px) {
                    bottom: -19px;
                }
                 /* Apple iPhone 8 Plus landscape Media Queries */
                @media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                    bottom: inherit;
                }
                /* Apple iPhone XR Landscape Media Queries */
                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation: landscape) {
                    bottom: inherit;
                }
                /* Portrait and landscape iPad Air and iPad Air 2 Media Queries */
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    bottom: -19px;
                }
                @media (min-width:1200px) {
                    right: 22px;
                    bottom: -19px;
                }
            }
        }
    }
}
    .french-content{
        .description-container-outer{
            .description-container-inner{
                p{
                    &:nth-child(1){
                        &:after {
                            right: 36px;
                            @media (max-width:767px) and (orientation:landscape){
                                right: 45px;
                            }
                            @media only screen 
                            and (min-device-width : 768px) 
                            and (max-device-width : 1024px)  { 
                                right: 36px;  
                            }
                        }
                    }
                }
            }
            .category-toggle-container{
                .categoryToggle{
                    width: 50px;
                    text-align: center;
                    @media (max-width:767px) and (orientation:portrait){ 
                        width: 40px;
                    }
                    @media only screen 
                    and (device-width : 414px) 
                    and (device-height : 896px) 
                    and (-webkit-device-pixel-ratio : 2) { 
                        bottom: 0px;
                    }
                }
                &.is-collapsed{
                    .categoryToggle{
                        width: 51px;
                    }
                }
            }
        }
    }
}