.description-container{
    padding: 0 15px;
    &.collapse-section{
        overflow:hidden;
        &.is-collapsed{
            height:auto;
            overflow:visible;
            max-height: 100%;
            .mainDescription{
                height: 100%;
                div,span{
                    font-size: 1.15em !important;
                    font-family: "Agenda",sans-serif !important;
                    font-style: normal !important;
                    font-weight: 400 !important;
                }
            }
        }
    }
    .mainDescription{
        height: 93px;
        @media(max-width:767px) {
            height: 85px;
        }
        @media(max-width:828px) and (orientation: landscape) {
            height: 91px;
        }
        div,span{
            font-size: 1.15em !important;
            font-family: "Agenda",sans-serif !important;
            font-style: normal !important;
            font-weight: 400 !important;
        }
    }
    &.parent-category-description{
        margin-bottom: 30px;
    }
    .category-description{
        position: relative;
        h2{
            margin-top: 0;
            margin-bottom: 0;
            @media (max-width:767px) {
                font-size: 1.2em;
            }
        }
        p{
            font-size:1.15em;
            line-height: 150%;
            margin: 14.5px 0;
            @media (max-width:767px) {
                font-size: 1em;
                margin-top: @gutter/5;
            } 
            &:nth-child(1){
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                position: relative;
                overflow: hidden;
                padding: 0 !important; 
                height: 85px;
                @media (max-width:767px) {
                    height: 76px;
                }
                &:after {
                    text-align: right;
                    top: 54px;
                    right: 76px;
                    display: block;
                    padding: 0px 5px;
                    background: white;
                    position: absolute;
                    @media(max-width:767px){
                        top:50px;
                        right: 78px;
                    }
                    @media only screen 
                    and (min-device-width : 768px) 
                    and (max-device-width : 1024px)  { 
                        right: 72px;  
                    }
                  }
                  @supports (-webkit-line-clamp: 1) {
                    display: none !important;
                  }
              }
        }
        .line-clamp{
            -webkit-line-clamp:'unset';
            height: auto !important;
            &:after {
              content: '' !important;
            } 
        }
    }
    .toggle-container{
     line-height: 2;
     width: 100%;
     @media(max-width:767px){
        left: 8px; 
     }
     @media (max-width:767px) and (orientation:landscape){
         bottom:13px;
     }
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) and (orientation:landscape){ 
        bottom: 5px;
    }
     
     &.is-collapsed{
            background-color:unset;
            padding-top: @gutter/5;
            bottom: 10px;
            @media (max-width:767px) {
                padding-top: @gutter/5 - 3;
                margin-bottom: @gutter/5;
            }
            @media only screen 
            and (device-width : 414px) 
            and (device-height : 896px) 
            and (-webkit-device-pixel-ratio : 2) and (orientation:landscape){ 
                line-height: 1;
                bottom: 0px;
            }
            @media (max-width:767px) and (orientation:landscape){
                bottom:0px;
                line-height: 1;
            }
        }
     .toggle-btn{
        position: absolute;
        font-size: 1.45rem;
        z-index: 1;
        display: block;
        text-transform: uppercase;
        color: @torchRed;
        text-align: right;
        background: @white;
        bottom: -16px;
        right: 21px;
        @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px)  { 
            right: 20px;  
        }
        text-decoration: underline;
     }
    }
}
.french-content{
    .description-container{
        .category-description{
            p{
                &:nth-child(1){
                    &:after {
                        right: 36px;
                        @media (max-width:767px) and (orientation:landscape){
                            right: 45px;
                        }
                        @media only screen 
                        and (min-device-width : 768px) 
                        and (max-device-width : 1024px)  { 
                            right: 36px;  
                        }
                    }
                }
            }
        }
        .toggle-container{
            .toggle-btn{
                width: 50px;
                text-align: center;
                @media (max-width:767px) and (orientation:portrait){ 
                    width: 40px;
                }
                @media only screen 
                and (device-width : 414px) 
                and (device-height : 896px) 
                and (-webkit-device-pixel-ratio : 2) { 
                    bottom: 0px;
                }
            }
            &.is-collapsed{
                .toggle-btn{
                    width: 51px;
                }
            }
        }
    }
}