.mz-button-widget {
    padding: 10px 0;
}
a.primary {
    font-family: Agenda,sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    .underline-animation(@color-white);
    &:hover {
        color: @color-white;
    }
}
a.secondary {
    box-sizing: border-box;
    border: 2px solid;
    font-family: Agenda,sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    .underline-animation(@color-primary-red);
    &:hover {
        color: @color-primary-red;
    }
}
a.tertiary {
    font-family: "Agenda",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: none;
    display: inline-block;
    .underline-animation(@color-primary-red);
    &:hover {
        color: @color-primary-red;
    }
    i.fas.fa-arrow-right {
        margin-left: 5px;
    }
}