   	.advice-category-summary {
   		padding: @gutter + 10 0;
   		text-align: center;
   		
   		.advice-category-summary-title {
   			.agenda-bold;
   			font-size: 3.4rem;
   			margin: 0 0 @gutter - 10;
		    text-transform: uppercase;
   			@media (max-width: 767px) {
   				font-size: 2.6rem;
   			}
   		}
   		.expert-advice-btn {
			.btn-red();
			.btn-small();
	    	text-transform: uppercase;
	    	font-size:1.6rem;
	    	@media (max-width: 767px) {
	    		padding: @gutter - 13 @gutter - 10 @gutter - 15;
	    	}
   		}
   		.excerpt-tile {
   			text-align: left;
   			margin: 0 0 @gutter + 5;
   			@media (max-width: 767px) {
   				width: 100%;
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
   			}
   			@media (min-width: 768px) {
  				    margin: 0 0 @gutter * 2;
   			}
   			.excerpt-tile-image-link {
   				display: block;
			    position: relative;
			    margin: 0 0 @gutter - 10;
			    @media (max-width: 767px) {
		    	    width: @gutter *5 + 5;
		    	    max-width: @gutter * 16;
			    }
			    .excerpt-tile-image {
			    	display: block;
			    	width: 100%;
			    	height:auto;
			    }
   			}
   			
   			.excerpt-tile-content {
   				 @media (max-width: 767px) {
   				 	width: calc(~'100% - 130px');
  						padding-left: @gutter - 10;
   				 } 
   				.excerpt-tile-title {
   					.agenda-bold;
  						margin: 0;
  						font-size:1.8rem;
  						a{
  							color:@primary-color;
  							&:visted,&:hover{
  								color:@primary-color;
  							}
  						}
  						@media (max-width: 767px) {
  							font-size: 1.6rem;
  						}
   				}
   				
   				.excerpt-tile-meta {
  					    margin: @gutter - 15 0 0;
  					    padding: 0;
  						list-style: none;
  						
  						.excerpt-tile-meta-content {
  							display: inline-block;
					    padding-right: @gutter - 17;
					    margin-right: @gutter - 17;
					    border-right: @gutter/25 solid @black;
					    
					    strong{
					    	.agenda-bold;
					    }
					    @media (max-width: 767px) {
					    	display: list-item;
						    padding: 0;
						    margin: 0;
						    border: none;
					    }
					    &:last-child {
					    	padding-right: 0px;
						    margin-right: 0px;
						    border-right: none;
					    }
  						}
   				}	
   			}
   		}
   	}