.featuredVideoContainer {
	width: 100%;
	.destinationLink{
		position:absolute;
		top:0;
		left:0;
		display:inline-block;
		width:100%;
		height:100%;
		z-index:5;
	}
}
.categoryPageContainer {
	width:100%;
}
