.richText-content {
    &.no-padding {
        padding: 0;
        .levelOneCategory-no-padding {
            padding: 0;
        }
    }
    &.richTextContainer {
        @media (min-width: 1120px) {
            width: 1120px;
        }
    }
    
    a {
        color: @secondary-color !important;
        text-decoration: none !important;
    }

    h2 {
        font-size: 30px !important;
        font-weight: 500 !important;
        color: rgb(68, 68, 68);
        div, span,p,a {
            font-size: 30px !important;
            font-weight: 500 !important;
            color: rgb(68, 68, 68);
        }
    }

    h3 {
        font-size: 24px !important;
        font-weight: 500 !important;
        color: rgb(68, 68, 68);
        div, span,p,a {
            font-size: 24px !important;
            font-weight: 500 !important;
            color: rgb(68, 68, 68);
        }
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        color: rgb(68, 68, 68);
        div, span,p,a {
            font-family: 'Source Sans Pro', sans-serif !important;
            font-size: 18px !important;
            font-weight: 500 !important;
            color: rgb(68, 68, 68);
        }
    }

}