.Widget-Title{
	.agenda-bold;
	font-size:2.6rem;
	text-align:center;
}
.container{
    position: relative;
.category-tile-row{
	position: relative;
	display:flex;
	flex-wrap:wrap;
.category-tile{
    padding: @gutter -  5 0;
    position: relative;
    min-height:175px;
    width:33.333333%;
    @media (max-width: 767px) {
    	width:100%;
	}
    .custom-row{
    	margin-left:@gutter - 5 * 4;
    	margin-right:@gutter - 10 * 4;
    }
    .category-tile-image {
		        vertical-align: top;
			    margin: 0;
			    padding: 0;
			    padding-left: 5px;
			    .categoryImages{
			    	display: block;
				    width: 100%;
				    height:auto;
			    }                 
		}
		.category-tile-section{
			
		.category-tile-content{
			 vertical-align: top;
			@media (max-width: 768px) { 
				padding: 0;
			}
			.Title{
				.agenda-bold;
				font-size:1.7rem;
				margin-top:0px;
			    margin: 0 0 5px;
				overflow: hidden;
			}
			.link{
				.agenda;
				font-size:1.6rem;
				color:@black;
				line-height:1.13;
				}
		}
	}
  }
}
&.widget-container{
	margin-bottom:25px;
}
}