.featured-content{
    .mz-cms-content{
        background:@white;
        .featured-navigation-tile{
            border: solid 1px @torchRed;
            background-clip: content-box;
            margin: 0;
            width: 100%;
            height: 100%;
            padding: @gutter - 13;
            .title-section{
                overflow: hidden;
                padding-bottom: @gutter/5 * 2;
                .logo-image{
                    @media (max-width:767px){
                        margin-left: @gutter/5;
                        margin-right: @gutter/5;
                    }
                }
                .main-title{
                    margin:0 0 @gutter/5 @gutter/5;
                    font-size:2.1rem;
                    width: calc(~"100% - 34px");
                    @media (max-width:767px){
                        width: calc(~"100% - 45px");
                    } 
                }
                .editor-main-title{
                    @media (min-width:768px){
                        max-width: @gutter * 4 + 10;
                    }
                }
            }
            .image-container{
                .featured-image{
                    width: 100%;
                    height: @gutter * 3 + 12;
                }
            }
            .content-link-section{
                padding: @gutter - 7;
                @media (max-width:767px){
                    overflow: hidden;
                }
                .content-link{
                    margin:0;
                    @media (min-width:768px){
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    @media (min-width:1200px){
                    width: @gutter * 6 + 10;
                    }
                    @media (min-width:993px) and (max-width:1199px){
                        width: @gutter * 5 - 3;
                    }
                    @media (min-width:768px) and (max-width:992px){ 
                        width: @gutter * 4 - 6;
                    }
                    @media (max-width:767px) {
                        width: 100%;
                        float: left;
                    }
                    .content-url{
                        font-size: 1.4rem;
                        line-height: @gutter - 1;
                        .agenda-bold;
                        @media (max-width:767px) {
                            width: 100%;
                            float: left;
                            margin-bottom: @gutter / 5 * 2;
                        }
                        .link-arrow-icon{
                            font-size: 1.2rem;
                            margin-right: @gutter/5;
                            @media (max-width:767px) {
                                float: left;
                                margin-top: 5px;
                            }
                        }
                        .link-name{
                            @media (max-width:767px) {
                                float: left;
                                width: calc(~"100% - 15px");
                                line-height: @gutter / 5 * 4; 
                            }
                        }
                    }
                }
                .editor-content-link{
                    @media (min-width:992px){
                        white-space: nowrap; 
                        width: @gutter * 5 - 5;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .featured-brands-navigation{
                padding-top: @gutter - 14;
                padding-left: @gutter/5;
                @media (max-width:767px){
                    padding: @gutter - 14  0 0 @gutter - 10;
                }

                .nav-more-link, .mob-nav-more-link{
                    font-size: 1.6rem;
                    line-height: @gutter - 3;
                    padding:0;
                    color:@primary-color;
                }
                .more-arrow-icon{
                    font-size:1rem;
                    padding-left: @gutter/5 - 2;
                    line-height: @gutter - 1;
                    color: #666666;
                    @media (max-width:767px) {
                        padding-left: @gutter/5 - 4;
                    }
                }
            }
        }
    }
}