.brand-tile {
    width: 100%;
    padding: @gutter - 5 0;
    margin-bottom: @gutter;
    .brand-tile-image {
        vertical-align: top;
        margin: 0;
		padding: 0;
        .image {
            display: block;
            max-width: 100%;
            width: 100%;
            height:auto;
        }
    }

    .brand-tile-content {
        vertical-align: top;
        padding: 0 @gutter - 5 0 @gutter + 5;
		@media (min-width: 768px) { 
			padding: 0 @gutter - 10 0 @gutter - 10; 
		}
        .title {
            .agenda-bold;
            margin: 0 0 @gutter - 10;
            font-size: 3rem;

        }

        .desc {
            margin: 0 0 15px;
        }
        .add-ellipsis{
			display: block;
			display: -webkit-box;
			-webkit-line-clamp: 2;
		   -webkit-box-orient: vertical;
		   overflow: hidden;
		   text-overflow: ellipsis;
		   height: @gutter * 2 - 5; 
		}

        .link {
        	.agenda-bold;
            font-size: 1.9rem;
            color: @link-red;
        }
    }
    
      @media (max-width: 767px) {
		display: block;
		padding: @gutter - 10;
	}
	.brand-tile-image {
		@media (max-width: 767px) {
			display: block;
			margin-bottom: @gutter - 15;
		}
	}
	.brand-tile-content {
		@media (max-width: 767px) {
			display: block;
			width: 100%;
			padding: 0;
		}
	}
}

@media (min-width: 768px) {
    .brand-tile {
        margin-bottom: 0px;
    }
}
