.featuredImagecontainer {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    .fiw-cms-image-link {
        display:block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        .fiw-mobileImage {
            display: none;
            @media only screen and (max-width: 767px) { 
                display: block;
            }
        }
        .fiw-desktopImage {
            display: block;
            @media only screen and (max-width: 767px) { 
                display: none;
            }
        }
        .caption{
            width:80%;
            .fiw-btn-cta {
                .btn-secondary();
                border-color: @color-white;
                color: @color-white;
                .underline-animation(@color-primary-red);
                padding: 12px 26px;
            }  
            &.mobileFontSize {
                @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {font-size: 2.5vw;}
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {font-size: 2.5vw;}
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {font-size: 2.5vw;}
                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {font-size: 2.5vw;}
                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {font-size: 2.5vw;}
                    @media only screen and (min-width: 412px) and (max-width: 767px) {font-size: 2.5vw;}
                    @media only screen and (min-device-width: 393px) and (max-device-width: 830px) { font-size: 2.5vw; }
                    @media only screen and (min-device-width: 393px) and (max-device-width: 830px) and (orientation: landscape) { font-size: 1.3vw; }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {font-size: 1.5vw;}
            }
            .titleText{
                line-height: 1.2;
                @media only screen and (max-width: 767px) { 
                    font-size: 150% !important;
                }
                &.fontSmall {
                    font-size: 100%;
                }
                &.fontNormal {
                    font-size: 250%;
                }
                &.fontRegular {
                    font-size: 200%;
                }
                &.fontMedium {
                    font-size: 250%;
                }
                &.fontSemiLarge {
                    font-size: 300%;
                }
                &.fontLarge {
                    font-size: 350%;
                }
            }
            .subTitleText{
                line-height: 1.2;
                @media only screen and (max-width: 767px) { 
                    font-size: 150% !important;
                }
                &.fontSmall {
                    font-size: 100%;
                }
                &.fontNormal {
                    font-size: 150%;
                }
                
                &.fontRegular {
                    font-size: 200%;
                }
                &.fontMedium {
                    font-size: 250%;
                }
                &.fontSemiLarge {
                    font-size: 300%;
                }
                &.fontLarge {
                    font-size: 350%;
                }
            }
            &.bottom-left {
                    position: absolute;
                    text-align: left;
                    bottom: 14px;
                    left: 47px;
                    line-height: 4;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
              }
              
              &.top-left {
                    position: absolute;
                    text-align: left;
                    top: 14px;
                    left: 47px;
                    line-height: 4;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
              }
              
              &.top-right {
                    position: absolute;
                    text-align: right;
                    top: 14px;
                    right: 47px;
                    line-height: 4;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        right: unset;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        right: unset;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        right: unset;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        right: unset;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        right: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        right: unset;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        right: unset;
                        transform: translate(-50%, -50%);
                    }
              }
              
              &.bottom-right {
                    position: absolute;
                    text-align: right;
                    bottom: 14px;
                    right: 47px;
                    line-height: 4;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        bottom: unset;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        bottom: unset;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        bottom: unset;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        bottom: unset;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        right: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        right: unset;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        right: unset;
                        transform: translate(-50%, -50%);
                    }
              }
              &.top-center {
                    position: absolute;
                    top: 13px;
                    line-height: 4;
                    width:100%;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
              }
              &.bottom-center {
                    position: absolute;
                    bottom: 13px;
                    line-height: 4;
                    width:100%;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        bottom: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        bottom: unset;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        bottom: unset;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
              }
              
              &.center {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    line-height: 4;
                    transform: translate(-50%, -50%);
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
              }
              &.middle-left {
                    position: absolute;
                    text-align: left;
                    top: 112px;
                    left: 47px;
                    line-height: 4;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
              }
              &.middle-right {
                    position: absolute;
                    text-align: right;
                    top: 112px;
                    right: 47px;
                    line-height: 4;
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {font-size: 12px !important;}
                     /* Apple iPhone XR 1792x828px at 326ppi Media Queries */
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {font-size: 12px !important;}
                    /* Apple iPhone 8 Media Queries */
                    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        right: unset;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 4) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        bottom: unset;
                        transform: translate(-50%, -50%);
                    }
                    
                    @media only screen and (min-width: 412px) and (max-width: 767px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        position: absolute;
                        width:80%;
                        top: 50%;
                        left: 50%;
                        line-height: 4;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }
              }
        }
    }
  }
  
  