.featuredTextBox-outer {
    @media (min-width: 1120px) {
        width: 1120px;
    }
    .featuredTextBox-inner {
        @media (min-width: 768px) { 
            display: flex;
            justify-content: center;
        }
        .grid-2-column {
            &:nth-child(1){
                @media (min-width: 768px) {
                    margin-right: 10px !important;
                    padding-left: 5px !important; 
                }
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }
            }
            &:nth-child(2){
                @media (min-width: 768px) {
                    margin-left: 10px;
                    padding-right: 5px;
                }
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }
            }
            
        }
        .grid-3-column {
            &:nth-child(1){
                @media (min-width: 768px) {
                    margin-right: 10px !important;
                    padding-left: 5px !important;
                }
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }
            }
            &:nth-child(2){
                @media (min-width: 768px) {
                    margin: 0px 10px !important;
                    padding: 0px 5px !important;
                }
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }
            }
            &:nth-child(3){
                @media (min-width: 768px) {
                    margin-left: 10px !important;
                    padding-right: 5px !important; 
                }
                @media (max-width: 767px) {
                    padding-bottom: 20px;
                }
            }
            
        }
    }
    .contentPadding {
        padding: 13px 40px;
        .textDescription-bottom-padding {
            @media (max-width: 767px) {
                padding-bottom: 20px;
            }
        }
        .textDescription-top-padding {
            @media (max-width: 767px) {
                padding-top: 20px;
            }
        }
    }
}