.footer-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.footer-header {
    font-weight: 700;
    margin: 1px 1px;
    .agenda-bold;
}

.image-header {
    margin-left: 10px;
      color: @color-black;
	  .agenda;
	  font-size: 18px;
	  font-weight: 600;
	  letter-spacing: 0;
	  .underline-animation(@color-primary-red);
	  i, svg {
	    color: @color-primary-red;
	    margin-left: 5px;
	  }
	  &:hover {
	    color: @color-primary-red;
	  }
}

.image-list,
.footer-list {
    line-height: 2;
    > li a {
        color: @mineShaft;
    }
}

.footer-image-link {
    text-decoration: none;
     &:hover{
                text-decoration:none;
            }
             
}

.featured-brands-navigation {
	.agenda;
	.footerHeader {
		font-size: 1.6rem;
		margin: @gutter / 25 @gutter / 25;
		.agenda-bold;
	}
	.footer-list {
		li {
			a {
				color: @primary-color;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 1.8rem;
			    position: relative;
			    margin-top: @gutter / 5;
			    line-height: 1.2;
			    padding: @gutter - 17 0;
			    font-size: 1.6rem;
			}
		}
	}
}


.brand-list {
    text-align: center;

    .image-list {
        max-width: 135px;
        margin: 10px 20px;
        display: inline-block;
        
        .footer-image-link {
            width: 100%;
            
            
            .brand-image {
                width: 100%;
            }
        }

        .image-header-wraper {
            display: none;
        }
    }
}

.static-page {
	.static-navigation-with-content, .static-content-with-image, .contact-us-container {
		.beautitone-tite {
		    margin-top: @gutter;
		}
		.static-navigation-container, .update-mailing-navigation, .unsubscribe-navigation, .contactus-navigation, .home-install-navigation {
			.static-page-navigation-list {
				.footer-list {
					margin: 0;
					li {
					    border-top: 2px solid @white;
			    		background-color: #d5d5d5;
			    		&.active {
			    			background-color: @doveGray;
			    			a {
			    				color: @white;
			    			}
			    		}
			    		a {
			    			padding: 5px 20px;
						    display: block;
						    line-height: 1.2;
			    		}
					}
				}
			}
			.beauti-tone-navigation {
				.beautitone-list {
					margin: 0;
					padding: 0px;
    				list-style: none;
    				li.dropdown-submenu {
    					position: relative;
    					width: auto;
    					text-align: center;
    				}
    				ul.sub-menu {
					    display: block;
					    position: absolute;
					    z-index: 1;
					    width: auto;
					    /*width: fit-content;*/
					}
				    .dropdown-submenu ul.sub-menu{
				        background: @white;
					    display: none;
					    left: 0;
					    padding: 0;
				    }
				    .dropdown-submenu:hover ul.sub-menu{
				        display: block;	/* Display the dropdown */
				        margin: 0;
				        width: auto;
				    }
				    .dropdown-submenu ul.sub-menu li{
				        display: block;
				        border: 1px solid @linkVisitedColor;
				        border-bottom: none;
    					padding: 5px 10px;
    					text-align: center;
				        a {
				        	font-size: 1rem;
				        	display: inline-flex;
    						width: max-content;
				        }
				    }
				    .dropdown-submenu ul.sub-menu li:last-child {
				    	border-bottom: 1px solid @linkVisitedColor;
				    }
					&>li {
						display: inline-block;
					    font-size: 1.4rem;
					    text-transform: uppercase;
					    background-color: @white;
					    &:not(:first-child) {
				    	    margin-left: @gutter - 13;
						    padding-left: @gutter - 13;
						    border-left: 1px solid @separatorColor;
					    }

					    @media (min-width: 768px) {
		   					&:not(:last-child) {
					    	    margin-right: @gutter - 20;
							    padding-right: @gutter - 20;
							    border-right: 1px solid @separatorColor;
							    margin-bottom: 10px;
							    margin-left: 0;
						    	padding-left: 0;
							    border-left: 0;
						    }
						    &:last-child {
						    	margin-left: 0;
						    	padding-left: 0;
							    border-left: 0;
						    }
		    			}
					    a {
					    	padding: 5px 0px;
					    	color: @linkVisitedColor;
					    }
					}
				}
				.footer-list {
					margin: 0;
					li {
					    border-top: 2px solid @white;
			    		background-color: @torchRed;
			    		&.active {
			    			background-color: #545454;
			    			a {
			    				color: @white;
			    			}
			    		}
			    		a {
			    			padding: 5px 20px;
						    display: block;
						    line-height: 1.2;
						    color: @white;
			    		}
					}
				}
			}
			.beauti-tone-navigation-select {
	    		position: relative;
	    		select {
					border: 1px solid @formInputBorder;
				    border-radius: 0px;
				    background: @white;
				    padding: @gutter - 15 @gutter + 10 @gutter - 15 @gutter - 15;
			        height: 41px;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    width: 100%;
	    		}
	    		
	    		select::-ms-expand {
				    display: none;
				}
	    		
	    		&:after {
				    height: 41px;
				    line-height: 41px !important;
				    color: @formInputBorder;
				    .material-icons;
				    content: "\E313";
			        font-size: 3.4rem;
		            position: absolute;
				    bottom: 0;
				    right: @gutter - 15;
				    pointer-events: none;
				}
			}
			.static-page-child-list {
				.footer-list {
					li {
						background-color: @concernBg;
						a {
							padding-left: 35px;
							font-size: 1.4rem;
						}
					}
				}
			}
			.beauti-tone-subsection-navigation {
				.footer-list {
					li {
						background-color: @doveGray;
						a {
							padding-left: 35px;
							font-size: 1.4rem;
							color: @white;
						}
					}
				}
			}
			.beauti-tone-subsubsection-navigation {
				.footer-list {
					li {
						background-color: @doveGray;
						a {
							padding-left: 45px;
						}
					}
				}
			}
		}
	}
}
