.hh-history-wrap {
	display: none;
	&.page-active {
		display: block;
	}
	
	.content {
		margin-top: @gutter - 15;
	}	
}
.hh-pagination-wrap {
    text-align: center;
	.hh-pagination {
		float: none !important;    	
		.page-link {
			padding: @gutter - 20 @gutter - 15;
			font-size: 12px;
		}
	}	
}
