.HES-up-card-2-container{
    @media (min-width: 1120px) {
        width: 1120px;
        padding: 0;
    }
    .HES-mob-section-Header{
        h3{
            text-align: center;
            font-weight: 700 !important;
        }
    }
    .HES-mobile-outer{
        .flex-item{
            &.flex-columns{
                width: 100%;
                margin: 10px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
                flex: 1;
                .HES-mob-image-section {
                    width: 100%;
                    height: 100%;
                    div {
                        background-size: cover;
                    }
                    img {
                        height: 145px;
                        min-height: 145px;
                    }
                }
            }
            .flex-item-inner{
                padding: 20px;
                border-top: 3px solid red;
                .justify-content-center{
                    justify-content: center;
                    .HES-mob-first-icon{
                        align-self: center;
                        img{
                            @media only screen and (max-width: 767px) and (orientation: landscape) { 
                                float: right;
                            }
                            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                                float: right;
                            }
                            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
                                float: right;
                            }
                            @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){
                                float: right;
                            }
                            min-height: auto;
                            object-fit: contain;
                        }
                    }
                    .HES-mob-second-icon{
                        align-self: center;
                        img{ 
                            min-height: auto;
                            object-fit: contain;
                        }
                    }
                }
                .HES-mob-first-icon{
                    align-self: center;
                    @media only screen and (max-width: 767px) and (orientation: landscape) { 
                        flex: 0 0 25%;
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                        flex: 0 0 25%;
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
                        flex: 0 0 25%;
                    }
                    @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                        flex: 0 0 25%;
                    }
                    img{ 
                        min-height: auto;
                        object-fit: contain;
                    }
                }
                .HES-mob-second-icon{
                    align-self: center;
                    @media only screen and (max-width: 767px) and (orientation: landscape) { 
                        flex: 0 0 25%;
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                        flex: 0 0 25%;
                    }
                    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
                        flex: 0 0 25%;
                    }
                    @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                        flex: 0 0 25%;
                    }
                    img{ 
                        min-height: auto;
                        object-fit: contain;
                    }
                }
                .HES-mob-title{
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 40px; 
                }
                .HES-mob-sub-title{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 25px;
                }
                .HES-mob-save-story{
                    font-size: 38px;
                    color: #E4002B;
                    margin-top: 20px;
                }
                .HES-mob-product-price{
                    font-size: 38px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }
                .HES-mob-old-price{
                    font-size: 22px;
                    margin-top: 0;
                    line-height: 0.9;
                    color: #000;
                    font-weight: 500px;
                }
                .HES-mob-cta-button{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 25px;
                    margin-top: 20px;
                    .underline-animation(@color-primary-red);
                    padding: 12px 44px;
                    box-sizing: border-box;
                    border-radius: 22px;
                    font-family: @font-family-agenda;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-align: center;
                    
                }
            }
        }
    }
    .HES-section-Header{
        h3{
            font-weight: 700 !important;
        }
    }
    .HES-outer{
        .flex-item{
            &.flex-columns{
                width: 33.333%;
                margin: 10px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
                flex: 1;
                .HES-image-section {
                    width: 100%;
                    height: 100%;
                    flex: 1;
                    .HES-image {
                        background-size: cover;
                        &.HES-east-position {
                            background-position: 100% 50%;
                        }
                        &.HES-west-position {
                            background-position: 0% 50%;
                        }
                        &.HES-north-position {
                            background-position: 50% 0%;
                        }
                        &.HES-south-position {
                            background-position: 50% 100%;
                        }
                        &.HES-center-position {
                            background-position: center center;
                        }
                        &.HES-northeast-position {
                            background-position: 100% 0%;
                        }
                        &.HES-northwest-position {
                            background-position: 0% 100%;
                        }
                        &.HES-southeast-position {
                            background-position: 100% 100%;
                        }
                        &.HES-southwest-position {
                            background-position: 0% 100%;
                        }
                    }
                }
            }
            .flex-item-inner{
                padding: 20px 20px 20px 30px;
                border-top: 3px solid red;
                flex: 1;
                .HES-first-icon{
                    align-self: center;
                    flex: 0 0 37%;
                    img{ 
                        min-height: auto;
                        object-fit: contain;
                        height: 76px;
                    }
                }
                .HES-second-icon{
                    align-self: center;
                    img{ 
                        min-height: auto;
                        object-fit: contain;
                        height: 76px;
                    }
                }
                .HES-title{
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 40px;
                }
                .HES-sub-title{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 25px;
                }
                .HES-save-story{
                    font-size: 38px;
                    color: #E4002B;
                    margin-top: 20px;
                }
                .HES-product-price{
                    font-size: 38px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }
                .HES-old-price{
                    font-size: 22px;
                    margin-top: 0;
                    line-height: 0.9;
                }
                .HES-cta-button{
                    display: block;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    .underline-animation(@color-primary-red);
                    padding: 12px 40px;
                    box-sizing: border-box;
                    border-radius: 22px;
                    font-family: @font-family-agenda;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-align: center;
                }
            }
        }
    }
}