.HES-up-card-1-container{
    @media (min-width: 1120px) {
        width: 1120px;
        padding: 0;
    }
    .HES-mob-section-Header{
        h3{
            text-align: center;
            font-weight: 700 !important;
        }
    }
    .HES-mobile-outer{
        .flex-item{
            &.flex-columns{
                width: 100%;
                margin: 10px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
                flex: 1;
                .HES-mob-image-section {
                    width: 100%;
                    img {
                        min-height: auto;
                        height: 100%;
                    }
                }
            }
            .flex-item-inner{
                padding: 20px;
                border-top: 3px solid red;
                .justify-content-center{
                    justify-content: center;
                    .HES-mob-logo-section {
                        .HES-mob-first-icon{
                            align-self: center;
                            object-fit: contain;
                            flex: 0 0 37%;
                            padding-left: 0;
                            img{
                                min-height: auto;
                                @media only screen and (max-width: 767px) and (orientation: landscape) { 
                                    float: right;
                                }
                                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                                    float: right;
                                }
                                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
                                    float: right;
                                }
                                @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){
                                    float: right;
                                }
                            }
                        }
                        .HES-mob-second-icon {
                            align-self: center;
                            object-fit: contain;
                            min-height: auto;
                        }
                    }
                }
                .HES-mob-logo-section {
                        @media only screen and (max-width: 767px) and (orientation: landscape) { 
                            width: 45%;
                        }
                        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                            width: 45%;
                        }
                        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
                            width: 45%;
                        }
                        @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
                            width: 45%;
                        }
                    .HES-mob-first-icon{
                        align-self: center;
                        object-fit: contain;
                        flex: 0 0 37%;
                        padding-left: 0;
                        img {
                            min-height: auto;
                        }
                    }
                    .HES-mob-second-icon{
                        align-self: center;
                        object-fit: contain;
                        img {
                            min-height: auto;
                        }
                    }
                }
                .HES-mob-title{
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 40px; 
                }
                .HES-mob-sub-title{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 25px;
                }
                .HES-mob-save-story{
                    font-size: 38px;
                    color: #E4002B;
                    margin-top: 20px;
                }
                .HES-mob-product-price{
                    font-size: 38px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }
                .HES-mob-old-price{
                    font-size: 22px;
                    margin-top: 0;
                    line-height: 0.9;
                    color: #000;
                    font-weight: 500px;
                }
                .HES-mob-cta-button{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 25px;
                    margin-top: 20px;
                    .underline-animation(@color-primary-red);
                    padding: 12px 44px;
                    box-sizing: border-box;
                    border-radius: 22px;
                    font-family: @font-family-agenda;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-align: center;
                    
                }
            }
        }
    }
    .HES-section-Header{
        padding-left: 10px;
        h3{
            font-weight: 700 !important;
        }
    }
    .HES-outer{
        .flex-item{
            &.flex-columns{
                margin: 10px;
                box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
                flex-direction: row-reverse;
                flex: 1;
            }
            .HES-image-section {
                flex: 1;
                img {
                    min-height: auto;
                    height: 100%;
                }
            }
            .flex-item-inner{
                padding-left: 35px;
                border-top: 3px solid red;
                flex: 1;
                .HES-logo-section {
                    margin-top: 30px;
                    .HES-first-icon{
                        align-self: center;
                        flex: 0 0 37%;
                        padding-left: 0;
                        img{
                            min-height: auto;
                            object-fit: contain;
                            height: 76px;
                        }
                    }
                    .HES-second-icon{
                        align-self: center;
                        img{
                            min-height: auto;
                            object-fit: contain;
                            height: 76px;
                        }
                    }
                }
                .HES-title{
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 40px;
                }
                .HES-sub-title{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 25px;
                }
                .HES-save-story{
                    font-size: 38px;
                    color: #E4002B;
                    margin-top: 20px;
                }
                .HES-product-price{
                    font-family: Agenda,sans-serif;
                    font-weight: bold;
                    letter-spacing: 0;
                    font-size: 38px;
                    margin-bottom: 0;
                    margin-top: 20px;
                    color: #000;
                }
                .HES-old-price{
                    font-size: 22px;
                    margin-top: 0;
                    line-height: 0.9;
                    color: #000;
                    
                }
                .HES-cta-button{
                    a{
                        display: block;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        .underline-animation(@color-primary-red);
                        padding: 12px 40px;
                        box-sizing: border-box;
                        border-radius: 22px;
                        font-family: @font-family-agenda;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 18px;
                        text-align: center;
                    }
                }
            }
        }
    }
}