.images-with-responsiveness{
    /* for Desktop */
    .column-cats {
        /*Sets Number of Images Across*/
        padding: 10px;
    }
    .padding10{
        padding: 10px;
    }
    .titleText {
        color: @color-black;
        .agenda;
        font-size: 1.8rem;
        padding-top: 4px;
        @media (max-width: 767px) { 
            font-size: 1.8rem;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px)  and (-webkit-device-pixel-ratio: 3) {
            font-size: 1.8rem;
        }
        @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
            font-size: 1.8rem;
        }
        @media only screen  and (device-width: 428px) and (device-height: 926px)  and (-webkit-device-pixel-ratio: 3) {
            font-size: 1.8rem;
        }
        @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
            font-size: 1.8rem;
        }
        .btn-secondry-black {
            color: @color-black;
            font-family: @font-family-agenda;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 18px;
            text-align: left;
        }
    }
    .subCopyContent-section {
        font-family:@font-family-agenda;
        color: @font-hh-black;
        font-size: 1.8rem;
    }
}