.mz-image-slider-container {
	.slick-slider {
		@media (max-width: 767px) {
	        padding: 0;
	    }
		.slick-prev, .slick-next {
			height: @gutter*3 + 5;
    		width: @gutter*2 - 10;
    		z-index: 1;
    		background: @white;
    		top: 35%;
    		@media (max-width: 767px) {
		        height: @gutter*2 + 10;
		        width: @gutter + 5;
		        top: 35%;
		    }
		    @media (min-width: 768px){
		    	top: 30%;
    			background: rgba(238, 238, 238, 0.8);
		    }
    		&:hover, &:focus {
        		background: @gallery;
        	}
		}
		.slick-prev:before, .slick-next:before {
    		.material-icons;
    		font-size:4.4rem;
    		color: @black;
    		.text-center;
    		@media(max-width:767px){
    			font-size:3.4rem;
    		}
		}
		.slick-prev {
		    left: 0;
		    width:@gutter/5 * 8;
		    border-radius: 0 @gutter*2 - 10 @gutter*2 - 10 0;
		    @media (max-width: 767px) {
		        border-radius: 0 @gutter + 5 @gutter + 5 0;
		    }
		    &[dir="rtl"] {
		        left: auto;
		        right: 0;
		    }
		    &:before {
		        content: "\E314";
		        margin-left: -@gutter + 21;
		        &[dir="rtl"] {
		            content: "\E314";
		        }
		    }
		}
		.slick-next {
		    right: 0;
		    border-radius: @gutter*2 - 10 0 0 @gutter*2 - 10;
		    width:@gutter/5 * 7 + 1;
		    &[dir="rtl"] {
		        left: 0;
		        right: auto;
		    }
		    &:before {
		        content: "\E315";
		        &[dir="rtl"] {
		            content: "\E315";
		        }
		    }
		}
		.slick-track {
			&:after {
				display: inline-block;
			}
			background: @white;
			.slick-slide {
				height: 100%;
				-webkit-backface-visibility: hidden;
				&.bannerMaintainImg{
					position:static !important;
				}
				img{
					width: 100%;
				}
				.tabImg {
			        position: absolute;
				    width: 25%;
				    right: auto;
			        top: -@gutter*11 - 3;
			        @media (max-width: 1024px) and (min-width: 768px) {
			            top: 0;
			        }
			        @media (max-width: 767px) {
			            top: 0;
			            height: @gutter*12 - 3;
			        }
			    }
			    .slick-initialized & {
			        height: @gutter*14 + 1;
			        position: relative;
			        overflow: hidden;
			    }
			    .promotionalBanner{
			    	position: relative;
			    	z-index: 10;
			    	text-align: center;
			    	background-size: cover;
    				background-position: 50% 50%;
    				background-repeat: no-repeat;
			    	.agenda;
			    	padding: @gutter * 3 + 5 @gutter * 3 @gutter * 4;
    				height: @gutter * 14 + 1;
    				
			    	&:before {
			    		position: absolute;
					    content: "";
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    z-index: 0;
			    	}
			    	@media (max-width: 1024px) and (min-width: 768px) {
			    		padding: @gutter*3 + 5 @gutter*3 @gutter*4;
			    	}
			    	@media (max-width: 767px) {
			    		padding: @gutter + 11 @gutter/2 + 2.5;
			    	}
			    	
			    }
			    .banner-content {
			    	position: relative;
			    	.banner-title {
			    		.agenda-black;
					    color: @white;
					    font-size: 6.6rem;
					    margin: 0px;
					    @media (max-width: 767px) {
						    font-size: 4.4rem;
						    margin-top: 0;
						    padding: 0 @gutter/2 + 2.5;
						}
					}
					.banner-subtitle {
					    font-size: 2.2rem;
					    color: @white;
					    margin-top: @gutter - 15;
					    margin-bottom: 0px;
					    @media (max-width: 767px) {
						    font-size: 1.7rem;
						    margin-top: 0;
						}
					}
					.banner-button {
						.agenda-bold;
						 margin-top: @gutter;
						.btn-medium(); 
						.new-btn-secondary();
						.underline-animation(@color-primary-red);
					}
				}
			}
			.bannerimg {
				&:before {
			        position: absolute;
				    content: "";
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
			        background: rgba(0, 0, 0, .1);
			        z-index:9;
			    }
			}
			.bannerMaintainImg {
				&:before {
			        position: absolute;
				    content: "";
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
			        z-index:9;
			    }
			}
		}
	}
	.related-contents {
		background-color: @light-grey;
		position: relative;
    	z-index: 999;
    	.contentColumn {
    		margin-top: 5 - @gutter;
    	}
		.productTile {
			display: block;
    		font-size: 1rem;
    		margin: 0 0 @gutter + 5;
    		
    		.productTile-title-link{
    			color:@primary-color;
    			&:visited, &:hover, &:active, &:focus {
				    color: @primary-color;
				}
    		}
			@media (min-width: 768px){
			    margin-bottom: 5px;
			}
			
			.productTile-image-link {
				display: block;
			    position: relative;
			    margin: 0 0 @gutter - 10;
			    background: @white;
			    
			    .mz-productlisting-imageplaceholder {
			    	display: block;
		    	    background: @slider-arrow-background;
   					line-height: @gutter * 9 + 0.45;
   					text-align: center;
   					height: @gutter * 9 + 0.45;
   					color: @sgilightgray;
			    }
			    
			    .badge {
	   			    .agenda-bold;
				    color: @white;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    padding: @gutter - 20 @gutter - 15;
				    background: @torchRed;
				    font-size: 1.6rem;
				    border-radius: 0;
	    		}
			}
			
			.productTile-image {
				@media (max-width: 767px) {
					height: 100%;
				}
			}

			.clearanceTagImg{
				.agenda-bold();
				color: black;
				position: absolute;
				bottom: 0;
				left: 0;
				line-height: 1;
				padding: 5px 10px;
				background-color:@clearance;
				font-size: 1.6rem;
				border-radius: 0;
				z-index: 1;
				@media (min-width: 768px) and (max-width: 991px){
                    font-size: 1.3rem;
                    line-height: 1.3;
				}
				@media (max-width: 767px){
					padding: 6px;
					font-size: 1.4rem;
				}
			}
			 
			.productTile-content {
				.productTile-title {
					font-weight: normal;
    				font-size: 1.6rem;
    				@media (max-width: 767px) {
    					color: @mineShaft;
    				}
    				.add-ellipsis {
						display: block;
						display: -webkit-box;
						-webkit-line-clamp: 2;
					   -webkit-box-orient: vertical;
					   overflow: hidden;
					   text-overflow: ellipsis;
					   height: @gutter + 9; 
					}
				}
				
				.inline-ratings-category-page{
					height:30px;
					.bv_main_container{
					  	position:absolute !important;
					}	
				}
				
				.productTile-price {
					.mz-pricestack {
						font-weight: normal;
						font-size: 1.7rem;
						margin: 0;
				        .mz-price {
			                .agenda-bold;
			                font-size: 1.7rem;
				        	margin: 0;
				        	.selling-unit{
				        		font-size: 1.2rem;
				        	} 
				        }
					}
					.saved-price{
		    			margin:0 0 @gutter/5 + 5;
		    			font-size:1.2rem;;
		    			.promo-amount{
		    				.agenda-bold;
		    			}
		    		}
					.product-not-available{
						.agenda-bold;
		    			margin:0;
		    			font-size:1.5rem;
		    			margin : @gutter/5 0 0 0;
					}
				}
				.brand-name {
			    	.agenda-bold;
			    	font-size: 1.5rem;
		   			margin: 0 0 @gutter/5 + 3;
		   			line-height:1;
		   			display: inline-block;
			    }
				.product-code{
					font-size: 1.6rem;
    				margin: 0;
    				display: inline-block;
				}
			}
		} 
	} 
	&.only-image-slider{
		.slick-slider {
			.slick-prev {
				@media (max-width: 992px) {
					width: @gutter;
				    height: @gutter + 10;
			        top: 50%;
				}
		        &:before{
		        	@media (max-width: 992px) {
    					font-size: 3.3rem;
    				}
		        	 margin-left: -@gutter + 20;
		        }
			}
			.slick-next {
				@media (max-width: 992px) {
					width: @gutter;
				    height: @gutter + 10;
			        top: 50%;
				}
			    &:before{
			    	@media (max-width: 992px) {
    					font-size: 3.3rem;
    				}
		        	 margin-left: -@gutter + 20;
		        }
			}
			.slick-track {
				.slick-slide{
					-webkit-backface-visibility: hidden;
					 .promotionalBanner{
					 	@media (max-width: 992px) {
					 		height:auto;
					 	}
					 	@media (max-width: 767px) {
					 		padding: @gutter - 1 @gutter*3 @gutter*3 + 8;
						}
					 }
				}
			}
		}
	}
	.slick-dots {
		top: @gutter - 10;
		justify-content: center;
		bottom: auto;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
		@media (max-width:767px) {
			top: @gutter + 5;
		}
		li {
			margin: 0 0.25rem;
		}
		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			color:@silver;
			border: none;
			border-radius: 100%;
			background-color:@silver;
			text-indent: -9999px;
			&:before{
				opacity:1;
			}
			&:hover{
				background-color:@linkColor;
			}
		}
		li.slick-active button {
			background-color: @linkColor;
		}
	}      
}
.mz-image-slider-container{
	&.beauti-tone{
		.slick-slider {
			.slick-track {
				.slick-slide{
					-webkit-backface-visibility: hidden;
					&.bannerMaintainImg{
						position:static !important;
					}
					 .promotionalBanner{
					 	@media(min-width:1129px){
					 		height:@gutter * 17 + 1; 
					 	}
					 	@media(max-width:1128px) and (min-width:992px) {
					 		height:@gutter * 15 + 13; 
					 	}		
					 	@media(max-width:991px) and (min-width:768px){
					 		height:@gutter * 15 + 10;		
					 	}
					 	@media(max-width:767px){
					 		margin-bottom:@gutter/5 * 3;
					 	}
					 }
				}
			} 
		}
	} 
}
#mz-drop-zone-static-images-block{
	.mz-cms-image-maintain{
		@media(max-width:767px){
			margin-bottom:@gutter/5 * 3;
		}
	}	
}

.french-content{
	.mz-image-slider-container{
		.related-contents{
			.productTile{
				.clearanceTagImg{
					@media (max-width: 767px){
						padding: 7px;
						font-size: 1.3rem;
					}
				}
			}
		}
	}
}
#promotional-carousel{
	&.initial-load-image{
		width:100%;
		height: 650px;
		@media(max-width:1381px){
	    	width: 1349px;
	    	height: 550px;
	    }
	
	}
}
.underline-animation(@color) {
    text-decoration:none;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease;
    }

    @media (min-width: @screen-lg){
      &:hover {
        &:after {
          width: 100%;
          background: @color !important;
        }
      }
    }
  }