.merchandises-products {
	#merchandised-product-slider.slick-initialized{display:block;padding: 10px;}
	.mz-productlist {
		padding-top: 0px;
		.slick-slide.slick-current.slick-active:first-child {
			margin-right: 10px;
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
				margin-right: 0;
			}
			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
				margin-right: 0;
			}
		}
		.slick-list {
			margin-left: 20px;
			margin-right: 22px;
			@media only screen and (max-width: 767px) { 
				margin-right: 25px;
            }
			@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {margin-right: 25px;}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {margin-right: 25px;}
			@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {margin-right: 25px;}
			@media only screen and (min-device-width: 393px) and (max-device-width: 830px) { margin-right: 25px; }
		}
		.slick-track {
			border-bottom: 1px solid @formInputBorder;
		}
		.slick-prev:before, .slick-next:before {
			.material-icons;
			font-size: 2.2rem;
			color: @white;
			opacity:1;
		}
		.slick-prev {
			left: 0;
			margin-top: -20px;
			margin-left: @gutter - 10;
			z-index: 1;
			background-color: @slider-arrow-background;
			height: 30px;
			width: 15px;
			border-radius: 0 20px 20px 0;
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
				margin-top: -40px;
			}
			&:before {
				content: "\E314";
				color: #000;
				font-size: 2rem;
				margin-left: -2px;
				&[dir="rtl"] {
					content: "\E314";
				}
			}
		}
		.slick-next {
			right: 0;
			margin-right: 15px;
    		margin-top: -20px;
			z-index: 1;
			background-color: @slider-arrow-background;
			height: 30px;
			width: 15px;
			border-radius: 40px 0 0 40px;
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
				margin-top: -40px;
			}
			&:before {
				content: "\E315";
				font-size: 2rem;
				margin-left: -2px;
    			color: #000;
				&[dir="rtl"] {
					content: "\E315";
				}
			}
		}
		.mz-productlisting {
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
				width: 160px !important;
			}
			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
				width: 178px !important;
				display: inline-block;
			}
			@media (max-width: 767px) {
				width: 190px;
				display: block;
				padding-bottom: 0;
				position: relative;
				border-bottom: none;
			}
			@media (max-width: 375px) {
				width: 170px !important;
			}
			@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation: landscape) { 
				width: 215px !important;
			}
			@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
				width: 145px !important;
			}
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
				width: 230px !important;
			}
			@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation: landscape) { 
				width: 228px !important;
			}
			@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) { 
				width: 195px !important; 
			}
			.mz-productlisting-image {
				@media only screen and (min-device-width: 768px) and (max-device-width: 2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2){ 
					width: 100% !important;
				}
				@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
					width: 158px;
				}
				@media (max-width: 767px) {
					position: relative;
					display: block;
					width: 180px;
					margin: 0 25px 0 -10px;
					overflow: hidden;
				}
				@media (max-width: 375px) {
					width: 162px;
				}
				@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) and (orientation: landscape) { 
					width: 190px;
				}
				@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
                	width: 140px;
                }
				@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
					width: 225px;
				}
				@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation: landscape) { 
					width: 220px;
				}
				@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) { 
					width: 178px;
				}
			}
			.mz-productlisting-info {
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
					width: 168px;
				}
				@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
					width: 168px;
				}
				@media (max-width: 767px) {
					width: 170px;
					margin-left: -9px; 
					margin-top: 5px;
				}
				@media (max-width: 375px) {
					width: 160px;
				}
				@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
                	width: 140px;
                }
				.mz-productlisting-title {
					color: #000;
					.agenda-bold;
				}
			}
		}
	}
}