.most-related-videos {
	.agenda;
	.featured-video-wrapper {
		video {
			width: 100%;
		}
		.video-description {
			padding: @gutter - 15 0;
		}
	}
	.currentpage {
		display: none;
	}
	.page-active {
		display: block;
	}
	.related-videos {
		.agenda;
	    margin-left: -@gutter + 10;
	    margin-right: -@gutter + 10;
		@media (min-width: 768px) {
	    	margin-left: 0;
	    	margin-right: 0;
	    }
		.related-videos-section {
			@media (min-width: 768px) {
				border: 1px solid @border-light;
			}
			border-top: 1px solid @border-light;
	    	border-bottom: 1px solid @border-light;
			.videos-section-heading {
				position: relative;
				.agenda-bold;
				font-size: 1.4rem;
				margin: 0;
	   			padding: @gutter - 5 @gutter + 15 @gutter - 5 @gutter - 10;
	   			background: @videos-section-background;
	   			color: @white;
			}
			.video-list {
				padding: 0;
			    list-style: none;
			    margin: 0;
			    
			    .video-list-item {
			    	border-top: 1px solid @border-light;
				    margin: 0;
				    padding: @gutter @gutter - 10;
				    width: 100%;
				    font-size: 1.6rem;
				    display: table;
				    
				    .video-item {
				    	margin: 0;
				    	
				    	.video-tile {
				    		padding: 0;
				    		
				    		.video-tile-image {
				    			padding: 0;
				    			max-width: @gutter * 3 - 5;
				    			margin-right: @gutter - 15;
				    			@media (max-width: 767px) {
				    				margin-right: @gutter - 11;
				    				max-width: @gutter * 2;
				    			}
				    			
				    			.video-image {
				    				width: 100%;
				    			}
				    		}
				    		
				    		.video-tile-content {
				    			.agenda;
				    			padding: 0;
				    			
				    			.video-tile-title {
				    				.agenda-bold;
				    				font-size: 1.2rem;
				    				margin: 0;
				    			}
				    		}
				    	}
				    }
			    }
			}
		}
		.video-pagination {
			.page-link {
				padding: 5px 10px;
				font-size: 12px;
			}
		}
	}
	
}