.help-block{
	margin-bottom:@gutter * 2;
	.agenda;
	font-size:1.6rem;
	color:@mineShaft;
	.help-block-title{
		.agenda-bold;
		margin: 0 0 @gutter - 5;
		font-size:2.6rem;
		line-height:1.1;
		@media(min-width: 768px){
			font-size: 3.4rem;
	   		margin: 0 0 @gutter + 5;
   		}
	}
	.help-block-subtitle{
		margin:0 0 @gutter/5 * 2;
		font-size:1.8rem;
		.agenda-bold;
		a{
   			color:@torchRed;
   		}
	}
	.help-content{
		margin:0 0 @gutter + 5;
		a{
			color:@torchRed;
		}
	}
	.help-button{
		.btn-medium();
		.new-btn-secondary();
	    margin: 0 0 @gutter + 5;
	}
	.link{
		color:@torchRed;
	}
	.help-sub-block{
		a{
			color:@torchRed;
		}
	}
}