.promotional-banner {
    position: relative;
    min-height: 168px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: @white;
    text-align: center;
    width: 100%;
    padding: @gutter + 50;
    
    @media (min-width: 768px) {
    	min-height: 385px;
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title {
        .agenda-black;
        font-size: 6.6rem;
        margin: 0;
        color: @white;
        @media(max-width:992px){
        	font-size:4.4rem;
        }
    }
}
