.promotional-link {
    width: 100%;
    padding: @gutter + 5 @gutter - 5;
    background: @callOutBg;
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display:flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: @gutter + 5;
	
	@media (min-width: 768px) {
	    text-align: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	
	.image-wrap {
		width: 60px;
	    margin-right: @gutter - 5;
		@media (min-width: 768px) {
			width: auto;
		    display: inline-block;
		    margin-right: @gutter - 15;
		}
		
		img {
			display: block;
	    	width: 60px;
			@media (min-width: 768px) {
			    max-width: @gutter + 10;
			    height: @gutter + 7;
			}
		}
	}
	
	.content {
		.title{
		    font-weight: 700;
		    font-size: 1.9rem;
		    margin: 0;
		    
		    &.for-download {
		    	@media (min-width: 768px) {
		    		display: inline-block;
    				margin-right: 0.5em;
		    	}
		    }
		    
		    a {
	    	    color: @link-red;
		    }
		}
		
		.download-link {
			color: @link-red;
			
			&:after {
				.material-icons;
				content: "\E873";
			    display: inline-block;
			    margin-left: @gutter - 20;
			    vertical-align: middle;
			}
   	    }
	}
}