.recommended-product-container{
	.rti-recommended-products-title{
		.agenda-bold;
		font-size:2.2rem;
		
		@media (min-width: 768px) {
			font-size: 3.4rem;
		}
	}
	.rti-recommended-products{
		/*
		 * Owl-carousel css added for products 
		 * alignment and border and nav arrows adjustment
		 */
		position:relative;
		.carousel-display{
				position:relative;
			.related-prod-owl-carousel{
				padding: 0px @gutter;
				@media (max-width:767px){
					padding: 0px @gutter/5 * 3;
				}
				@media (min-width:768px) and (max-width:1024px){
					padding: 0 @gutter/5 * 3;
				}
				
				.owl-controls{
						.owl-nav{
							.owl-prev{
							    left: @gutter/5 - 4;
							    width: @gutter/5 * 6;
							    height: @gutter/5 * 6;
							    border-radius: @gutter*2 - 10 @gutter*2 - 10;
							    position: absolute;
								top:27%;
							    font-size: 2.5rem;
							    @media (min-width:768px) and (max-width:1024px){
										margin-left: 0;
										top:22%;
								}
							    @media (min-width:768px){
							    	display: block !important;
							    }
							    border: 0px solid black;
							    .rti-arrow-disabled{
							    	cursor: no-drop;
							    }
							    .previous{
							    	margin-top: -@gutter/5;
   									margin-left: @gutter/5 + 3;
							    }
							}
							.owl-next{
							    border-radius: @gutter*2 - 10 @gutter*2 - 10;
							    width: @gutter/5 * 6;
							    height: @gutter/5 * 6;
							    font-size: 2.5rem;
							    position: absolute;
							    top:27%;
							    right: -@gutter/5 + 2;
							    @media (min-width:768px) and (max-width:1024px){
										right: -@gutter/5 + 1;
										top:22%;
								}
							   @media (min-width:768px){
							    	display: block !important;
							    }
							    border: 0px solid black;
							    .rti-arrow-disabled{
							    	cursor: no-drop;
							    }
							    .next{
							    	margin-top: -@gutter/5;
    								position: relative;
    								left: @gutter/5 * 2;
							    }
							}
						}
					}
				.owl-stage-outer{
					.owl-stage{
						@media (max-width:480px){
							right: @gutter/5 * 6 + 5;
						}
						.owl-item{
							.mz-productlisting{
								@media (min-width: 768px){
									width:100%;
								}
								@media (max-width:767px){
									padding: @gutter/5 + 1;
								}
								.current-product-banner {
				                    display: none;
				                }
				                .current-product-banner {
				                    display: none;
				                }
								.prod-content {
									.product-listing-row-content{
										.mz-subcategory-image-div{
											border: 1px solid #ccc;
										    padding: @gutter/5 * 2 0;
										    margin-bottom: 10px;
										    position: relative;
										    a{
										    	img{
									    		    width: 100%;
												    padding: @gutter/5 * 2;
												    min-height: @gutter*2 * 4;
												    @media (min-width:768px) and (max-width:1024px){
															min-height: @gutter*6;
													}
													@media (max-width:767px){
														min-height: @gutter*5 + 10;
													}
												}
												.clearanceTagImg{
													.agenda-bold();
													color: black;
													position: absolute;
													bottom: 0;
													left: 0;
													padding: 5px 10px;
													line-height: 1;
													background-color:@signUpBtnBg;
													font-size: 1.6rem;
													border-radius: 0;
													z-index: 1;
													@media (min-width: 768px) and (max-width: 991px){
                                                        font-size: 1.3rem;
                                                        line-height: 1.3;
                                                    }
												}
										    }
											.product-badge{
												.agenda-bold;
												color: #fff;
												position: absolute;
												bottom: 0;
												left: 0;
												padding: @gutter - 23 @gutter - 15;
												background: #eb0029;
												font-size: 1.6rem;
												border-radius: 0;
												top: auto;
											}
										}
										.mz-productlisting-info{
											.product-info{
												.mz-productlisting-title{
													display: block;
													margin: 0 0 @gutter - 17;
												}
												.add-ellipsis{
													display: block;
													display: -webkit-box;
													-webkit-line-clamp: 2;
													-webkit-box-orient: vertical;
													overflow: hidden;
													text-overflow: ellipsis;
													height: @gutter + 9; 							
												}
												.product-code{
													font-size: 1.6rem;
													margin: 0 0 @gutter/5;
												}
												.brand-name{
													.agenda-bold;
													margin: 0 0 15px;
													line-height: 1;
												}
											}
											.priceSection{
												margin: 0 0 @gutter/5;
												.mz-pricestack{
													margin: 0;
												}
												.prod-promotion{
													.saved-price{
														margin:0 0 @gutter - 15;
														span:first-child{
															.agenda-bold;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.mz-productlist{
			padding-top:0;
			@media(min-width:768px){
				flex-direction:row;
			}
			.mz-productlisting{
				@media(min-width:768px){
					-webkit-box-flex: 1;
				    -webkit-flex: 1;
				    -ms-flex: 1;
				    flex: 1;
				    max-width:@gutter * 12 - 10;
			    }
			    @media(max-width:767px){
			    	width:50%;
			    	display:flex;
			    	flex-direction:column;
			    	flex:none;
			    	coloumn-count:1;
			    }
			    .current-product-banner {
                    display: none;
                }
			    .mz-productlisting-image{
			    	.fullwidth;
			    	margin: 0 0 @gutter/2 + 2.5;
			    	.quickview{
			    		.hidden;
			    	}
			    }
			    .product-details{
			    	.business-messages{
			    		.hidden; 
			    	}
				}
				.mz-productlisting-info{
					.product-info{
						.mz-productlisting-title{
							display: block;
							margin: 0 0 @gutter - 17;
						}
						.add-ellipsis{
							display: block;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							height: @gutter + 9; 							
						}
						.product-code{
							font-size: 1.6rem;
							margin: 0 0 @gutter/5;
						}
						.brand-name{
							.agenda-bold;
							margin: 0 0 15px;
							line-height: 1;
						}
					}
					.priceSection{
						.mz-pricestack{
							margin: 0 0 @gutter/5;
						}
						.prod-promotion{
							.saved-price{
								margin:0 0 @gutter - 15;
								span:first-child{
									.agenda-bold;
								}
							}
						}
					}
				}
			}
		}
	}
}
.grid-display {
    div.mz-productlisting {
        float: left;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 15px 30px;
        margin:0;
        .current-product-banner {
            display: none;
        }
        .mz-subcategory-image-div{
        	border: 1px solid #ccc;
		    padding: @gutter/5 * 2 0;
		    margin-bottom: @gutter/5 * 2;
		    position:relative;
        	a{
        		display:block;
        		text-align: center;
        		img{
        			.fullwidth;
        			padding:@gutter/5 * 2;
        			min-height:@gutter * 8;
        		}
        	}
        	.sale-tag-icon{
        		position: absolute;
        		left: 0;
			    top:auto;
			    bottom: 0;
			    .agenda-bold;
			    line-height:1;
			    font-size:1.6rem;
        	}
        }
        @media screen and (min-width: 768px) {
            width: 50%;
            &:nth-child(2n+1) {
                clear: left;
            }
        }
        @media screen and (min-width: 992px) {
            width: 25%;
            &:nth-child(2n+1) {
                clear: none;
            }
            &:nth-child(4n+1) {
                clear: left;
            }
        }
    } 
}
