.copy-banner {
	background: rgba( @skyblue, .4 );
	padding: @gutter - 15 @gutter - 5;
    font-size: 1.6rem;
    height: 100%;
    min-height: 140px;
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	.title {
	    .agenda-bold;
    	font-size: 1.8rem;
	}
	
	.desc{
	    margin: 0 0 10px;
	}
	
	.link {
		font-size: 1.9rem;
    	.agenda-bold;
   	    color: @torchRed;
	}
}