.sales-banner {
	background-color: @white;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 140px;
    
    .sales-image {
	    display: table-cell;
	    width: 33.3333333333%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;
	    
    
    	@media (min-width: 768px) {
    		width: 50%;
    	}
    }
    
    .sales-content {
   	    display: table-cell;
	    vertical-align: middle;
	    padding: @gutter - 15 @gutter - 5;
	    font-size: 1.8rem;
	    
	    img {
	    	width: auto;
    		max-width: 100%;
	    }
    }
}