.static-page{
	.static-banner-slider{
		.mz-image-slider-container {
			.slick-slider{ 
				.slick-prev, .slick-next{
					top:45%;
				}
				.slick-track {
					.slick-slide {
						.promotionalBanner{
							&:before{
								background:none;
							}
						}
					}
				}
			}
		}
	}
}