.title-container {
	.generic {
        .header {
            position: relative;
            background-color: @concernBg;
            background-repeat: no-repeat;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            padding: 0 @gutter/2 - 2.5;
            margin-bottom: @gutter/2 - 2.5;
            min-height:@gutter * 2 - 8;
            h1 {
                width: @gutter*18;
                font-size: 2rem;
                line-height: 1.1em;
                padding: @gutter/2 - 2.5 0;
                margin: 0;
                .agenda-bold;
                @media(max-width:480px){
                	width: @gutter*8;
                }
            }
            .actions {
                position: absolute;
                top: 8px;
                right: @gutter/2 - 2.5;
                .grey-button {
                    margin-top: 0;
                    margin-right: @gutter/5 - 2;
                    background-color: @serviceBg;
                    padding: @gutter/5 - 1 @gutter/2 + 1.5;
                    display: inline-block;
                    border: 1px solid @alto;
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    color: @doveGray;
                    text-decoration: none;
                    font-size: 1.1rem;
                    cursor: pointer;
                    i, svg {
                        font-size: 1.5rem;
                        vertical-align: middle;
                        margin-right: @gutter/5;
                    }
                }
            }
        }
    }
}
@media print {
	.mz-pagefooter, .header-container, .static-navigation-container, .grey-button.print{
		.hidden;
	}
	.print-section{
		display:block !important;
		font-size:1.6rem;
	}
	.store-detail-cont{
		.fullwidth;
		border-bottom:1px solid @storeResultBorder;
		padding-bottom:@gutter;
		.top-container{
			float:left;
			margin-right:@gutter;
		}
		.store-list{
			padding:0 0 0 @gutter - 5;
			list-style:none;
		}
	}
}