.cart-quantity-alert-modal{
  padding: 0 !important;
  &.modal {
    text-align: center;
  }
  &.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 800px;
    margin: auto;
    @media (min-width: 992px) and (max-width: 1024px) {
      width: 800px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 700px;
    }
    @media (min-width: 401px) and (max-width: 767px){
      width: 380px;
    }
    @media (max-width: 400px){
      width: 300px;
    }
    .modal-content{
      border-radius: 0;
      box-shadow: none;
      border: none;
      h3{
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Agenda_bold", sans-serif;
        font-style: normal;
      }
      .quantity-update-header{
        margin-bottom: 20px;
      }
      .modal-header{
        .no-border;
        padding:@gutter + 5;
        padding-bottom: 0;
        @media(max-width:767px){
          padding:@gutter/2 + 2.5 @gutter/2 + 2.5 @gutter + 5;
          padding-bottom: 0;
        }
        .modal-title{
          .agenda-bold;
          font-size:2.4rem;
        }
        .close{
          font-size:3rem;
          font-style:normal;
          font-weight:normal;
          opacity:1;
          &:hover{
            color:@mineShaft;
          }
        }
      }
      .modal-body{
        padding: 30px 50px 25px 30px;
        overflow: hidden;

        .itemContainer{
          padding-bottom: 20px;
          .image-container{
            img{
              max-width: 100%;
            }
          }
          .title-container{
            padding-left: 0;
            .product-tile-title{
              margin-top: 0;
              color: @mineShaft;
            }
            .item-price{
              font-size: 1.7rem;
              font-family: "Agenda_bold", sans-serif;
              font-style: normal;
              font-weight: 500;
            }
          }
          .button-container{
            padding-right: 31px;
            @media (max-width:767px){
              padding-top: 15px;
              padding-right: 0;
            }
            .wishlist-btn{
              background-color: @color-white;
              border: 2px solid @torchRed;
              color: @torchRed;
              font-family: @font-family-agenda;
              font-style: normal;
              font-size: 18px;
              font-weight: 600;
              line-height: 1;
              text-align: center;
              width: 100%;
              display: block;
              padding: 12px 22px;
              border-radius: 22px;
              &.accept-qty{
                color:white ;
                background-color: @color-primary-red;
                margin-bottom: 10px;
              }
            }
          }
          .success-icon{
            color:@white;
            text-align: center;
            &:before{
              font-family: 'Material Icons';
              display: inline-block;
              text-transform: none;
              letter-spacing: normal;
              word-wrap: normal;
              white-space: nowrap;
              direction: ltr;
              font-style: normal;
              -webkit-font-smoothing: antialiased;
              text-rendering: optimizeLegibility;
              -moz-osx-font-smoothing: grayscale;
              font-feature-settings: 'liga';
              content: "\E876";
              background: @storeOpenStatus;
              line-height: 1.5;
              border-radius: 50%;
              width: 57px;
              height: 57px;
              font-size: 38px;
              text-align: center;
            }
          }
        }
        &.checkout-modal{
          padding: 0px 50px 30px 30px;
          @media (max-width:767px){
            padding: 0px 15px 15px 15px;
          }
          .alert-message{
            margin: 15px 0 25px 0;
          }
          .new-btn-primary{
            color: white;
            float: left;
            padding: 12px 40px;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      .close-btn{
        padding: 0;
        line-height: 0;
        float: right;
        border: none;
        z-index: 999;
        position: absolute;
        right: 16px;
        top: 16px;
        height: 16px;
        width: 16px;
        img{
          float: right;
          background-color: white;
        }
      }
    }
  }
}

