.mz-cart {
	.agenda;
	.mz-l-pagecontent {
		padding: 0;
		overflow: visible;
		max-width:100%;
		.cart-page-container {
			margin-bottom: @gutter + 15;
			.cart-header {
				font-size: 1.7rem;
    			.empty-cart {
    				text-align: center;
    				.cart-header-title {
    					font-size: 3.1rem;
    					margin: 0;
    				}
    				.empty-cart-msg {
    					margin-bottom: @gutter + 15;
    				}
				}
				.emptyCartHeader{
					padding: 20px 0px 20px 0px;
				}
    			.cart-header-title {
    				.agenda-bold;
   					font-size: 3.4rem;
   					margin: 0px;
					@media (max-width: 767px) {
						padding:20px 0px 0px 0px;
					}
    			}
				.cart-page-hidden-text{
					display: inline-block;
					.addYellowBackground {
						background-color: #e4002b;
						text-align: center;
						color: #ffffff;
						padding: 5px;
						@media (max-width: 767px) {
							.popover{
								top: -165px !important;
								left: 141px !important;
							}
						}
						.popover-content{
							color: #444444;
						}
						.fa-info-circle{
							font-size: 18px;
						}
					}
					.ship-to-store-txt {
						.agenda-bold;
						padding: 5px 15px;
						margin: 0 0 @gutter - 15;
						.addAmountText {
							.agenda;
							font-size: 18px;
							.price-bold {
								.agenda-bold;
							}
						}
					}
					.shipping-info {
						margin: 0 0 @gutter - 15;
						   margin-bottom: @gutter + 5;
						   strong{
							   .agenda-bold;
						   }
					}
					.cart-header-links{
						margin: 0;
						padding: 0;
						list-style: none;
						font-size: 0;

						.support-link-list {
							display: inline-block;
							font-size: 1.6rem;

							.support-link {
								color: @link-red;
							}
						}
						.support-link-list + .support-link-list {
							margin-left: @gutter - 10;
							padding-left: @gutter - 10;
							border-left: 1px solid @primary-color;
						}
					}
				}
				.continue-shopping{
					display: inline-block;
					font-weight: 600;
					font-family: Agenda,sans-serif;
					font-size: 18px;
					margin-left: 1%;
					@media (max-width: 767px) {
						margin-bottom: 10px;
					}
					.material-icons{
						font-size: 2.5rem;
						vertical-align: middle;
						color: #e4002b;
						font-weight: bold;
					}
				}
    			.cart-checkout {
    				text-align: center;
    				margin: 0 0 @gutter - 5;
    				@media (min-width: 768px) {
    					display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    text-align: left;
    				}
    				.cart-total {
    					.agenda-bold;
    					margin: 0 0 @gutter - 10;
    					@media (min-width: 768px) {
   						    padding-right:0;
   							margin: 0;
   							width: 52%;
    					}
    					.cart-total-amount {
    						font-size: 2.2rem;
    					}
    				}
    				.cart-checkout-action {
    					text-align: center;
    					@media (min-width: 768px) {
    						width: 50%;
    						padding-left: @gutter - 10;
    					}
    					.cart-checkout-btn {
							.btn-red();
    						.new-btn-primary();
    						@media (min-width: 768px) {
    							.btn-large();
    						}
    						@media (max-width: 767px) {
    							.btn-medium();
    						}
						}
    					.cart-continue-shopping-link {
    						color: @secondary-color;
    						margin-top: @gutter - 15;
    						display: block;
    					}
    				}
    				.is-loading {
    					pointer-events: none;
    				}
    			}
    			.pickup-store {
    				.agenda-bold;
    				margin-bottom: @gutter - 15;
					.minimumOrderItemsSentMsg {
						.agenda;
						.price-bold {
							.agenda-bold;
						}
					}
    			}
    			.store-address{
    				margin:0;
    				.address-change {
						font-weight: normal;
    				}
    			}
			} /* end cart-header */
			
			#header-notifications-cart{
				background: @color-secondary-grey-lightest;
				text-align: center;
				font-size: 16px;
				color: @black;
				a {
				  color: @brand-red;
				  display: block;
			  
				  @media (min-width: @screen-lg){
					display: inline;
				  }
				}
				i {
				  font-size: 22px;
				  color: #eb0029;
				  vertical-align: bottom;
				}
				.close{
					opacity: 0.7;
					padding: 11px 15px 6px 6px;
					.closeBtn{
						color: #000;
					}
				}
				.fulfillmentChange{		
					.popbadge-text1{
						padding-top: 10px;
						padding-bottom: 10px;
						.close{
							opacity: 0.7;
							padding:0px 6px 6px 6px;
							.closeBtn{
								color: #000;
							}
						}
					}
				}
				.updateQuantityMessage{
					.popbadge-text{	
    					padding-bottom: 7px;
						padding-top: 5px;
					}
				}
			}
			.sticky{
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 2;
				@media (max-width: 767px) {
					top: 53px;
				}
			}
			.cart-table-container {
				margin-bottom: @gutter + 15;
				.cartDetailsSection{
					border-top: 1px solid #e1e1e1;
					.certona-container{
						.slick-slider{
							.slick-slide{
								width: 190px;
							}
						}
					}
				}
				.order-summary-section {
					padding-left: 35px;
					@media (max-width: 767px) {
						padding: @gutter - 7 @gutter * 2;
					}
					.order-summary-details {
						margin-bottom: @gutter - 5;
						.order-summary-subtotal, .order-summary-taxes, .order-summary-shipping{
							tr{
								th{
									width:63%;
								}
								th, td{
									padding-top: 0;
									padding-bottom: 15px;
									font-family: "Agenda",sans-serif;
								}
							}
						}
						table{
							.order-summary-total{
								th{
									vertical-align: middle;
								}
							}
						}
					}
					.cart-checkout-action {
						.cart-checkout-btn {
							.btn-red();
							.btn-large();
							.new-btn-primary();
						}
						.checkoutBtnSection {
							padding-right: 10px;
						}
						.fixedCheckoutBtn{
							@media (max-width: 767px){
								position: fixed;
								bottom: 0;
								z-index: 9;
								background: #fff;
								left: 0;
								padding: 20px;
								width: 100%;
							}
						}
						.continue-shopping{
							display: inline-block;
							width: 100%;
							font-weight: 600;
							font-family: Agenda,sans-serif;
							font-size: 18px;
							.material-icons{
								font-size: 2.5rem;
								vertical-align: middle;
								color: #e4002b;
								font-weight: bold;
							}
						}
						button:disabled,
						button[disabled]{
							opacity: 0.5;
						}
						button[disabled]:hover {
							background-color: #e4002b;
							border: 2px solid #e4002b;
						}
						.fa-info-circle{
							vertical-align: middle;
							color: #e4002b;
						}
						.popover{ 
							width: 197px;
							.popover-content{
								.AdditionalShippingMessage{
									display: inline;
								}
								.faqLink{
									color: #e4002b;
									text-decoration: none;
								}
							}
						}
						.ThresholdMessagingSection{
							margin-bottom: 15px;
							.continue-shopping{
								color:#000000;
								font-size:16px;
								&:hover{
									color: #000000;
								}
							}
						}
					}
					.is-loading {
						   pointer-events: none;
					   }
					.tax-info {
						margin-top: @gutter - 15;
						margin-bottom: @gutter - 15;
					}
					.postalCodeSection{
						.shipping-icon{
							height: 40px;
							margin-bottom: 10px;
							.icon{
								float: left;
								height: 100%;
							}
							.postalCodeText{
								font-size: 18px;
								font-family: sans-serif,'Agenda_bold';
								font-weight: bold;
								@media only screen
								and (min-device-width: 768px)
								and (max-device-width: 1024px)
								and (-webkit-min-device-pixel-ratio: 1) {
									font-size: 14px;
									margin-left: 0px;
								}
							}
							.postalCode-not-valid{
									padding-top: 10px;
									color: #e4002b;
									position: relative;
    								top: -13px;
								}
							.btnPostalCodeSection{
								margin: 15px 0px;
								display:flex;
								.btnPostalCodeUpdate{
									.new-btn-secondary();
									padding: 11px 22px;
									text-transform: initial;
									width: 62%;
									margin-left: 2%;
									cursor: pointer;
									@media (min-width: 1200px) and (max-width: 1224px){
										width: 100%;
										margin: 5px 0px;
									}
									@media (max-width: 1200px){
										width: 17%;
									}
									@media (max-width: 768px){
										width: 44%;
									}
									@media (max-width: 280px){
										width: 56%;
									}
									@media (max-width: 768px)and (min-width: 768px){
										width: 19%;
									}
									&.isLoading{
										background-image: url(../resources/images/button-loading.gif);
										background-position: 50% 50%;
										background-repeat: no-repeat;
										background-size: 50px;
										color: transparent;
										cursor: no-drop;
										text-indent: -9999px;
										pointer-events: none;
									}
								}
								.btnPostalCode{		
									border-radius: 20px;
									border: 1px solid grey;
									background: #fff;
									color: #000;
									height: 44px;
									width: 34%;
									padding: 0;
									text-align: center;
									text-transform: uppercase;
									@media (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
										width: 46%;
									}
									@media (min-width: 1200px) and (max-width: 1224px){
										width: 100%;
									}
									@media (max-width: 992px){
										width: 37%;
									}
								}
							}
							.fa-shipping-fast{
								font-size: 15px;
							}
						}
					}
					#coupon-code-field{
						.couponCodeField{
							border-radius: 20px;
							border: 1px solid grey;
							background: white;
							color: black;
							height: 44px;
							width: 51%;
							@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and(-webkit-min-device-pixel-ratio: 1) {
								width: 98px;
							}
						}
						#cart-coupon-code{
							@media (max-width: 480px){
								float: right;
							}
							
							.new-btn-secondary();
							padding: 12px 8px;
							margin-left: 2%;
							width: 45%;
						}
						.coupon-code-heading{
							font-size: 16px;
						}
					}
					.fa-map-marker-alt{
						color: #eb0029;
					}
					.prefer-store-block{
						.store-address{
							border: none;
							padding: 0px 0px 0px 20px;
							.address-change{
								width: 100%;
								.fa-arrow-right{
									color: #eb0029;
									vertical-align: middle;
									margin-left: 5px;
								}
							}
							.store-name{
								font-family: "Agenda",sans-serif;
								text-decoration: none;
							}
							.address-card{
								padding-bottom: 0px;
								width: 100%;
							}
						}
					}
					.pickup-store{
						font-size: 18px;
						font-family: sans-serif,'Agenda_bold';
						font-weight: bold;
					}
				}
			}
			.cart-items {
				padding: 0;
    			list-style: none;
    			margin: 0 -@gutter + 10;
    			
    			/* .ehfProduct {
    				display: none;
    			} */
    			.cart-item {
    				border-bottom: 1px solid @storeResultBorder;
    				@media (max-width: 767px) {
						padding: 15px;
					}
    				@media (min-width: 768px) {
    					display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-flex-wrap: wrap;
					    -ms-flex-wrap: wrap;
					    flex-wrap: wrap;
					    -webkit-box-orient: horizontal;
					    -webkit-box-direction: normal;
					    -webkit-flex-direction: row;
					    -ms-flex-direction: row;
					    flex-direction: row;
				        border-color: @border-light;
    				}
    				.cart-item-product {
   					    margin: 0 0 @gutter;
   					    @media (min-width: 768px) {
						    margin: 0;
							padding-right: @gutter + 5;
							width: 30%;
						}
						@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
							width: 24%;
						}
   					    .product-tile {
   					    	padding: 0;
   					    	display: table;
						    font-size: 1.6rem;
						    margin: @gutter - 15 0 @gutter - 5;
						    width: 100%;
						    .product-tile-image {
					    	    display: table-cell;
    							vertical-align: top;
							    position: relative;
							    margin: 0 0 @gutter - 10;
							    padding: 0;
							    @media (min-width: 768px) {
							    	width: 50% !important;
    								padding: 0 @gutter - 10 0 0 !important;
								}
							    @media (max-width: 767px) {
							    	max-width: @gutter * 5 + 5;
							    }
							    .product-image {
							    	display: block;
							    	width: 100%;
							    }
							    .no-image {
							    	display: block;
							    	width: 100%;
							    }
							}
							.product-tile-title {
								.agenda-bold;
								@media (max-width: 767px) {
									width: 78%;
    								display: inline-block;
								}
							}
							.removeSection{
								float: right;
								width: 14%;
								margin-top: 11px;
								color: #eb0029;
									.fa-trash-alt{
										float: right;
								}
								.remove-item-link{
									color: #eb0029;
								}
							}
						    .product-tile-content {
						    	display: table-cell;
    							vertical-align: top;
    							width: ~'calc(100% - 130px)';
    							padding-left: @gutter - 10;
    							@media (min-width: 768px) {
   								    width: 50% !important;
   									padding: 0 0 0 @gutter - 10 !important;
								}
    							.product-tile-title {
    								font-weight: normal;
    								font-size: 18px;
    								a{
    									color:@primary-color;
    									&:visited,&:hover{
    										color:@primary-color;
    									}
    								}
    							}
    							.product-code{
    								font-size:1.6rem;
    								margin:0 0 @gutter/5;
    								font-weight: normal;
    							}
    							.product-tile-brand {
    								.agenda-bold;
    								margin: @gutter - 15 0 0;
    							}
    							.product-options {
    								margin: @gutter - 15 0 0;
    								.selected-product-option {
	    								margin-bottom: @gutter - 15;
	    								position: relative;
							    		width: @gutter + 11;
							    		height: @gutter + 11;
							    		border: 1px solid @torchRed;
	    								&:after{
							    			content: " ";
										    position: absolute;
										    top: @gutter + 9;
										    left: @gutter - 13;
										    width: 0;
										    height: 0;
										    z-index: 1;
										    border-left: 5px solid transparent;
										    border-right: 5px solid transparent;
										    border-top: 5px solid @torchRed;	
							    		}
	    								.color-option-label {
	    									width: @gutter + 9;
										    height: @gutter + 9;
										    margin: 0;
										    cursor: pointer;
										    position: absolute;
										    top: 0;
										    left: 0;
										    border: @gutter - 19 solid @white;
	    								}
	    							}
	    							.option-value {
	    								font-size: 1.5rem;
	    							}
    							}
						    }
   					    }
    				} /* end cart-item-product */
    				.cart-item-quantity {
    					text-align: right;
					    margin: 0 0 @gutter*6+10;
					    border-top: 1px solid @border-light;
					    border-bottom: 1px solid @border-light;
						&.no-margin{
							margin-bottom: 60px;
							@media (max-width: 767px) {
								margin-bottom: 0px;
							}
						}
					    @media (min-width: 768px) {
					    	text-align: right;
						    width: 30%;
						    border-width: 0;
						}
						@media only screen and (min-width: 768px) and (max-width: 996px) {
							margin: 10px 0px 140px 0px;
						}
						@media (max-width: 767px) {
							text-align: left;
							border: none;
							margin-bottom: 0px;
						}
						@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
							width: 30%;
						}
						.removeSection{
							width: 100%;
							float: right;
							.remove-item-link{
								display: inline-block;
								color: @link-red;
								margin: @gutter - 15 @gutter - 15 0 @gutter - 22;
							}
							.fa-trash-alt{
								color: @link-red;
								margin-right: 3px;
							}
						}
					    .form-element {
							margin-top: 125px;
							&.no-margin{
								margin-top: 82px;
								@media (max-width: 767px) {
									margin-top: 0px;
								}
							}
							@media (max-width: 767px) {
								margin-top: 0px;
								display: inline-block;
							}
					    	.quantity-label {
				    		    display: inline-block;
				    		    vertical-align: middle;
    							margin: 0 10px @gutter - 15 0;
    							font-weight: normal;
    							@media (min-width: 768px) {
   								    margin: 0 @gutter + 5 @gutter - 15 0;
    							}
    							@media (min-width: 1200px) {
   								    margin: 0 @gutter @gutter - 15 0;
								 }
								@media only screen
								and (min-device-width: 768px)
								and (max-device-width: 1024px)
								and (-webkit-min-device-pixel-ratio: 1) {
									margin: 0 @gutter - 15 @gutter - 15 0;
								}
								@media only screen 
								and (min-width: 1024px) 
								and (max-height: 1366px) 
								and (-webkit-min-device-pixel-ratio: 1.5) {
									margin: 0 @gutter + 5 @gutter - 15 0;
								}
					    	}
					    	.quantity-input {
					    		display: inline-block;
					    		/* To remove up/down arrows from number input field */
					    		input[type=number]::-webkit-inner-spin-button, 
								input[type=number]::-webkit-outer-spin-button { 
								    -webkit-appearance: none;
								    -moz-appearance: none;
								    appearance: none;
								    margin: 0; 
								}
					    		.quantity-input-button {
					    			display: inline-block;
    								color: @secondary-color;
					    		}
					    		.quantity-input-button.is-disabled {
					    			cursor: default;
					    			color: @iconDisabled;
					    			pointer-events: none;
					    		}
					    		.qty-increment, .qty-decrement {
					    			font-size: 2.6rem;
					    			vertical-align: middle;
					    		}
					    		.quantity-input-field {
					    			display: inline-block;
								    vertical-align: middle;
								    -webkit-appearance: textfield;
								    -moz-appearance: textfield;
								    appearance: textfield;
								    border: 1px solid @formInputBorder;
								    font-size: 1.6rem;
								    line-height: 1.6rem;
								    padding: @gutter - 14 @gutter - 15 @gutter - 17;
								    width: @gutter * 2 + 10;
								    text-align: center;
								    margin: 0 @gutter - 10;
									font-weight: normal;
									@media only screen and (min-width: 768px) and (max-width: 996px) {
										margin: 0px;
									}
									@media only screen 
									and (min-width: 1024px) 
									and (max-height: 1366px) 
									and (-webkit-min-device-pixel-ratio: 1.5) {
										margin: 0 @gutter - 7;
									}
					    		}
					    	}
					    }

						.quantity-alert-message {
							position: relative;
							padding-top: 5px;
							font-size: 17px;
							top: 6px;
							@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
								margin-right: 0px;
							}
							@media (max-width: 767px) {
								margin-left: 0px;
								top: 2px;
							}
						}
						.cart-item-total{
							margin: 10px 25px;
							@media (max-width: 767px) {
								display: initial;
								margin-left: 3px;
								font-size: 20px;
							}
							@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
								margin: 10px 11px;
							}
						}
    				}
    				.cart-item-details-bottom{
    					display:none;
    				}
    				.cart-item-details {
    					display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-box-orient: vertical;
					    -webkit-box-direction: normal;
					    -webkit-flex-direction: column;
					    -ms-flex-direction: column;
					    flex-direction: column;
					    text-align: right;
					    @media (min-width: 768px) {
					    	width: 25%;
    						padding-left: @gutter - 10;
					    }
					    .cart-item-price {
					    	font-weight: normal;
					    	.unit-price {
					    		.agenda-bold;
    							font-size: 1.7rem;
					    	}
					    }
					    .ehf-cost {
					    	margin-top: @gutter - 10;
					    	font-weight: normal;
					    }
					    .cart-item-total {
				    	    margin: 0 0 @gutter - 10;
    						font-size: 1.7rem;
    						.agenda-bold; 
    						 .final-total {
                               		display: inline-block;
                                	margin: @gutter - 10 0 0;
                                	font-weight:normal;
                               }
                               .mz-item-discount {
                               		font-size: 1.6rem;
                             }
					    }
					    .cart-item-links {
					    	margin-top: auto;
					    	font-weight: normal;
					    	.shopping-list-link {
					    		display: inline-block;
    							color: @link-red;
					    	}
					    	.remove-item-link {
					    		display: inline-block;
    							color: @link-red;
    							margin: @gutter - 15 @gutter - 15 0 @gutter - 5;
					    	}
					    }
    				}
    				.cart-item-msg {
						margin: 0;
						padding: 10px 0;
   					    .removed-item-name {
   					    	color: @secondary-color;
   					    }
    				}
    			}

				&.ship-to-enabled{
					.cart-item{
						.cart-item-product{
							@media (min-width: 768px) {
								width: 30%;
								margin: 0;
								padding-right: @gutter - 15;
							}
							@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
								width: 24%;
							}
							@media (max-width: 767px) {
								margin-bottom: 0;
							}
							.product-tile{
								.product-tile-image{
									@media (min-width: 768px) {
										width: 40% !important;
										padding: 0 @gutter - 17 0 0 !important;
									}
									@media (min-width: 992px) and (min-width: 1024px){
										width: 45% !important;
									}
								}
								.product-tile-content{
									@media (min-width: 768px) {
										width: 60% !important;
										padding: 0 0 0 0 !important;
									}
									@media (min-width: 992px) and (min-width: 1024px){
										width: 55% !important;
									}
								}
							}
						}
						.cart-item-quantity{
							@media (min-width: 992px) and (max-width: 1024px){
								padding-left: 24px;
							}
						}
						.cart-item-details{
							@media (min-width: 768px) {
								width: 20%;
								padding-left:0;
							}
						}
					}
				}
			}
		} /* end cart-page-container*/
		.order-summary-container {
			.mz-cms-content {
				padding: 0;
			}
			.aeroplan-section-cart {
				margin-bottom: @gutter - 5;
				border: solid 1px @aeroplanBorder;
				.aeroplan-miles-info {
					.agenda;
					text-align: center;
					background: @white;
					padding: @gutter + 5 @gutter - 10 @gutter - 10;
					@media (min-width: 1200px) {
						padding-left: @gutter * 4;
						padding-right: @gutter * 4;
					}
					@media (min-width: 992px) and (max-width: 1199px) {
						padding-left: @gutter * 3 - 3;
						padding-right: @gutter * 3 - 3;
					}
					@media (min-width: 768px) and (max-width: 991px) {
						padding-left: @gutter + 15;
						padding-right: @gutter + 15;
					}
					.aeroplan-miles-info-lead {
						font-size: 3rem;
						line-height: 1;

						.miles {
							.agenda;
							font-size: 4rem;
							color: @milesColor;
							vertical-align: middle;
							@media (min-width: 768px) {
								font-size: 4.4rem;
							}
						}
					}
				}
				.backgrount-img{
					height: 30px;
					margin-left: 130px;
					background-size: 123px;
					background-image: url("{{ themeSettings.sirvResourceImageUrl }}/footer-logosR2.png");
					&.EarnAeroplanMiles-icon{
					background-size: 102px;
					height: 27px;
					margin: 11px 0;
					width: 209px;
					}
					@media (min-width: 768px) {
						height: 27px;
						background-size: 120px 205px;
						margin-left: 130px;
					}
					@media (min-width: 768px) and (max-width: 812px){
						height: 27px;
						background-size: 120px 205px;
						margin-left: 30px;
					}
					@media (max-width: 767px) {
						height: 27px;
						background-size: 121px 200px;
						margin-left: -130px;
						position: relative;
						left: 50%;
					}
					content: "";
					display: inline-block;
					margin-bottom: @gutter - 10;
					height: @gutter * 2;
					background-position: 0px  center;
					background-repeat: no-repeat;
					background-size: @gutter * 4 @gutter * 2;
				}
				.link-name {
					text-decoration: underline;
					color: @radioBg;
					font-size: 14px;
					font-weight: 500;
					margin-left:120px;
				}

				a {
					padding-bottom: 20px;
					display: block;
					&:hover {
						text-decoration: none;

						.link-name {
							color: @brand-red;
						}
					}
				}
		}
			.mz-carttable-checkout-couponcode {
				.coupon-code-heading {
					.agenda-bold;
					margin: 0 0 @gutter - 16;
				    line-height: 1.1;
				    font-size: 1.8rem;
				}
				.form-element {
					margin-bottom: @gutter - 5;
					.promo-code-input {
						width: 100%;
					    border: 1px solid @formInputBorder;
					    font-size: 1.6rem;
					    line-height: 1.6rem;
					    padding: @gutter - 14 @gutter - 10 @gutter - 17;
					}
					.invalid-coupon {
						font-size: 1.4rem;
						color: @link-red;
					}
					.invalid-coupon-border {
						border: 2px solid @link-red;
					}
				}
				.coupon-apply-btn {
					 margin-bottom: @gutter - 5;
					.new-btn-secondary();
					.btn-large();
					@media(min-width:768px){
						width:@gutter * 5 - 10;
					}
				}
				.discount-desc {
					.remove-coupon {
						color: @link-red;
						margin-left: @gutter - 10;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.order-summary-section {
				.order-summary-details {
					margin-bottom: @gutter - 5;
					.order-summary-subtotal, .order-summary-taxes, .order-summary-shipping{
						tr{
							th, td{
								padding-top: 0;
								padding-bottom: 15px;
								font-family: "Agenda",sans-serif;
							}
						}
					}
					table{
						.order-summary-total{
							th{
								vertical-align: middle;
							}
						}
					}
				}
				.cart-checkout-action {
					.cart-checkout-btn {
						.btn-red();
						.new-btn-primary();
						.btn-large();
						.new-btn-primary();
					}
				}
				.is-loading {
   					pointer-events: none;
   				}
				.tax-info {
					margin-top: @gutter - 15;
					margin-bottom: @gutter - 15;
				}
			}
			
		}
		.cart-page-text{
			@media (max-width: 767px) {
				.flex-direction(column);
				.flex-display(flex);
			}
		}

		.cart-page-order-text{
			order:2;
			padding: 20px 0px 20px 0px;
			@media (max-width: 767px) {
				padding: 0px;
			}
		}
		
		.block-bottom-margin{
		       @media (max-width: 767px) {
		    margin-bottom: @gutter - 15;
			}
		}
		
		
			
	} /* end mz-l-pagecontent*/
	.content-loading{
		width: 100%;
	    height: 100%;
	    position: fixed;
	    z-index: 99;
	    text-align: center;
	    top: 0;
	    left: 0;
		opacity: 0.8;
		background: rgba(255, 255, 255, 0.7);
	    .loading-image{
	    	position: absolute;
		    left: 45%;
		    top: 10%;
		    height: 160px;
		    width: 150px;
		    @media(min-width:768px){
		    	left:40%;
		    	top:5%;
		    }
			@media(max-width:767px){
		    	left:32%;
		    }
	    }
	}
	&.french-content{
		.order-summary-container{
			.mz-carttable-checkout-couponcode{
				.form-element + div{
					@media(min-width:768px){
						padding-left:0;
					}
				}
			}
		} 
		.mz-l-pagecontent{
			.cart-page-container{
				position: relative;
				.cart-items{
					.cart-item{
						.cart-item-details-bottom{
							.fullwidth;
							.text-right;
							@media(min-width:768px){
								display:none;
							}
							@media(min-width:768px) and (max-width:1024px){
								margin-top:-@gutter * 2 - 10;
							}
							.cart-item-links{
								@media(min-width:768px) and (max-width:1024px){
									.flex-display(flex);
									flex-direction:column;
								}
								.shopping-list-link {
						    		display: inline-block;
	    							color: @link-red;
						    	}
						    	.remove-item-link {
						    		display: inline-block;
	    							color: @link-red;
	    							margin: @gutter - 15 @gutter - 15 0 @gutter - 5;
									@media(max-width:767px){
										margin:@gutter/2 - 2.5 0 0 @gutter/2 - 2.5;
									}
								}
							}
						}
						.cart-item-quantity{
							@media(min-width:768px) and (max-width:1024px) and (orientation : portrait){
								width: 26%;
							}
							.form-element {
								.quantity-label {
									@media (min-width: 1200px) {
										margin: 0 0 @gutter - 15 0;
								  	}
									@media only screen 
									and (min-device-width: 768px) 
									and (max-device-width: 1024px) 
									and (-webkit-min-device-pixel-ratio: 1) {
										margin: 0 0 @gutter - 15 0;
									}
									@media only screen 
									and (min-width: 1024px) 
									and (max-height: 1366px) 
									and (-webkit-min-device-pixel-ratio: 1.5) {
										margin: 0 0 @gutter - 15 0;
									}
								}
								.quantity-input {
									.quantity-input-field {
										@media only screen 
										and (min-device-width: 768px) 
										and (max-device-width: 1024px) 
										and (-webkit-min-device-pixel-ratio: 1) {
											margin: 0px @gutter - 10;
										}
									}
								}
							}
						}
						.cart-item-details{
							@media(min-width:768px) and (max-width:1024px) and (orientation : portrait){
								width: 24%;
							}
							.cart-item-links{
								display:none;
								@media(max-width:767px){
									display:block;
									.remove-item-link {
										margin:@gutter/2 - 2.5 0 0 @gutter/2 - 2.5;
									}
								}
							}
						}
					}
					&.ship-to-enabled{
						.cart-item{
							.cart-item-details{
								@media(min-width:768px) and (max-width:1024px) and (orientation : portrait){
									width: 18%;
								}
							}
						}
					}
				}
			}
		}
	}
}
