﻿.mz-table-cart {

    .mz-carttable-item-image {
        float: left;
        margin: 0 @gutter/4 @gutter/4 0;
    }

    .mz-carttable-header-price, .mz-carttable-header-fulfillment, .mz-carttable-header-total,
    .mz-carttable-item-price, .mz-carttable-item-total,
    .mz-carttable-shipping-row td, .mz-carttable-total-row td,
    .mz-carttable-checkout-row td {
        text-align: right;
    }

    .mz-carttable-header-qty, .mz-carttable-item-qty, .mz-carttable-noitems {
        text-align: center;
    }

    .mz-carttable-item-info-wrap {
        overflow: hidden;

        .mz-propertylist {
            float: right;
            margin: 0;
            width: 40%;
        }
    }

    .mz-carttable-item-title {
        display: block;
        font-size: @fontSizeLarger;
    }

    .mz-carttable-item-code {
        float: left;
        clear: both;
        font-size: @fontSizeSmall;
    }

    .mz-carttable-item-pickuplocation {
        float: left;
        clear: both;
        margin: @gutter/4 0;
        font-size: @fontSizeLarger;
    }

    .mz-carttable-qty-field {
        width: 75px;
    }

    .mz-carttable-item-remove {
        width: 40px;
        text-align: center;
    }

    .mz-carttable-total-row {
        font-size: @fontSizeLarge;
    }

    .mz-carttable-total {
        display: inline-block;
        margin-left: @gutter/2;
    }

    .mz-carttable-emptylink {
        font-size: @fontSizeSmall;
        display: inline-block;
        margin-right: @gutter;
        vertical-align: middle;
    }

        .mz-item-discount {
        font-weight: bold;

        .mz-item-discountamt {
            color: @torchRed;
        }
    }

    .mz-carttable-checkout-couponcode{
        float:left;
        text-align:left;
    }
}

.mz-carttable-button-active {
    width: 230px;
}



.location-select-option{
  border-bottom: 1px solid @formInputBorder;
  padding-bottom: @gutter/2;
}

.mz-locationselect-available {
    font-weight: bold;
    text-transform: uppercase;
    color: @availableText;
}

.mz-locationselect-unavailable {
    font-weight: bold;
    text-transform: uppercase;
    color: @unavailableText;
}

.fulfilment-change-section{
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 767px) {
   width: 100%;
    padding: 10px 0 115px 0;
    justify-content: left;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    width: 46%;
  }
  .mz-fulfillment-options {
    margin: 0;
    padding: 0;
    list-style: none;

    input {
    margin: 0 @gutter/2 @gutter/2 0;
  }

    input:disabled{
    cursor: default;
  }

    label, span, p {
    font-size: 16px;
    margin: 0 0 @gutter/4 0;
  }

    input:disabled+label{
    color: @formInputBorder;
    cursor: default;
  }

    .fulfillment-unavailable-message {
    color: @formInputBorder;
    margin-left: 30px;
  }
    .ship-to-store{
      padding: 0px !important;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
        padding: 0px 0px 5px 35px !important;
      }
    }
    .shipping-method-label{
        margin-top: 0;
        position: relative;
        z-index: 1;
        display: block;
        padding: 0px 0px 5px 35px;
        line-height: 2.6rem;
        border-radius: @gutter / 5;
        cursor: pointer;
        background-color: @main-background;
        text-align: left !important;
        margin-bottom: 0;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
          line-height: 1.7rem;
        }
        .shipping-method-radio {
          position: absolute;
          z-index: 1;
          top: 2px;
          left: @gutter - 20;
          .payment-method-label {
            min-width: 0;
            border: 2px solid @torchRed;
            width: 22px;
            height: 22px;
            &:after {
              font-size: 1.6rem;
              position: absolute;
              color:@torchRed;
              line-height: 19px;
            }
          }
        }
        .shipping-icon{
          height: 46px;
          margin-top: 81px;
          .icon {
            float: left;
            height: 100%;
          }
          .shipping-msg{
            font-size: 2rem;
            .agenda-bold;
          }
          &.isFrench{
            @media only screen and (min-device-width: 1025px){
              margin-top: 103px;
            }
          }
          &.no-margin{
            margin-top: 60px;
          }
        }
      &.disabled{
        background: rgba(255,255,255,0.6);
        pointer-events: none;
        opacity: .5;
      }
      .boh-icon{
        height: 46px;
        .icon {
          float: left;
          height: 100%;
        }
      }
    }
    .fulfillmentInfo{
      font-weight: normal;
      padding: 0px 0px 0px 67px;
      margin-left: 10px;
      &.disabled{
        background: rgba(255,255,255,0.6);
        pointer-events: none;
        opacity: .5;
      }
      .available{
        color: #05810b;
        font-family: "Agenda_bold", sans-serif;
        font-style: normal;
        font-weight: normal;
      }
      .unavailable{
        color: #856405;
        font-family: "Agenda_bold", sans-serif;
        font-style: normal;
        font-weight: normal;
      }
      .postalCode{
        .agenda-bold;
      }
      .fulfillmentLocationName{
        .agenda-bold;
      }
      .shippingMessage{
        .agenda-bold;
        font-size: 2rem;
      }
    }
  }
}
