.mz-cart.modal-open {
    position: fixed;
} 
#confirmStoreAndSplitOrderModalContainer{
    .modal-dialog {
        @media only screen and (max-width: 767px) {
            margin: 5px;
            padding: 5px;
        }
    }
    .modal-content{
        padding: 12px;
        .modal-header{
            padding-bottom: 0px;
            border-bottom: none;
            @media only screen and (max-width: 767px) {
                padding: 0;
            }
            .splitHeader{
                .agenda-bold;
                font-size: 2.6rem;
                text-align: center;
                padding-top: 15px;
            }
            .splitSubHeader {
                .agenda;
                font-size: 2rem;
                text-align: center;
                padding-bottom: 15px;
                border-bottom: 1px solid @formInputBorder;
            }
            .modal-close {
                .material-icons;
                font-size: 2.5rem;
                position: absolute;
                top: @gutter - 10;
                right: @gutter - 15;
                width: @gutter + 11;
                height: @gutter + 11;
                text-decoration: none;
                text-align: center;
                color: @primary-color;
                z-index: 1;
                &:before {
                    content:"\E14C"
                }
                @media only screen and (min-width: 768px) and (max-width: 1365px) {
                    top: 1px;
                    right: 5px;
                }
                @media only screen and (max-width: 767px) {
                    font-size: 2rem;
                    top: 6px;
                    right: 0px;
                }
            }
        }
        .ship-to-enabled{
            position: relative;
            padding: 15px;
            .ship-to-home-row {
                border-bottom: 1px solid @formInputBorder;
                .sth-heading {
                    @media only screen and (max-width: 767px) {
                        text-align: center;
                        padding-bottom: 20px;
                    }
                    .row-item {
                        text-align: left;
                        @media only screen and (max-width: 767px) {
                            padding-left: 0;
                        }
                    }
                }
                .ShowMoreHomeItem, .ShowLessHomeItem {
                    float: right;
                    font-size: 1.4rem;
                    padding: 10px;
                    .agenda-bold;
                    text-decoration: underline;
                }
            }
            .pickup-instore-row {
                border-bottom: 1px solid @formInputBorder;
                padding-top: 15px;
                .sts-heading {
                    @media only screen and (max-width: 767px) {
                        text-align: center;
                        padding-bottom: 20px;
                    }
                    .row-item {
                        text-align: left;
                        @media only screen and (max-width: 767px) {
                            padding-left: 0;
                        }
                    }
                    .boh-icon {
                        @media only screen and (max-width: 767px) {
                            margin-top: 10px;
                            vertical-align: top;
                        }
                    }
                }
                .storeConfirmation-section {
                    .pickUpStore-details {
                        width: 100%;
                        font-size: 1.6rem;
                        padding-bottom: 10px;
                        @media only screen and (max-width: 767px) {
                            padding-bottom: 0;
                        }
                        .store-address-details {
                            .store-name {
                                .agenda-bold;
                            }
                            p {
                                margin: 0;
                            }
                            .store-phone {
                                padding-bottom: 5px;
                            }
                        }
                        .changePreferredStore {
                            color: @torchRed;
                            text-decoration: underline;
                        }
                    }
                }
                .ShowMoreStoreItem, .ShowLessStoreItem {
                    float: right;
                    font-size: 1.4rem;
                    padding: 10px;
                    .agenda-bold;
                    text-decoration: underline;
                }
            }
            .product-tile-image{
                width: 30% !important;
                padding-left: 5px;
                padding-right: 2px;
                @media (max-width:767px){
                    width: 50% !important;
                    padding-left: 0;
                    padding-right: 10px;
                }
                .product-image,.no-image{
                    display: block;
                    width: 100%;
                }
            }
            .ship-to-home-item{
                padding-bottom: 15px;
                .product-details {
                    @media only screen and (max-width: 767px) {
                        padding-left: 5px;
                        padding-right: 0;
                    }
                }
                .cart-item-price {
                    font-weight: bold;
                    @media only screen and (max-width: 767px) {
                        font-size: 2.4rem;
                        padding-top: 15px;
                    }
                }
                .product-tile-title {
                    font-size: 1.6rem;
                    @media only screen and (max-width: 767px) {
                        font-size: 1.8rem;
                    }
                }
            }
            .ship-to-store-item{
                padding-bottom: 15px;
                padding-top: 15px;
                .product-details {
                    @media only screen and (max-width: 767px) {
                        padding-left: 5px;
                        padding-right: 0;
                    }
                }
                .cart-item-price {
                    font-weight: bold;
                    @media only screen and (max-width: 767px) {
                        font-size: 2.4rem;
                    }
                }
                .product-tile-title {
                    font-size: 1.6rem;
                    @media only screen and (max-width: 767px) {
                        font-size: 1.8rem;
                    }
                }
            }
            .boh-icon, .shipping-icon {
                height: 25px;
                display: inline-block;
                vertical-align: sub;
                .deliveryicon {
                    float: left;
                    height: 100%;
                    background-size: 80px 157px;
                    width: 30px;
                }
                .storeicon {
                    float: left;
                    height: 100%;
                    background-size: 80px 152px;
                    width: 30px;
                    background-position: 34px -428px;
                }
            }
            .sthItems {
                font-size: 18px;
                .agenda-bold;
                padding-bottom: 10px;
                display: inline-block;
                @media only screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
            .stsItems{
                padding-bottom: 10px;
                display: inline-block;
                @media only screen and (max-width: 767px) {
                    padding-bottom: 5px;
                }
                .stsItem-text {
                    font-size: 1.8rem;
                    .agenda-bold;
                    margin: 0;
                    @media only screen and (max-width: 767px) {
                        margin: 10px 0 6px;
                        font-size: 20px;
                    }
                }
                .store-name {
                    @media only screen and (max-width: 767px) {
                        font-size: 1.8rem;
                        .agenda-bold;
                        margin: 0px 0 6px;
                        text-align: left;
                    }
                }
                .changePreferredStore {
                    @media only screen and (max-width: 767px) {
                        font-size: 1.8rem;
                        color: @torchRed;
                        text-decoration: underline;
                        float: left;
                    }
                }
            }
            .cart-checkout-action{
                .checkoutBtnSection{
                    padding: 20pxs;
                    .cart-checkout-btn{
                        width: 35%;
                        padding: 10px 20px;
                        float: right;
                        margin-top: 20px;
                        @media (max-width:767px) and (orientation : portrait){
                            width: 50%;
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}
.french-content {
    #confirmStoreAndSplitOrderModalContainer {
        .ship-to-enabled {
            .sthItems {
                @media only screen and (max-width: 767px) {
                    font-size: 20px;
                }
                @media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
                    font-size: 1.6rem;
                }
            }
            .stsItems {
                .stsItem-text {
                    @media only screen and (max-width: 767px) {
                        font-size: 20px;
                    }
                    @media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
                        font-size: 1.6rem;
                        text-align: left;
                    }
                }
            }
        }
    }
}