#confirmSplitOrderModalContainer{
    .modal-content{
        padding: 12px;
        .modal-header{
            padding-bottom: 0px;
            .splitHeader{
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 2rem;
                padding: 10px;
            }
            border-bottom: none;
        }
        .ship-to-enabled{
            position: relative;
            padding: 15px;
            .product-tile-image{
                width: 25% !important;
                @media (max-width:767px){
                    width: 40% !important;
                }
                .product-image,.no-image{
                    display: block;
                    width: 100%;
                }
            }
            .ship-to-home-section,.ship-to-store-section{
                padding-bottom: 15px;
            }
            .sthItems,.stsItems{
                font-size: 18px;
                font-family: "Agenda_bold", sans-serif;
                font-style: normal;
                font-weight: normal;
                padding-left: 10px;
                padding-bottom: 28px;
            }
            .stsItems{
                padding-top: 13px;
            }
            .cart-checkout-action{
                .checkoutBtnSection{
                    padding: 20pxs;
                    .cart-checkout-btn{
                        width: 50%;
                        @media (max-width:767px) and (orientation : portrait){
                            width: 100%;
                        }
                    }
                    .cart-backtoCart-btn{
                        width: 48%;
                        @media (max-width:767px) and (orientation : portrait){
                            width: 100%;
                            margin-top: 15px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}