#postalCodePopupModalContainer{
    .modal-content{
        width: 57%;
        margin: 0 auto;
        padding: 18px;
        @media (max-width: 767px) {
            width: 100%;
        }
        .modal-header{
            padding: 0px;
            border-bottom: none;
        }
        .modal-body{
            .postalCode-header{
                text-align: center;
                font-family: 'Agenda_bold',sans-serif;
            }
            .postalCode-section{
                padding: 25px 0px 0px 0px;
                .postalCodeField{
                    @media (max-width: 767px) {
                        margin-left: 5%;
                    }
                    border-radius: 20px;
                    border: 1px solid grey;
                    background: white;
                    color: black;
                    height: 44px;
                    width: 38%;
                    text-transform: uppercase;
                    margin-left: 2%;
                }
                .postal-continue-btn{
                    @media (max-width: 480px){
                        margin-left: 50%;
                        margin-top: -45px;
                        padding-bottom: 12px;
                        width: 43%;
                        }
                    .new-btn-secondary();
                    width: 44%;
                    margin-left: 3%;
                    padding: 12px;
                    &.isLoading{
                        background-image: url(../resources/images/button-loading.gif);	    
                        background-position: 50% 50%;	    
                        background-repeat: no-repeat;	    
                        background-size: 50px;	    
                        color: transparent;	    
                        cursor: no-drop;	    
                        text-indent: -9999px;
                        pointer-events: none; 
                    }
                }
            }
            .postalCode-not-available{
                padding-top: 10px;
            }
            .postalCode-not-valid{
                padding-top: 10px;
                color: #e4002b;
            }
        }
    }
}