#storeConfirmationPopupModalContainer {
    .modal-content{
        width: 68%;
        margin: 0 auto;
        padding: 18px;
        @media (max-width: 767px) {
            width: 100%;
        }
        .pickUpStore-details {
            i.fas.fa-map-marker-alt,
            svg.fas.fa-map-marker-alt {
                color: #eb0029;
            }
            .pickUpStore-text {
                font-size: 20px;
                font-weight: 600;
            }
            p.store-address-details {
                margin: 0 6px 20px;
                font-size: 18px;
                span {
                    display: block;
                }
                span.store-locality, span.store-postalCode {
                    display:inline-block;
                }
                
            }
            .selectDifferentStore-link {
                span.btn-text {
                    font-size: 18px;
                    margin: 6px 6px;
                }
            }
        }
        .storeConfirmation-header {
            h2 {
                font-weight: 600;
            }
        }
           
        .storeConfirmation-button {
            background-color: #e4002b;
            border: 2px solid #e4002b;
            color: white;
            font-style: normal;
            text-align: center;
            width: 55%;
            display: block;
            border-radius: 22px;
            font-family: Agenda, sans-serif;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: none;
            text-transform: capitalize;
            padding: 12px 22px;
        }
    }
}