.mz-cartmonitor {
	font-size: 12px;
	color: @black;
	.agenda;
	display: inline-block;
    border-radius: 100%;
    background: @white;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
}