.header-notifications {
  background: @color-secondary-grey-lightest;
  text-align: center;
  font-size: 16px;
  color: @black;
  
  a {
    color: @brand-red;
    display: block;

    @media (min-width: @screen-lg){
      display: inline;
    }
  }

  i, svg {
    font-size: 12px;
  }
  
  .storepopup {
    
    .window {
      padding: 10px;
      display: none;
    }
  }
  
  .pdp_shipping_text {
    padding: 10px 0px;
    background: @color-secondary-grey-lightest;
    font-size: 16px;
    @media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
      padding: 10px 20px;
    }
    @media (min-width: 767px) and (max-width: 992px){
      padding: 10px 20px;
    }
    @media (max-width: @screen-sm){
      padding: 10px 20px;
    }
    @media (max-width: @screen-xs){
      padding: 10px 10px;
      display: inline-block;
    }
  a {
      color: #000000;
      .agenda;  
      font-weight: normal;
    }
  i, svg {
      padding: 10px 0px;
      font-size: 21px;
      line-height: 0px;
      color: @textColor;
    }
  span {
        @media (max-width: @screen-xs){
          display: inline-block;
        }
    }
  span.pdpSymbol{
        @media (max-width: @screen-xs){
          display: none;
        }
      }
  }
  button.pdpBannerClose {
    border: 0px;
    background: transparent;
    font-weight: bold;
    color:@textColor;
    right: 10px;
    width: 20px;
    position: absolute;
    padding: 0;
    @media (max-width: @screen-xs){
      right: 5px;
    }
}
}