.mz-searchbox {
    @expandedSearchWidth: 320px;
    .mz-searchbox-field {
        display: inline-block;
        position: relative;
        background: white;
        height:@gutter * 2 - 12;
        .nofont{
            width: 0;
        }
        #search-form { 
            display: none; 
            margin-top: -@gutter/2 + 5.5;

            .input-group {
                line-height: 0.4;
                .form-control {
                    padding: @gutter/5 - 3 @gutter/5 + 1;
                    border-left: none;
                    box-shadow: none;
                    border-color: @searchbox-border;
                    width: @gutter * 16 - 1;
                }

                .input-group-addon {
                    padding: 0px @gutter/2 + 1.5;
                    font-weight: normal;
                    line-height: 0;
                    color: @secondary-color;
                    text-align: center;
                    background-color: @main-background;
                    border: 1px solid @searchbox-border;
                    border-radius: @gutter/5 - 2 0 0 @gutter/5 - 2;
                    border-right: 0;

                    .fa-search {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .glyphicon-search {
            font-size: 2.2rem;
            margin-left: 0;
			position: absolute;
            left: @gutter/2 - 0.5;
            top: @gutter/2 - 2.5;
            color: @secondary-color;
            display: none;
        }
    }

    &.mz-searchbox-expands .mz-searchbox-input {
        .transition(~"width 0.5s ease");
        height:@gutter * 2 - 12;
        box-shadow:none;
        @media (max-width:767px) {
            height:@gutter * 2 - 17;
        }
        &:focus{
        	box-shadow:none;
        }
        &::-ms-clear {
		    display: none;
		}
    }
    .mz-searchbox-input {
        color: @primary-color;
        box-sizing: border-box;
        .agenda;
        font-size: 1.6rem;
        padding: @gutter/2 - 2.5 @gutter/2 - 2.5 @gutter/2 - 2.5 @gutter*2 + 2;
        border:none;
        float:left;
        &:focus {
            outline-width: 0;
        }
        &:invalid {
       	    background: @white;
        }
        @media(min-width:1024px){
            width: 100%;
        }
        @media(min-width:992px) and (max-width:1023px){
            width: @gutter * 10 - 2;
        }
        @media (max-width: 991px) and (min-width: 768px) { 
            width: @gutter*16;
            height:@gutter * 2 - 11;
        }
        @media(max-width:340px){
        	width:90%;
        }
    }
    .search-close {
        background-color: transparent;
        box-shadow: none;
        outline: none; 
        padding: @gutter - 16 @gutter / 2 - 2  @gutter - 14 @gutter / 2 - 2; 
        .no-border;
        float:right;
        i, svg {
        	font-size:2.2rem; 
        	&:hover{
        		color:@torchRed;
        	}
        }
        @media (max-width: 992px) and (min-width: 768px) {
            position: absolute;
            right: 0px;
            top: 0px;
        }

    }
    .mz-searchbox-button {
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: @gutter - 22;
	    width: @gutter - 1;
	    height: @gutter - 1;
        margin-left: -1em;
	    border-width: 0;
        border-radius: 0;
        padding: 0;
        background-color: white;
        float: right;
        text-indent: -10000px;
        z-index: 2;
        cursor: pointer;
        transition: opacity .4s ease;
        display: none;
        @media(max-width:767px){
        	right: 0;
		    background-color: transparent;
		    top: @gutter/5 - 4;
            z-index:11;
            display: none;
        }
    }
}
.mz-searchbox + .icon-text{
	display:block;
	position: absolute;
    right: 41px;
    bottom: -5px;
}
.mz-searchbox.active + .icon-text{
	display:none;
}
@media (max-width: 767px) {
    .fixed-on-mobile-search.active{
        position: fixed;
        top: 0;
        left: 0;
    }
}

.french-content{
	.mz-searchbox {
		.mz-searchbox-input {
            @media(min-width:1024px){
	        	width: @gutter * 18 - 10;
	        }
	        @media(min-width:992px) and (max-width:1123px){
	        	width: @gutter * 9 - 5;
	        }
	        @media (max-width: 991px) and (min-width: 768px) { 
	            width: @gutter*16;
	        }
        }
        .mz-searchbox-button{
            right: @gutter - 10;
        }
    }
    .nav-search-icon-text{
        position: absolute;
        top: @gutter + 4;
        left: -@gutter * 2 + 3;
        font-size: 1.3rem;
        color: black;
        display: none;
    }
    .mz-searchbox-no-expands{
        border:none;
        .mz-searchbox-button{
            left: -@gutter + 5;
            @media (max-width: 991px) and (min-width: 768px) { 
                left: auto;
                right: 0;
            }
        }
    }
}
.tt-dropdown-menu {
	background: @white;
	max-height: 71vh;
    overflow: auto;
	.tt-dataset-cat {
	    border: 1px solid @formInputBorder;
    	border-bottom: none;
		padding: @gutter - 10;
	    text-align: left;
		ul {
			list-style: none;
		    text-align: left;
	        padding-left: @gutter - 5;
            padding-bottom: @gutter - 10;
   			border-bottom: 2px solid @formInputBorder;
			li {
				a {
		            font-size: @gutter - 10;
	                font-style: italic;
				}
			}
		}
	}
	.tt-dataset-terms {
		display: none;
	}
}

.nav-search-icon-text{
    position: absolute;
    top: @gutter + 4;
    left: -@gutter - 3;
    font-size: 1.3rem;
    color: black;
    display: none;
    @media(min-width:767px) and (max-width:991px){
        right: 0;
    }
}
.mz-searchbox-expands{
    border:1px solid @searchbox-border;
    margin:-@gutter/5 + 1  @gutter/5 - 1 0 0;
    border-radius:@gutter/5 - 2;
    height:@gutter * 2 - 10;
    @media(max-width:767px){
    	margin:-@gutter/5  0 0 0;
    	.fullwidth;
    	height:@gutter * 2 - 4;
    	border:none;
    	border-bottom:1px solid @searchbox-border;
    	border-radius:0;
    	.twitter-typeahead{
	    	.fullwidth;
	    	z-index:10;
        }
        .mz-searchbox-field {
            .fullwidth;
            height: @gutter*2 + 10;
            background: @border-light;
            padding: @gutter/2 - 2.5 @gutter/2 + 2.5;
            @media (max-width:767px) {
                padding: @gutter/2 - 6.5  @gutter/2 + 0.5 @gutter/2 - 5.5;
                height: @gutter * 2 - 4;
            }
            @media (min-width:768px) {
                width: 92%;
            }
        }
        .mz-searchbox-input {
            padding-left: @gutter/2 - 3.5;
            font-size: 1.6rem;
            border-radius: 0;
            border: 1px solid @searchbox-border;
            width:95%;
            -webkit-appearance:none;
            line-height:@gutter - 5;
            @media(max-width:767px){
                display: block !important;
                width:94%;
                border-right:none;
            }
        }
        .search-close {
            position: absolute;
            top: -@gutter*2 - 7;
            right: @gutter * 6 - 10;
            color: @secondary-color;
            background: @border-light;
            border: 0;
            border-radius: 0;
            padding: @gutter - 7 @gutter - 9;
        }
        .mz-searchbox-field {
            .glyphicon-search {
                right: @gutter/2 - 0.5;
                top: @gutter - 5;
            }
        }
    }
    .mz-searchbox-button{
    	left:-@gutter - 5;
    	background-color: transparent;
        top: @gutter/5 + 4;
        display: block;   
        @media(min-width:768px) and (max-width:991px){
            left:-@gutter + 5;
        }
   		@media(max-width:767px){
   		    top: @gutter/5 + 1;
    		right:@gutter/5 * 3 - 2;
            left:auto;
            display: block;
            width:6%;
            height: @gutter - 11;
            background-size: @gutter/5 * 3 - 2 @gutter/5 * 3 - 1;
            background-position: 1px;
            background-repeat: no-repeat;
            height:@gutter + 8;
            background-color:@white;
            border: 1px solid @silverSand;
            z-index: 10000;
            border-left: none;
        }
    }
}
@media(max-width:767px){
    .mz-searchbox-expands.hide{
        display:none;
    }
}
.mz-searchbox-no-expands{
    border:none;
    .mz-searchbox-button{
        left: 16 - @gutter;
        top: @gutter/5 - 1;
        @media (max-width: 991px) and (min-width: 768px) { 
            left: auto;
            right: 0;
        }
    }
}
.nav-search-icon-text{
    @media (max-width: 991px) and (min-width: 768px) {
        text-align: right;
    }
}