#desktop-search{
	.mz-searchbox{
		@media(min-width:768px){
			border:none;
		}
	}
	.mz-searchbox-field{
		width:100%;
		-webkit-transition: width 0.5s ease;
		-moz-transition: width 0.5s ease;
		-ms-transition: width 0.5s ease;
		-o-transition: width 0.5s ease;
		@media(min-width:768px){
			background:transparent;
		}
		@media(max-width:767px){
		        width:100%;
		}

		.mz-searchbox-input{
			@media(min-width:768px){
				-webkit-transition: width 0.5s ease;
				-moz-transition: width 0.5s ease;
				-ms-transition: width 0.5s ease;
				-o-transition: width 0.5s ease;
				position: absolute;
				right: 0;
				top: 0;
				z-index:10;
			}

			&.tt-hint{
				@media(max-width:767px){
					display:none!important;
				}
			}
		}

		.search-close{
			@media(min-width:768px){
				position: absolute;
			    right: 0;
			    top: 0;
			    z-index:100;
			}
		}
	}
	.mz-searchbox-no-expands .mz-searchbox-button{
		@media(min-width:768px){
			left:auto;
			right:6px;
			top:0px;
		}
	}
	.nav-search-icon-text{
		right:3px;
		top:25px;
		background:@white;
		left:auto;
	}
}
.mz-searchbox{
	.suggestedSearch {
	  position: absolute;
	  top: 100%;
		left: 0;
	  z-index: 1020;
	  background: @search-background;
	  padding: 0;
	  height: auto;
		border-radius: 5px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		width: 557px;
		
	  @media(max-width:767px){
			width:100%;
			overflow-y:scroll;
			height:auto;
			border-radius: 0;
		}

	  	.search-section-title {
		  font-size:1.8rem;
		  .agenda-bold;
		  line-height:2.1rem;
			.text-left;
			margin-bottom: 25px;
			display: inline-block;
			color: @black;
			a {
				text-decoration: underline;
			}
		}
		.search-query {
			font-size:1.8rem;
			.agenda;
			line-height:2.1rem;
			.text-left;
			margin-bottom: 25px;
			display: inline-block;
			color: @black;
			overflow-wrap: break-word; 
		}
		
		.suggested-categories {
			display: block;
			background: @search-background;
			@media(max-width:767px){
				margin-bottom: 10px;
			}
			.search-section-title {
				margin: 25px 0 10px;
			}
		 	.category-count {
				font-size: 1.2rem;
			}

			.search-suggestion {
				display: block;
				margin: @gutter/5 * 2;
				.agenda;
				font-size:1.5rem;
				line-height:1.8rem;
				.text-left;
				@media(max-width:767px){
					line-height:2.1rem;
				}
				a.search-category-link {
					color: @black;
				}
			}
		}

		.suggested-products {
			padding: 15px 0 0 20px;
			float: right;
			background: @white;	
			.suggested-product{
				margin-bottom: 10px;
				line-height: normal;
				text-align: center;
				height: auto;
				// padding:@gutter/5 * 3; 

				&:nth-child(n+7){
			  		display:none;
					}
					
			  	@media(max-width:991px) and (min-width:768px){
						&:nth-child(n+5){
								display:none;
							}
					}
			  	@media(max-width:767px){
					&:nth-child(n+5){
			  			display:none;
			  		}
					}

				.suggested-product-image {
					height: auto!important;
					padding-left: 0px;
				}

				img{
					height: auto!important;
					padding: 0;
					width:70%;
					// @media(max-width:1279px) and (min-width:768px){
					// 	width:90px;
					// 	min-height:90px;
					// }
					@media(max-width:767px){
						width: auto !important;
						max-height: 60px;
					}
				}
				// .suggested-product-image {
				// 	width: 100%;
				// }

				.suggested-products-title {
					.agenda;
					font-size:1.5rem;
					padding: 0;
					line-height:2rem;
					text-overflow: ellipsis;
					overflow: hidden;
					text-align: left;
					color: @black;
					border-bottom: 1px solid @search-background;
					height: auto;
					min-height: 80px;
					.search-product-details {
						padding-right: 20px;
						padding-bottom: 10px;
						.search-product-code {
							.agenda;
							color: @black;
							font-size:1.4rem;
							padding: 0;
							line-height:2rem;
						}
					}
				}
			}
			.suggested-product:nth-child(n+6) {
				.suggested-products-title {
					border-bottom: none;
				}
			}
			@media(max-width:991px) and (min-width:768px){
				.suggested-product:nth-child(n+4) {
					.suggested-products-title {
						border-bottom: none;
					}
				}
			}
		  	@media(max-width:767px){
				.suggested-product:nth-child(n+4) {
					.suggested-products-title {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.home-furniture-content{
	.mz-searchbox .suggestedSearch {
		@media(max-width:767px){
			  width:100%;
			  overflow-y:scroll;
			  height:auto;
		  }
	}
}

.mz-searchbox.active #search_submit{
	z-index:1000 !important;
	background-color: @white;
	@media(min-width:768px){
		right: 9px;
	}
}

.no-scroll-mobile{
	@media(max-width:767px){
		overflow: hidden;
	    height: 100%;
    }
}
