.account-dropdown {

  &--button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &--content {
    min-width: 250px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
   }

   a{
      display: block;
      padding: 0;
      margin-bottom: 10px;

      &:hover {
        span {
          font-weight: 700;
          border-color: @brand-red;
        }
      }

      span {
        font-weight: 600;
        display: inline-block;
        border-bottom: 2px solid @white;
        margin: 0px;
      }
   }
}