.header-container{
	.mz-pageheader {
		.mz-storebranding {
			float:left;
			width: @gutter * 2 - 5;
			height: @gutter/5 * 8 + 0.9090909091;
			margin-right: @gutter/2 + 2.5;
			background-position: center center;
			background-repeat:no-repeat;
			background-size: contain;
			text-indent: -99999px;
			@media (max-width: 767px){
				margin-left:@gutter/2 + 2.5;
				width: 39px;
				height: 35px;
				margin-top: 9px;
			}
			@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
				margin-left:@gutter/5;
				margin-right: @gutter/5;
				width: 35px;
				height: 35px;
			}
			.store-logo {
				.fullwidth;
				height:@gutter * 2 - 10;
			}
		}
		.mz-furniture-logo {
			float:left;
			width: @gutter * 5 + 10; 
			height: @gutter/5 * 8 + 0.9090909091;
			margin-right: @gutter/2 + 2.5;
			background-position: center center;
			background-repeat:no-repeat;
			background-size: contain;
			text-indent: -99999px;
			@media(min-width:768px) and (max-width:991px){
				width:@gutter * 4; 	
				margin-right:@gutter/5 * 2;
			}
			@media (max-width: 767px){
				margin-left:@gutter/5;
				margin-right:@gutter/5;
				width: @gutter * 4 - 10;
			}
			.store-logo {
				.fullwidth;
				height:@gutter * 2 - 10;
			}
		}
		.my-store-nav {
			color: white;
			.agenda;
			.no-padding;
			position:static;
			width: 100%;
			
			@media(max-width:767px){
				width:~'calc(100% - 94px)';
			}
			.my-store-inner-wrapper {
				display: flex;
				
				.my-store-nav-item {
					list-style: none;
					padding: 0px;
					margin: 0px;
				}
			}
			&.my-hfStore-nav{
				@media(max-width:767px){
					width:~'calc(100% - 120px)';
				}
				@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
					width:~'calc(100% - 105px)';
				}
				.mystore-txt {
					.store-link {
						padding-left: 22px;
						@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
							padding-left: 25px;
							margin-right: 0px;
						}
						@media only screen and (min-device-width : 360px) and (max-device-width : 374px) and (orientation: portrait) {
							padding-left: 15px;
							margin-right: 0px;
						}
						@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
							padding-left: 5px;
							margin-right: 5px;
						}
						@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
							padding-left: 9em;
						}
						@media only screen and (max-device-width: 736px) and (min-device-width: 414px) and (orientation: landscape) {
							padding-left: 15em;
						}
						@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
							padding-left: 13em;
						}
					}
				}
			}
			@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {width:~'calc(100% - 60px)';}
			.mystore-txt {
				.agenda-bold;
				margin-top:@gutter/5;
				float:left;
				line-height:1;
				@media (max-width:767px) {
					font-size: 1.3rem; 
					float: none;
					line-height: 2;
				}
				.my-store {
					@media(min-width:768px){
						padding-right: 12px;
					}
				}
				#todays-hours-mobile{
					margin-left: 0;
					@media(min-width:768px){
						border-left: 1px solid @mercury;
					}
					@media (max-width:767px) {
						font-size: 1.3rem; 
						float: none !important;
					}
					@media (max-device-width: 320px) {
						font-size: 1.2rem;
					}
					#changeStoreDesktop {
						padding-left: 15px;
					}
					.change-store-nav{
						font-size:1.6rem;
						.agenda;
						color:@white;
						padding-right: 0;
						@media(max-width:767px){
							font-size:1.3rem;
							padding-bottom: @gutter / 5;   	
						}
					}
				}
				.store-link {
					color: @white;
					.agenda; 
					overflow: hidden;
					float: left;
					margin-right: 10px;
					font-size: 1.6rem;   
					border: none;
					line-height: 1.13;
					padding-left: 15px;
					
					@media(max-width:767px) {
						font-size:1.3rem;
						padding-left: 32px;
						line-height: 2;
					}
					
					@media(max-width:767px) and (orientation : landscape) {
						padding-left: 13em;
					}
					@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
						padding-left: 11em;
					}
					@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
						padding-left: 25px;
					}
					@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape) { padding-left: 13.5em;}
					@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { padding-left: 14.5em;}
					@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { padding-left: 15em; }
					@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { padding-left: 40px;}
					@media only screen and (min-device-width : 376px) and (max-device-width: 414px) and (orientation : portrait) {
						padding-left: 55px;
					}
				}
			}
			.change-link{
				color: @white;
				margin-left: 10px;
				padding-left: 10px;
				a{
					.agenda;
					color: @white;
					&:visited{
						color: @white;	
					}
				}
			}
			.change-store-link{
				color: @white;
				margin-left: 10px;
				padding-left: 10px;
				display: inline-block;
				@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
					margin-left: 0;
					padding-left: 0;
				}
				a{
					.agenda;
					color: @white;
					&:visited{
						color: @white;	
					}
				}
			}
			
			.my-store-nav-list{
				display: inline-block;
				padding: 0;
				margin: 0;
				width: 100%;
				.fullwidth;
				@media(max-width:767px){
					margin-top: -12px;
				}
				@media (min-width:767px) and (max-width:1200px) {
					margin-top: 0;
				}
				
				li {
					list-style: none;
				}
				.my-store-nav-item {
					float: left;
					padding: 0 @gutter/5 0 @gutter/2 + 3.5;
					.agenda;
					width: 90%;
					@media(min-width:768px) and (max-width:992px){
						padding: 0 @gutter/5 0 @gutter/2 + 0.5;
					}
					@media(max-width:767px){
						padding: 0 @gutter/5 0 0;
						width: 100%;
					}
					@media(min-width:991px) and (max-width:1200px){
						padding: 0 @gutter/5 0 @gutter/2 + 2.5;
					}
					.store-flayer {
						@media (min-width:767px) and (max-width:1200px){
							max-width: @gutter * 4;
							padding-left: @gutter/5;
						}
						.store-flayer-link {
							color: @secondary-color;
							//border-left: solid 1px @header-border;
							//padding-left: @gutter - 5;
							&:hover, &:active, &:visited, &:link{
								color: @secondary-color;
							}
						}
					}
					.store-title {
						float:none;
						display: inline-block;
						color: @white;
						
						@media(max-width:1200px) and (min-width:768px){
							line-height: 1.15;
						}
						
						@media(max-width:767px){
							font-size: 1.3rem;
							width: 100%;
							text-align: center;
						}
						@media(max-width:767px) and (orientation : landscape) { 
							margin-left: 0;
						}
					}
					.store-collapse {
						margin:0;
						@media(min-width:1201px){
							min-width:@gutter * 9 - 10;
							float: none;
						}
						&:hover {
							text-decoration: none;
						}
						&:visited{
							color:@mineShaft;
						}
						#store-section {
							padding:@gutter/5 0 0 @gutter/5 + 2;
							font-size: 1.3rem;
							font-weight: bold;
							color: @headerArrow;
							float: left;
						}
						&:focus {
							outline: none;
						}
						.notes-label {
							color: @primary-color;
							@media(max-width:767px) {
								padding: 0 5px 0 16px;
								font-size: 1.3rem;
								float: left;
							}
						}
						&.collapsed {
							.store-title {
								&:after {
									content: "\f107";
								}
							}
						}
					}
					.store-hour-Mobile {
						@media(max-width:767px) {
							font-size: 1.3rem;
							text-align: center;
							padding-bottom: 7px; 
						}
						@media(max-width:767px) and (orientation: portrait) {
							margin-right: 0px;
						}
					}
				}
				.nav-todays-hours{
					float: none;
					width: 85%;
					display: inline-block;
					@media(max-width:991px) and (min-width:768px) {
						padding: 0;
					}
					.weekly-hour{
						color: @white;
					}
				}
				.contactInfo {
					.agenda;
					position: absolute;
					right: 0;
					bottom: -52%;
					left: 45%;
					font-size: 1.6rem;
					@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
						font-size: 1.4rem;
						bottom: -53%;
						line-height: 1.5;
					}
					@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {bottom: -60%;}
					@media only screen and (min-device-width : 768px) and (max-device-width : 896px) and (orientation : landscape) {bottom: -50%;}
					@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape){
						bottom: -60%;
					}
					@media only screen and (min-width : 768px) and (max-width : 991px) {
						bottom: -45%;
						font-size: 1.4rem !important;
					}
					.link {
						.agenda;
						font-size: 1.6rem;
						@media(max-width:767px){
							font-size: 1.3rem; 
						}
						@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {font-size: 1.4rem; }
					}
					span {
						padding: 20px;
						@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
							padding: 4px;
						}
						@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape){
							padding: 5px;
						}
						a {
							font-size: 1.6rem;
							@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {font-size: 1.4rem; }
						}
					}
					span:first-child {
						padding-left: 0;
					}
					span:last-child {
						padding-right: 0;
					}
				}
				.nav-store-flyer{
					@media(max-width:991px) and (min-width:768px) {
						padding: 0;
					}
				}
				
				.select-store{
					// margin: 3px 0 12.5px;
					// padding-left: @gutter - 10;
					color: @white;
					text-decoration: none;
					font-weight: 600;
					
					@media(max-width:767px){
						margin: 10px 0 12.5px;
						font-size: 16px; 
					}
					
					a,
					a:visited {
						color: @white;
					}

					a {
						display: flex;
						justify-content: center;
						align-items: center;
						line-height: 1;
						flex-direction: column;
						text-align: center;

						@media (min-width: @screen-md){
							flex-direction: row;
							margin-left: 10px;
							text-align: left;
						}

						&:hover {
							text-decoration: none;
							span {
								text-decoration: underline;
							}
						}
					}
				}
			}
			
			.fa-map-marker {
				color: @white;
				font-size: 22px;
				padding:0;
			}
			.storepopup { 
				.window {
					position:absolute;
					top: @gutter * 2 + 16.5; 
					left: @gutter * 2 + 0.5;
					width: @gutter * 13 - 5;
					height:auto;
					z-index:1010;
					display: none;
					padding: @gutter/2 + 2.5;
					border-radius: @gutter/2 - 4.5;
					text-align: left;
					font-size: 1.6rem;
					border: solid 1px @header-border;
					.agenda;
					background: @main-background;
					
					@media(max-width:767px){
						width: 97%;
						left: @gutter/2 - 2.5;
					}
					@media (max-width: 460px) {
						width: 93%;
					}
					
					.hiddenpopbadge {
						.popbadge-text {
							.agenda;
							font-size: 1.6rem;
							
							@media (max-width:767px) {
								font-size: 1.3rem;
							}
							.poplink-text {
								margin: @gutter/5 + 1 0 0;
								line-height: @gutter - 7;
							}
							.popbadge-link {
								display: inline-block;
								color: white;
								.agenda;
							}
							.different-store-link{
								text-decoration: underline;
							}
						}
					}
					
					&:before, &:after {
						bottom: 100%;
						left: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						
						@media(max-width:767px){
							left:@gutter * 2 + 2;
						}
						
						@media(min-width:768px){
							border: none;
							top: @gutter + 7;
						}
					}
					
					&:after {
						border-bottom-color: @torchRed;
						border-width: @gutter/2 - 2.5;
						margin-left: -@gutter + 10;
					}
					
					/* this border color controlls the outside, thin border */
					&:before {
						border-bottom-color: white;
						border-width: @gutter/2 - 0.5;
						margin-left: -@gutter + 8;
						@media(min-width:768px){
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-right: 10px solid @torchRed;
							margin-left: -169px;
						}
					}
				}
				.store-popup{
					top: 0;
					left: @gutter * 6 + 15;
					@media(max-width:767px){
						top: @gutter * 2 + 16 ;
						width: 60%;
						left: @gutter * 2 + 18 ;
					}
				}
				.store-selected-popup{
					top: 0;
					width: @gutter * 10 + 5;
					background: @torchRed;
					color: white;
					border: solid 1px white;
					border-radius: @gutter - 10;
					line-height: 1.13;
					@media(max-width:767px){
						top: @gutter * 2 + @gutter - 7;
						left: @gutter * 4 - 5;
						width: @gutter * 8 - 7;
						padding: @gutter - 12 @gutter - 12 @gutter - 11;
					}
					&:before {
						margin-left: -@gutter * 5 - 11;
						top: @gutter - 1;
						@media(max-width:767px){
							display: none;
						}
					}
					&:after{
						@media(max-width:767px){
							left: @gutter * 3 + 5;
						}
					}
				}
				.no-store-box{
					background: @secondary-color;
					border: solid 1px @white;
					top: @gutter - 13;
					width: @gutter * 10 - 14;
					line-height: 1.13;
					border-radius: @gutter - 10;
					@media (max-width:767px) {
						top: @gutter * 2 + 11;
						width: @gutter * 8 - 9;
					}
					&:after {
						border-bottom-color: @secondary-color;
					}
					/* this border color controlls the outside, thin border */
					&:before {
						border-bottom-color: @white;
						margin-left: -@gutter * 5 - 2;
						top: @gutter - 2;
					}
					.hiddenpopbadge{
						.popbadge-text{
							color:@white;
							.popbadge-link{
								color:@white;
								font-size: 1.8rem;
								.agenda-bold;
								&:after{
									content: "\e5cc";
									.material-icons;
									font-weight: 700;
									font-size: 2.2rem;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
	}
}

.french-content{
	.header-container .mz-pageheader {
		.my-store-nav {
			@media(max-width:767px){
				width:~'calc(100% - 85px)';
			}
			@media (max-device-width: 404px) {
				width:~'calc(100% - 69px)';
			}
			@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {width:~'calc(100% - 59px)';}
			.mystore-txt {
				@media(max-width:767px){
					line-height: 1.8;
					font-size: 1.2rem;
				}
				@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {font-size: 1.1rem; }
				.store-link {
					.agenda;
					font-size: 1.6rem;
					@media(max-width:767px){
						font-size: 1.2rem;
						padding-left: 18px;
						line-height: 1.8;
						margin-right: 0px;
					}
					@media(max-width:767px) and (orientation : landscape) {
						padding-left: 13em;
					}
					@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
						padding-left: 10.5em;
					}
					@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape) { padding-left: 13em;}
					@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { padding-left: 14em; }
					@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { padding-left: 15.5em; }
					@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { padding-left: 20px; }
					@media (device-height : 640px) and (device-width : 360px) and (-webkit-min-device-pixel-ratio: 3) and (orientation : portrait) { padding-left: 8px;}
					@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
						font-size: 1.1rem; 
						padding-left: 0px;
						margin-right: 0px;
					}
				}
				#todays-hours-mobile {
					.change-store-nav {
						@media(max-width:767px){
							.agenda;
							font-size: 1.2rem;
							padding-right: 0;
							line-height: 1.8;
						}
						@media (max-device-width: 404px) {
							font-size: 1.2rem;
						}
						@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait) { padding-right: 0;}
						@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
							font-size: 1.1rem;
						}
					}
				}
			}
			.change-store-link{
				margin-left: 0;
				padding-left: 0;
				@media (max-device-width: 404px) {
					right: 6px;
				}
				@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
					right: 0;
					margin-left: 0;
				}
			}
			.my-store-nav-list {
				.contactInfo {
					@media only screen and (min-device-width : 768px) and (max-device-width : 896px) and (orientation : landscape) {bottom: -81%;}
					@media only screen and (min-width : 768px) and (max-width : 991px) {
						bottom: -65%;
						font-size: 1.4rem !important;
					}
					@media(min-width : 992px) {
						bottom: -70%;
					}
					span {
						@media only screen and (min-width : 1028px) and (max-width : 1145px) {
							font-size: 1.4rem !important; 
						}
						@media only screen and (min-width : 768px) and (max-width : 1027px) {
							font-size: 1.4rem !important;
						}
						@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  { padding: 3px !important; }
						a {
							@media only screen and (min-width : 1028px) and (max-width : 1145px) {
								font-size: 1.4rem !important; 
							}
							@media only screen and (min-width : 768px) and (max-width : 1027px) {
								font-size: 1.4rem !important;
							}
						}
					}
					.link {
						@media only screen and (min-device-width : 1023px) and (max-device-width : 1145px) {
							font-size: 1.4rem;
						}
					}
				}
				.my-store-nav-item {
					.store-title {
						@media(max-width:767px){
							font-size: 1.2rem;
						}
					}
					.store-hour-Mobile {
						@media (max-device-width: 404px) and (min-device-width: 376px) {
							margin-right: -20px;
						}
					}
				}
				@media (max-width: 1200px) and (min-width: 768px) {
					margin-top: 0;
				}
			}
		}
		.mz-storebranding {
			@media (max-device-width: 404px) {
				margin-left: @gutter/5;
				width: 35px;
				height: 35px;
				margin-right: 5px;
			}
		}
	}
	.mz-utilitynav .mz-utilitynav-item{
		@media(max-width: 992px) and (min-width: 768px){
			padding:0 @gutter/5 - 1;
		}
	}
	.header-container .mz-pageheader .my-store-nav .my-store-nav-list .my-store-nav-item{
		.store-flayer{
			max-width: @gutter * 4 + 10;
		}
		@media(max-width: 991px){
			padding:0 0 0 @gutter/5 * 2 + 3;
		}
		&.nav-todays-hours{
			@media(max-width: 992px) and (min-width: 768px){
				width:@gutter * 4;	
			}
		}
		@media(max-width:767px){
			.no-padding;
		}
		&:nth-child(2){
			@media(max-width: 991px){
				padding-left:@gutter/5;
			}
			.store-flayer {
				.store-flayer-link {
					@media(max-width: 992px) and (min-width: 768px){
						padding-left:@gutter/5;
					}
				}
			}
		}
		
	}
	.header-container .mz-pageheader .my-store-nav  {
		.storepopup .store-popup {
			left: @gutter * 10 - 7;
			@media (max-width:767px) {
				left: @gutter * 2 + 7;
				top: @gutter * 2 + 7;
			}
		}
		.storepopup .store-selected-popup{
			@media (max-width:767px) {
				left: @gutter * 2 + 7;
				top: @gutter * 2 + @gutter - 9;
			}
			&:before{
				top: @gutter + 7;
			}
		}
	}
	
	.mz-sitenav .mz-navright-list{
		@media (max-width:767px) {
			right: @gutter / 5 * 3;
		}
		.nav-search-icon::before, .scroll-search-icon::before{
			margin-left:@gutter - 17;
		}
	}
}
.home-furniture-content{
	.header-container .mz-pageheader .my-store-nav {
		.my-store-nav-list {
			.my-store-nav-item{
				@media (min-width:768px) {
					padding: 0 0 0 @gutter/5 * 3 + 1;
				}
				&.nav-todays-hours{
					@media (min-width:768px) and (max-width:1200px) {
						max-width: @gutter * 4;
					}	
				}
				.store-flayer{
					max-width: @gutter * 3 + 5;
				}
				&.nav-store-flyer{
					@media (min-width:768px) and (max-width:991px) {
						padding: 0;
					}	
				}
				
			}
			
		}
		
		.storepopup .store-popup{
			left: @gutter * 10 + 2;
			@media(max-width: 991px) and (min-width: 768px){
				left: @gutter * 8 + @gutter / 5 * 3 + 1;
			}
			@media(max-width: 767px){
				left: @gutter * 5 - 15;
				top: @gutter * 2 + 10 ;
				&:after{
					left:@gutter * 3;
				}
				&:before{
					display:none;
				}
			}
		}
		.storepopup .store-selected-popup{
			@media(max-width: 767px){
				left: @gutter * 4 + 10;
				top: @gutter * 2 + 18 ;
			}
		}
	}
}

