.mz-utilitynav {
    color: @secondary-color;
    font-size: 1.6rem;
    float: right;
    .mz-utilitynav-item {
        float: left;
        margin: 0;
        padding: 0 @gutter/2 + 1.5;
        text-align: right;
        .agenda;
        &:last-child {
            padding-right: 0;
            text-align: right;
        }

        .mz-utilitynav-link {
            font-size: 1.6rem;
            color: @secondary-color;
            .agenda;
            &:hover, &:active, &:visited, &:link{
            	color: @secondary-color;
            }
        }
    }

    .mz-utilitynav-link {
        color: @secondary-color;
    }
    .signinIcon{
	    width: 25px;
	    height: 25px;
	    display: inline-block;
	    background-image: url("../resources/images/Web-Icons-on-one-file.png");
	    float: left;
		background-size: 109px;
		background-position: -79px -5px
	}
}
