html {
    font-size: @fontSize;
}
body {
  margin: 0 auto;
  height: 100%;
  background-color: @bodyBackgroundColor;
	font-family: @fontFamily;
  font-size: @fontSize + 6;
  color: @textColor;
}
html, body{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: @textColor;

}
a {
    color: @linkColor;
    &:visited {
        color: @linkVisitedColor;
    }
    &:hover {
        color: @linkHoverColor;
    }
    &:active, &:focus{
    	outline: 0;
    }
}

p {
    margin: @gutter/2 0;
}

// preventing FOUT since web fonts are loading asynchronously
html.js.fontface.wf-loading body {
    visibility: hidden;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}
/* Inputs -------------------*/



@font-face {
  font-family: 'glyphicons-halflings';
  src: local('☺'), url('../resources/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../resources/fonts/MaterialIcons-Regular.woff) format('woff');
  font-display: fallback;
}

@font-face{
  font-family:'FontAwesome';
  src: url("../resources/fonts/fontawesome-webfont.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Agenda";
  src: url("../resources/fonts/HH_Agenda_Medium.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Agenda_medium_italic";
  src: url("../resources/fonts/HH_Agenda_Medium_Italic.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Agenda_bold";
  src: url("../resources/fonts/HH_Agenda_Bold.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Agenda_bold_italic";
  src: url("../resources/fonts/HH_Agenda_Bold_Italic.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Agenda_black";
  src: url("../resources/fonts/HH_Agenda_Black.woff") format("woff");
  font-display: fallback;
}

.glyphicon {
  font-family: 'glyphicons-halflings';
}

.fa {
  font-family:'FontAwesome';
}

.material-icons {
  font-family: 'Material Icons';
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-style:normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Bounteous Body Font Styles
.b1,
.b1-intro {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 1.2;

  @media (min-width: @screen-sm){
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 1.2;
  }
}

.b2,
.b2-large-body {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.63px;
  line-height: 1.2;

  @media (min-width: @screen-sm){
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.88px;
    line-height: 1.2;
  }
}

.b3
.b3-main-body {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2;

  @media (min-width: @screen-sm){
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2;
  }
}

.b4,
.b4-caption-or-discl {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;

  @media (min-width: @screen-sm){
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
  }
}

.b5,
.b5-promo-tag {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.58px;

  @media (min-width: @screen-sm){
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.67px;
  }
}

.b6,
.b6-eyebrow {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.38px;

  @media (min-width: @screen-sm){
    color: @color-black;
    font-family: @font-family-agenda;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.44px;
  }
}

.agenda {
  font-family: "Agenda", sans-serif;
  font-style:   normal;
  font-weight:  400;
}
.agenda-bold {
  font-family: "Agenda_bold", sans-serif;
  font-style:   normal;
  font-weight:  normal;
}
.agenda-medium-italic {
  font-family: "Agenda_medium_italic", sans-serif;
  font-style:   italic;
  font-weight:  400;
}
.agenda-italic {
  font-family: "Agenda_italic", sans-serif;
  font-style:   italic;
  font-weight:  normal;
}
.agenda-black {
  font-family: "Agenda_black", sans-serif;
  font-style:   normal;
  font-weight:  normal;
}

// Buttons

.btn-prime {
  padding: 12px 40px;
  border-radius: 22px;
  background-color: @color-primary-red;
  color: @color-white;
  font-family: @font-family-agenda;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  .underline-animation(@color-primary-red);
}

.btn-prime--white {
  .btn-prime();
  color: @color-black;
  background-color: @color-white;
  .underline-animation(@color-black);
}

.btn-secondary {
  padding: 12px 40px;
  box-sizing: border-box;
  border: 2px solid @color-primary-red;
  border-radius: 22px;
  color: @color-primary-red;
  font-family: @font-family-agenda;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  .underline-animation(@color-primary-red);

  i, svg {
    margin-left: 5px;
    font-size: 14px;
  }
}

.btn-secondary--white {
  .btn-secondary();
  border-color: @color-white;
  color: @color-white;
  .underline-animation(@color-white);

  i, svg {
    margin-left: 5px;
    font-size: 14px;
  }
}
.new-btn-secondary{
  box-sizing: border-box;
  border: 2px solid @color-primary-red;
  border-radius: 22px;
  font-family: @font-family-agenda;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  color: @color-primary-red;
  background-color: @color-white;
  text-decoration: none;
  text-transform: capitalize;
    @media (max-width: 480px) {
      display: block;
    }
}
.new-btn-primary{
  border-radius: 22px;
  background-color: @color-primary-red;
  color: @color-white;
  font-family: @font-family-agenda;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.btn-text {
  color: @color-black;
  font-family: @font-family-agenda;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  .underline-animation(@color-primary-red);
  i, svg {
    color: @color-primary-red;
    margin-left: 5px;
  }
  &:hover {
    color: @color-primary-red;
  }
}

// Form controls
// -------------------------

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.mz-uneditable-input {
  	border: 1px solid @formInputBorder;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: @gutter - 14 @gutter - 10 @gutter - 17;
    margin-bottom:0;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @placeholderColor !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: @placeholderColor !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: @placeholderColor !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: @placeholderColor !important;
}

// Reset appearance properties for textual inputs and textarea
// Reset height since textareas have rows
textarea {
  height: auto;
}
// Everything else
button,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.mz-uneditable-input {
  border: 1px solid @formInputBorder;

  // Focus state
  &:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
  }
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
  cursor: pointer;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
  font-family: @fontFamily;
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: 30px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
}

// Make select elements obey height by applying a border
select {
  width: 220px; // default input width + 10px of padding that doesn't get applied
  border: 1px solid @inputBorder;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

button {
    font-family: "Agenda", sans-serif;
}

// TODO: JBZ: file these

.mz-placeholder {
    color: #aaaaaa;
}

.mz-page-headernote {
    margin-left: 133px;
	font-weight: normal;
}

.mz-auxiliary-text {
	font-size: 12px;
}

.mz-strikethrough {
	text-decoration: line-through;
}

/* Base classes */

.product-badge{
    font-size: 1.7rem;
    color: @white;
    text-transform: uppercase;
    padding: @gutter - 22 @gutter - 15;
    margin: 0 @gutter - 15 0 0;
    text-align: center;
    background: @torchRed;
    vertical-align: top;
    position: relative;
    top: @gutter - 20;

    @media (min-width:768px){
    	top: @gutter - 15;
    	padding: @gutter - 20 @gutter - 15;
    }
}

.new-badge{
  background: #00B140;
}
/*
*  Below RTI css added to enable disable arrows
* when the arrows reach first item and last items.
*/
.rti-arrow-enabled{
	color:@torchRed;
}
.rti-arrow-disabled{
	color:@silver;
}
.link{
	font-size:1.6rem;
	color: @torchRed;
    text-decoration: none;
    &:visited, &:hover, &:active, &:focus{
    	color: @torchRed;
    	outline: 0;
    }
}

.form-control{
	color:@primary-color;
	height:40px;
	border-radius:0;
	&:focus{
		.box-shadow-x2 (inset 0 0px 0px rgba(0,0,0,.075),0 0 4px rgba(102,175,233,0.6));
	}
}

.fullwidth{
	width:100%;
}
.halfwidth{
	width:50%;
}
.no-padding{
	padding:0;
}
.no-margin{
	margin:0;
}
.no-border{
	border:none;
}
.no-cursor, .no-cursor:hover{
	cursor:default;
}
.no-pad-right{
    padding-right: 0;
}
.no-appearance{
	-webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
}
.btn-common{
	font-size:1.6rem;
	padding:@gutter/2 - 0.5 @gutter/2 + 2.5 @gutter/2 - 2.5;
	border-radius:@gutter/5 + 1;
	.text-uppercase;
	color:@gray-base;
	.agenda-bold;
	.text-center;
	&:focus, &:hover{
		text-decoration:none;
		color:@color-white
  }
  .btn-red();
  .new-btn-primary();
}
.flex{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap{
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-row-direction{
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.justify-content-left {
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
}
.justify-content-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

/*  checkbox and radio style for global start */
.checkbox-wrap {
	background: @white;
    padding: @gutter - 20 @gutter - 10 @gutter - 20 @gutter - 20;
    border: 1px solid @formInputBorder;
    display: inline-block;

   .checkbox-lebel-outside {
   	    cursor: pointer;
	    vertical-align: middle;
	    margin: 0 0 0 @gutter - 17;
	    font-weight: 400;
    }
}

.checkbox {
    width: 28px;
    height: 28px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    input[type="checkbox"] {
            visibility: hidden;

            &:checked + label:after {
                opacity: 1;
            }
    }

.checkbox-label-inside {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid @formInputBorder;
    background: @white;

    &:after {
        content: "\E876";
        display: block;
        .material-icons;
        font-size: 2.6rem;
        font-weight: bold;
        line-height: 27px;
        text-align: center;
        opacity: 0;
    }
}

&.checkbox-small {
    width: 24px;
    height: 24px;

    .checkbox-label-inside {
    width: 24px;
    height: 24px;
        &:after {
            font-size: 1.9rem;
            line-height: 23px;
            font-weight: 800;
        }
    }
   }
}

.radio {
    width: 28px;
    height: 28px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    input[type="radio"] {
        visibility: hidden;

        &:checked + label:after, &:checked + span.radio-label-inside:after {
            opacity: 1;
        }
    }

    .radio-label-inside {

        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid @mineShaft;
        background: @white;
        padding-left: 1px;

        &:after {
            content: "\E061";
            display: block;
            .material-icons;
            font-size: 2.6rem;
            font-weight: bold;
            line-height: 27px;
            text-align: center;
            opacity: 0;
        }
    }



    &.radio-small {
        width: 24px;
        height: 24px;

        .radio-label-inside {
            width: 24px;
            height: 24px;
                &:after {
                    font-size: 1.9rem;
                    line-height: 23px;
                    font-weight: 800;
                }
            }
    }
}
/*  checkbox and radio style for global End */
.small {
	font-size: 80%;
}

[data-mztp] {
	display: none;
}

.no-scroll{
	overflow:hidden;
	height:100%;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: textfield;
    -ms-appearance: textfield;
    appearance:textfield;
}
/* Product business messages style */
.business-messages{
  .product-available{
    font-size:1.4rem;
    color:grey;
    &:before{
        content: "\E88A";
        .material-icons;
        margin-right:@gutter/5;
        vertical-align: text-top;
    }
  }
  .product-not-available{
    font-size:1.4rem;
    color:grey;
    &:before{
        content: "\E14B";
        .material-icons;
        margin-right:@gutter/5;
        vertical-align: text-top;
    }
  }
}
select::-ms-expand {
    display: none;
}
.text-indent{
	text-indent:-99999px;
}
.black{
  color:#333 !important;
}
.no-underline{
  text-decoration:none !important;
}
::selection {
  background: #51a3ff;
}
::-moz-selection {
  background: #51a3ff;
}
.sucess-email {
	display: none;
	color: @greenIndicator;
   margin-top: @gutter - 15;
   font-style: italic;
   .agenda-bold;
}
.error-email {
	display: none;
	color: @torchRed;
   margin-top: @gutter - 15;
   font-style: italic;
   .agenda-bold;
}
.mz-store-flyer {
	.mz-breadcrumbs {
		display: none;
  }
  .mz-sitenav{
    &.fixed-on-search{
      top:-@gutter/5 - @gutter * 2;
    }
  }
  #page-content{
    padding: 5px 37.5px 25px 37.5px;
    .container{
      width: 100%;
      padding: 0px;
      .flyer-row {
        width: 100%;
      }
      .flyer-page-name {	
        padding: 37.5px 0px 10px 0px;
        line-height: normal;
        color: @torchRed;
        @media(max-width: 767px) {
          padding: 25px 0px 0px 0px;
        }
      }
      .no-flyer-store{
        padding-left: @gutter - 10;
        margin: 0;
      }
    }
  }
}

#storeflyer{
    #reebee-viewer{
        width: 100% !important;
        @media(max-width: 1024px) {
            height: 75vh !important;
        }
         @media(min-width: 1025px) {
            height: 95vh !important;
        }
    }
}
.mz-l-pagecontent{
	&.addTopOnMobile {
		@media(max-width: 767px) {
			margin:0 auto @gutter * 2 + 2;
		}
	}
	&.removeBottom {
		@media(max-width: 767px) {
			margin-bottom: @gutter + 5;
		}
	}

	&.addTopOnMobileAfterSearch {
		@media(max-width: 767px) {
			top: @gutter * 5 - 11;
			margin:0 auto @gutter * 5 - 11;
		}
	}
}
.main-page-title{
	.agenda-bold;
	font-size:3rem;
	margin: 0 0 @gutter - 5;
	width:100%;
	float:left;
	&.spacing{
		padding:0 @gutter/5 * 3
	}
}
.main-page-title::first-letter{
	text-transform:uppercase;
}
.hide-on-site {
	display:none;
}
.blank-label{
    margin: 0;
    display: block;
    padding: 0;
}
.nofont{
    font-size: 0;
    line-height: 0;
}

.nowidth{
    font-size: 0;
    width: 0;
}
.inventory-info{
  .agenda-bold;
}
.no-border{
  border: none !important;
}
.articles-link-color{
    a{
        text-decoration: none;
        color: @secondary-color !important;
        &:hover{
            text-decoration:underline;
        }
    }
}
.pickup-order-days {
	.agenda-bold;
}
.model_agent {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 2;
  display: none;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  max-width: 400px;
  max-height: 700px;
  height: 100%;
  border: 1px solid #d9d9d9;
  background-color: white;

  &.is-mobile {
    width: 100%;
    height: calc(100%);
    right: 0;
  }

  .close_chat {
    text-align: right;
    font-size: 21px;
    display: table;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #E4002B;
    
    i, svg {
      cursor: pointer;
      display: table-cell;
      vertical-align: middle;
      color: white;
     }

     span {
      text-align: left;
      display: table-cell;
      vertical-align: middle;
      color: white;
     }
  }

  iframe {
    border: none;
    height: 94%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .chat-popup { right: 15px !important; max-width: 400px !important; height: 100% !important;}
  .model_agent { right: 30px !important; }
}

@media screen and (min-width:0\0){
  .chat-popup { right: 15px !important; max-width: 400px !important; }
  .model_agent { right: 30px !important; }
}

.new-btn-secondary{
  padding: 12px 22px;
  box-sizing: border-box;
  border: 2px solid @color-primary-red;
  border-radius: 22px;
  font-family: @font-family-agenda;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  color: @color-primary-red;
  background-color: @color-white;
  text-decoration: none;
  text-transform: capitalize;
  @media (max-width: 480px) {
    display: block;
  }
}

.new-btn-primary{
  padding: 12px 22px;
  border-radius: 22px;
  background-color: @color-primary-red;
  color: @color-white;
  font-family: @font-family-agenda;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid @color-primary-red;
  &:hover, :focus {
    background-color: @redButtonHoverBg;
    text-decoration: none;
    border-color: @redButtonHoverBg;
  }
}
.manageMobileDropZone {
  width:100%;
  margin: 0px auto !important;
  padding: 15px 15px !important;
}
.manageDropZone {
  @media only screen and (min-width: 1030px) { 
      width:1120px !important;
      margin: 0px auto !important;
      padding: 15px 15px !important; 
  }
}
 .mz-l-pagewrapper{
    .mz-l-pagecontent{
      .mz-drop-zone{
          .manageMobileDropZone
          {
            [class*='mz-cms-col-']
            {
              &.manageMobileDropZoneWidth { 
                @media (max-width: 767px) { 
                    width: 50% !important; 
                }
                @media only screen and (device-width: 375px) and (device-height: 812px)  and (-webkit-device-pixel-ratio: 3) {
                    width: 50% !important; 
                }
                @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                    width: 50% !important; 
                }
                @media only screen  and (device-width: 428px) and (device-height: 926px)  and (-webkit-device-pixel-ratio: 3) {
                    width: 50% !important; 
                }
                @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                    width: 50% !important; 
                }
                .mz-cms-content{ 
                  margin: 9px;
                  padding: 0px;
                  @media (max-width: 767px) { 
                        margin: 7px;
                  }
                  @media only screen and (device-width: 375px) and (device-height: 812px)  and (-webkit-device-pixel-ratio: 3) {
                     margin: 7px;
                  }
                  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                      margin: 7px; 
                  }
                  @media only screen  and (device-width: 428px) and (device-height: 926px)  and (-webkit-device-pixel-ratio: 3) {
                     margin: 7px;
                  }
                  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                     margin: 7px; 
                  }
                }
              }
            }
            .mz-cms-col-12-12
            {
              &.manageMobileDropZoneWidth { 
                  @media (max-width: 767px) { 
                      width: auto !important; 
                  }
                  @media only screen and (device-width: 375px) and (device-height: 812px)  and (-webkit-device-pixel-ratio: 3) {
                      width: auto !important; 
                  }
                  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
                       width: auto !important; 
                  }
                  @media only screen  and (device-width: 428px) and (device-height: 926px)  and (-webkit-device-pixel-ratio: 3) {
                      width: auto !important; 
                  }
                  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
                      width: auto !important; 
                  }
              }
            }
          }
      }
    }
  } 
